<div id="best-profit" class="panel panel-default">
  <div class="panel-heading">
    <h4><i class="fa fa-line-chart fa-color-red"></i>&nbsp;宏金盈
      &nbsp;<span class="border-r"></span>&nbsp;
      <small>让你的资金动起来 </small>
      <span><a class="more-info-link" ui-sref="root.hongjinying-project-list">更多<i class="fa fa-angle-double-right"></i></a></span>
    </h4>
  </div>
  <div class="panel-body">
    <!-- <div class="col-xs-4" ng-repeat="item in activityList | limitTo: 3"> -->
    <div class="col-xs-12 col-md-4 col-md-4 main-border-right-dotted">
      <div class="col-xs-offset-2 col-xs-8">
        <div class="row margin-b-10">
          <a href=""><h3 class="real-type-name">七日盈<span class="real-type-date">20150101期</span></h3></a>
        </div>
        <div class="row margin-b-10">
          <div class="col-xs-6 border-r">
            <span class="font-13">可投金额</span>
            <span class="font-20 font-black"><strong>{{ '15,000' }}<span class="font-13">&nbsp;元</span>
            </strong>
            </span>
          </div>
          <div class="col-xs-6">
          <p class="prompt-style"><img src="images/hongjinying/prompt.png" alt=""><span class="rate-show">0.5%</span></p>
          <p><span class="font-35 font-red">6</span><span class="font-13">&nbsp;%</span>年化 <i class="fa fa-info-circle"></i>
            </p>
          </div>
        </div>
        <a class="col-xs-12 btn btn-primary" role="button">马上投资</a>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 col-md-4 main-border-right-dotted">
      <div class="col-xs-offset-2 col-xs-8">
        <div class="row margin-b-10">
          <a href=""><h3 class="real-type-name">七日盈<span class="real-type-date">20150101期</span></h3></a>
        </div>
        <div class="row margin-b-10">
          <div class="col-xs-6 border-r">
            <span class="font-13">可投金额</span>
            <span class="font-20 font-black"><strong>{{ '15,000' }}<span class="font-13">&nbsp;元</span>
            </strong>
            </span>
          </div>
          <div class="col-xs-6">
          <p class="prompt-style"><img src="images/hongjinying/prompt.png" alt=""><span class="rate-show">0.5%</span></p>
          <p><span class="font-35 font-red">6</span><span class="font-13">&nbsp;%</span>年化 <i class="fa fa-info-circle"></i>
            </p>
          </div>
        </div>
        <a class="col-xs-12 btn btn-primary" role="button">马上投资</a>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 col-md-4">
      <div class="col-xs-offset-2 col-xs-8">
        <div class="row margin-b-10">
          <a href=""><h3 class="real-type-name">七日盈<span class="real-type-date">20150101期</span></h3></a>
        </div>
        <div class="row margin-b-10">
          <div class="col-xs-6 border-r">
            <span class="font-13">可投金额</span>
            <span class="font-20 font-black"><strong>{{ '15,000' }}<span class="font-13">&nbsp;元</span>
            </strong>
            </span>
          </div>
          <div class="col-xs-6">
          <p class="prompt-style"><img src="images/hongjinying/prompt.png" alt=""><span class="rate-show">0.5%</span></p>
          <p><span class="font-35 font-red">6</span><span class="font-13">&nbsp;%</span>年化 <i class="fa fa-info-circle"></i>
            </p>
          </div>
        </div>
        <a class="col-xs-12 btn btn-primary" role="button">马上投资</a>
      </div>
    </div>

  </div>
