<div id="best-profit" class="panel panel-default">
  <div class="panel-heading jinying-heading">
    <div class="jinying-title ft-18">
      <img src="images/main/jinYing.png" class="yellow-title">
      <div class=" col-xs-2">
        <p class="hongjinying row">宏金盈</p>
      </div>
      <span class="title-introduce ft-14 ft-black">短期理财，灵活投资，坐享高收益 </span>
      <a class="more-info-link jinying-link ft-black" ui-sref="root.investmentplan-list">更多&nbsp;&nbsp;></a>
    </div>
  </div>
  <div class="panel-body">
    <div class="col-xs-12 col-md-4 col-lg-4 " ng-class="{ 'jinying-border-right': $index === 0 || $index === 1}" ng-repeat="item in fundsProjectProductList | limitTo: 3">
      <div class="col-xs-offset-1 col-xs-10">
        <div class="row margin-b-10">
          <a ui-sref="root.investmentplan-details({number: item.number})">
            <h3 class="real-type-name">{{item.fundsProduct.name}}
              <span class="real-type-date">{{item.name}}</span>
            </h3>
          </a>
        </div>
        <div class="row margin-b-10 text-center">
          <div class="col-xs-6 col-md-12 col-lg-6">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-lg-12">
                <div class="row">
                  <img src="images/hongjinying/castBg.png">
                  <span class="ft-14 ft-cast" ng-show="item.status === 1">可投金额</span>
                  <span class="ft-14 ft-cast" ng-show="item.status !== 1">成功募资</span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-lg-12">
                <div class="row">
                  <span class="ft-grey">
                    <strong class="ft-24" ng-show="item.status === 1">{{ (item.total - (item.soldStock + item.occupancyStock) * item.increaseAmount) | noFractionCurrency:"":0 || 0}} </strong>
                    <strong class="ft-24" ng-show="item.status !== 1">{{ (item.soldStock + item.occupancyStock) * item.increaseAmount | noFractionCurrency:"":0 || 0}} </strong>
                    元
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-12 col-lg-6">
            <div class="row">
              <span class="annual-earnings">
                <span class="ft-90 ft-red percent-num">{{item.fundsProduct.baseRate | number: 1|| 0}}</span>
                <span class="ft-14 ft-red percent-ft">%年化</span>
              </span>
              <span class="floating-rate">
                <img src="images/hongjinying/prompt.png" alt="">
                <span class="ft-16" data-placement="top" data-content="{{item.fundsProduct.description}}" data-trigger="hover" bs-popover>+{{item.fundsProduct.riseRate || 0}}</span>
              </span>
            </div>
          </div>
        </div>
        <div class="row" ng-show="item.status === 1" style="margin-top:45px;">
          <a ui-sref="root.investmentplan-details({number: item.number})" class="col-xs-12 btn btn-primary investment-btn" role="button">立即投资</a>
        </div>
        <div class="row" ng-show="item.status !== 1" style="margin-top:45px;">
          <a ui-sref="root.investmentplan-details({number: item.number})" class="col-xs-12 btn btn-default bg-grey4 ft-white investment-btn" role="button">查看详情</a>
        </div>
      </div>
    </div>
  </div>
</div>
