<div id="best-profit" class="panel panel-default">
  <div class="panel-heading jinying-heading">
    <div class="jinying-title ft-18">
      <img src="images/main/jinYing.png" class="yellow-title">
      <div class=" col-xs-2">
        <p class="hongjinying row">宏金盈</p>
      </div>
      <span class="title-introduce ft-14 ft-black">当日计息，递增收益，短期理财增强资金流动性 </span>
      <a class="more-info-link jinying-link ft-black" ui-sref="root.investmentplan-list">更多&nbsp;&nbsp;></a>
    </div>
  </div>
  <div class="panel-body jinying-panel-body">
    <div class="col-xs-12 col-md-3 col-lg-3 " ng-class="{ 'jinying-border-right': $index === 0 || $index === 1 || $index === 2}" ng-repeat="item in fundsProjectProductList | limitTo: 4">
      <div class="row">
        <div class="col-xs-offset-2 col-xs-12 col-md-4 col-lg-4">
          <a ui-sref="root.investmentplan-details({number: item.number})">
            <h4 class="hongjinying-title">{{item.fundsProduct.name}}</h4>
          </a>
        </div>
        <p class="col-xs-12 col-md-4 col-lg-4 freeze-time">封闭期{{ item.fundsProduct.sealingDays || 0}}天</p>
      </div>
      <div class="row">
        <div class="col-xs-12 rate-area">
          <span class="ft-40">{{item.fundsProduct.baseRate+item.fundsProduct.riseRate*3 | number: 1 || 0}}
            <span class="ft-16">%</span>
          </span>
          <p class="high-p">预期最高年化</p>
        </div>
      </div>
      <div class="row">
        <p class="text-center info-p" ng-show="item.fundsProduct.type === 1">
          <span class="ft-red">{{item.fundsProduct.baseRate}}%</span>起，每七日涨<span class="ft-red">{{item.fundsProduct.riseRate}}%</span>，最高<span class="ft-red">{{item.fundsProduct.maxRate | number: 1 || 0}}%</span>
        </p>
        <p class="text-center info-p" ng-show="item.fundsProduct.type === 2">
          <span class="ft-red">{{item.fundsProduct.baseRate}}%</span>起，每月涨<span class="ft-red">{{item.fundsProduct.riseRate}}%</span>，最高<span class="ft-red">{{item.fundsProduct.maxRate | number: 1 || 0}}%</span>
        </p>
        <p class="text-center info-p" ng-show="item.fundsProduct.type === 3">
          <span class="ft-red">{{item.fundsProduct.baseRate}}%</span>起，每季度涨<span class="ft-red">{{item.fundsProduct.riseRate}}%</span>，最高<span class="ft-red">{{item.fundsProduct.maxRate | number: 1 || 0}}%</span>
        </p>
        <p class="text-center info-p" ng-show="item.fundsProduct.type === 4">
          <span class="ft-red">{{item.fundsProduct.baseRate}}%</span>起，每半年涨<span class="ft-red">{{item.fundsProduct.riseRate}}%</span>，最高<span class="ft-red">{{item.fundsProduct.maxRate | number: 1 || 0}}%</span>
        </p>
      </div>
      <div class="row money-area" ng-show="item.status === 1">
        <img src="images/hongjinying/money.png">
        <p>可投金额<strong>{{ (item.total - (item.soldStock + item.occupancyStock) * item.increaseAmount) | noFractionCurrency:"":0 || 0}} </strong>元</p>
      </div>
      <div class="row money-area" ng-show="item.status !== 1">
        <img src="images/hongjinying/castBg.png">
        <p>成功投资<strong>{{ (item.soldStock + item.occupancyStock) * item.increaseAmount | noFractionCurrency:"":0 || 0}}</strong>元</p>
      </div>
      <div class="row hongjinying-btn-area">
        <a ui-sref="root.investmentplan-details({number: item.number})" class="col-xs-12 btn btn-primary investment-btn" role="button" ng-show="item.status === 1">立即投资</a>
        <a ui-sref="root.investmentplan-details({number: item.number})" class="col-xs-12 btn btn-default bg-grey4 ft-white investment-btn" role="button"  ng-show="item.status !== 1">查看详情</a>
      </div>
    </div>
  </div>
      <!--<div class="col-xs-offset-1 col-xs-10">
        <div class="row margin-b-10">
          <a ui-sref="root.investmentplan-details({number: item.number})">
            <h3 class="real-type-name">{{item.fundsProduct.name}}
              <span class="real-type-date">{{item.name}}</span>
            </h3>
          </a>
        </div>
        <div class="row margin-b-10 text-center">
          <div class="col-xs-6 col-md-12 col-lg-6">
            <div class="row">
              <div class="col-xs-12 col-sm-6 col-lg-12">
                <div class="row">
                  
                  <span class="ft-14 ft-cast" ></span>
                </div>
              </div>
              <div class="col-xs-12 col-sm-6 col-lg-12">
                <div class="row">
                  <span class="ft-grey">
                    <strong class="ft-24" ng-show="item.status === 1"></strong>
                    <strong class="ft-24" ng-show="item.status !== 1"> </strong>
                    元
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-md-12 col-lg-6">
            <div class="row">-->
              <!-- FIX -->
              <!--<p class="annual-earnings">
                <span class="ft-90 ft-red percent-num" ></span>
                <span class="ft-14 ft-red percent-ft">%年化</span>
                <span class="floating-rate">
                    <img src="images/hongjinying/prompt.png" alt="">
                    <span class="ft-16"></span>
                </span>
              </p>-->
              <!--<p ng-show="item.fundsProduct.type === 1" class="annual-earnings" data-placement="top" data-content="每七日增0.3%" data-trigger="hover" bs-popover>
                <span class="ft-90 ft-red percent-num" >{{item.fundsProduct.baseRate | number: 1 || 0}}</span>
                <span class="ft-14 ft-red percent-ft">%年化</span>
                <span class="floating-rate">
                    <img src="images/hongjinying/prompt.png" alt="">
                    <span class="ft-16">+{{item.fundsProduct.riseRate}}</span>
                </span>
              </p>
              <p ng-show="item.fundsProduct.type === 2" class="annual-earnings" data-placement="top" data-content="每月增0.4%" data-trigger="hover" bs-popover>
                <span class="ft-90 ft-red percent-num" >{{item.fundsProduct.baseRate | number: 1 || 0}}</span>
                <span class="ft-14 ft-red percent-ft">%年化</span>
                <span class="floating-rate">
                    <img src="images/hongjinying/prompt.png" alt="">
                    <span class="ft-16">+{{item.fundsProduct.riseRate}}</span>
                </span>
              </p>
              <p ng-show="item.fundsProduct.type === 3" class="annual-earnings" data-placement="top" data-content="每季度增0.5%" data-trigger="hover" bs-popover>
                <span class="ft-90 ft-red percent-num" >{{item.fundsProduct.baseRate | number: 1 || 0}}</span>
                <span class="ft-14 ft-red percent-ft">%年化</span>
                <span class="floating-rate">
                    <img src="images/hongjinying/prompt.png" alt="">
                    <span class="ft-16">+{{item.fundsProduct.riseRate}}</span>
                </span>
              </p>-->
            <!--</div>
          </div>
        </div>
        <div class="row" ng-show="item.status === 1" style="margin-top:45px;">
          

        </div>
        <div class="row" ng-show="item.status !== 1" style="margin-top:45px;">
          
        </div>

        -->
</div>
