<!--<div class="container">
  <div class="row">
    <div class="hidden-xs col-sm-12">
      <p><strong>合作机构</strong>
      </p>
      <div class="cooperation-flow">
        <div class="row">
          <a class="col-xs-2"><img src='images/partner/gs_rongzi_gc.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/changchun_gc.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/zhongdong_cgc.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/changchun_jilian_gc.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/beifang.png'>
          </a>
        </div>
        <div class="row">
          <a class="col-xs-2"><img src='images/partner/tianchang_lawyer.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/partner_yeepay.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/hexing.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/minsheng_bank.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/jiaotong_bank.png'>
          </a>
        </div>
        <div class="row">
          <a class="col-xs-2"><img src='images/partner/huai.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/tencent_logo.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/hongshan.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/rongtu.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/chouqu.png'>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>-->
