<div class="container">
  <div class="row">
    <div class="hidden-xs col-sm-12">
      <p><strong>合作机构</strong>
      </p>
      <div class="cooperation-flow">
        <div class="row partner-row">
          <a class="col-xs-2">
            <img src='images/partner/beifang.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/changchun.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/chouqu.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/gansu.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/hexing.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/hongshan.png'>
          </a>
        </div>
        <div class="row partner-row">
          <a class="col-xs-2"><img src='images/partner/hoolai.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/jiaotong.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/minsheng.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/zhongyin.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/jilian.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/rongtu.png'>
          </a>
        </div>
        <div class="row partner-row">
          <a class="col-xs-2"><img src='images/partner/shengcai.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/tenxun.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/tianchang.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/xicai.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/yibao.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner/zhongdong.png'>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
