<!--<div class="container">
  <div class="row">
    <div class="hidden-xs col-sm-12">
      <p><strong>合作机构</strong>
      </p>
      <div class="cooperation-flow">
        <div class="row">
          <a class="col-xs-2 col-xs-offset-1"><img src='images/gs_rongzi_gc.png'>
          </a>
          <a class="col-xs-2"><img src='images/changchun_gc.png'>
          </a>
          <a class="col-xs-2"><img src='images/zhongdong_cgc.png' height="41">
          </a>
          <a class="col-xs-2"><img src='images/changchun_jilian_gc.png'>
          </a>
          <a class="col-xs-2"><img src='images/beifang.png'>
          </a>
        </div>
        <div class="row">
          <a class="col-xs-2 col-xs-offset-1"><img src='images/tianchang_lawyer.png'>
          </a>
          <a class="col-xs-2"><img src='images/partner_yeepay.png'>
          </a>
          <a class="col-xs-2"><img src='images/hexing.png'>
          </a>
          <a class="col-xs-2"><img src='images/minsheng_bank.png'>
          </a>
          <a class="col-xs-2"><img src='images/jiaotong_bank.png'>
          </a>
        </div>
        <div class="row">
          <a class="col-xs-2 col-xs-offset-1"><img src='images/huai.png' height="41">
          </a>
          <a class="col-xs-2"><img src='images/tencent_logo.png'>
          </a>
          <a class="col-xs-2"><img src='images/hongshan.png'>
          </a>
          <a class="col-xs-2"><img src='images/rongtu.png' height="41">
          </a>
          <a class="col-xs-2"><img src='images/chouqu.png' height="41">
          </a>
        </div>
      </div>
    </div>
  </div>
</div>-->
