<div id="credit-main" class="panel panel-default">
  <div class="panel-heading">
    <h4>
      <i class="fa fa-retweet fa-color-red"></i>&nbsp;债权转让
      &nbsp;<span class="border-r"></span>&nbsp;
      <span><a class="more-info-link">更多产品<i class="fa fa-angle-right"></i></a></span>
    </h4>
  </div>
  <div class="panel-body">
    <div class="col-xs-12 col-md-4 main-border-right-dotted">
      <div class="col-xs-offset-2 col-xs-8">
        <div class="row">
          <a class="real-type-name" href=""><h3>宏金宝 <span class="real-type-date">20150101期</span></h3></a>
        </div>
        <div class="row">
          <div class="col-xs-12 text-nowrap">年化收益：<span style="font-size: 24px; color: red;">5.00</span><span style="font-size: 16px;">&nbsp;%</span>
          </div>
          <div class="col-xs-12 text-nowrap">剩余期限：<span>177 </span><span style="font-size: 14px;">&nbsp;天</span>
          </div>
          <div class="col-xs-12 text-nowrap">可投金额：<span style="font-size: 18px; color: black;"> 190,000</span> <span style="font-size: 16px;">&nbsp;元</span>
          </div>
        </div>
        <br>
        <div class="row">
          <a class="col-xs-10 btn btn-primary">立即认购</a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4 main-border-right-dotted">
      <div class="col-xs-offset-2 col-xs-8">
        <div class="row">
          <a class="real-type-name" href=""><h3>宏金宝 <span class="real-type-date">20150101期</span></h3></a>
        </div>
        <div class="row">
          <div class="col-xs-12 text-nowrap">年化收益：<span style="font-size: 24px; color: red;">5.00</span><span style="font-size: 16px;">&nbsp;%</span>
          </div>
          <div class="col-xs-12 text-nowrap">剩余期限：<span>177 </span><span style="font-size: 14px;">&nbsp;天</span>
          </div>
          <div class="col-xs-12 text-nowrap">可投金额：<span style="font-size: 18px; color: black;"> 190,000</span> <span style="font-size: 16px;">&nbsp;元</span>
          </div>
        </div>
        <br>
        <div class="row">
          <a class="col-xs-10 btn btn-primary">立即认购</a>
        </div>
      </div>
    </div>

    <div class="col-xs-12 col-md-4">
      <div class="col-xs-offset-2 col-xs-8">
        <div class="row">
          <a class="real-type-name" href=""><h3>宏金宝 <span class="real-type-date">20150101期</span></h3></a>
        </div>
        <div class="row">
          <div class="col-xs-12 text-nowrap">年化收益：<span style="font-size: 24px; color: red;">5.00</span><span style="font-size: 16px;">&nbsp;%</span>
          </div>
          <div class="col-xs-12 text-nowrap">剩余期限：<span>177 </span><span style="font-size: 14px;">&nbsp;天</span>
          </div>
          <div class="col-xs-12 text-nowrap">可投金额：<span style="font-size: 18px; color: black;"> 190,000</span> <span style="font-size: 16px;">&nbsp;元</span>
          </div>
        </div>
        <br>
        <div class="row">
          <a class="col-xs-10 btn btn-primary">立即认购</a>
        </div>
      </div>
    </div>

</div>
