<div class="panel panel-default">
  <div class="panel-heading">
    <h4>
      <i class="fa fa-retweet hc-text-red"></i>&nbsp;债权转让
      <small><a class="pull-right" ui-sref="root.project-list-query({status: [6,7,8,9,10,11,12], minCycle: 0, maxCycle: 100, minEarning: 0, maxEarning: 100, minTotalAmount: 0, maxTotalAmount: 200000000, sortCondition:'release_start_time', sortType: false})" >更多产品 &gt;</a></small>
    </h4>
  </div>

  <ul class="list-group">
    <li class="list-group-item col-xs-4 border-none">
      <!-- ng-repeat 数据绑定 -->
      <a>
        <!-- 数据绑定 跳转地址 -->
        <h3 class="margin-t-0">中东担保推荐标...<!-- 数据绑定 --></h3>
      </a>
      <hr>
      <div class="row">
        <div class="col-xs-12 text-nowrap">年化收益：5.00%
          <!-- 数据绑定 -->
        </div>
        <div class="col-xs-12 text-nowrap">剩余期限：190,000元
          <!-- 数据绑定 -->
        </div>
        <div class="col-xs-12 text-nowrap">可投金额：190,000元
          <!-- 数据绑定 -->
        </div>
      </div>
      <br>
      <a class="btn btn-danger btn-lg btn-block">
        <!-- 数据绑定 跳转地址 -->
        <i class="fa fa-shopping-cart"></i> 立即认购
      </a>
    </li>
    <li class="list-group-item col-xs-4 border-none">
      <!-- ng-repeat 数据绑定 -->
      <a>
        <!-- 数据绑定 跳转地址 -->
        <h3 class="margin-t-0">中东担保推荐标...<!-- 数据绑定 --></h3>
      </a>
      <hr>
      <div class="row">
        <div class="col-xs-12 text-nowrap">年化收益：5.00%
          <!-- 数据绑定 -->
        </div>
        <div class="col-xs-12 text-nowrap">剩余期限：190,000元
          <!-- 数据绑定 -->
        </div>
        <div class="col-xs-12 text-nowrap">可投金额：190,000元
          <!-- 数据绑定 -->
        </div>
      </div>
      <br>
      <a class="btn btn-danger btn-lg btn-block">
        <!-- 数据绑定 跳转地址 -->
        <i class="fa fa-shopping-cart"></i> 立即认购
      </a>
    </li>
    <li class="list-group-item col-xs-4 border-none">
      <!-- ng-repeat 数据绑定 -->
      <a>
        <!-- 数据绑定 跳转地址 -->
        <h3 class="margin-t-0">中东担保推荐标...<!-- 数据绑定 --></h3>
      </a>
      <hr>
      <div class="row">
        <div class="col-xs-12 text-nowrap">年化收益：5.00%
          <!-- 数据绑定 -->
        </div>
        <div class="col-xs-12 text-nowrap">剩余期限：190,000元
          <!-- 数据绑定 -->
        </div>
        <div class="col-xs-12 text-nowrap">可投金额：190,000元
          <!-- 数据绑定 -->
        </div>
      </div>
      <br>
      <a class="btn btn-danger btn-lg btn-block">
        <!-- 数据绑定 跳转地址 -->
        <i class="fa fa-shopping-cart"></i> 立即认购
      </a>
    </li>
  </ul>
</div>
