<div class="col-xs-12">
  <div class="hongbao-area row">
    <div class="col-xs-12 hongbao-title">
      <h3>宏运当头标
      <small>仅供宏包投资 | 奖90%收益 | 每日发标 | </small>
      </h3>
      <a ui-sref="root.project-activity-group">更多&gt;</a>
    </div>
    <div class="col-xs-12 hongcai-body">
      <div class="col-xs-4" ng-repeat="item in activityList | limitTo: 3">
        <div class="row {{item.status === 7 ? 'hongbao-red' : 'hongbao-grey'}}" ng-show="item.type===2">
          <div class="col-xs-7 col-xs-offset-6 col-md-offset-6 col-lg-offset-5">
            <h4><a class="txt-overflow" ui-sref="root.activity-details({number: item.number, type: item.type})" title="{{ item.name }}">{{ item.name}}</a></h4>
            <p>年化收益率：</p>
            <h4><span>10% + 90%</span></h4>
            <a ui-sref="root.activity-details({number: item.number, type: item.type})" class="btn btn-primary" role="button">查看详情</a>
          </div>
        </div>
        <div class="row main-hao" ng-show="item.type===3">
          <div class="col-xs-7 col-xs-offset-6 col-md-offset-6 col-lg-offset-5">
            <h4><a class="txt-overflow" ui-sref="root.activity-details({number: item.number, type: item.type})" title="{{ item.name }}">{{ item.name}}</a></h4>
            <p>年化收益率：</p>
            <h4><span>10% + 90%</span></h4>
            <a ui-sref="root.activity-details({number: item.number, type: item.type})" class="btn btn-primary" role="button">查看详情</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
