<div class="panel panel-default statics">
  <div class="panel-heading">
    <h4><i class="fa fa-bar-chart hc-text-red"></i> 统计数据</h4>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12">
        <div class="media">
          <span class="pull-left"><i class="fa fa-pie-chart hc-text-red ft-3em"></i></span>
          <div class="media-body">
            <p>成交总金额</p>
            <h3 class="media-heading">{{indexStatic.staticAmount  | number : 0}}<small>元</small></h3>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="media margin-t-7">
          <span class="pull-left"><i class="fa fa-calculator hc-text-red ft-3em"></i></span>
          <div class="media-body">
            <p>用户总收益</p>
            <h3 class="media-heading">{{indexStatic.staticProfit  | number : 0}}<small>元</small></h3>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="media margin-t-7">
          <span class="pull-left"><i class="fa fa-group hc-text-red ft-3em"></i></span>
          <div class="media-body">
            <p>加入理财者</p>
            <h3 class="media-heading">{{indexStatic.staticUser}}<small>人</small></h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4><i class="fa fa-bullhorn hc-text-red"></i> 媒体报道 <small class="pull-right"><a href="/media-reports">更多 &gt;</a></small></h4>
  </div>
  <div class="panel-body">
    <div class="row mediaList" ng-repeat="item in mediaList">
      <div class="col-xs-12 col-md-12 col-lg-9"><a ui-sref="root.about-us.media-reports-detail({textId: item.id})" title="{{item.title}}">{{item.title}}</a>
      </div>
      <div class="hidden-xs hidden-md col-xs-3 text-right">{{item.createTime | date:'MM-dd'}}</div>
    </div>
  </div>
</div>

<div class="panel panel-default">
  <div class="panel-heading">
    <h4><i class="fa fa-desktop hc-text-red"></i> 网站公告 <small class="pull-right"><a href="/web-site-notice">更多 &gt;</a></small></h4>
  </div>

  <div class="panel-body">
    <div class="row noticeList" ng-repeat="item in noticeList track by $index">
      <div class="col-xs-12 col-md-12 col-lg-9"><a ui-sref="root.about-us.web-site-notice-detail({textId: item.id})" title="{{item.title}}">{{item.title}}</a>
      </div>
      <div class="hidden-xs hidden-md col-xs-3 text-right">{{item.createTime | date:'MM-dd'}}</div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-plane hc-text-red"></i> 宏财动态 <small class="pull-right"><a href="/hongcai-trends">更多 &gt;</a></small></h4>
      </div>

      <div class="panel-body">
        <div class="row trendList" ng-repeat="item in trendList track by $index">
          <div class="col-xs-12 col-md-12 col-lg-9"><a ui-sref="root.about-us.hongcai-trends-detail({textId: item.id})" title="{{item.title}}">{{item.title}}</a>
          </div>
          <div class="hidden-xs hidden-md col-xs-3 text-right">{{item.createTime | date:'MM-dd'}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row help">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-question-circle hc-text-red"></i> 常见问题 <small class="pull-right" ><a ui-sref='root.help-center.introduce'>更多&gt;</a></small></h4>
      </div>

      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-9"><a ui-sref='root.help-center.introduce'>宏财网是做什么的网站？</a>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-9"><a ui-sref='root.help-center.investors'>在宏财网投资需要什么费用？</a>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-9"><a ui-sref='root.help-center.account-management'>忘记登录用户名，密码如何找回？</a>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12 col-md-12 col-lg-9"><a ui-sref='root.help-center.account-management'>申请提现后，多久能够到银行卡？</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row index-newbie">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4><i class="fa fa-male hc-text-red"></i> 新手引导</h4>
      </div>

      <div class="panel-body">
        <a href="newbie-guide.html" target="_blank">
          <h3 class="hc-text-red">
            <i class="fa fa-credit-card ft-36"></i>
            <i class="fa fa-arrow-right ft-30"></i>
            <i class="fa fa-cloud-upload ft-36"></i>
            <i class="fa fa-arrow-right ft-30"></i>
            <i class="fa fa-rmb ft-36"></i>
            <i class="fa fa-arrow-right ft-30"></i>
            <i class="fa fa-calculator ft-36"></i>
          </h3>
        </a>
      </div>
    </div>
  </div>
</div>