<div id="self-feature" class="row full-column">
  <div class="hidden-xs col-xs-4" style="padding:0 10px;">
    <div class="media margin-b-30">
      <!-- <span class="pull-left fa-color-red font-4em">
        <a ui-sref="root.banner-nine"><img src="images/main/main_safe.png" alt="安全保障"></a>
      </span>
      <a ui-sref="root.banner-nine">
        <div class="media-body" ui-sref="root.banner-nine" style="cursor: pointer;">
          <h3 class="media-heading" style="padding-top: 6px;">安全保障</h3>
          <p>A+级以上优质担保公司担保
            <br>9重风控，36层监测天网</p>
        </div>
      </a> -->
      <span class="pull-left fa-color-red font-4em">
        <a ui-sref="root.banner-nine"><img src="images/main/main_intro.png" alt="安全保障"></a>
      </span>
      <a ui-sref="root.banner-nine">
        <div class="media-body" ui-sref="root.banner-nine" style="cursor: pointer;padding-top:16px;">
          <h3 class="media-heading" style="padding-top: 6px;">关于宏财的介绍</h3>
          <p class="ft-grey8">致力于为个人、借款企业和
            <br>保公司安全的投融资桥梁</p>
        </div>
      </a>
    </div>
  </div>
  <div class="hidden-xs col-xs-4" style="padding:0 10px;">
    <div class="media margin-b-30">
      <span class="pull-left fa-color-red font-4em">
          <a ui-sref="root.banner-fourty"><img src="images/main/main_spec.png" alt="投资收益"></a>
        </span>
      <a ui-sref="root.banner-fourty">
        <div class="media-body" ui-sref="root.banner-fourty" style="cursor: pointer;padding-top:16px;">
          <h3 class="media-heading" style="padding-top: 6px;">产品特性</h3>
          <p class="ft-grey8">专业风控，风险保障
            <br>第三方资金托管，资金安全无忧</p>
        </div>
      </a>
    </div>
  </div>
  <div class="hidden-xs col-xs-4" style="padding:0 10px;">
    <div class="media margin-b-30">
      <span class="pull-left fa-color-red font-4em">
          <a href="/newbie-guide.html#page4" target="_blank"><img src="images/main/main_zengxin.png" alt="灵活便捷"></a>
        </span>
      <a href="/newbie-guide.html#page4" target="_blank">
        <div class="media-body" style="padding-top:16px;">
          <h3 class="media-heading" style="padding-top: 6px;">增信说明</h3>
          <p class="ft-grey8">全天候理财服务
            <br>随时随地完成财务增值</p>
        </div>
      </a>
    </div>
  </div>
</div>
