<div class="row full-column">
  <div class="hidden-xs col-xs-4">
    <div class="media margin-b-30">
      <span class="pull-left hc-text-red ft-4em">
          <a ui-sref="root.banner-nine"><img src="images/main_safe.png" alt="安全保障"></a>
        </span>
      <a ui-sref="root.banner-nine">
        <div class="media-body" ui-sref="root.banner-nine" style="cursor: pointer;">
          <h3 class="media-heading" style="padding-top: 6px;">安全保障</h3>
          <p class="line-h-27">A+级以上优质担保公司担保
            <br>9重风控，36层监测天网</p>
        </div>
      </a>
    </div>
  </div>
  <div class="hidden-xs col-xs-4">
    <div class="media margin-b-30">
      <span class="pull-left hc-text-red ft-4em">
          <a ui-sref="root.banner-fourty"><img src="images/main_inv.png" alt="投资收益"></a>
        </span>
      <a ui-sref="root.banner-fourty">
        <div class="media-body" ui-sref="root.banner-fourty" style="cursor: pointer;">
          <h3 class="media-heading" style="padding-top: 6px;">投资收益</h3>
          <p class="line-h-27">100元起投
            <br>最高40倍银行同期活期收益</p>
        </div>
      </a>
    </div>
  </div>
  <div class="hidden-xs col-xs-4">
    <div class="media margin-b-30">
      <span class="pull-left hc-text-red ft-4em">
          <a href="/newbie-guide.html#page4" target="_blank"><img src="images/main_sweet.png" alt="灵活便捷"></a>
        </span>
      <a href="/newbie-guide.html#page4" target="_blank">
        <div class="media-body">
          <h3 class="media-heading" style="padding-top: 6px;">灵活便捷</h3>
          <p class="line-h-27">7×24小时全天候理财服务
            <br>随时随地完成财富增值</p>
        </div>
      </a>
    </div>
  </div>
</div>
