<div class="block-table">
  <div class="caption">宏金保</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <td class="block_table_td1">担保期数</td>
        <td>年化收益</td>
        <td>可投金额</td>
        <td>期限</td>
        <td>状态</td>
        <td>进度</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="block_table_td1" scope="row">甘肃担保2015090004期</td>
        <td><span class="block_font_highlight">14%</span></td>
        <td><span class="block_font_highlight">362,000</span>元</td>
        <td><span class="block_font_highlight">6</span>个月</td>
        <td class="block_btnw"><span class="block_btn block_span_defaultC">48:22:30</span></td>
        <td class="block_btnw"><span class="block_btn block_span_wait">等待中</span></td>
      </tr>      
      <tr>
        <td class="block_table_td1" scope="row">甘肃担保2015090004期</td>
        <td><span class="block_font_highlight">14%</span></td>
        <td><span class="block_font_highlight">362,000</span>元</td>
        <td><span class="block_font_highlight">6</span>个月</td>
        <td class="block_btnw"><span class="block_btn block_span_defaultC">立即加入 <i class="fa fa-chevron-circle-right"></i></span></td>
        <td class="block_btnw"><span class="block_btn block_span_process">投资中</span></td>
      </tr><tr>
        <td class="block_table_td1" scope="row">甘肃担保2015090004期</td>
        <td><span class="block_font_highlight">14%</span></td>
        <td><span class="block_font_highlight">362,000</span>元</td>
        <td><span class="block_font_highlight">6</span>个月</td>
        <td class="block_btnw"><span class="block_btn block_span_defaultC">立即加入 <i class="fa fa-chevron-circle-right"></i></span></td>
        <td class="block_btnw"><span class="block_btn block_span_suceess">融资成功</span></td>
      </tr><tr>
        <td class="block_table_td1" scope="row">甘肃担保2015090004期</td>
        <td><span class="block_font_highlight">14%</span></td>
        <td><span class="block_font_highlight">362,000</span>元</td>
        <td><span class="block_font_highlight">6</span>个月</td>
        <td class="block_btnw"><span class="block_btn block_span_defaultC">查看详情 <i class="fa fa-chevron-circle-right"></i></span></td>
        <td class="block_btnw"><span class="block_btn block_span_wait">还款中</span></td>
      </tr><tr>
        <td class="block_table_td1" scope="row">甘肃担保2015090004期</td>
        <td><span class="block_font_highlight">14%</span></td>
        <td><span class="block_font_highlight">362,000</span>元</td>
        <td><span class="block_font_highlight">6</span>个月</td>
        <td class="block_btnw"><span class="block_btn block_span_defaultC">查看详情 <i class="fa fa-chevron-circle-right"></i></span></td>
        <td class="block_btnw"><span class="block_btn block_span_defaultC">还款完成</span></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6">查看更多宏金保项目</td>
      </tr>
    </tfoot>
  </table>
</div>
