<div id="best-profit" class="panel panel-default margin-t-30">
  <div class="col-xs-12 col-md-12 col-lg-12 bg-white" style="min-height:386px;">
    <div class="row">
      <div class="col-xs-12 col-md-3 col-lg-3 text-center min-height-386 bg-blue">
        <img src="/images/main/hongjinying-1.png" class="margin-t-20">
        <div class="clear margin-t-30">
          <img src="/images/main/hongjinying-2.png" class="fl margin-l-20">
          <div class="text-right fr margin-r-20">
            <p class="border-info2">100起投</p>
            <p class="border-info2">到期返本付息</p>
            <p class="border-info2">金融机构债权</p>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-3 col-lg-3 ft-black" ng-class="{ 'jinying-border-right': $index === 0 || $index === 1 || $index === 2}" ng-repeat="item in fundsProjectProductList | limitTo: -3">
        <div class="row">
          <div class="col-xs-12 col-md-4 col-lg-4">
            <a ui-sref="root.investmentplan-details({number: item.number})">
              <h4 class="hongjinying-title text-left padding-l-10">{{item.fundsProduct.name}}</h4>
            </a>
          </div>
          <p class="col-xs-12 col-md-7 col-lg-7 freeze-times ft-14">封闭期<span class="ft-18">{{ item.fundsProduct.sealingDays || 0}}</span>天</p>
        </div>
        <div class="row margin-t-30">
          <div class="col-xs-12 rate-areas">
            <span class="ft-40 ft-blue">{{item.fundsProduct.baseRate+item.fundsProduct.riseRate*3 | number: 1 || 0}}
            <span class="ft-16">%</span>
            </span>
            <p class="high-p">预期最高年化</p>
          </div>
        </div>
        <div class="row money-area margin-t-30" ng-show="item.status === 1">
          <p class="text-center ft-18">可投金额<strong class="ft-20">{{ (item.total - (item.soldStock + item.occupancyStock) * item.increaseAmount) | noFractionCurrency:"":0 || 0}} </strong>元</p>
        </div>
        <div class="row money-area margin-t-20" ng-show="item.status !== 1">
          <p class="text-center ft-18">成功投资<strong class="ft-20">{{ (item.soldStock + item.occupancyStock) * item.increaseAmount | noFractionCurrency:"":0 || 0}}</strong>元</p>
        </div>
        <div class="row hongjinying-btn-area">
          <a ui-sref="root.investmentplan-details({number: item.number})" style="padding:0;font-size:18px;" class="col-xs-12 btn btn-invite ft-white" role="button" ng-show="item.status === 1">立即投资<i class="fa fa-chevron-circle-right"></i></a>
          <a ui-sref="root.investmentplan-details({number: item.number})"  style="padding:0;font-size:18px;" class="col-xs-12 btn btn-default bg-grey4 ft-white" role="button" ng-show="item.status !== 1">查看详情<i class="fa fa-chevron-circle-right"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div id="best-profit" class="panel panel-default">
  <div class="panel-body jinying-panel-body">
    <div class="col-xs-12 col-md-3 col-lg-3 " ng-class="{ 'jinying-border-right': $index === 0 || $index === 1 || $index === 2}" ng-repeat="item in fundsProjectProductList | limitTo: 3">
      <div class="row">
        <div class="col-xs-offset-2 col-xs-12 col-md-4 col-lg-4">
          <a ui-sref="root.investmentplan-details({number: item.number})">
            <h4 class="hongjinying-title">{{item.fundsProduct.name}}</h4>
          </a>
        </div>
        <p class="col-xs-12 col-md-4 col-lg-4 freeze-time">封闭期{{ item.fundsProduct.sealingDays || 0}}天</p>
      </div>
      <div class="row">
        <div class="col-xs-12 rate-area">
          <span class="ft-40">{{item.fundsProduct.baseRate+item.fundsProduct.riseRate*3 | number: 1 || 0}}
            <span class="ft-16">%</span>
          </span>
          <p class="high-p">预期最高年化</p>
        </div>
      </div>
      <div class="row">
        <p class="text-center info-p" ng-show="item.fundsProduct.type === 1">
          <span class="ft-red">{{item.fundsProduct.baseRate}}%</span>起，每七日涨<span class="ft-red">{{item.fundsProduct.riseRate}}%</span>，最高<span class="ft-red">{{item.fundsProduct.maxRate | number: 1 || 0}}%</span>
        </p>
        <p class="text-center info-p" ng-show="item.fundsProduct.type === 2">
          <span class="ft-red">{{item.fundsProduct.baseRate}}%</span>起，每月涨<span class="ft-red">{{item.fundsProduct.riseRate}}%</span>，最高<span class="ft-red">{{item.fundsProduct.maxRate | number: 1 || 0}}%</span>
        </p>
        <p class="text-center info-p" ng-show="item.fundsProduct.type === 3">
          <span class="ft-red">{{item.fundsProduct.baseRate}}%</span>起，每季度涨<span class="ft-red">{{item.fundsProduct.riseRate}}%</span>，最高<span class="ft-red">{{item.fundsProduct.maxRate | number: 1 || 0}}%</span>
        </p>
        <p class="text-center info-p" ng-show="item.fundsProduct.type === 4">
          <span class="ft-red">{{item.fundsProduct.baseRate}}%</span>起，每半年涨<span class="ft-red">{{item.fundsProduct.riseRate}}%</span>，最高<span class="ft-red">{{item.fundsProduct.maxRate | number: 1 || 0}}%</span>
        </p>
      </div>
      <div class="row money-area" ng-show="item.status === 1">
        <p class="text-center"><img src="images/hongjinying/money.png">&nbsp;可投金额<strong>{{ (item.total - (item.soldStock + item.occupancyStock) * item.increaseAmount) | noFractionCurrency:"":0 || 0}} </strong>元</p>
      </div>
      <div class="row money-area" ng-show="item.status !== 1">
        <p class="text-center"><img src="images/hongjinying/money.png">&nbsp;成功投资<strong>{{ (item.soldStock + item.occupancyStock) * item.increaseAmount | noFractionCurrency:"":0 || 0}}</strong>元</p>
      </div>
      <div class="row hongjinying-btn-area">
        <a ui-sref="root.investmentplan-details({number: item.number})" class="col-xs-12 btn btn-primary investment-btn" role="button" ng-show="item.status === 1">立即投资</a>
        <a ui-sref="root.investmentplan-details({number: item.number})" class="col-xs-12 btn btn-default bg-grey4 ft-white investment-btn" role="button"  ng-show="item.status !== 1">查看详情</a>
      </div>
    </div>
  </div>
</div> -->
