<div>
  <div class="news__wrapper">
    <div class="news__item">
      <div class="block__head">宏财研究院<span>更多></span></div>
      <div class="news__media">
        <div class="news__img" style="background-image:url(https://placeimg.com/152/480/animals);"></div>
        <div class="news__list">
          <p>sdfadfafdadfafds <span>2015-2-2</span></p>
          <p>sdfadfafdadfafds <span>2015-2-2</span></p>
          <p>sdfadfafdadfafds <span>2015-2-2</span></p>
          <p>sdfadfafdadfafds <span>2015-2-2</span></p>
          <p>sdfadfafdadfafds <span>2015-2-2</span></p>
        </div>
      </div>
    </div>
    <div class="news__item">
      <div class="block__head">媒体报道<span>更多></span></div>
      <div class="news__media">
        <div class="news__img" style="background-image:url(https://placeimg.com/152/480/animals);"></div>
        <div class="news__list">
          <p>sdfadfafdadfafds <span>2015-2-2</span></p>
          <p>sdfadfafdadfafds <span>2015-2-2</span></p>
          <p>sdfadfafdadfafds <span>2015-2-2</span></p>
          <p>sdfadfafdadfafds <span>2015-2-2</span></p>
          <p>sdfadfafdadfafds <span>2015-2-2</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="rand__wrapper">
    <div class="block__head">30天理财排行榜</div>
    <div class="rand__outer">
      <table>
        <thead>
          <tr>
            <td>排名</td>
            <td>用户名</td>
            <td>理财金额</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span class="rand__span_top">1</span></td>
            <td>xj***j</td>
            <td>25,233,253</td>
          </tr>
          <tr>
            <td><span class="rand__span_top">2</span></td>
            <td>xj***j</td>
            <td>25,233,253</td>
          </tr>
          <tr>
            <td><span class="rand__span_top">3</span></td>
            <td>xj***j</td>
            <td>25,233,253</td>
          </tr>
          <tr>
            <td><span class="rand__span_default">4</span></td>
            <td>xj***j</td>
            <td>25,233,253</td>
          </tr>
          <tr>
            <td><span class="rand__span_default">5</span></td>
            <td>xj***j</td>
            <td>25,233,253</td>
          </tr>
          <tr>
            <td><span class="rand__span_default">6</span></td>
            <td>xj***j</td>
            <td>25,233,253</td>
          </tr>
          <tr>
            <td><span class="rand__span_default">7</span></td>
            <td>xj***j</td>
            <td>25,233,253</td>
          </tr>
          <tr>
            <td><span class="rand__span_default">8</span></td>
            <td>xj***j</td>
            <td>25,233,253</td>
          </tr>
          <tr>
            <td><span class="rand__span_default">9</span></td>
            <td>xj***j</td>
            <td>25,233,253</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
