<style>
.block-table {
  border: 1px solid #e6e4e4;
  background-color: #fbfbfb;
}

.block-table table {
	margin-bottom: 0;
  border-top: 1px solid #e6e4e4;
  border-bottom: 1px solid #e6e4e4;
  -webkit-box-shadow: 0 1px 1px 1px #e6e4e4, 0 2px 2px 0 rgba(230, 228, 228, 0.5) inset;
  box-shadow: 0 1px 1px 1px #e6e4e4, 0 2px 2px 0 rgba(230, 228, 228, 0.5) inset;
  color: #3b3838;
}

.block-table table tr td{
	text-align: center;
	line-height: 35px;
}

.block-table .caption {
	height: 76px;
	line-height: 76px;
	padding-left: 25px;
  background-color: #fbfbfb;
  color: #3b3838;
  font-size: 32px;
}

.block-table .table > thead > tr > td {
  border-bottom: 0;
  line-height: 22px;
}

.block-table .table > tbody > tr> td {
  border-top: 0;
  border-bottom: 1px solid #e6e4e4;
}

.block-table .table > tfoot > tr> td {
  border-top: 0;
  border-bottom: 0;
  line-height: 56px;
  font-size: 20px;
}

.block-table .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fff;
}

.block-table .table-striped > tbody > tr:nth-of-type(even) {
  background-color: #fbfbfb;
}

.block_btnw {
	width: 170px;
}

.block_btn {
	display: inline-block;
	height: 35px;
	width: 133px;
	border-radius: 35px;
	color: #fff;
}

.block_span_defaultC {
	background-color: #fd8f3f;
}

.block_span_wait {
	background-color: #dcdede;
}

.block_span_process {
	background-color: #6dd0f5;
}

.block_span_suceess {
	background-color: #77e3d0;
}
.block_font_highlight {
	color: #fd8f3f;
}
</style>
<div class="block-table">
  <div class="caption">宏金保</div>
  <table class="table table-striped">
    <thead>
      <tr>
        <td>担保期数</td>
        <td>年化收益</td>
        <td>可投金额</td>
        <td>期限</td>
        <td>状态</td>
        <td>进度</td>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td scope="row">甘肃担保2015090004期</td>
        <td><span class="block_font_highlight">14%</span></td>
        <td><span class="block_font_highlight">362,000</span>元</td>
        <td><span class="block_font_highlight">6</span>个月</td>
        <td class="block_btnw"><span class="block_btn block_span_defaultC">48:22:30</span></td>
        <td class="block_btnw"><span class="block_btn block_span_wait">等待中</span></td>
      </tr>      
      <tr>
        <td scope="row">甘肃担保2015090004期</td>
        <td><span class="block_font_highlight">14%</span></td>
        <td><span class="block_font_highlight">362,000</span>元</td>
        <td><span class="block_font_highlight">6</span>个月</td>
        <td class="block_btnw"><span class="block_btn block_span_defaultC">立即加入 <i class="fa fa-chevron-circle-right"></i></span></td>
        <td class="block_btnw"><span class="block_btn block_span_process">投资中</span></td>
      </tr><tr>
        <td scope="row">甘肃担保2015090004期</td>
        <td><span class="block_font_highlight">14%</span></td>
        <td><span class="block_font_highlight">362,000</span>元</td>
        <td><span class="block_font_highlight">6</span>个月</td>
        <td class="block_btnw"><span class="block_btn block_span_defaultC">立即加入 <i class="fa fa-chevron-circle-right"></i></span></td>
        <td class="block_btnw"><span class="block_btn block_span_suceess">融资成功</span></td>
      </tr><tr>
        <td scope="row">甘肃担保2015090004期</td>
        <td><span class="block_font_highlight">14%</span></td>
        <td><span class="block_font_highlight">362,000</span>元</td>
        <td><span class="block_font_highlight">6</span>个月</td>
        <td class="block_btnw"><span class="block_btn block_span_defaultC">查看详情 <i class="fa fa-chevron-circle-right"></i></span></td>
        <td class="block_btnw"><span class="block_btn block_span_wait">还款中</span></td>
      </tr><tr>
        <td scope="row">甘肃担保2015090004期</td>
        <td><span class="block_font_highlight">14%</span></td>
        <td><span class="block_font_highlight">362,000</span>元</td>
        <td><span class="block_font_highlight">6</span>个月</td>
        <td class="block_btnw"><span class="block_btn block_span_defaultC">查看详情 <i class="fa fa-chevron-circle-right"></i></span></td>
        <td class="block_btnw"><span class="block_btn block_span_defaultC">还款完成</span></td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6">查看更多宏金保项目</td>
      </tr>
    </tfoot>
  </table>
</div>
