<div class="container container-new">
  <div class="news__wrapper">
    <div class="news__item">
      <div class="block__head">宏财研究院<a class="more-info-link" href="/hongcai-trends" style="cursor:pointer;">更多></a></div>
      <div class="news__media">
        <div class="news__img" style="background-image:url(images/hongcaiyanjiuyuan.jpg);"></div>
        <div class="news__list">
          <p ng-repeat="item in searchList">
            <a ui-sref="root.about-us.hongcai-trends-detail({textId: item.id})" target="_blank" title="{{item.title}}">{{item.title}}</a>
            <span>{{item.createTime | date: 'yyyy-MM-dd'}}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="news__item">
      <div class="block__head">媒体报道<a class="more-info-link" href="/media-reports" style="cursor:pointer;">更多></a></div>
      <div class="news__media">
        <div class="news__img" style="background-image:url(images/meitibaodao.jpg);"></div>
        <div class="news__list">
          <p ng-repeat="item in mediaList">
            <a ui-sref="root.about-us.media-reports-detail({textId: item.id})" target="_blank" title="{{item.title}}">{{item.title}}</a>
           <span>{{item.createTime | date: 'yyyy-MM-dd'}}</span>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="rand__wrapper">
    <div class="block__head">30天理财排行榜</div>
    <div class="rand__outer">
      <table>
        <thead>
          <tr>
            <td>排名</td>
            <td>用户名</td>
            <td>理财金额</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span class="rand__span_top">1</span></td>
            <td>{{monthInvestList[0].name || '无名'}}</td>
            <td>{{monthInvestList[0].totalAmount | number:2}}</td>
          </tr>
          <tr>
            <td><span class="rand__span_top">2</span></td>
            <td>{{monthInvestList[1].name || '无名'}}</td>
            <td>{{monthInvestList[1].totalAmount | number:2}}</td>
          </tr>
          <tr>
            <td><span class="rand__span_top">3</span></td>
            <td>{{monthInvestList[2].name || '无名'}}</td>
            <td>{{monthInvestList[2].totalAmount | number:2}}</td>
          </tr>

          <tr ng-repeat="item in monthInvestList.slice(3)">
            <td><span class="rand__span_default">{{$index + 4}}</span></td>
            <td>{{item.name || '无名'}}</td>
            <td>{{item.totalAmount | number:2}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
