<style>
.news__wrapper {
  width: 70%;
  float: left;
  color: #3b3838;
  background-color: #fbfbfb;
}

.rand__wrapper {
  width: 30%;
  float: right;
}

.news__item {
  padding-right: 35px;
}

.block__head {
  padding-left: 15px;
  font-size: 22px;
  line-height: 46px;
  border-bottom: 1px solid #e5e4e2;
}

.block__head span {
  position: relative;
  bottom: -10px;
  float: right;
  font-size: 14px;
}

.news__media {
  border-top: 1px solid #fff;
  padding-top: 20px;
}

.news__img {
  position: absolute;
  width: 150px;
  height: 130px;
  margin-left: 25px;
  background-size: cover;
  background-position: 50%;
}

.news__list {
  margin-left: 200px;
}

.news__list p span {
  float: right;
}

.rand__wrapper {
  color: #3b3838;
  background-color: #fbfbfb;
}

.rand__outer {
  padding-top: 20px;
  border-top: 1px solid #fff;
}

.rand__outer table {
  width: 100%;
}

.rand__outer table tr td {
  width: 33%;
  height: 37px;
  text-align: center;
}

.rand__outer table tr td span {
  display: inline-block;
  width: 15px;
  height: 15px;
  line-height: 15px;
  color: #fff;
}

.rand__span_top {
  background-color: #e94828;
}

.rand__span_default {
  background-color: #515151;
}
</style>
<div>
  <div class="news__wrapper">
    <div class="news__item">
      <div class="block__head">宏财研究院<span>更多></span></div>
      <div class="news__media">
        <div class="news__img" style="background-image:url(https://placeimg.com/152/480/animals);"></div>
        <div class="news__list">
          <p>sdfadfafdadfafds <span>2015-2-2</span></p>
          <p>sdfadfafdadfafds <span>2015-2-2</span></p>
          <p>sdfadfafdadfafds <span>2015-2-2</span></p>
          <p>sdfadfafdadfafds <span>2015-2-2</span></p>
          <p>sdfadfafdadfafds <span>2015-2-2</span></p>
        </div>
      </div>
    </div>
    <div class="news__item">
      <div class="block__head">媒体报道<span>更多></span></div>
      <div class="news__media">
        <div class="news__img" style="background-image:url(https://placeimg.com/152/480/animals);"></div>
        <div class="news__list">
          <p>sdfadfafdadfafds <span>2015-2-2</span></p>
          <p>sdfadfafdadfafds <span>2015-2-2</span></p>
          <p>sdfadfafdadfafds <span>2015-2-2</span></p>
          <p>sdfadfafdadfafds <span>2015-2-2</span></p>
          <p>sdfadfafdadfafds <span>2015-2-2</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="rand__wrapper">
    <div class="block__head">30天理财排行榜</div>
    <div class="rand__outer">
      <table>
        <thead>
          <tr>
            <td>排名</td>
            <td>用户名</td>
            <td>理财金额</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span class="rand__span_top">1</span></td>
            <td>xj***j</td>
            <td>25,233,253</td>
          </tr>
          <tr>
            <td><span class="rand__span_top">2</span></td>
            <td>xj***j</td>
            <td>25,233,253</td>
          </tr>
          <tr>
            <td><span class="rand__span_top">3</span></td>
            <td>xj***j</td>
            <td>25,233,253</td>
          </tr>
          <tr>
            <td><span class="rand__span_default">4</span></td>
            <td>xj***j</td>
            <td>25,233,253</td>
          </tr>
          <tr>
            <td><span class="rand__span_default">5</span></td>
            <td>xj***j</td>
            <td>25,233,253</td>
          </tr>
          <tr>
            <td><span class="rand__span_default">6</span></td>
            <td>xj***j</td>
            <td>25,233,253</td>
          </tr>
          <tr>
            <td><span class="rand__span_default">7</span></td>
            <td>xj***j</td>
            <td>25,233,253</td>
          </tr>
          <tr>
            <td><span class="rand__span_default">8</span></td>
            <td>xj***j</td>
            <td>25,233,253</td>
          </tr>
          <tr>
            <td><span class="rand__span_default">9</span></td>
            <td>xj***j</td>
            <td>25,233,253</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
