<div id="best-profit" class="panel panel-default margin-t-30">
  <div class="col-xs-12 col-md-12 col-lg-12 bg-white" style="min-height:386px;">
    <div class="row">
      <div class="col-xs-12 col-md-3 col-lg-3 text-center min-height-386 bg-green">
        <img src="/images/main/weixintuo-1.png" class="margin-t-20">
        <div class="clear margin-t-30">
          <img src="/images/main/jigoubao-1.png" class="fl margin-l-20">
          <div class="text-right fr margin-r-20">
            <p class="border-info2">起投门槛低</p>
            <p class="border-info2">随存随取</p>
            <p class="border-info2">100%保障</p>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-lg-9 ft-black" ng-repeat="item in hongjinbao | limitTo: 3">
        <div class="col-xs-12 max-list-height border-b-da">
          <div ng-switch="item.status">
            <div class="text-left margin-t-20">
              <img src="/images/main/dongxing-logo.png" alt="" width="75" height="20">
              <span class="ft-20">{{item.name | limitTo: 15}}</span>
              <span class="ft-14 ft-grey2 margin-l-20">{{item.repaymentName}}</span>
              <span class="arrow_box ft-orange">{{item.statusText}}</span>
            </div>
            <div class="col-xs-8 text-left ft-14 margin-t-20">
              <span class="ft-orange">已投{{item.soldStock * item.increaseAmount | noFractionCurrency:"":0 || 0 }}元</span>&nbsp;&nbsp;/&nbsp;&nbsp;总额{{item.total}}元<span class="ft-grey4 margin-l-40 margin-r-40">┊</span>&nbsp;&nbsp;
              <span class="ft-orange ft-24">{{item.annualEarnings | number : 2}}%</span>年化收益&nbsp;&nbsp;/&nbsp;&nbsp;<span class="ft-orange ft-24">{{item.cycle}}</span>个月&nbsp;&nbsp;<span class="ft-grey4">┊</span>
            </div>
            <div class="col-xs-4 margin-t-20">
              <div class="col-xs-4">
                <canvas  class="chart chart-doughnut" chart-data="item.chartData" chart-labels="labelsList" chart-colours="coloursList" style="width:150px;height:75px;margin-left:-55px;margin-top:-20px;"></canvas>
              </div>
              <div class="col-xs-8">
                <button ng-switch-when="6" class="col-xs-12 fr white-button-orange white-height ft-18">等待中&nbsp;<i class="fa fa-chevron-circle-right"></i></button>
                <button ng-switch-when="7" class="col-xs-12 fr white-button-orange white-height ft-18" ui-sref="root.project-details({number: item.number})">我要投资&nbsp;<i class="fa fa-chevron-circle-right"></i></button>
                <button ng-switch-when="8" class="col-xs-12 fr white-button-orange white-height ft-18" ui-sref="root.project-details({number: item.number})">查看详情&nbsp;<i class="fa fa-chevron-circle-right"></i></button>
                <button ng-switch-default ui-sref="root.project-details({number: item.number})" class="col-xs-12 fr btn-grey-spirit white-height ft-18">查看详情&nbsp;<i class="fa fa-chevron-circle-right"></i></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
