.about-left-area{
	width: 170px;
	height: 317px;
    border:1px solid #dbdbdb;
    font-size: 14px;
    color: #888181;
    background-color: white;
    float: left;
    border-radius: 5px;
    margin-top: 18px;
}
.about-left-area .tips-area p{
	width: 164px;
	padding-left: 30px;
}