.bg-login {
  height: 412px;
}

.login-area {
  height: 380px;
}

.login-left-area{
  margin-top: 20px;
  min-height: 92% !important;
  border: 2px solid #d9d5d6;
  border-radius: 8px;
  box-shadow: 0px 1px 1px #d9d5d6;
  background-color: white;
}

.login-title {
  height: 55px;
  width: 100.9%;
  margin-top: -2px;
  margin-left: -2px;
  padding-top: 18px;
  padding-left: 30px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.form-login {
  padding-top: 30px;
}

.form-div {
  padding-top: 10px;
}

.login-check-img {
  margin-top: -4px;
  font-size: 18px;
  color: #d8271c;
}

.login-input-tips {
  margin-right: -60px;
  margin-top: -19px;
  margin-left: 19px;
}

.p-forget {
  float: right;
  font-size: 12px;
  color: #888181 !important;
  &:hover {
  text-decoration: underline;
  color: #e94828;
  }
}

.login-right-area{
  background: url(/images/sprite.png) no-repeat;
  background-position: -1495px -745px;
  height: 92%;
}

.p-login-right {
  text-align: center;
  height: 99%;
  padding-top: 170px;
  a{
    font-weight: bold;
    color: #e94828;
    &:hover{
      color: #e94828;
      text-decoration: underline;
    }
  }
}

.success-tips {
  font-weight: bold;
  font-size: 22px;
}

.success-re {
  font-size: 24px;
  color: #606060;
}

.bg-regist {
  height: 535px;
}

.regist-area {
  height: 480px;
}

.regist-left-area {
  margin-top: 20px;
  min-height: 92% !important;
  border: 2px solid #d9d5d6;
  border-radius: 8px;
  box-shadow: 0px 1px 1px #d9d5d6;
  background-color: white;
}

.a-regist {
  text-align: center;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none !important;
  font-size: 21px;
  height: 50px;
  padding-top: 10px;
/*  padding-left: 20px;*/
  &:hover {
    text-decoration: none !important;
  }
}

.grey-regist {
  color: #817774;
  background-color: #dadada;
}

.red-regist {
  background-color: #e94828;
  color: white;
  &:hover{
    color: white;
  }
}

.a-phone-regist {
  border-top-left-radius: 5px;
}

.a-mail-regist {
  border-top-right-radius: 5px;
}

.triangle-container {
  padding-left: 25px;
}

.triangle {
  background: url(/images/sprite.png) no-repeat;
  background-position: -1565px -1183px;
  margin: 0 auto;
  height: 12px;
}

.form-regist {
  padding-top: 30px;
}

.regist-check-img {
  margin-top: -4px;
  font-size: 18px;
  color: #d8271c;
}

.input-tips {
  font-size: 12px;
  color: #d8271c;
}
.pic-verify {
  cursor: pointer;
  height: 34px;
  margin-top: 0;
}

.refresh-pic {
  background: url(/images/sprite.png) no-repeat;
  background-position: -392px -857px;
  cursor: pointer;
  height: 34px;
}
.borderwhite{
  border: 1px solid #dbdbdb;
}
.borderred{
  border: 1px solid red;
}


.p-checkbox {
  float: left;
  margin-top: 0 !important;
}

.p-remember {
  float: left;
  font-size: 12px;

}

.regist-right-area {
  background: url(/images/sprite.png) no-repeat;
  background-position: -1544px -670px;
  height: 92%;
}

.p-regist-right {
  text-align: center;
  height: 99%;
  padding-top: 170px;
  a{
    font-weight: bold;
    color: #e94828;
    &:hover{
      color: #e94828;
      text-decoration: underline;
    }
  }
}

.get-pwd-back {
  .margin-b {
    margin-bottom: 150px;
  }

  .padding-lr {
    padding-left: 20px !important;
    padding-right: 22px !important;
  }

  .padding-l {
    padding-left: 20px !important;
  }

  .fa {
    font-size: 36px;
    position: relative;
    top: -4px;
  }

  .fa-times-circle-o  {
    font-size: 18px;
    margin-top: 12px;
  }

  .success {
    text-align: center;
  }

  .panel-get-pwd-back{
    background-color: #ea5430;
    color: #fff;
    height: 170px;
    margin-bottom: 60px;
    // line-height:180px;
    .triangle-up {
      position: relative;
      top: -10px;
      margin-top: 0;

      li {
        span {
          background-color: transparent !important;
        }
      }

      .active .fa {
        position: relative;
        top: -2px;
        color: #fff;
      }
    }

    ul {
      list-style: none;
      padding: 0;
      margin-top: 50px;
      .margin-l {
        margin-left: 22.5%;
      }

      li {
        padding-left: 0px;
        padding-right: 0px;

        .get-pwd-back-step-line {
          // position: relative;
          // display: block;
          // height: 2px;
          // overflow: hidden;
          // width: 100%;
          // z-index: 1;
          // background: #fff;
          // top: 30px;
          // border: 1px dotted #fff;
          // border-style: none none dotted;
          top: 30px;
          color: #fff;
          width: 100%;
          border-bottom: 1px dotted #fff;
          height: 2px;
          position: relative;
          display: block;
        }

        .get-pwd-back-step {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          background-color: #fff;
          color: #ea5430;
          display: block;
          font-size: 40px;
          text-align: center;
          z-index: 2;
        }

        .get-pwd-back-step-text {
          //
        }

        .current {
          //
        }
      }
    }
  }
}
// FIX
.set-pwd-input-tips {
  padding-top: 10px;
  padding-left: 15px;
}
