html,
body {
  margin: 0;
  padding: 0;
  color: #333;
  text-rendering: optimizelegibility;
  _background-attachment: fixed;
  _background-image: url(about:blank);
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "冬青黑体", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", SimSun, "宋体", Heiti, "黑体", sans-serif;
}
.lucky-draw .ab {
  position: absolute;
}
.lucky-draw .main {
  margin-top: 10px;
  width: 980px;
  height: 1050px;
  position: relative;
  margin: 0 auto;
  background: url(/images/get_lucky.png) -9px 10px no-repeat;
}
.lucky-draw .get-lucky {
  height: 160px;
  width: 230px;
  top: 57px;
  left: 145px;
  background: url(/images/lucky_sprite.png) 0 9px no-repeat;
}
.lucky-draw .share-area p {
  font-size: 16px;
  margin-top: 5px;
}
.lucky-draw .share-area p,
.lucky-draw .share-area div {
  float: left;
}
.lucky-draw .share-area {
  top: 200px;
  left: 555px;
}
.lucky-draw .tips-bg {
  width: 100%;
  height: 792px;
  top: 258px;
}
.lucky-draw .tips-area {
  font-size: 14px;
  height: 500px;
  width: 380px;
  top: 447px;
  left: 400px;
}
.lucky-draw .tips-area p {
  margin-bottom: 10px;
  line-height: 22px;
  font-weight: bold;
  margin-top: 0px;
  height: 30px;
  padding: 0;
}
.lucky-draw .get-rule-inline,
.lucky-draw .get-rule-inline:hover {
  color: #e94828;
}
.lucky-draw .get-rule-inline {
  text-decoration: none;
}
.lucky-draw .get-rule-inline:hover {
  text-decoration: underline;
}
.lucky-draw .get-rule {
  background: url(/images/lucky_sprite.png) -245px -8px no-repeat;
  height: 45px;
  width: 205px;
  margin: 40px 0 0 95px;
  color: white;
  font-size: 16px;
  padding: 11px 0 0 62px;
  text-decoration: none;
}
.lucky-draw .get-rule:hover {
  color: white;
  text-decoration: none;
}
.lucky-draw .right-bg {
  height: 85px;
  width: 450px;
  background: url(/images/lucky_sprite.png) 0 -160px no-repeat;
  top: 80px;
  right: 115px;
}
.lucky-draw .change-area {
  height: 245px;
  width: 100%;
  z-index: 2;
  font-size: 14px;
}
.lucky-draw .get-bg {
  background: url(/images/lucky_sprite.png) -567px 32px no-repeat;
}
.lucky-draw .hongbao-bg {
  background: url(/images/lucky_sprite.png) 195px -285px no-repeat;
}
.lucky-draw .tuhao-bg {
  background: url(/images/lucky_sprite.png) -885px -285px no-repeat;
}
.lucky-draw .p-red {
  top: 24px;
  left: 530px;
  font-size: 18px;
  color: #e94828;
}
.lucky-draw .p-grey {
  top: 140px;
  right: 205px;
  color: #a1a0a0;
}
