.fl{float: left;}
.fr{float: right;}
.bg-blue{background: #6DD0F5;}
.ft-blue{color:#6DD0F5; }
.ft-black{color:#3b3838;}
.min-height-386{
	min-height: 386px;
}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.clear{clear:both;}
.border-info{
	border:1px solid white;
	width:150px;
	height:36px;
	line-height: 36px;
	color: white;
	text-align: center;
	margin:20px 0;
}
.margin-l-20{
	margin-left: 20px;
}
.margin-l-40{
	margin-left: 40px;
}
.margin-r-20{
	margin-right: 20px;
}
.margin-r-40{
	margin-right: 40px;
}
.freeze-times{
  margin: 5px 0px;
  text-align:right;
  padding: 2px;
}
.rate-areas{
  text-align: center;
  background: url('/images/main/hongjinying-3.png') 50% no-repeat;
  padding: 35px; 
  span{
    span{
      margin-left: -12px;
    }
  }
}
.btn-invite{
	background: #6DD0F5;
	border:1px solid #4fb9e1;
	color: white;
}

/*************************/

.block-table {
  border: 1px solid #e6e4e4;
  background-color: #fbfbfb;
}

.block-table table {
	margin-bottom: 0;
  border-top: 1px solid #e6e4e4;
  border-bottom: 1px solid #e6e4e4;
  -webkit-box-shadow: 0 1px 1px 1px #e6e4e4, 0 2px 2px 0 rgba(230, 228, 228, 0.5) inset;
  box-shadow: 0 1px 1px 1px #e6e4e4, 0 2px 2px 0 rgba(230, 228, 228, 0.5) inset;
  color: #3b3838;
}

.block-table table tr td{
	text-align: center;
	line-height: 35px;
}

.block-table .caption {
	height: 76px;
	line-height: 76px;
	padding-left: 25px;
  background-color: #fbfbfb;
  color: #3b3838;
  font-size: 32px;
}

.block-table .table > thead > tr > td {
  border-bottom: 0;
  line-height: 22px;
}

.block-table .table > tbody > tr> td {
  border-top: 0;
  border-bottom: 1px solid #e6e4e4;
}

.block-table .table > tfoot > tr> td {
  border-top: 0;
  border-bottom: 0;
  line-height: 56px;
  font-size: 20px;
}

.block-table .table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fff;
}

.block-table .table-striped > tbody > tr:nth-of-type(even) {
  background-color: #fbfbfb;
}

.block_btnw {
	width: 170px;
}

.block_btn {
	display: inline-block;
	height: 35px;
	width: 133px;
	border-radius: 35px;
	color: #fff;
}

.block_span_defaultC {
	background-color: #fd8f3f;
}

.block_span_wait {
	background-color: #dcdede;
}

.block_span_process {
	background-color: #6dd0f5;
}

.block_span_suceess {
	background-color: #77e3d0;
}
.block_font_highlight {
	color: #fd8f3f;
}

.block_table_td1 {
	width: 250px;
}
.block_process {
  height: 6px;
  width: 135px;
  background-color: #dcdede;
  margin-bottom: 0;
}

.block_process .progress-bar {
  background-color: #fd8f3f;
}

.block_process_w {
	line-height: 24px!important;
}