@import 'bootstrap_overwrite.less';
// variables

html,
body {
  color: @gray-light;
  /*padding-bottom: 0px;*/
  /*font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "冬青黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;*/
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "冬青黑体", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

.logo-img-1 {
	display: block;
	height: 78px;
}

#mini-bar {
	height: 25px;
	min-height: 25px;

	.navbar-text {
		margin-top: 2px;
	}

	ul > li > a,
	ul > li > span {
		padding-top: 2px;
		display: inline-block;
	}
}

#major-bar {
	background-color: #fff;
	height: 100px;
	margin-bottom: 0px;

	ul > li > a {
		font-size: 1.3em;
	}

    .navbar-header > a {
    	height: 90px;
  	}

  	.navbar-right {
  		margin-top: 42px;
  	}
  	.active {
		color: #eb5c3f;
	}
}

.projects-filter {
  ul > li > a {
    color: @gray-light;

    .fa-check-square-o {
      color: @brand-danger;
    }
  }
}

.hc-text-red {
	color: @brand-danger;
	&:hover {
		color: @brand-primary;
	}
}

.hc-bg-red {
	color: #fff;
	background-color: @brand-danger;
	&:hover {
		color: #fff;
		// background-color: #ea702e;
		box-shadow: 0 0 2px #FF9249;
	}
}

.ft-4em {
	font-size: 4em;
}

.ft-3em {
	font-size: 3em;
}

#service {
	img {
		position: fixed;
	}
	.toTop {
		right: 20px;
		bottom: 80px;
	}
	.qq {
		position: fixed;
		display: block;
		width: 30px;
		height: 100px;
		right: 0;
		bottom: 50%;
		background-color: #ebebeb;
	}

	/*right-service css*/
	.bottom_tools{
		position:fixed;
		z-index:1070;
		right:40px;
		bottom:40px;
	}

	.bottom_tools>*{
		font:0/0 a;
		display:block;
		margin-top:5px;
		color:transparent;
		border:0;
		background-color:transparent;
		text-shadow:none
	}

	.qr_img{
		position:absolute;
		top:-189px;
		left:-183px;
		display:none;
	}

	#scrollUp{
		width:45px;
		height:45px;
		background-image:url(../images/backgrounds.32.png);
		background-position:-54px -53px;
		display:none;
	}

	#scrollUp:hover{
		background-image:url(../images/backgrounds.32.png);
		background-position:-100px -53px;
	}

	#feedback{
		width:45px;
		height:45px;
		background-image:url(../images/backgrounds.32.png);
		background-position:-102px 0;
	}

	#feedback:hover{
		background-image:url(../images/backgrounds.32.png);
		background-position:-146px -46px
	}

	.qr_tool{
		width:45px;
		height:45px;
		background-image:url(../images/backgrounds.32.png);
		background-position:-148px 0;cursor:pointer;
	}

	.qr_tool:hover {
		width: 45px;
		height: 45px;
		background-image: url(../images/backgrounds.32.png);
		background-position: -192px -46px;
	}

}

.safe {
	.nav{
		padding-top: 20px;
		padding-bottom: 20px;
		margin: 0 auto;
		float: none;
		li {
			text-align: center;
			a {
				padding: 0;
				color: #717071;
			}
			a:hover {
				background: none;
				color: #ea5430;
			}
		}
	}
}

// project detail page
.project-detail {
  padding: 15px;

}

.timeline {
    list-style: none;
    padding: 20px 0 20px;
    position: relative;
}

    .timeline:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: " ";
        width: 3px;
        background-color: #eeeeee;
        left: 50%;
        margin-left: -1.5px;
    }

    .timeline > li {
        margin-bottom: 20px;
        position: relative;
    }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li:before,
        .timeline > li:after {
            content: " ";
            display: table;
        }

        .timeline > li:after {
            clear: both;
        }

        .timeline > li > .timeline-panel {
            width: 46%;
            float: left;
            border: 1px solid #d4d4d4;
            border-radius: 2px;
            padding: 20px;
            position: relative;
            -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
            box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
        }

            .timeline > li > .timeline-panel:before {
                position: absolute;
                top: 26px;
                right: -15px;
                display: inline-block;
                border-top: 15px solid transparent;
                border-left: 15px solid #ccc;
                border-right: 0 solid #ccc;
                border-bottom: 15px solid transparent;
                content: " ";
            }

            .timeline > li > .timeline-panel:after {
                position: absolute;
                top: 27px;
                right: -14px;
                display: inline-block;
                border-top: 14px solid transparent;
                border-left: 14px solid #fff;
                border-right: 0 solid #fff;
                border-bottom: 14px solid transparent;
                content: " ";
            }

        .timeline > li > .timeline-badge {
            color: #fff;
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 1.4em;
            text-align: center;
            position: absolute;
            top: 16px;
            left: 50%;
            margin-left: -25px;
            background-color: #999999;
            z-index: 100;
            border-top-right-radius: 50%;
            border-top-left-radius: 50%;
            border-bottom-right-radius: 50%;
            border-bottom-left-radius: 50%;
        }

        .timeline > li.timeline-inverted > .timeline-panel {
            float: right;
        }

            .timeline > li.timeline-inverted > .timeline-panel:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }

            .timeline > li.timeline-inverted > .timeline-panel:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }

.timeline-badge.primary {
    background-color: #2e6da4 !important;
}

.timeline-badge.success {
    background-color: #3f903f !important;
}

.timeline-badge.warning {
    background-color: #f0ad4e !important;
}

.timeline-badge.danger {
    background-color: #d9534f !important;
}

.timeline-badge.info {
    background-color: #5bc0de !important;
}

.timeline-title {
    margin-top: 0;
    color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
    margin-bottom: 0;
}

    .timeline-body > p + p {
        margin-top: 5px;
    }

@media (max-width: 767px) {
    ul.timeline:before {
        left: 40px;
    }

    ul.timeline > li > .timeline-panel {
        width: calc(100% - 90px);
        width: -moz-calc(100% - 90px);
        width: -webkit-calc(100% - 90px);
    }

    ul.timeline > li > .timeline-badge {
        left: 15px;
        margin-left: 0;
        top: 16px;
    }

    ul.timeline > li > .timeline-panel {
        float: right;
    }

        ul.timeline > li > .timeline-panel:before {
            border-left-width: 0;
            border-right-width: 15px;
            left: -15px;
            right: auto;
        }

        ul.timeline > li > .timeline-panel:after {
            border-left-width: 0;
            border-right-width: 14px;
            left: -14px;
            right: auto;
        }
}
