.fl{float: left;}
.fr{float: right;}
.bg-blue{background: #6DD0F5;}
.bg-green{background:#6FE6ED;}
.ft-blue{color:#6DD0F5; }
.ft-green{color:#6FE6ED;}
.ft-black{color:#3b3838;}
.min-height-386{
	min-height: 386px;
}
.text-left{text-align: left;}
.text-center{text-align: center;}
.text-right{text-align: right;}
.clear{clear:both;}
.border-info{
	border:1px solid white;
	width:150px;
	height:36px;
	line-height: 36px;
	color: white;
	text-align: center;
	margin:20px 0;
}
.margin-l-20{
	margin-left: 20px;
}
.margin-l-40{
	margin-left: 40px;
}
.margin-r-20{
	margin-right: 20px;
}
.margin-r-40{
	margin-right: 40px;
}
.freeze-times{
  margin: 5px 0px;
  text-align:right;
  padding: 2px;
}
.rate-areas{
  text-align: center;
  background: url('/images/main/hongjinying-3.png') 50% no-repeat;
  padding: 35px; 
  span{
    span{
      margin-left: -12px;
    }
  }
}

.rate-areas-2{
  text-align: center;
  background: url('/images/main/weixintuo-3.png') 50% no-repeat;
  padding: 35px; 
  span{
    span{
      margin-left: -12px;
    }
  }
}
.btn-invite{
	background: #6DD0F5;
	border:1px solid #4fb9e1;
	color: white;
}
.btn-invite-green{
	background: #6FE6ED;
	border:1px solid #4fb9e1;
	color: white;
}