html,
body {
  color: #333;
  /*padding-bottom: 0px;*/
  /*font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "冬青黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;*/
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "冬青黑体", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", SimSun, "宋体", Heiti, "黑体", sans-serif;
}
#mini-bar {
  height: 25px;
  min-height: 25px;
}
#mini-bar .navbar-text {
  margin-top: 0px;
}
#mini-bar ul > li > a {
  padding-top: 2px;
}
#major-bar {
  background-color: #fff;
  height: 100px;
  margin-bottom: 0px;
}
#major-bar ul > li > a {
  font-size: 1.3em;
}
.flat-corner {
  border-radius: 1px;
}
.hc-text-red {
  color: #e94828;
}
.hc-text-red:hover {
  color: #e94828;
}
.hc-bg-red {
  color: #fff;
  background-color: #e94828;
}
.hc-bg-red:hover {
  color: #fff;
  box-shadow: 0 0 2px #FF9249;
}
.ft-4em {
  font-size: 4em;
}
.ft-3em {
  font-size: 3em;
}
