@import 'bootstrap_overwrite.less';
// variables

html,
body {
  color: @gray-light;
  /*padding-bottom: 0px;*/
  /*font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "冬青黑体", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;*/
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "冬青黑体", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", SimSun, "宋体", Heiti, "黑体", sans-serif;
}


@opacity: 0.8;

.hc-opacity {
  opacity: @opacity;
  // IE8 filter
  @opacity-ie: (@opacity * 100);
  filter: ~"alpha(opacity=@{opacity-ie})";
}

.hc-opacity:hover {
	opacity: 1;
	filter: alpha(opacity=100);
}

#mini-bar {
	height: 25px;
	min-height: 25px;

	.navbar-text {
		margin-top: 0px;
	}

	ul > li > a {
		padding-top: 2px;
	}
}

#major-bar {
	background-color: #fff;
	height: 100px;
	margin-bottom: 0px;

	ul > li > a {
		font-size: 1.3em;
	}
}

.projects-filter {
  ul > li > a {
    color: @gray-light;

    .fa-check-square-o {
      color: @brand-danger;
    }
  }
}

.hc-text-red {
	color: @brand-danger;
	&:hover {
		color: @brand-primary;
	}
}

.hc-bg-red {
	color: #fff;
	background-color: @brand-danger;
	&:hover {
		color: #fff;
		// background-color: #ea702e;
		box-shadow: 0 0 2px #FF9249;
	}
}

.ft-4em {
	font-size: 4em;
}

.ft-3em {
	font-size: 3em;
}

#service {
	img {
		position: fixed;
	}
	.toTop {
		right: 20px;
		bottom: 80px;
	}
	.qq {
		position: fixed;
		display: block;
		width: 30px;
		height: 100px;
		right: 0;
		bottom: 50%;
		background-color: #ebebeb;
	}

}

