@import 'commonq.less';

// index private
.main {
  padding-bottom: 20px;
  color: #807979;
  .panel {
    margin-top: 7px;
  }
}
// 自身特色
#self-feature {
  .margin-b-30 {
    margin-bottom: 30px;
    .font-4em {
      font-size: 4em;
    }
  }
}

// 所有更多的样式
.more-info-link {
  float: right;
  font-size:14px;
  color:#999999;
}

// 宏金盈
#best-profit {
  .panel-body {
    .real-type-name {
      position: relative;
      .real-type-date {
        position: absolute;
        font-size: 14px;
        color: rgb(184, 184, 184);
        margin-top: 1px;
        margin-left: 10px;
      }
    }
    .font-13 {
      font-size: 13px;
    }
    .font-18 {
      font-size: 18px;
      .font-red {
        color:red;
      }
    }
  }
}

// 新手标与宏包标
#main-newbie {
  .panel-body {
    .txt-overflow {
      display: inline-block;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }
    .margin-b-15 {
      margin-bottom: 15px;
      .padding-l-0 {
        padding-left: 0px;
        .font-18-red {
          font-size: 18px;
          color: red;
        }
      }
    }
  }
}

.special-recommend {
  position: relative;
}

.full-column {
  .margin-l-15 {
    margin-left: 15px;
  }
  .margin-l-23 {
    margin-left: 23px;
  }
}




.more-announcement {
  color:#999999;
  float: right;
}
.font-15 {
  font-size: 15px;
}
.font-13 {
  font-size: 13px;
}


