@import 'commonq.less';

// index private
.main {
  padding-bottom: 20px;
  color: #807979;
}

.special-recommend {
  position: relative;
}


.cooperation-icon {
  width: 31.33%;
  float: left;
  margin-right: 1%;
  margin-left: 1%;
  margin-top: 10px;
  .margin-b-5 {
    margin-bottom: 5px;
  }
  .border;
  position: relative;
  img {
    position: absolute;
    top: 5px;
    left: 15px;
  }
  .sponsor-name {
    width: 100%;
    padding-left: 50px;
    display: inline-block;
    .ft-14;
    .ftw-b;
  }
  .sonsor-row {
    height: 40px;
    line-height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    color: #858080;
    .float-r {
      float: right;
    }
  }
}

