/*新手引导页*/
#novice-guide{

  //每个模块公用的版心和标题

  .content {
    width: 65%;
    height: 770px;
    margin: 0 auto;
    .content-title {
      padding-top: 115px;
      border-bottom: 2px solid #ccc;
      i {
        width: 6px;
        height: 53px;
        background-color: #f8aa2f;
        margin-right: 10px;
      }
      p.fl {
        font-size: 50px;
        color: #62676e;
        text-align: justify;
        margin-top: -7px;
      }
      p.fr {
        padding-top: 14px;
      }
    }
  }

  //banner部分
  .newbie-banner {
    width: 100%;
    height: 770px;
    margin: 0 auto;
    background: url(/images/novice-guide/novice-banner.png) no-repeat center center; 
    .newbie-banner-header {
      padding-top: 128px;
    }
  }

  //宏财简介 股东背景 核心优势 background height
  .hongcai-introduce, .shareholder-background, .core-strengths, .management-team {
    width: 100%;
    height: 770px;
    margin: 0 auto;
    background: url("/images/novice-guide/novice-bg.jpg") no-repeat center center;
  }

  //宏财简介
  .hongcai-introduce {
    .content {
      .introduce-words {
        width: 536px;
        height: 444px;
        background: url(/images/novice-guide/TV-bg.png) no-repeat center center;
        margin: 125px auto 0;
        div {
          padding: 25px 70px;
          font-weight: 100;
          line-height: 30px;
          font-family: "微软雅黑";
          text-align: justify;
          font-size: 20px;
          color: #666;
        }
      }
    }
  }
  
  //股东背景
  .shareholder-background {
    font-family:"微软雅黑", "Microsoft YaHei";
    .shareholder-content {
      .circle-left {
        width: 493px;
        height: 493px;
        margin-top: 38px;
        background: url('/images/novice-guide/shareholder-circl-bg.png') no-repeat left top;
        background-size: 100%;
        position: relative;
        .circle {
          margin-bottom: 0;
          position: absolute;
          font-size: 20px;
          color: #666;
        }
        .center {
          position: absolute;
          font-size: 20px;
          color: #fff;
        }
        .circle1 {
          top: 11%;
          left: 42%;
        }
        .circle2 {
          top: 30%;
          right: 9%;
        }
        .circle3 {
          bottom: 20%;
          right: 13%;
        }
        .circle4 {
          bottom: 7.3%;
          left: 34%;
        }
        .circle5 {
          bottom: 30%;
          left: 9%;
        }
        .circle6 {
          top: 25%;
          left: 15%;
        }
        .circle-center1 {
          top: 47%;
          left: 35.3%;
        }
        .circle-center2 {
          top: 52.5%;
          left: 28%;
        }
      }
      .txt-right {
        width: 400px;
        font-size: 20px;
        color: #666;
        text-align: justify;
        margin-top: 165px;
      }
    }
  }

  //高管团队
  .management-team {
    .content {
      background: url("/images/novice-guide/team-shadow.png") no-repeat bottom center;
      background-size: 850px 198px;
      .team-carousel {
        margin-top: 92px;
        .poster-btn {
          position: absolute;
          top: 0;
          cursor: pointer;
        }
        .poster-prev-btn {
          left: 0;
          background: url("/images/novice-guide/btn_l.png") no-repeat center center;
        }
        .poster-next-btn {
          right: 0;
          background: url("/images/novice-guide/btn_r.png") no-repeat center center;
        }
        .poster-list .poster-item {
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }

  //核心优势
  .core-strengths {
    font-family:"微软雅黑", "Microsoft YaHei";
    .strengths {
      width: 231px;
      height: 221px;
      background: url('/images/novice-guide/core-san.png') no-repeat center center;
      background-size: 100%;
      margin: 190px auto;
      position: relative;
      color: #999;
      .core {
        width: 110px;
        height: 110px;
        border: 3.3px solid #999;
        border-radius: 50%;
        padding-left: 4px;
        line-height: 110px;
        font-size: 20px;
        text-align: center;
        position: absolute;
        cursor: pointer;
      }
      .core:hover {
        color: #ff7b00;
        border: 3.3px solid #ff7b00;
      }
      .core1 {
        top: -72%;
        left: 26%;
      }
      .core2 {
        top: -26%;
        right: -56%;
      }
      .core3 {
        bottom: -7%;
        right: -73%;
      }
      .core4 {
        bottom: -70%;
        right: -20%;
      }
      .core5 {
        bottom: -70%;
        left: -24%;
      }
      .core6 {
        bottom: -7%;
        left: -73%;
      }
      .core7 {
        top: -26%;
        left: -56%;
      }
      .txt {
        font-size: 18px;
        color: #999;
        text-align: justify;
        position: absolute;
        width: 300px;
        display: none;
      }
      .core1-txt {
        top: -60%;
        left: 87%;
      }
      .core2-txt {
        top: -17%;
        left: 169%;
      }
      .core3-txt {
        bottom: 11%;
        left: 185%;
      }
      .core4-txt {
        bottom: -55%;
        left: 135%;
      }
      .core5-txt {
        bottom: -61%;
        left: -169%;
      }
      .core6-txt {
        bottom: 5%;
        left: -216%;
      }
      .core7-txt {
        top: -17%;
        left: -199%;
      }
    }
  }

}
