/*新手引导页*/
#novice-guide{
  overflow:hidden;
  .container-flue{
    width:1432px;
    height:895px;
    background-image:url(/images/novice-guide/bg01.jpg);
    background-repeat:no-repeat;
    background-position: 50% 50%;
    .row1{
      width:1037px !important;
    }
    .row2{
      position:relative;
      .row2-text{
        position:absolute;
        bottom: 13%;
        font-size:16px;
        color:#eed17d;
      }
    }
  }
  .container-fluid{
    width:1432px !important;
    .row3{
      position:relative;
      //top:-417px;
      margin-top: -417px;
      width:1010px !important;
      height:750px !important;
      background-image:url(/images/novice-guide/quest-tip3.png);
      background-repeat:no-repeat;
      .row3-text{
        .text-center2{
          text-align:center;
          margin-left:20px;
          margin-top:15px;
          p{
            margin-top:10px;
            font-size:18px;
            font-weight:bold;
            color:#bc2204;
            line-height:28px;
          }
        }
        .text-left{
          color:#555 !important;
          h3{
            font-size:18px;
            font-weight:bold;
          }
          ul{
            font-size:16px;
            line-height:28px;
          }
        }
      }
    }
    .xiaoke, .xiaohong {
      width: 47px;
      height: 47px;
    }
    .xiaoke {
      background: url('/images/novice-guide/backgrounds_sprite.png') no-repeat 0px 0px ;
    }
    .xiaohong {
      background: url('/images/novice-guide/backgrounds_sprite.png') no-repeat 0px -56px ;
    }
    .left-arrow-img {
      width: 28px;
      height: 37px;
      background: url('/images/novice-guide/backgrounds_sprite.png') no-repeat -10px -112px ;
    }
    .right-arrow-img {
      width: 47px;
      height: 27px;
      background: url('/images/novice-guide/backgrounds_sprite.png') no-repeat 0px -162px ;
    }
    .step01-img, .step02-img, .step03-img, .step04-img {
       width: 51px;
      height: 51px;
    }
    .step01-img {
      background: url('/images/novice-guide/backgrounds_sprite.png') no-repeat -62px 0px ;
    }
    .step02-img {
      background: url('/images/novice-guide/backgrounds_sprite.png') no-repeat -62px -69px ;
    }
    .step03-img {
      background: url('/images/novice-guide/backgrounds_sprite.png') no-repeat -125px -2px ;
    }
    .step04-img {
      background: url('/images/novice-guide/backgrounds_sprite.png') no-repeat -62px -129px ;
    }
  }
}
