/*新手引导页*/
#novice-guide{
  //banner部分
  .newbie-banner {
    width: 100%;
    height: 770px;
    margin: 0 auto;
    background: url(/images/novice-guide/novice-banner.png) no-repeat center center; 
    .newbie-banner-header {
      padding-top: 128px;
    }
  }
}
