.content-list {
    padding-left: 30px;
    padding-right: 30px;
    margin-right: 0px;
}

.page-container {
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 30px;
}
.bg-white {
  background-color: #fff;
}

.safe {
  .padding-lr-30 {
    padding: 0 30px;
  }
  .tit2 {
    margin-left: -24px;
    font-weight: 700;
  }
  .top {
  width: 100%;
  height: 255px;
  }
  .service {
    border-top: 1px solid #dbdbdb;
  }
  .service .col-md-5 {
    background-position: -750px -470px;
  }
  .technique .col-md-5 {
    background-position: -750px -675px;
  }
  .capital .col-md-5 {
    background-position: -750px -940px;
  }
  .privacy .col-md-5 {
    background-position: -750px -1150px;
  }
  #carousel-generic {
    margin-left: 50px;
    width: 865px;
    .left {
      left: -30px;
    }
  }
  .list-item {
    padding-top: 40px;
    padding-bottom: 30px;
    .col-md-5 {
      //height: 190px;
    }
  }
  .nav {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    float: none;
    li {
      text-align: center;
      width: 11.11%;
      float: left;
      padding: 0 15px;
      a {
        padding: 0;
        color: #717071;
        display: block;
        div {
          width: 62px;
          height: 63px;
          margin: 0 auto;
        }
      }
      a:hover {
        background: none;
        color: #ea5430;
      }
      small {
        display: block;
      }
      .active {
        color: #eb5c3f;
      }
      ;
    }
  }
  .sticky {
    z-index: 50;
    background-color: #fff;
    box-shadow: rgb(136, 136, 136) 1px 1px 5px;
    li div {
      background: url(/images/safe/safe.png) no-repeat;
    }
    .step-1 {
      background-position: 0 0;
    }
    .step-2 {
      background-position: 0 -226px;
    }
    .step-3 {
      background-position: 0 -452px;
    }
    .step-4 {
      background-position: 0 -678px;
    }
    .step-5 {
      background-position: 0 -904px;
    }
    .step-6 {
      background-position: 0 -1130px;
    }
    .step-7 {
      background-position: 0 -1356px;
    }
    .step-8 {
      background-position: 0 -1582px;
    }
    .step-9 {
      background-position: 0 -1808px;
    }
  }
  .active {
    .step-1 {
      background-position: 0 -113px;
    }
    .step-2 {
      background-position: 0 -339px;
    }
    .step-3 {
      background-position: 0 -565px;
    }
    .step-4 {
      background-position: 0 -791px;
    }
    .step-5 {
      background-position: 0 -1017px;
    }
    .step-6 {
      background-position: 0 -1243px;
    }
    .step-7 {
      background-position: 0 -1469px;
    }
    .step-8 {
      background-position: 0 -1695px;
    }
    .step-9 {
      background-position: 0 -1921px;
    }
  }
}

