/*html*/
html,
body {
  font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "冬青黑体", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", SimSun, "宋体", Heiti, "黑体", sans-serif;
  background-color: #f0f0f0;
  text-rendering: optimizelegibility;
  _background-attachment: fixed;
  padding: 0;
  margin: 0;
  font-size: 14px;
  color: #777;
}
a {
  text-decoration: none;
}
a:link {
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
  cursor: pointer;
}
hr {
  border-top: 1px solid #d8d8d8;
}
li {
  list-style: none;
}
ul {
  padding: 0;
}
.full-screen {
  width: 100%;
}
.container {
  width: 980px;
  margin: 0 auto;
  position: relative;
  height: 100%;
  overflow: hidden;
}
.ft-black {
  color: #333;
}
.ft-red {
  color: #e94828;
}
.bg-red {
  background-color: #e94828;
}
.light-red {
  color: #f27b64;
}
.bg-light-red {
  background-color: #f27b64;
}
.ft-grey {
  color: #aaa;
}
.ft-dark-grey {
  color: #777;
}
.bg-grey {
  background-color: #ccc;
}
.bg-light-grey {
  background-color: #f0f0f0;
}
.bg-dark-grey {
  background-color: #777;
}
.ft-white {
  color: #fff;
}
.bg-white {
  background-color: #fff;
}
.margin-0 {
  margin: 0;
}
.padding-0 {
  padding: 0;
}
.left {
  float: left;
}
.right {
  float: right;
}
.ft-center {
  text-align: center;
}
.ft-12 {
  font-size: 12px;
}
.ft-16 {
  font-size: 16px;
}
.ft-14 {
  font-size: 14px;
}
.ft-18 {
  font-size: 18px;
}
.ft-20 {
  font-size: 20px;
}
.ft-22 {
  font-size: 22px;
}
.ft-24 {
  font-size: 24px;
}
.ft-28 {
  font-size: 28px;
}
.ft-30 {
  font-size: 30px;
}
.ft-36 {
  font-size: 36px;
}
.ft-4em {
  font-size: 4em;
}
.ft-3em {
  font-size: 3em;
}
.grey-border {
  border: 1px solid #dbdbdb;
}
.red-border {
  border: 1px solid #e94828;
}
.ft-left {
  text-align: left;
}
.ft-right {
  text-align: right;
}
.white-button {
  color: #e94828;
  background-color: #fff;
  border: 1px solid #e94828;
}
.white-button-hover {
  color: #fff;
  background-color: #e94828;
}
.red-button {
  background-color: #e94828;
  color: #fff;
}
.red-button:hover {
  background-color: #f27b64;
  color: #fff;
}
.yellow-button {
  display: block;
  background-color: #ff9900;
  border-radius: 5px;
  padding: 10px 0;
  text-align: center;
  color: #fff;
}
.yellow-button {
  background-color: #f59607;
}
/*input[type="checkbox"] {
    border: none;
    background-color: #fff;
    outline: none;
}

input[type="checkbox"]:focus {
    outline: none;
}*/
/*header*/
#mini-bar {
  height: 25px;
  background-color: #777;
  width: 100%;
  padding-top: 2px;
}
#mini-bar .nav-text {
  color: #fff;
  margin: 0;
  float: left;
}
#mini-bar ul {
  float: right;
  margin: 0;
}
#mini-bar li {
  float: left;
  text-align: center;
  margin-right: 10px;
}
#mini-bar li a,
#mini-bar li span {
  color: #fff;
}
#major-bar {
  background-color: #fff;
  height: 95px;
  clear: both;
  font-size: 18px;
  border-bottom: 1px solid #dbdbdb;
}
#major-bar .active {
  color: #e94828;
}
#major-bar a {
  color: #aaa;
}
#major-bar a:hover {
  color: #e94828;
}
#major-bar ul {
  margin-top: 60px;
  float: right;
}
#major-bar li {
  float: left;
  margin-left: 30px;
}
.logo-img {
  display: block;
  width: 300px;
  height: 100%;
  background: url('/images/sprite.png') no-repeat -1030px 7px;
  cursor: pointer;
  float: left;
}
#footer {
  font-size: 12px;
  color: #777;
  width: 100%;
}
#footer-link {
  background-color: #777;
  font-size: 14px;
  height: 120px;
}
#footer-link ul,
#footer-link li {
  float: left;
}
#footer-link ul {
  height: 55px;
  margin-top: 35px;
  border-right: 1px solid #fff;
}
#footer-link li {
  margin: 15px 20px;
}
#footer-link a {
  color: #fff;
}
#footer-link .customer-service {
  float: right;
  width: 195px;
  height: 55px;
  margin: 40px 140px 0 0;
  color: #fff;
}
#footer-link .customer-service i {
  font-size: 3em;
  float: left;
}
#footer-link .customer-service h4,
#footer-link .customer-service p {
  float: right;
}
#footer-link .customer-service h4 {
  margin: -5px 40px 10px 0;
  font-size: 18px;
}
#footer-link .customer-service p {
  margin-top: -5px;
}
#footer-show {
  background-color: #ccc;
  height: 180px;
  color: #777;
  text-align: center;
}
.footer-img {
  width: 300px;
  height: 50px;
  margin: 10px auto;
}
.footer-img li {
  float: left;
}
.main .three-safe {
  padding-left: 25px;
  height: 130px;
}
.main .three-safe li {
  float: left;
}
.main .three-safe li div {
  width: 176px;
  height: 90px;
  padding-left: 120px;
}
.main .three-safe .security {
  background: url('/images/sprite.png') no-repeat -390px -90px;
  border-right: 1px solid #dbdbdb;
  margin-right: 45px;
}
.main .three-safe .investment {
  background: url('/images/sprite.png') no-repeat -390px -182px;
  border-right: 1px solid #dbdbdb;
  margin-right: 45px;
}
.main .three-safe .convenient {
  background: url('/images/sprite.png') no-repeat -390px -271px;
  width: 130px;
}
.main .hongbao-show {
  height: 220px;
  font-size: 14px;
  border: 1px solid #dbdbdb;
  background-color: #fff;
  padding: 10px 35px;
  margin-top: 25px;
}
.main .hongbao-show .hongbao-title {
  border-bottom: 1px solid #dbdbdb;
  font-size: 18px;
  padding-bottom: 5px;
  color: #333;
  background: url('/images/sprite.png') no-repeat 120px -1650px;
}
.main .hongbao-show .hongbao-title span {
  font-size: 14px;
  color: #777;
  margin-left: 85px;
  display: inline-block;
}
.main .hongbao-show a {
  float: right;
  margin-top: -20px;
  color: #333;
}
.main .hongbao-show a:hover {
  color: #e94828;
}
.main .hongbao-show h4 {
  color: #333;
  font-size: 22px;
  font-weight: normal;
  margin: 0;
}
.main .hongbao-show p {
  margin: 0;
}
.main .hongbao-show li {
  float: left;
}
.main .hongbao-show .hongbao-div {
  height: 125px;
  width: 110px;
  padding: 10px 0 0 140px;
  margin: 20px 25px 0;
}
.main .hongbao-show .hongbao-div .a-button {
  display: inline-block;
  color: #e94828;
  background-color: #fff;
  border: 1px solid #e94828;
  width: 110px;
  height: 25px;
  text-align: center;
  line-height: 24px;
  margin-top: 20px;
}
.main .hongbao-show .hongbao-div .a-button:hover {
  color: #fff;
  background-color: #e94828;
}
.main .hongbao-show .bg-grey-hongbao {
  background: url('/images/sprite.png') no-repeat -290px -1743px;
}
.main .hongbao-show .bg-red-hongbao {
  background: url('/images/sprite.png') no-repeat -290px -1869px;
}
.main .hongbao-show .percent {
  font-size: 20px;
  margin-top: 15px;
  color: #333;
}
.main .hongbao-show .percent span {
  color: #e94828;
  font-weight: bold;
}
.main-partner {
  background-color: #fff;
  height: 210px;
  margin-top: 15px;
}
.main-partner p,
.main-partner div {
  width: 980px;
  position: relative;
  margin: 0 auto;
}
.main-partner p {
  padding-top: 20px;
}
.main-partner a {
  margin-right: 1px;
}
.main-right-area {
  width: 320px;
  float: right;
}
.main-right-area .statistical-area {
  border: 1px solid #dbdbdb;
  background-color: #fff;
  height: 177px;
  border-top: 0px solid #aaa;
  padding: 20px 30px 30px;
}
.main-right-area .new-guide {
  height: 50px;
}
.main-right-area .new-guide h3 {
  color: #e94828;
  text-align: center;
}
.main-right-area .statistical-area-show {
  height: 50px;
  margin-top: 10px;
}
.main-right-area .statistical-area-show i {
  color: #e94828;
}
.main-right-area .statistical-area-show p,
.main-right-area .statistical-area-show h3 {
  margin: 0;
}
.main-right-area .statistical-area-show h3 {
  font-size: 24px;
}
.main-right-area .statistical-area-show h3 small {
  font-weight: normal;
}
.main-right-area .statistical-area-show div {
  margin-top: -45px;
  margin-left: 65px;
}
.main-right-area .media-report {
  height: 30px;
}
.main-right-area .media-report a {
  display: inline-block;
  float: left;
  color: #777;
}
.main-right-area .media-report a:hover {
  color: #e94828;
}
.main-right-area .media-report p {
  margin: 0;
  float: right;
}
.recommended-title {
  margin-top: 20px;
  background-color: #f5f5f5;
  padding: 10px 20px;
  border: 1px solid #dbdbdb;
}
.recommended-title h4 {
  font-size: 18px;
  margin: 0;
  font-weight: normal;
}
.recommended-title a {
  font-size: 14px;
  float: right;
  color: #777;
  display: inline-block;
  width: 70px;
  margin-top: 3px;
}
.recommended-title a:hover {
  color: #e94828;
}
.recommended-title small a {
  width: 40px;
}
.main-left-area {
  width: 630px;
  margin-top: 20px;
  float: left;
}
.main-left-area .hot-sale-area {
  height: 250px;
  border: 2px solid #e94828;
  width: 100%;
  position: relative;
  padding: 10px 0 10px 10px;
  background-color: #fff;
  border-radius: 3px;
}
.main-left-area .hot-sale-area .hot-sale-logo {
  position: absolute;
  right: -5px;
  top: -5px;
  width: 89px;
  height: 90px;
  background: url('/images/sprite.png') no-repeat -280px -90px;
}
.main-left-area .hot-sale-area .hot-sale-right {
  width: 335px;
  height: 255px;
  float: right;
  margin-right: 20px;
  margin-top: 15px;
  color: #777;
}
.main-left-area .hot-sale-area .hot-sale-right a {
  color: #333;
}
.main-left-area .hot-sale-area .hot-sale-right a:hover {
  color: #e94828;
}
.main-left-area .hot-sale-area .hot-sale-right h3,
.main-left-area .hot-sale-area .hot-sale-right h4 {
  margin: 0;
  font-weight: normal;
}
.main-left-area .hot-sale-area .hot-sale-right h3 {
  font-size: 24px;
}
.main-left-area .hot-sale-area .hot-sale-right h4 {
  margin: 10px 0;
  font-size: 18px;
}
.main-left-area .hot-sale-area .hot-sale-right div {
  float: left;
  margin-top: 20px;
  width: 110px;
  height: 60px;
}
.main-left-area .hot-sale-area .hot-sale-right .border-right {
  border-right: 1px solid #dbdbdb;
}
.main-left-area .hot-sale-area .hot-sale-right .last-div {
  margin-top: 16px;
}
.main-left-area .hot-sale-area .hot-sale-right .red-button {
  display: inline-block;
  width: 98%;
  height: 30px;
  border-radius: 5px;
  font-size: 24px;
  color: #fff;
  padding: 12px 0;
  margin-top: 21px;
}
.main-left-area .hot-sale-area .hot-sale-right .red-button:hover {
  color: #fff;
}
.main-left-area .recommended {
  width: 602px;
}
.main-left-area .recommended-area {
  width: 592px;
  height: 230px;
  padding: 15px 20px 15px 30px;
  border: 1px solid #dbdbdb;
  border-top: 0px solid #aaa;
  background-color: #fff;
}
.main-left-area .recommended-area-right {
  height: 100%;
  width: 330px;
  color: #777;
  float: right;
}
.main-left-area .recommended-area-right a {
  display: inline-block;
  font-size: 24px;
  color: #333;
}
.main-left-area .recommended-area-right a:hover {
  color: #e94828;
}
.main-left-area .recommended-area-right .recommended-area-show-up {
  width: 100%;
  height: 55px;
  margin-top: 15px;
  border-bottom: 1px solid #dbdbdb;
}
.main-left-area .recommended-area-right .recommended-area-show-up div {
  float: right;
  margin-top: 10px;
}
.main-left-area .recommended-area-right .recommended-area-show-up div span {
  font-size: 28px;
  color: #e94828;
  font-weight: bold;
}
.main-left-area .recommended-area-right .project-icon {
  font-size: 15px;
  display: inline-block;
  background: url('/images/sprite.png') no-repeat -220px -270px;
  text-align: center;
  color: #fff;
  padding: 5px 9px;
}
.main-left-area .recommended-area-right .project-icon:hover {
  color: #fff;
}
.main-left-area .recommended-area-right .recommended-area-show-down p {
  width: 50%;
  float: left;
  margin: 10px 0 0;
}
.main-left-area .recommended-area-right .red-button {
  display: inline-block;
  width: 98%;
  height: 30px;
  border-radius: 5px;
  font-size: 24px;
  color: #fff;
  padding: 10px 0;
  margin-top: 10px;
}
.main-left-area .recommended-area-right .red-button:hover {
  color: #fff;
}
.fixedBox {
  position: absolute;
  top: 20px;
  right: 255px;
  width: 200px;
  height: 200px;
  padding: 40px 20px;
  background-color: rgba(0, 0, 0, 0.2);
  color: #fff;
  box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.2);
}
/*.glyphicon-chevron-right{
  content: "\e080";
}
.glyphicon-chevron-left{
  content: "\e079";
}*/
.about-left-area {
  width: 170px;
  float: left;
}
.right-area {
  width: 790px;
  overflow: hidden;
  float: right;
  margin-left: 0;
}
