body {font:normal 14px/1.5 "\5FAE\8F6F\96C5\9ED1", Helvetica,STHeiti, Droidsansfallback; color:#444;background-color:#f5f5f5; -webkit-user-select: none;-webkit-text-size-adjust: none; }
body,div,dl,dt,dd,del,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td,figure {margin:0;padding:0;}
input[type="text"],input[type="number"],input[type="password"],input[type="submit"],input[type="button"],textarea {-webkit-appearance: none; outline-style: none; resize: none; border:0;}
table {border-collapse:collapse;border-spacing:0;}
fieldset,img {border:0;}
address,caption,cite,code,dfn,em,th,var {font-style:normal;font-weight:normal;}
ol,ul {list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {font-size:100%;	font-weight:normal;	font-style: normal;}
q:before,q:after {content:'';}
abbr,acronym {border:0;}
header, section {display:block;margin:0;padding:0;}
a{text-decoration: none;}
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}

.unl {text-decoration: underline;}
.tl {text-align: left;}
.tc {text-align: center;}
.tr {text-align: right;}
.bc {margin-left: auto; margin-right: auto;}
.fl {float: left;}
.fr {float: right;}
.vm {vertical-align: middle;}
.vt {vertical-align: top;}
.pr {position: relative;}
.pa {position: absolute;}
.none { display: none }
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.mb30{margin-bottom:30px;}
.mb50{margin-bottom:50px;}
/*content*/
.y_ys2 a span:before,
.y_ys3 a span:before,
.y_rich>p.zhuang i{background: url(../images/weixin-activity/yb_icon.png) no-repeat;background-size:22px 60px;}

html{height:100%;}
body{background:#fff6e4;min-height:100%;}
.y_top{height:318px;overflow: hidden;position: relative;background: url(../images/weixin-activity/hongbao.jpg) no-repeat top center;background-size:360px 318px;border-top:1px solid #dddddd;}
.peo{margin:42px 20px 0;overflow: hidden;min-height:60px;}
.peo .person{width:41px;height:41px;float: left;overflow: hidden;margin-right: 10px;}
.peo .person img{width: 41px;height:41px;}
.peo>.con{overflow:hidden;position: relative;}
.peo>.con p{line-height:18px;color:#333;padding:10px 0;margin-left:8px;background:#fff;border:1px solid #ebcdae;border-radius:5px;text-align: center;}
.peo>.con p:before{content:'';position: absolute;z-index:99;width: 9px;height:12px;left:0px;top:8px;background: url(../images/weixin-activity/y_jt.png) no-repeat;background-size:9px 12px;}
.y_je{position: absolute;width: 130px;top:200px;left:50%;margin-left:-65px;}
.y_je>span{font-size:12px;color:#fff;overflow: hidden;text-align: center;display: block;line-height:26px;}
.y_je p{height:41px;text-align: center;border-radius:20px;border: 2px dashed #fff;line-height:41px;font-size:18px;color:#fff;}
.y_je p span{font-size:31px;font-weight: bold;}
.y_je p em{vertical-align: 3px;}
@media screen and (max-width:320px){
	.y_mob{margin:30px 10px 0;}
	.y_firendsay .con{margin:0 15px 15px;}
}
@media screen and (min-width:360px){
	.y_mob{margin:30px 20px 0;}
	.y_firendsay .con{margin:0 35px 15px;}
	.ybg1{width: 360px;margin:0 auto;}
}
.y_mob{position: relative;border:1px solid #dddddd;border-radius:5px;padding:16px 24px;}
.y_mob h3{height:20px;line-height:20px;width:280px;position: absolute;top:-10px;font-size:12px;color:#333;background:#fff6e4;z-index: 88;left:50%;margin-left:-140px;text-align: center;}
.y_mob .con{height:35px;position: relative;background:#fff;border:1px solid #aaaaaa;box-shadow: inset 4px 6.928px 8px 0px rgba(1, 1, 1, 0.047);}
.y_mob .con input{position: absolute;width:100%;text-align: center;height: 100%;background: no-repeat;border:none;-webkit-appearance: none;outline: none;font-size: 12px;color:#333;}
.y_mob .con input::-webkit-input-placeholder{color:#bbb;}
.y_war{padding:11px 0;text-align: center;overflow: hidden;line-height:18px;font-size:12px;color:#e94828;}
.y_ys1{margin:0 20px;height:45px;border-bottom:3px solid #bd4019;line-height:48px;text-align: center;background:#ed5526;border-radius:5px;}
.y_ys1 a{display: block;overflow: hidden;color:#ffffff;font-size:18px;}
.y_firendsay{overflow: hidden;}
.y_firendsay h2{height:19px;line-height:19px;overflow: hidden;position: relative;text-align: center;margin:0 20px 25px;}
.y_firendsay h2 span{color:#cc9966;position: relative;z-index:8;padding:0 12px;background:#fff6e4;}
.y_firendsay h2 strong{position: absolute;display: block;left:0;top:9px;right: 0;display: block;height:1px;background:#ebcdae;z-index:6;}
.y_firendsay .con{overflow: hidden;}
.y_firendsay .con li{overflow: hidden;margin-bottom:15px;}
.y_firendsay .con li figure{width:41px;height:41px;float: left;overflow: hidden;margin-right:9px;border-radius:50%;}
.y_firendsay .con li figure img{width: 41px;height:41px;}
.y_firendsay .con li .ent{overflow: hidden;}
.y_firendsay .con li .ent h5{overflow: hidden;height:23px;line-height:23px;font-size:12px;color:#333;margin-bottom:3px;margin-left:8px;}
.y_firendsay .con li .ent h5 em{color:#e94828;padding-left:15px;}
.y_firendsay .con li .ent h5 span{float: right;color:#aaaaaa;}
.y_firendsay .con li .ent p{line-height:18px;padding:4px 0 4px 25px;background:#fff;border:1px solid #ebcdae;border-radius:5px;position: relative;margin-left:8px;font-size:12px;}
.y_firendsay .con li .ent p:before{content:'';position: absolute;z-index:99;width: 9px;height:12px;left:-9px;top:4px;background: url(../images/weixin-activity/y_jt.png) no-repeat;background-size:9px 12px;}
.y_top2{height:280px;overflow: hidden;position: relative;background: url(../images/weixin-activity/hongbao2.jpg) no-repeat top center;background-size:360px 280px;border-top:1px solid #dddddd;}
.y_ts{font-size:12px;color:#cc9966;text-align: center;overflow: hidden;line-height:18px;margin-top:50px;}
.y_ts span{color:#e94828;font-weight: bold;}
.y_money{position: absolute;width:160px;height:60px;line-height:60px;top:178px;left:50%;margin-left:-80px;font-size:18px;color:#fff;text-align: center;}
.y_money em{font-size:43px;font-weight:bold;}
.y_money span{vertical-align: 3px;}
.y_shuo{text-align: center;line-height:18px;color:#333;font-size:12px;margin:23px 0 37px;}
.y_shuo em{font-weight: bold;color:#e94828;}
.y_ys2,.y_ys3{margin:0 20px;border-radius:5px;height:45px;line-height:48px;border-bottom:3px solid #f3be61;text-align: center;background:#ffdd65;}
.y_ys2 a,.y_ys3 a{display: block;overflow:hidden;font-size:18px;color:#a74300;}
.y_ys2 a span,.y_ys3 a span{padding-left:35px;position: relative;}
.y_ys2 a span:before{content:'';position: absolute;width:22px;height:20px;left:0;top:50%;margin-top:-10px;background-position:0 0;}
.y_gui{width:80px;display: block;border-radius:5px;background:#9f9788;height:27px;line-height:27px;text-align: center;margin:19px auto 33px;font-size:12px;color:#fff6e4;text-decoration: underline;}
.y_gui span{padding-right:9px;position: relative;}
.y_gui span:after{content:'';position: absolute;width:4px;height:4px;border-top:1px solid #fff;border-right:1px solid #fff;right:2px;top:50%;margin-top:-2px;-webkit-transform: rotate(45deg);}
.y_fu{position: fixed;z-index:999;width: 100%;height:100%;top:0;left:0;background: rgba(0,0,0,0.7);}
.y_fu i.jt{position: absolute;width:79px;height:95px;right: 20px;top:15px;background: url(../images/weixin-activity/y_fx.png) no-repeat;background-size:79px 95px;}
.y_fu p.sm{line-height:30px;text-align: center;color:#fff;font-size:18px;overflow: hidden;margin-top:103px;}
.y_fu a.y_ok{display: block;width: 270px;height: 45px;line-height:48px;border-bottom: 3px solid #9b250d;text-align: center;font-size:18px;color:#fff;border-radius: 5px;box-shadow:0px 4px 10px #21201d;background:#e94828;margin:55px auto 0;}
.y_top3{height:416px;overflow: hidden;position: relative;background: url(../images/weixin-activity/over.jpg) no-repeat top center;background-size:360px 416px;border-top:1px solid #dddddd;}
.y_ys3 a span:before{content:'';position: absolute;width:22px;height:20px;left:0;top:50%;margin-top:-10px;background-position:0 -38px;}
.ybg1{overflow: hidden;}
.ybg1 .con li .ent h5{color:#fff;}
.ybg1 .con li .ent h5 em{color:#ffff99;}
.ybg1 .con li .ent h5 span{color:#ff9971;}
.ybg1 h2 span{background:#f25d24;color:#ff9971;}
.y_rich{height: 380px;overflow: hidden;position: relative;background: url(../images/weixin-activity/y_jiangjin.jpg) no-repeat top center #fff6e4;background-size:375px 380px;}
.ypeo2{margin:40px 20px 0;overflow: hidden;overflow: hidden;}
.ypeo2 figure{width: 41px;height:41px;float: left;margin-right:12px;}
.ypeo2 figure img{width: 41px;height:41px;}
.ypeo2 p{margin-top:3px;overflow: hidden;color:#cc9966;line-height:18px;font-size:12px;}
.ypeo2 p em{font-weight: bold;color:#e94828;}
.y_rich .mon{position: absolute;height:50px;line-height:50px;width: 90px;top:120px;left:50%;margin-left:-45px;color:#fff;text-align: center;}
.y_rich .mon em{font-size:34px;line-height:34px;}
.y_rich .mon span{font-size:12px;vertical-align:3px;}
.y_rich>a.yuse{position: absolute;display: block;width:80px;height:27px;background:#9e4212;border-radius:5px;font-size:12px;color:#fe9354;text-align: center;line-height:27px;text-decoration: underline;top:220px;left:50%;margin-left:-40px;}
.y_rich>p.zhuang{font-size:12px;color:#333333;line-height:18px;position: absolute;text-align: center;bottom:20px;left:0;width: 100%;}
.y_rich>p.zhuang em{color:#ffffff;}
.y_rich>p.zhuang i{display:inline-block;overflow: hidden;width: 17px;height:17px;background-position:0 -21px;margin-right:5px;vertical-align: -3px;}
.yb_tz{height:30px;line-height:30px;background:#9B250D;text-align: center;color:#FFF6E4;}
.y_wra_bg{background:#f35f24;}
.y_bgfff{background:#fff;}
.yb_wra_hb{margin:45px 0 20px;overflow: hidden;}
.yb_st{width: 295px;height:261px;margin:0 auto;overflow: hidden;}
.yb_st img{width: 295px;height:261px;}
.yb_hb_sm{height:50px;margin:0 20px;line-height:50px;text-align: center;font-size:15px;color:#fff;font-weight: bold;background:#ff9000;position:relative;}
.yb_hb_sm:before{position: absolute;content:'';width: 15px;height: 50px;left:0;top:0;z-index:9;background: url(../images/weixin-activity/jiao.png) no-repeat;background-size:15px 50px;}
.yb_hb_sm:after{position: absolute;content:'';width: 15px;height: 50px;right:0;top:0;z-index:9;background: url(../images/weixin-activity/jiao.png) no-repeat;background-size:15px 50px;-webkit-transform:rotate(180deg);}
.yb_hb_sm i{display: inline-block;width: 29px;height:29px;border-radius:50%;background:#fff;text-align: center;line-height:29px;color:#ff9000;font-size:23px;font-style: normal;margin-right:7px;vertical-align: -2px;}
.y_ji{padding:0 20px 5px;overflow: hidden;}
.y_ji h3{height:21px;line-height:21px;overflow: hidden;position: relative;text-align: center;}
.y_ji h3 span{color:#e94828;position: relative;z-index:8;padding:0 28px;background:#fff;font-size:15px;font-weight: bold;}
.y_ji h3 strong{position: absolute;display: block;left:0;top:10px;right: 0;display: block;height:1px;background:#ebcdae;z-index:6;}
.y_ji p{font-size:12px;color:#333333;padding:15px 16px;line-height:18px;overflow: hidden;}