<!--账户总览-->
<div class="right-area account-overview fl padding-b-30" >
	<!--资产收益走势图  -->
	<div class="profit-chart">
		<p class="chart-title ft-16 ft-grey666 margin-b-0">资产收益走势图</p>
		<div class="tabs row margin-l-0 margin-r-0 position-re" ng-init = "tab = 0">
		  	<div class="toggle-tab col-md-4 ft-b cursor-pointer margin-b-30 {{tab === 0 ? 'credit-toggle2' : ''}}" ng-click="tab = 0">累计</div>
		  	<div class="toggle-tab col-md-4 ft-b cursor-pointer margin-b-30 {{tab === 1 ? 'credit-toggle2' : ''}}" ng-click="tab = 1">每日</div>
		</div>
		<!-- 累计图 -->
		<div class="main col-md-12" style="min-height:377px;" ng-if="tab === 0">
			 <div class="col-md-10 col-md-offset-1 text-center padding-0 ft-grey666">
			    <canvas id="line" class="chart-line display-bl margin-auto" chart-data="yearlyData"
			    chart-labels="labels" chart-options="options"
			    chart-click="onClick" chart-colours="medals_colours" data-dataset="datasets" height="346" width="700">
			    </canvas >
			    <div class="clearfix">
			    	<img src="/images/user-center/pre.png" class="fl display-inbl margin-l--30 cursor-pointer" ng-click="toggleYear('pre')">
			    	<img src="/images/user-center/next.png" class="fr display-inbl margin-r--30 cursor-pointer" ng-click="toggleYear('next')">
			    </div>
			    <p class="text-center ft-grey666 ft-14 margin-t-20"><span class="line margin-b-5"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{chartYear}}年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="line margin-b-5"></span></p>
			 </div>
		</div>	
		<!-- 每日图 -->
		<div class="main col-md-12" style="min-height:377px;" ng-if="tab === 1">
			 <div class="col-md-10 col-md-offset-1 text-center padding-0 ft-grey666">
			    <canvas id="line" class="chart-line display-bl margin-auto" chart-data="dailyData"
			    chart-labels="dailyLabels" chart-options="options"
			    chart-click="onClick" chart-colours="medals_colours" height="346" width="700">
			    </canvas >
			    <div class="clearfix">
			    	<img src="/images/user-center/pre.png" class="fl display-inbl margin-l--30 cursor-pointer">
			    	<img src="/images/user-center/next.png" class="fr display-inbl margin-r--30 cursor-pointer">
			    </div>
			    <p class="text-center ft-grey666 ft-14 margin-t-20"><span class="line margin-b-5"></span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2017年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="line margin-b-5"></span></p>
			 </div>
		</div>	
	</div>
</div>
