<!--账户总览-->
<div class="right-area account-overview fl padding-b-30 bg-offWhite">
  <!-- 可用余额模块 -->
  <div class="avails-balance margin-b-30">
    <div class="col-md-4 clearfix">
      <div class="balance-txt fl ft-16">可用余额 :</div>
      <div class="balance-amount fl ft-orange6 ft-30 ft-Arial">{{account.balance| number:2}}</div>
    </div>
    <div class="col-md-4 shortcut-key">
      <span class="invest invest-default" ui-sref="root.guaranteepro-list-query({status: '7,8,9,10,11,12', minCycle: '0', maxCycle: '100', minEarning: '0', maxEarning: '100', minTotalAmount: '0', maxTotalAmount: 200000000, sortCondition: 'release_start_time', sortType: false, type: 5 })">投资</span>
      <span class="recharge" ui-sref="root.userCenter.recharge">充值</span>
      <span class="withdraw margin-r-0" ui-sref="root.userCenter.withdraw">提现</span>
    </div>
    <div class="col-md-4 ft-14 coupons">
      <div class="cash-coupon margin-l-30 margin-r-30" ui-sref="root.userCenter.cash-coupon">
          <span class="cash-icon"></span>
          <span class="ft-grey666 cash-txt">现金券 <span class="ft-orange6 ft-Arial"> {{unUsedCashCoupon || 0}} </span>张</span>
      </div>
      <div class="rate-coupon" ui-sref="root.userCenter.rate-coupon">
          <span class="rate-icon"></span>
          <span class="ft-grey666 rate-txt">加息券 <span class="ft-orange6 ft-Arial"> {{unUsedRateCoupon || 0}} </span>张</span>
      </div>
    </div>
  </div>
  <!-- 昨日收益、累计收益、资产总额统计 -->
  <div class="account-profit margin-b-30">
    <div class="earnings-yesterday col-md-4 border-r-e">
      <div class="ft-36 ft-grey1 margin-b-20 margin-t-50 ft-Arial">{{yestodayProfit || 0 | number: 2}}</div>
      <div class="ft-14 ft-grey666">昨日收益 ( 元 ) </div>
    </div>
    <div class="accumulated-income col-md-4 border-r-e">
      <div class="ft-36 ft-grey1 margin-b-20 margin-t-50 ft-Arial">{{account.receivedProfit || 0 | number:2}}</div>
      <div class="ft-14 ft-grey666">已收收益 ( 元 ) </div>
    </div>
    <div class="total-assets col-md-4">
      <div class="ft-36 ft-grey1 margin-b-20 margin-t-50 ft-Arial">{{account.balance + account.waitingCapital + account.waitingProfit + account.freezeCapital || 0 | number:2}}</div>
      <div class="ft-14 ft-grey666">资产总额 ( 元 ) 
        <span class="total-assets-tips" toggle-fade></span>
        <div class="sidebar-tip-top">
          <p><span class="fl margin-r-10">账户余额 ( 元 ) : </span><span class="fr">{{account.balance || 0 | number:2}}</span></p>
          <p><span class="fl margin-r-10">待收本金 ( 元 ) : </span><span class="fr">{{account.waitingCapital + account.freezeCapital || 0 | number:2}}</span></p>
          <p><span class="fl margin-r-10">待收收益 ( 元 ) : </span><span class="fr">{{account.waitingProfit || 0 | number:2}}</span></p>
        </div>
      </div>
    </div>
  </div>
  <!--资产收益走势图  -->
  <div class="profit-chart margin-b-30">
    <p class="chart-title ft-16 ft-grey666 margin-b-0">资产收益走势图</p>
    <div class="tabs row margin-l-0 margin-r-0 position-re" ng-init = "tab = 0">
        <div class="toggle-tab col-md-4 ft-b cursor-pointer margin-b-30 {{tab === 0 ? 'credit-toggle2' : ''}}" ng-click="tab = 0;currentYear = currentYearCopy;toReceiveTab()">已收收益</div>
        <div class="toggle-tab col-md-4 ft-b cursor-pointer margin-b-30 {{tab === 1 ? 'credit-toggle2' : ''}}" ng-click="tab = 1;currentYear = currentYearCopy;toggleDate(2, 1)">每日</div>
    </div>
    <!-- 累计图 -->
    <div class="main col-md-12" style="min-height:377px;" ng-if="tab === 0">
       <div class="col-md-10 col-md-offset-1 text-center padding-0 ft-grey666">
          <canvas id="line" class="chart-line display-bl margin-auto" chart-data="yearlyData"
          chart-labels="labels" chart-options="options"
          chart-click="onClick" chart-colours="medals_colours" data-dataset="datasets" height="346" width="700">
          </canvas >
          <div class="clearfix">
            <img src="/images/user-center/pre.png" class="fl display-inbl margin-l--30 {{registerDiff > 180 && currentYear > registerYear || registerDiff <= 180 && n < xFrame ? 'cursor-pointer' : 'btn-disabled'}}" ng-click="toggleYear(0)">
            <img src="/images/user-center/next.png" class="fr display-inbl margin-r--30 {{registerDiff > 180 && currentYear === currentYearCopy || registerDiff <= 180 && n <= 0 ? 'btn-disabled' : 'cursor-pointer'}}" ng-click="toggleYear(1)">
          </div>
          <p class="text-center ft-grey666 ft-14 margin-t-20"><!-- <span class="line margin-b-5"></span> -->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- <span class="line margin-b-5"></span> --></p>
       </div>
    </div>  
    <!-- 每日图 -->
    <div class="main col-md-12" style="min-height:377px;" ng-if="tab === 1">
       <div class="col-md-10 col-md-offset-1 text-center padding-0 ft-grey666">
          <canvas id="line" class="chart-line display-bl margin-auto" chart-data="dailyData"
          chart-labels="dailyLabels" chart-options="options"
          chart-click="onClick" chart-colours="medals_colours" height="346" width="700">
          </canvas >
          <div class="clearfix">
            <img src="/images/user-center/pre.png" class="fl display-inbl margin-l--30 {{n < xFrame ? 'cursor-pointer' : 'btn-disabled'}}" ng-click="toggleDate(0)">
            <img src="/images/user-center/next.png" class="fr display-inbl margin-r--30 {{n <= 0 ? 'btn-disabled' : 'cursor-pointer'}}" ng-click="toggleDate(1)">
          </div>
          <p class="text-center ft-grey666 ft-14 margin-t-20"><!-- <span class="line margin-b-5"></span> -->&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<!-- <span class="line margin-b-5"></span> --></p>
       </div>
    </div>  
  </div>
  <!-- 回款日历 -->
  <div class="return-calendar">
    <h2 class="account-title">
      <span class="fl c3">回款日历</span>
    </h2>
    <div class="profit-title">
      <!-- <div class="f-btn-fhby fr">返回本月</div> -->
      <a class="select-payment fl clearfix" ng-click="selectPaymentBox();">
        <div class="payment-type fl">{{paymentRequest || '当月'}}回款</div>
        <div class="payment-amount fr">
          <span class="margin-r-5">{{paymentTotalAmount | number: 2 || 0.00}}元 | {{paymentTotalCount || 0}}笔 </span>
          <i class="fa fa-angle-down ft-24" aria-hidden="true" ng-show="!showPaymentBox && paymentTotalCount>0"></i>
          <i class="fa fa-angle-up ft-24" aria-hidden="true" ng-show="showPaymentBox && paymentTotalCount>0"></i>
        </div>
      </a>
      <div class="payment-box carousel slide" id="carousel-generic" data-interval="false" ng-show="showPaymentBox">
        <ul class="carousel-inner margin-b-0" role="listbox">
          <li class="item " ng-class="{'active':$index==0}" ng-repeat="item in creditBills">
            <p>项目名称：{{item.projectName}}</p>
            <p>年均回报率 : {{item.baseRate}}%</p>
            <p>回款类型 : {{item.principal >0 ? '本息' : '利息'}}{{item.repaymentNo}}期</p>
            <p>回款金额 : <span class="ft-orange">{{item.principal + item.profit + ((item.baseRate + item.riseRate + item.couponRate) * item.profit/item.baseRate + item.riseRate - item.profit) | number: 2}}</span>元</p>
          </li>
        </ul>
        <a ng-if="creditBills.length>1">
          <span  href="#carousel-generic"  role="button" data-slide="next" class="fr">下一笔</span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="clearfix fr">
        <div class="f-btn-jian fl" ng-click="lastMonth();"></div><div class="fl f-riqi"><span class="f-year">{{calendar_year || '2017'}}</span>-<span class="f-month">{{calendar_month || '01'}}</span></div><div class="f-btn-jia fl" ng-click="nextMonth();"></div><!-- 一定不能换行-->
      </div>
    </div>
    <div class="table-box">
      <div class="f-rili-table">
        <div class="f-rili-head celarfix">
          <div class="f-rili-th">一</div>
          <div class="f-rili-th">二</div>
          <div class="f-rili-th">三</div>
          <div class="f-rili-th">四</div>
          <div class="f-rili-th">五</div>
          <div class="f-rili-th">六</div>
          <div class="f-rili-th">日</div>
          <div class="clear"></div>
        </div>
        <div class="f-tbody clearfix">
        </div>
      </div>
    </div>
  </div>
</div>

