<!--资产总览-->
<div class="right-area right-assets-height">
    <div class="right-title">资产总览</div>
    <!--这个图片是临时图片，应该是用控件实现饼图-->
    <div class="assets-pic"></div>
    <div class="left-message">
        <div class="left-message-show">
            <div class="assets-ico available-balance"></div>
            <p class="asset-tips">可用余额</p>
            <p class="asset-money">{{ Variables || "588.00"}}元</p>
        </div>
        <div class="left-message-show">
            <div class="assets-ico proceeds-to-be-received"></div>
            <p class="asset-tips">待收收益</p>
            <p class="asset-money">{{ Variables || "2000.00"}}元</p>
        </div>
        <div class="left-message-show last-show">
            <div class="assets-ico principal-amount-to-be-received"></div>
            <p class="asset-tips">待收本金</p>
            <p class="asset-money">{{ Variables || "78000.00"}}元</p>
        </div>
    </div>
    <div class="right-message">
        <div class="left-message-show">
            <div class="assets-ico freezing-of-funds"></div>
            <p class="asset-tips">冻结资金</p>
            <p class="asset-money">{{ Variables || "20000.00"}}元</p>
        </div>
        <div class="left-message-show">
            <div class="assets-ico income-received"></div>
            <p class="asset-tips">已收收益</p>
            <p class="asset-money">{{ Variables || "588.00"}}元</p>
        </div>
        <div class="left-message-show last-show">
            <div class="assets-ico accumulated-investment"></div>
            <p class="asset-tips">累计投资</p>
            <p class="asset-money">{{ Variables || "100000.00"}}元</p>
        </div>
    </div>
</div>
