<!--银行卡管理-->
<div class="right-area safeset-height">
    <div class="right-title">银行卡管理</div>

    <!--start 添加银行卡 -->
    <!-- <p class="title padding-l">添加银行卡</p> -->
    <div class="verify-area border-none">
        <form>
            <!-- <div class="form-group">
                <label>持卡人：</label>
                <input type="text" class="verify-input" />
            </div>
            <div class="form-group">
                <label>银行：</label>
                <select class="bank-list">
                    <option value ="中国工商银行">中国工商银行</option>
                    <option value ="中国交通银行">中国交通银行</option>
                    <option value="招商银行">招商银行</option>
                </select>
            </div>
            <div class="form-group">
                <label>卡号：</label>
                <input type="text" class="verify-input" />
            </div>
            <div class="form-group">
                <label>开户城市：</label>
                <select id="Select1" class="" name="province">
                    <option value ="请选择">请选择</option>
                </select>
                <select id="Select2" class="" name="city">
                    <option value ="请选择">请选择</option>
                </select>
            </div>
            <div class="form-group">
                <label>开户行：</label>
                <input type="text" class="verify-input" />
            </div> -->
            <!-- <input type="button" value="立即认证" class="verify-button" /> -->
            <input type="submit" class="verify-button account-button margin-l" value="添加" ng-click="bindBankCard()">
            <!-- <input type="reset" class="get-verify-button account-button account-right-button" value="取消"> -->
        </form>
        <p class="tip ft-12">
            温馨提示
            <br>
            为确保您的资金划转安全高效，宏财建议您完善开户行信息。您只需在分支行框内输入分支行关键词。
            <br>
            比如您的开户行名称为“工商银行北京宣武门支行”，只需输入关键词“宣武”即可。如果推荐列表中没有符合关键词的信息，请您务必在列表中选择开户城市的的银行分行，如：工商银行北京市分行营业部。
        </p>
    </div>
    <!--end 添加银行卡 -->

    <!--start 安全认证提示 -->
    <p class="title verify-tip" style="display:none;">您未完成安全认证，请前往<a href="#/security-settings">【安全设置】</a>更新状态</p>
    <!--end 安全认证提示 -->

    <!--start 银行卡展示 -->
    <p class="title" style="display:none;">
        <img class="bank-img" src="#" width="215" height="145"/><!-- 数据绑定 -->
    </p>
    <!--end 银行卡展示 -->
</div>
