<!--银行卡管理-->
<div class="back-ground safeset-height" ng-controller="UserCenterCtrl">
    <div class="main-area">
        <div class="left-area">
            <div class="personal-information">
                <!--临时头像-->
                <div class="left-user-head"></div>
                <p class="p-user-name">{{ username || "天天天a天天投资"}}</p>
                <div class="safe-pic card-ok"></div>
                <div class="safe-pic phone-no"></div>
                <div class="safe-pic mail-no"></div>
                <div class="security-level"></div>
                <p class="p-security-level">安全等级：{{ Variables || "低"}}</p>
                <a href="/#/security-settings" class="a-up-level">【提升】</a>
            </div>
            <p class="center-tips">我的账户</p>
            <a ui-sref="root.account-overview" class="tips-area">
                <div class="ico-area grey-account"></div>
                <p>账户总览</p>
            </a>
            <a ui-sref="root.basic-information" class="tips-area">
                <div class="ico-area grey-basic"></div>
                <p>基本信息</p>
            </a>
            <a ui-sref="root.bankcard-management" class="tips-area tips-show">
                <div class="left-show-area"></div>
                <div class="ico-area red-bankcard"></div>
                <p class="now">银行卡管理</p>
            </a>
            <a ui-sref="root.security-settings" class="tips-area">
                <div class="ico-area grey-safeset"></div>
                <p>安全设置</p>
            </a>
            <p class="center-tips">资产管理</p>
            <a ui-sref="root.assets-overview" class="tips-area">
                <div class="ico-area grey-assets"></div>
                <p>资产总览</p>
            </a>
            <a ui-sref="root.recharge" class="tips-area">
                <div class="ico-area grey-recharge"></div>
                <p>充值</p>
            </a>
            <a ui-sref="root.withdraw" class="tips-area">
                <div class="ico-area grey-withdraw"></div>
                <p>提现</p>
            </a>
            <a ui-sref="root.record" class="tips-area">
                <div class="ico-area grey-record"></div>
                <p>支付记录</p>
            </a>
            <p class="center-tips">投资管理</p>
            <a ui-sref="root.investment" class="tips-area">
                <div class="ico-area grey-investment"></div>
                <p>投资产品</p>
            </a>
            <p class="center-tips">消息管理</p>
            <a ui-sref="root.news" class="tips-area">
                <div class="ico-area grey-news"></div>
                <p>站内消息</p>
            </a>
        </div>
        <div class="right-area">
            <div class="right-title">银行卡管理</div>
            <p class="title padding-l">添加银行卡</p>
            <div class="verify-area border-none">
                <form>
                    <div class="form-group">
                        <label>持卡人：</label>
                        <input type="text" class="verify-input" />
                    </div>
                    <div class="form-group">
                        <label>银行：</label>
                        <select class="bank-list">
                            <option value ="中国工商银行">中国工商银行</option>
                            <option value ="中国交通银行">中国交通银行</option>
                            <option value="招商银行">招商银行</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>卡号：</label>
                        <input type="text" class="verify-input" />
                    </div>
                    <div class="form-group">
                        <label>开户城市：</label>
                        <select id="Select1" class="" name="province">
                            <option value ="请选择">请选择</option>
                        </select>
                        <select id="Select2" class="" name="city">
                            <option value ="请选择">请选择</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>开户行：</label>
                        <input type="text" class="verify-input" />
                    </div>
                    <!-- <input type="button" value="立即认证" class="verify-button" /> -->
                    <input type="submit" class="verify-button account-button margin-l" value="添加">
                    <input type="reset" class="get-verify-button account-button account-right-button" value="取消">
                </form>
                <p class="tip ft-12">
                    温馨提示
                    <br>
                    为确保您的资金划转安全高效，宏财建议您完善开户行信息。您只需在分支行框内输入分支行关键词。
                    <br>
                    比如您的开户行名称为“工商银行北京宣武门支行”，只需输入关键词“宣武”即可。如果推荐列表中没有符合关键词的信息，请您务必在列表中选择开户城市的的银行分行，如：工商银行北京市分行营业部。
                </p>
            </div>
        </div>
    </div>
</div>