<!--基本信息-->
<div class="right-area safeset-height">
    <div class="right-title">基本信息</div>
    <div class="basic-area">
        <div class="right-user-head"></div>
        <div class="right-user-message">
            <div class="right-tips-area">
                <p class="right-tips">用户名：{{loginName}}</p>
                <p class="activity hadset">{{ "已确定"}}</p>
                <div class="check-ok"></div>
            </div>
            <div  class="right-tips-area">
                <p class="right-tips">邮箱：{{email}}</p>
                <p class="activity">{{ isEmailActive || "认证"}}</p>
                <div></div>
            </div>
            <div  class="right-tips-area">
                <p class="right-tips">真实姓名：{{realName}}</p>
                <p class="activity"><a href="/#/realname-authentication">{{ realNameAuthStatus || "认证"}}</a></p>
                <div></div>
            </div>
            <div  class="right-tips-area">
                <p class="right-tips">身份证号码: {{idNo}}</p>
                <p class="activity"><a href="/#/realname-authentication">{{ realNameAuthStatus || "认证"}}</a></p>
                <div></div>
            </div>
            <div  class="right-tips-area">
                <p class="right-tips">手机号码:{{mobile}}</p>
                <p class="activity">{{ Variables || "认证"}}</p>
                <div></div>
            </div>
        </div>
    </div>
    <div class="verify-area" ng-show="!isRealNameAuth">
        <p class="title">为了保障您的资产和账号安全，请进行认证</p>
        <form>
            <div class="form-group">
                <label>真实姓名：</label>
                <input type="text" class="verify-input" />
            </div>
            <div class="form-group">
                <label>身份证号：</label>
                <input type="text" class="verify-input" />
            </div>
            <input type="button" value="立即认证" class="verify-button" />
        </form>
    </div>
    <div class="verify-area">
  </div>
</div>
