<div class="userCenter-credit right-area record col-md-8 col-lg-9" >
  <div class="row">
    <div class="right-title">债权详情</div>
    <a class="pull-right padding-r-15 text-unline" ui-sref="root.userCenter.credit">返回债权列表</a>
  </div>
  <table class="table table-bordered margin-t-30">
    <thead>
      <tr>
        <th>项目名称</th>
        <th>当前年化收益率</th>
        <th>封闭期</th>
        <th>项目预计收益</th>
        <th>持有债权</th>
        <th>已收收益</th>
        <th>待收收益</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ productsMap[project.productId].name + order.projectName }}</td>
        <td>{{ creditRight.baseRate + creditRight.riseRate }}%</td>
        <td>{{ productsMap[project.productId].sealingDays }}</td>
        <td>{{ creditRight.profit | number:2 }}</td>
        <td>{{ creditRight.amount | number:2 }}</td>
        <td>{{ creditRight.returnProfit | number:2 }}</td>
        <td>{{ creditRight.profit-creditRight.returnProfit | number:2 }}</td>
      </tr>
    </tbody>
  </table>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="page-header"><i class="fa fa-square hc-text-red"></i> 项目历程</h4>
        <ul class="timeline">
          <li>
            <div class="timeline-badge success"><i class="fa fa-rocket"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title border-b padding-b-15">项目投标<small class="pull-right">{{ order.createTime | date:'yyyy-MM-dd'}}</small></h4>
                
              </div>
              <div class="timeline-body">
                <p><strong>{{ order.orderAmount | number: 2 }}</strong>元</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge" ng-class="{'success':project.status === 4 || project.status === 5}"><i class="fa fa-users"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title border-b padding-b-15">项目放款<small class="pull-right">{{ project.loanTime | date:'yyyy-MM-dd'}}</small></h4>
              </div>
              <div class="timeline-body">
                <p><strong>{{ order.payAmount | number: 2 }}</strong>元</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted" ng-repeat="item in creditRightBillList">
            <div class="timeline-badge success"><i class="fa fa-tree"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title border-b padding-b-15">项目回款<small class="pull-right">{{ item.successTime | date:'yyyy-MM-dd'}}</small></h4>
              </div>
              <div class="timeline-body">
                <p><strong>{{item.amount | number: 2 }}&nbsp;元</strong></p>
                <p><small>利息{{ item.profit | number: 2 }}&nbsp; + &nbsp;本金{{ item.principal | number: 2 }}</small></p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted" ng-if="creditRightBillList.length === 0">
            <div class="timeline-badge"><i class="fa fa-list-ol"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title border-b padding-b-15">项目待回款<small class="pull-right">{{ project.repaymentDate | date:'yyyy-MM-dd'}}</small></h4>
              </div>
              <div class="timeline-body">
                <p ng-if="creditRight.isRepeatInvest === 1">待回款：<strong>{{ creditRight.profit | number: 2 }}</strong>元（利息）</p>
                <p ng-if="creditRight.isRepeatInvest === 2">待回款：<strong>利息{{ creditRight.profit | number: 2 }}&nbsp; + &nbsp;本金{{ creditRight.payAmount | number: 2 }}</strong>元</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
