<div class="userCenter-credit right-area record col-md-8 col-lg-9" >
  <div class="row">
   <div class="right-title">债权详情</div>
   <a class="pull-right padding-r-15 text-unline" ui-sref="root.userCenter.credit">返回债权列表</a>
  </div>
  <table class="table table-bordered margin-t-30">
    <thead>
      <tr>
        <th>项目名称</th>
        <th>年化收益率</th>
        <th>项目期限</th>
        <th>项目预计收益</th>
        <th>持有债权</th>
        <th ng-show="creditIsShowedFLAG">已转出债权</th>
        <th>已收收益</th>
        <th>待收收益</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ order.projectName }}</td>
        <td>{{ project.annualEarnings }}%</td>
        <td>{{ project.cycle }}期</td>
        <td>{{ creditRight.profit | number:2 }}</td>
        <td>{{ creditRight.transferableAmount | number:2 }}</td>
        <td ng-show="creditIsShowedFLAG">{{  creditRight.transferingAmount | number:2 }}</td>
        <td>{{ creditRight.returnProfit | number:2 }}</td>
        <td>{{ creditRight.profit-creditRight.returnProfit | number:2 }}</td>
      </tr>
    </tbody>
  </table>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <h4 class="page-header"><i class="fa fa-square ft-orange"></i> 项目历程</h4>
        <ul class="timeline">
          <li>
            <div class="timeline-badge success"><i class="fa fa-rocket"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title border-b padding-b-15">项目投标<small class="pull-right">{{ order.createTime | date:'yyyy-MM-dd'}}</small></h4>
                
              </div>
              <div class="timeline-body">
                <p><strong>{{ order.orderAmount | number: 2 }}</strong>元</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge" ng-class="{'success':project.status === 9 || project.status === 10}"><i class="fa fa-users"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title border-b padding-b-15">项目放款
                  <small class="pull-right" ng-if="project.loanTime > 0">{{ project.loanTime | date:'yyyy-MM-dd'}}</small>
                  <small class="pull-right" ng-if="project.loanTime <= 0">未放款</small>
                </h4>
              </div>
              <div class="timeline-body">
                <p><strong>{{ order.orderAmount | number: 2 }}</strong>元</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted" ng-repeat="item in creditRightBillList">
            <div class="timeline-badge success"><i class="fa fa-tree"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title border-b padding-b-15">项目回款<small class="pull-right">{{ item.successTime | date:'yyyy-MM-dd'}}</small></h4>
              </div>
              <div class="timeline-body">
                <p><strong>{{item.amount | number: 2 }}&nbsp;元</strong></p>
                <p><small>利息{{ item.profit | number: 2 }}&nbsp; + &nbsp;本金{{ item.principal | number: 2 }}</small></p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted" ng-repeat="card in listInvPond">
            <div class="timeline-badge"><i class="fa fa-list-ol"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">回款计划<small class="pull-right">{{ card.payDate }}</small></h4>
              </div>
              <div class="timeline-body">
                <p>待回款：<strong>{{ card.invEarnings | number: 2 }}</strong>元</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
