<div class="right-area record col-md-8 col-lg-9">
  <div class="row">
    <div class="right-title">债券转让</div>
  </div>
  <div class="container">
    <div class="row" style="width: 70%">
      <div class="col-xs-12">
        <ul class="nav nav-pills nav-justified thumbnail">
          <li>
            <a>
              <h4 class="list-group-item-heading">步骤1</h4>
              <p class="list-group-item-text">设置转让金金额</p>
            </a>
          </li>
          <li class="active">
            <a>
              <h4 class="list-group-item-heading">步骤2</h4>
              <p class="list-group-item-text">设置折让金</p>
            </a>
          </li>
          <li class="disabled">
            <a>
              <h4 class="list-group-item-heading">步骤3</h4>
              <p class="list-group-item-text">转让信息确认</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="panel panel-default" style="background-color: #F5F5F5">
    <div class="panel-title">
      <i class="fa fa-info-circle"></i>
      {{ '中东担保推荐标20150201001期' }}
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-4">年化收益：{{ '13' }}%</div>
        <div class="col-sm-4">已收收益：{{ '954.22' }}元</div>
        <div class="col-sm-4">投资日期：{{ '2014-01-01' }}</div>
      </div>
      <div class="row">
        <div class="col-sm-4">债券总额：{{ '13' }}%</div>
        <div class="col-sm-4">未收收益：{{ '954.22' }}元</div>
        <div class="col-sm-4">到期日期：{{ '2014-01-01' }}</div>
      </div>
    </div>

  </div>

  <div class="row" ng-show="creditStepFlag === 1">


  </div>
  <div class="row" ng-show="creditStepFlag === 2">

  </div>
  <div class="row" ng-show="creditStepFlag === 3">

  </div>
</div>
