<div class="userCenter-credit right-area fl padding-b-30 bg-offWhite" >
  <div class="main" ng-show="securityStatus.realNameAuthStatus === 1">
    <!-- 数据统计 -->
    <div class="data-statistics row">
      <div class="col-md-4">
        <p class="ft-36 ft-grey1 ft-Arial">{{creditRightStatis.totalInvestAmount || 0 | number:2}}</p>
        <p class="ft-grey666 margin-t-20">累计投资（ 元 ）</p>
      </div>
      <div class="col-md-4">
        <p class="ft-36 ft-orange6 ft-Arial">{{account.receivedProfit || 0 | number: 2}}</p>
        <p class="ft-grey666 margin-t-20">累计收益（ 元 ）</p>
      </div>
      <div class="col-md-4">
        <p class="ft-36 ft-grey1 ft-Arial">5200.00</p>
        <p class="ft-grey666 margin-t-20">代收本息（ 元 ）</p>
      </div>
    </div>

    <!-- 饼图 -->
    <div class="assetDetail" >
      <dl class="assetDetailTable">
        <dt>
          <ul>
            <li class="asset-type-th">资产</li>
            <li class="asset-percent">占比</li>
            <li >总资产</li>
            <li >累计收益</li>
          </ul>
        </dt>
        <dd>
          <ul class="asset-info">
            <a href="/account/invest!p2pindex.action" target="_blank">
              <li class="asset-type">
                <span class="dot-1"></span><span>活期产品</span>
              </li>
              <li class="asset-percent">0%</li>
              <li class="totalAsset">
                <span>0.00元</span>
              </li>
              <li class="totalIncome">
                <span >0.00元</span>
              </li>
            </a>
          </ul>
        </dd>
        <dd>
          <a href="/pc/exchange/user/account" target="_blank">
            <ul>
              <li class="asset-type">
                <span class="dot-2"></span><span>宏金宝</span>
              </li>
              <li class="asset-percent">0%</li>
              <li class="totalAsset">
                <span>0.00元</span>
              </li>
              <li class="totalIncome">
                <span>0.00元</span>
              </li>
            </ul>
          </a>
        </dd>
        <dd>
          <a href="/fund/userFundAction!myFundListPage.action" target="_blank">
            <ul>
              <li class="asset-type">
                <span class="dot-3"></span><span>债权转让</span>
              </li>
              <li class="asset-percent">0%</li>
              <li class="totalAsset">
                <span >0.00元</span>
              </li>
              <li class="totalIncome">
                <span>0.00元</span>
              </li>
            </ul>
          </a>
        </dd>
        <dd>
          <a href="/pc/fof/user/holdList" target="_blank">
            <ul>
              <li class="asset-type">
                <span class="dot-4"></span><span >其他</span>
              </li>
              <li class="asset-percent">0%</li>
              <li class="totalAsset">
                <span>0.00元</span>
              </li>
              <li class="totalIncome">
                <span >0.00元</span>
              </li>
            </ul>
          </a>
        </dd>
      </dl>
      <div class="assetDetailPie" id="assetDetailPie" style="-webkit-tap-highlight-color: transparent; user-select: none; background: transparent;">
        <div style="position: relative; width: 280px; height: 280px; cursor: default;">
          <canvas width="280" height="280" data-zr-dom-id="zr_0" style="position: absolute; left: 0px; top: 0px; width: 280px; height: 280px; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">
          </canvas>
        </div>
      </div>
    </div>

     <!-- tab切换 -->
    <div class="tabs row margin-l-0 margin-r-0 margin-t-30">
      <div class="toggle-tab col-md-4 ft-grey666 cursor-pointer {{tabStatus == 1 ? 'credit-toggle2' : ''}}" ng-click="loadAssignments(currentPage, pageSize, 1)">宏金宝</div>
      <div class="toggle-tab col-md-4 ft-grey666 cursor-pointer {{tabStatus == 2 ? 'credit-toggle2' : ''}}" ng-click="getTranferingAssignmentsList(1,6,'1,2,5')">活期产品</div>
      <div class="toggle-tab col-md-4 ft-grey666 cursor-pointer {{tabStatus == 3 ? 'credit-toggle2' : ''}}" ng-click="getTranferingAssignmentsList(1,6,'3,4')">债权转让</div>
    </div>

    <!-- 二级tab -->
    <div class="row tabs-two">
      <div class="col-md-2 ft-grey666 cursor-pointer padding-r-0 {{searchStatus === 1 ? 'ft-orange6' : ''}}" ng-click="loadCredits(currentPage, pageSize, 1)">投资中 ( {{creditRightStatis.heldingCount || 0}} )</div>
      <div class="col-md-2 ft-grey666 cursor-pointer padding-l-0 margin-l--20 {{searchStatus === 4 ? 'ft-orange6' : ''}}" ng-click="loadCredits(currentPage, pageSize, 4)">已回款 ( {{creditRightStatis.endProfitCount || 0}} )</div>
    </div>

    <!-- 列表 -->
    <!-- 投资中 -->
    <div ng-show="tabStatus == 1 && searchStatus === 1">
      <table class="table-solid border-b-d">
        <thead>
          <tr>
            <th class="th-first">项目名称</th>
            <th>持有债权(元)</th>
            <th>已收收益(元)</th>
            <th>待收收益(元)</th>
            <th>到期时间</th>
            <th class="th-last">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="heldInCreditList.length<=0">
            <td colspan="6">
              <div class="line-h-0">
                <p class="ft-18 ft-grey666 padding-30">暂无记录</p>
                <p><a class="btn btn-primary-orange ft-18 margin-t-20 border-half bg-btn-red padding-l-45 padding-r-45" ui-sref="root.main">浏览项目</a></p>
              </div>
            </td>
          </tr>
          <tr ng-repeat="item in heldInCreditList" class="assignment-left">
            <td class="padding-l-30">
              <a ui-sref="root.project-details({number: item.project.number})" title="{{item.project.name}}" ng-if="item.project.type === 1 || item.project.type === 2 || item.project.type === 6" class="invment-blue5 special-recommend "><span class="assignmentsZhuan text-center" ng-if="item.creditRight.type === 6">转</span>{{ item.creditRight.projectName | limitTo: 15 }}{{item.project.name.length > 15 ? '...':''}}<img ng-show="item.increaseRateCoupon.type == 1" src="/images/rate-coupon.png" alt="使用加息券" class="used-rate"></a>
              <a ui-sref="root.investmentplan-details({number: item.fundsProject.number})" title="{{productsMap[item.fundsProject.productId].name + item.fundsProject.name}}" class="invment-blue5 special-recommend" ng-if="item.project.type === 3"><span class="assignmentsZhuan text-center" ng-if="item.creditRight.type === 6">转</span>{{ item.creditRight.projectName | limitTo: 15 }}<img ng-show="item.increaseRateCoupon.type == 1" src="/images/rate-coupon.png" alt="使用加息券" class="used-rate"></a>
            </td>
            <td>{{ item.creditRight.amount - item.creditRight.transferedAmount || 0 | number:2 }}</td>
            <td>{{ item.creditRight.returnProfit | number:2 }}<span ng-show="item.increaseRateCoupon.type == 1" class="ft-red7">+{{(item.creditRight.baseRate + item.creditRight.riseRate + item.increaseRateCoupon.value) * item.creditRight.returnProfit / (item.creditRight.baseRate + item.creditRight.riseRate) - item.creditRight.returnProfit | number:2 || 0 }}</span></td>
            <td>{{ item.creditRight.profit - item.creditRight.returnProfit | number:2 || 0 }}<span ng-show="item.increaseRateCoupon.type == 1" class="ft-red7">+{{(item.creditRight.baseRate + item.creditRight.riseRate + item.increaseRateCoupon.value) * (item.creditRight.profit - item.creditRight.returnProfit) / (item.creditRight.baseRate + item.creditRight.riseRate) - (item.creditRight.profit - item.creditRight.returnProfit) | number:2 || 0 }}</span></td>
            <td>
              <span ng-if="item.project.type !== 3">{{ item.project.repaymentDate | date:'yyyy-MM-dd' }}</span>
              <span ng-if="item.project.type === 3">{{ item.fundsProject.repaymentDate | date:'yyyy-MM-dd' }}</span>
            </td>
            <td class="th-last cursor-pointer">
              <a type="button" class="btn btn-primary-orange btn-xs border-half bg-btn-red padding-t-0 padding-b-0" ng-click=" putCreditRightInPool(item.creditRightId);" ng-if="item.creditRight.type == 2 && item.creditRight.fundsPoolInOut == 1">转入债权池</a>
              <a type="button" class="btn btn-default btn-xs border-half bg-btn-red padding-t-0 padding-b-0" disabled="disabled" ng-if="item.creditRight.type == 2 && item.creditRight.fundsPoolInOut == 2">已转入债权池</a>
              <a type="button" class=" ft-blue5" ui-sref="root.userCenter.credit-security-details({type: 1,number: item.creditRight.number})" ng-if="item.creditRight.type == 1 || item.creditRight.type == 2 || item.creditRight.type === 6">查看</a>
              <a type="button" class="yu-btn-height btn btn-primary-orange btn-xs border-half bg-btn-red padding-t-0 padding-b-0" ng-if="item.creditRight.type == 3 && item.creditRight.isRepeatInvest == 2 && item.creditRight.payAmount > 0" ng-click="autoReinvest(1,item.creditRightId);">开启自动续投</a>
              <a type="button" class="yu-btn-height btn btn-primary-orange btn-xs border-half bg-btn-red padding-t-0 padding-b-0" ng-if="item.creditRight.type == 3 && item.creditRight.isRepeatInvest == 1" ng-click="autoReinvest(2,item.creditRightId);">取消自动续投</a>
              <a type="button" class=" ft-blue5" ui-sref="root.userCenter.credit-profit-details({type: 1,number: item.creditRight.number})" ng-if="item.creditRight.type == 3">查看</a>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="pager margin-t-30 ft-14 ft-white4">
        <li class="display-inbl"><button class="btn btn-orange6 {{currentPage == 1 ? 'btn-disabled6' : ''}}" ng-disabled="currentPage == 1" ng-click="loadCredits(currentPage-1, pageSize, searchStatus)">上一页</button></li>
        <div class="display-inbl current-page">&nbsp;&nbsp;{{ currentPage }}&nbsp;&nbsp;</div>
        <li class="display-inbl"><button class="btn btn-orange6 {{currentPage >= numberOfPages ? 'btn-disabled6' : ''}}" ng-disabled="currentPage >= numberOfPages " ng-click="loadCredits(currentPage+1, pageSize, searchStatus)">下一页</button></li>
      </ul>
    </div>
    <!-- 已回款 -->
    <div ng-show="tabStatus == 1 && searchStatus === 4">
      <table class="table-solid border-b-d">
        <thead>
          <tr>
            <th class="th-first">项目名称</th>
            <th>债权价值</th>
            <th>已收收益(元)</th>
            <th>完结时间</th>
            <th class="th-last">操作</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-show="heldInCreditList.length<=0">
            <td colspan="6">
              <div class="line-h-0">
                <p class="ft-18 ft-grey666 padding-30">暂无记录</p>
                <p><a class="btn btn-primary-orange ft-18 margin-t-20 border-half bg-btn-red padding-l-45 padding-r-45" ui-sref="root.main">浏览项目</a></p>
              </div>
            </td>
          </tr>
          <tr ng-repeat="item in heldInCreditList" class="assignment-left">
            <td class="padding-l-30">
             <a ui-sref="root.project-details({number: item.project.number})" title="{{item.creditRight.projectName}}" ng-if="item.project.type === 1 || item.project.type === 2 || item.project.type === 6" class="invment-blue5 special-recommend"><span class="assignmentsZhuan text-center" ng-if="item.creditRight.type === 6">转</span>{{ item.creditRight.projectName | limitTo: 15 }}{{item.creditRight.projectName.length > 15 ? '...':''}}<img ng-show="item.increaseRateCoupon.type == 1" src="/images/rate-coupon.png" alt="使用加息券" class="used-rate"></a>
              <a ui-sref="root.investmentplan-details({number: item.fundsProject.number})" title="{{item.creditRight.projectName}}" ng-if="item.project.type === 3" class="invment-blue5 special-recommend"><span class="assignmentsZhuan text-center" ng-if="item.creditRight.type === 6">转</span>{{ item.creditRight.projectName | limitTo: 15 }}{{item.creditRight.projectName.length > 15 ? '...':''}}<img ng-show="item.increaseRateCoupon.type ==1" src="/images/rate-coupon.png" alt="使用加息券" class="used-rate"></a>
            </td>
            <td>{{ item.creditRight.transferableAmount | number:2 }}</td>
            <td>{{ item.creditRight.returnProfit | number:2}} <span ng-show="item.increaseRateCoupon.type ==1" class="ft-red7">+{{(item.creditRight.baseRate + item.creditRight.riseRate + item.increaseRateCoupon.value) * item.creditRight.returnProfit / (item.creditRight.baseRate + item.creditRight.riseRate) - item.creditRight.returnProfit | number:2}}</span></td>
            <td>
              <span ng-if="item.project.type !== 3">{{ item.project.repaymentDate | date:'yyyy-MM-dd' }}</span>
              <span ng-if="item.project.type === 3">{{ item.fundsProject.repaymentDate | date:'yyyy-MM-dd' }}</span>
            </td>
            <td>
              <a type="button" class="ft-blue5" ui-sref="root.userCenter.credit-security-details({type: 1,number: item.creditRight.number})" ng-if="item.creditRight.type == 1 || item.creditRight.type == 2 || item.project.type === 6">查看</a>
              <a type="button" class="ft-blue5" ui-sref="root.userCenter.credit-profit-details({type: 1,number: item.creditRight.number})" ng-if="item.creditRight.type == 3">查看</a>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="pager margin-t-30 ft-14 ft-white4" ng-hide="heldInCreditList.length<=0">
        <li class="display-inbl">
          <button class="btn btn-orange6 {{currentPage == 1 ? 'btn-disabled6' : ''}}" ng-disabled="currentPage == 1" ng-click="loadCredits(currentPage - 1, pageSize, searchStatus)">上一页</button>
        </li>
        <div class="display-inbl current-page">&nbsp;&nbsp;{{currentPage}}&nbsp;&nbsp;</div>
        <li class="display-inbl">
          <button class="btn btn-orange6 {{currentPage >= numberOfPages ? 'btn-disabled6' : ''}}" ng-disabled="currentPage >= numberOfPages" ng-click="loadCredits(currentPage+1, pageSize, searchStatus)">下一页</button>
        </li>
      </ul>
    </div>
  </div>
  <!-- 未开通第三方资金存管账户 -->
  <div class="main text-center bg-white" ng-show="securityStatus.realNameAuthStatus !== 1">
    <p class="padding-t-50">亲，您尚未开通第三方资金存管账户，因此无法投资购买债权，建议您尽快开通哦~</p>
    <p class="padding-b-30"><a class="btn btn-primary-orange ft-18 margin-t-10 bg-btn-red padding-l-45 padding-r-45" ui-sref="root.userCenter.security-settings">开通第三方资金存管账户</a></p>
  </div>
</div>
