<div class="right-area record col-md-8 col-lg-9" >
  <div class="row">
   <div class="right-title">转让列表</div>
  </div>
  <div class="row" style="margin-left:0px; margin-right: 0px;">
  <!-- <a type="button" class="btn btn-primary btn-sm" ui-sref="root.userCenter.credit-create">发起债券转让</a> -->
    <div class="btn-group btn-group-sm" role="group" aria-label="..." style="float:right">
      <a type="button" class="btn btn-default {{searchStatus === 1 ? 'active' : ''}}" ng-click="getHeldInCreditRightList(1)">持有中</a>
      <a type="button" class="btn btn-default {{searchStatus === 2 ? 'active' : ''}}" ng-click="getTranferingCreditRightList(2)">转让中</a>
      <a type="button" class="btn btn-default {{searchStatus === 3 ? 'active' : ''}}" ng-click="getTranferedCreditRightList(3)">已转让</a>
      <a type="button" class="btn btn-default {{searchStatus === 4 ? 'active' : ''}}" ng-click="getHeldInCreditRightList(4)">已回款</a>
    </div>
  </div>
  <table class="table table-bordered" ng-show="searchStatus === 1">
    <thead>
      <tr>
        <th>项目名称</th>
        <th>持有债权</th>
        <th>待收收益</th>
        <th>已收收益</th>
        <th>到期时间</th>
        <th>债权状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody ng-repeat="item in heldIdCreditList">
      <tr>
        <td>{{ item.project.name }}</td>
        <td>{{ item.creditRight.transferableAmount | number:2 }}元</td>
        <td>{{ item.order.profit - item.order.returnProfit | number:2 }}</td>
        <td>{{ item.order.returnProfit | number:2 }}</td>
        <td>{{ item.project.repaymentDate | date:'yyyy-MM-dd' }}</td>
        <td>{{ creditRightTransferStatusMap[item.creditRight.transferStatus] }}</td>
        <td><a type="button" class="btn btn-primary btn-sm" ui-sref="root.userCenter.credit-create({number: item.creditRight.number})">发起债券转让</a>
            <a type="button" class="btn btn-default btn-sm" ui-sref="root.project-details({number: item.project.number})">详情</a></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered" ng-show="searchStatus === 2">
    <thead>
      <tr>
        <th>项目名称</th>
        <th>转让金额</th>
        <th>已购金额</th>
        <th>转让收益率</th>
        <th>转让时间</th>
        <th>认购人数</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in transferingCreditList">
        <td>{{ item.creditAssignment.name }}</td>
        <td>{{ item.creditAssignment.amount }}</td>
        <td>{{ item.creditAssignment.soldStock * item.project.increaseAmount }}</td>
        <td>{{ item.creditAssignment.annualEarnings }}%</td>
        <td>{{ item.creditAssignment.startTime | date: 'yyyy-MM-dd' }}</td>
        <td>{{ item.creditAssignment.subscribeNumber }}</td>
        <td>{{ assignmentStatusMap[item.creditAssignment.status] }}</td>
        <td><a type="button" class="btn btn-default" ng-show="item.creditAssignment.status === 1" ng-click="cancelCreditAssignment(item.creditAssignment)">撤销</a></td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered" ng-show="searchStatus === 3">
    <thead>
      <tr>
        <th>项目名称</th>
        <th>初始债权</th>
        <th>已回款</th>
        <th>收益</th>
        <th>转让时间</th>
        <th>状态</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in transferedCreditList">
        <td>{{ item.creditAssignment.name }}</td>
        <td>{{ item.initAmount }}</td>
        <td>{{ item.backAmount }}</td>
        <td>{{ item.profit }}</td>
        <td>{{ item.creditAssignment.startTime | date: 'yyyy-MM-dd' }}</td>
        <td>{{ assignmentStatusMap[item.creditAssignment.status] }}</td>
      </tr>
    </tbody>
  </table>

  <table class="table table-bordered" ng-show="searchStatus === 4">
    <thead>
      <tr>
        <th>项目名称</th>
        <th>债权价值</th>
        <th>已收收益</th>
        <th>完结时间</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in heldIdCreditList">
        <td>{{ item.project.name }}</td>
        <td>{{ item.creditRight.transferableAmount | number:2 }}</td>
        <td>{{ item.creditRight.returnProfit | number:2}}</td>
        <td>{{ item.project.repaymentDate | date: 'yyyy-MM-dd'}}</td>
        <td>{{ creditRightStatusMap[item.creditRight.status] }}</td>
        <td><a type="button" class="btn btn-default btn-sm" ui-sref="root.project-details({number: item.project.number})">详情</a></td></td>
      </tr>
    </tbody>
  </table>
  <ul class="pager">
    <li><button class="btn btn-default btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage = currentPage - 1">上一页</button></li>
    {{currentPage +1 }} / {{numberOfPages()}} 共 {{data.length}} 条
    <li><button class="btn btn-default btn-sm" ng-disabled="currentPage >= data.length / pageSize - 1" ng-click="currentPage = currentPage + 1">下一页</button></li>
  </ul>
</div>
