<div class="userCenter-credit right-area record col-md-8 col-lg-9 bg-White " >
  <div class=" currency-style">
   <!-- <div class="right-title">债权详情</div> -->
     <div class="title">
       <span class="tip">债权详情</span>
     </div>
   <a class="pull-right padding-r-30 padding-t-20 margin-b-20 text-unline" ui-sref="root.userCenter.credit">返回债权列表</a>

  <table class="table table-bordered margin-t-30 security-table">
    <thead>
      <tr>
        <th class="border-b-none">项目名称</th>
        <th class="border-b-none">年化收益率</th>
        <th class="border-b-none">项目期限</th>
        <th class="border-b-none">项目预计收益</th>
        <th class="border-b-none">持有债权</th>
        <th class="border-b-none" ng-show="creditIsShowedFLAG">已转出债权</th>
        <th class="border-b-none">已收收益</th>
        <th class="border-b-none">待收收益</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ order.projectName }}</td>
        <td>{{ project.annualEarnings }}%</td>
        <td>{{ project.cycle }}期</td>
        <td>{{ creditRight.profit | number:2 }}</td>
        <td>{{ creditRight.transferableAmount | number:2 }}</td>
        <td ng-show="creditIsShowedFLAG">{{ creditRight.transferingAmount | number:2 }}</td>
        <td>{{ creditRight.returnProfit | number:2 }}<span ng-show="IncreaseRateCoupon.rate" class="ft-red7"> + {{ IncreaseRateCoupon.rate / (  creditRight.baseRate + creditRight.riseRate + IncreaseRateCoupon.rate ) * creditRight.returnProfit | number:2 }}</span></td>
        <td>{{ creditRight.profit-creditRight.returnProfit | number:2 }}<span ng-show="IncreaseRateCoupon.rate" class="ft-red7"> + {{IncreaseRateCoupon.rate / ( creditRight.baseRate + creditRight.riseRate + IncreaseRateCoupon.rate) * ( creditRight.profit - creditRight.returnProfit ) | number:2}}</span></td>
      </tr>
    </tbody>
  </table>
  <div class="container-fluid">
    <div class="row">
      <div class="fl col-md-12 ft-14">
        <div class="col-nd-12 display-inbl border-b" style="width: 100%"> <div class="col-xs-1 padding-b-5 credit-untoggle {{detailStatus === 1 ? 'credit-toggle' : ''}}" ng-click="detailStatus=1">项目历程</div></div>
        <div class="col-xs-1 padding-b-5 credit-untoggle {{detailStatus === 4 ? 'credit-toggle' : ''}}" ng-click="detailStatus=4" ng-show="category.code === '016'">债权列表</div>
      </div>
      <div class="col-xs-12" ng-show="detailStatus === 1">
        <ul class="timeline margin-t-30 margin-b-100">
          <li>
            <div class="timeline-badge success"><i class="fa fa-rocket ft-orange buchong1"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title border-b padding-b-15">项目投标<small class="pull-right">{{ order.createTime | date:'yyyy-MM-dd'}}</small></h4>
              </div>
              <div class="timeline-body">
                <p><strong>{{ order.orderAmount | number: 2 }}</strong>元</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge" ng-class="{'success':project.status === 9 || project.status === 10}"><i class="fa fa-users ft-orange buchong1"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title border-b padding-b-15">项目放款
                  <small class="pull-right" ng-if="project.loanTime > 0">{{ project.loanTime | date:'yyyy-MM-dd'}}</small>
                  <small class="pull-right" ng-if="project.loanTime <= 0">未放款</small>
                </h4>
              </div>
              <div class="timeline-body">
                <p><strong>{{ order.orderAmount | number: 2 }}</strong>元</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted" ng-repeat="item in creditRightBillList">
            <div class="timeline-badge success"><i class="fa fa-tree ft-orange buchong1"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title border-b padding-b-15">项目回款<small class="pull-right">{{ item.successTime | date:'yyyy-MM-dd'}}</small></h4>
              </div>
              <div class="timeline-body">
                <p><strong>{{item.amount | number: 2 }}&nbsp;元</strong></p>
                <p><small>利息 ( {{ item.profit | number: 2 }} <span class="ft-red7" ng-show="IncreaseRateCoupon.rate" style="font-size:85%;">+{{ IncreaseRateCoupon.rate / (  creditRight.baseRate + creditRight.riseRate + IncreaseRateCoupon.rate ) * item.amount | number:2 }}元</span> )&nbsp; + &nbsp;本金{{ item.principal | number: 2 }}</small></p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted" ng-repeat="card in listInvPond">
            <div class="timeline-badge"><i class="fa fa-list-ol ft-orange buchong2"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">回款计划<small class="pull-right">{{ card.payDate }}</small></h4>
              </div>
              <div class="timeline-body">
                <p>待回款：<strong>{{ card.invEarnings | number: 2 }}</strong>元<span ng-show="IncreaseRateCoupon.rate" class="ft-red7">+<strong>{{ IncreaseRateCoupon.rate / (  creditRight.baseRate + creditRight.riseRate + IncreaseRateCoupon.rate ) * card.invEarnings | number:2 }}</strong>元</span></p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div ng-show="detailStatus === 4 && category.code === '016'">
            <table class="table margin-b-30 table-dashed">
              <thead>
                <tr>
                  <th>编号</th>
                  <th>姓名</th>
                  <th>身份证号</th>
                  <th>金额</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in investorMatchOfflineRights">
                  <td>{{item.offlineRightNumber}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.idNo}}</td>
                  <td>{{item.amount | number:2}}</td>
                </tr>
                <tr ng-show="investorMatchOfflineRights.length <= 0">
                  <td colspan="6">
                    <div>
                      <p class="ft-18 ft-grey margin-t-20">暂无记录</p>
                      <p><a class="btn btn-primary-orange ft-18 margin-t-10 border-half bg-btn-red padding-l-45 padding-r-45" ui-sref="root.main">浏览项目</a></p>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
  </div>
  </div>
</div>
