<!--账户总览-->
<div class="right-area col-md-8 col-lg-9">
  <div class="row">
    <div class="right-title">体验金</div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
      <div class="col-md-4 ">
        <div class="experience-border">
          <p class="margin-t-30 ft-18">体验金（元）</p>
          <p class="ft-30 ft-red">￥3000</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="experience-border">
          <p class="margin-t-30 ft-18">累计赚取收益（元）</p>
          <p class="ft-30 ft-red">￥5.25</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="experience-border">
          <p class="margin-t-60"><a href="" style="text-decoration: underline !important;">体验金使用规则</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="right-title">投资记录</div>
  </div>
  <div class="row">
    <table class="table table-hover experience-table">
      <thead>
        <tr style="background-color:#F2F2F2;">
          <th>使用时间</th>
          <th>到账时间</th>
          <th>年化收益率</th>
          <th>金额</th>
          <th>赚取收益</th>
          <th>状态</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>15-09-09</td>
          <td>15-09-09</td>
          <td>7%</td>
          <td>2000</td>
          <td>9.23</td>
          <td>计息中</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="row">
    <div class="right-title">领取记录</div>
  </div>
  <div class="row">
    <table class="table table-hover experience-table">
      <thead>
        <tr style="background-color:#F2F2F2;">
          <th>时间</th>
          <th>方式</th>
          <th>金额</th>
          <th>过期日</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>2015-10-22</td>
          <td>注册</td>
          <td>3000.00</td>
          <td>1015-11-22</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
