<!--体验金-->
<div class="right-area col-md-8 col-lg-9 border-l border-r">
  <div class="row padding-l-15 padding-r-15">
    <div class="currency-style yu-currency-style">
      <div class="title">
        <span class="tip" style="margin-left: 30px;">体验金</span>
      </div>
      <div class="main">
        <div class="padd">
          <div class="col-md-11 yu-bg-grey9 padding-t-50 padding-b-50 margin-auto  padding-lr-26 ">
            <div class="main-w35 margin-l--14 clearfix fl">
              <img src="/images/user-center/experience-money1.png" alt="" class="fl margin-l-30">
              <div class="record-text yu-record-text">
                <p class="yu-ft-14" >体验金金额（元）</p>
                <p><strong class="yu-ft-red2 ft-18">{{account.experienceAmount | number : 2}}</strong></p>
              </div>
            </div>
            <div class="">
              <img src="/images/user-center/experience-money2.png" alt="" class="fl margin-l-5">
              <div class="record-text yu-record-text">
                <p class="yu-ft-14">累计赚取收益金额（元）</p>
                <p><strong class="yu-ft-red2 ft-18">{{receiveProfit ||0 | number : 2}}</strong></p>
              </div>
            </div>
            <div class="">
              <img src="/images/user-center/experience-money3.png" alt="" class="fl margin-l-30">
              <div class="record-text yu-record-text">
                <button class="orange-button yu-button" ui-sref="root.experience-project">我要投资</button>
              </div>
            </div>
          </div>
        </div>
        <div class="fl col-md-12 ft-14 margin-l-22">
          <div class="col-xs-1 experience-w padding-b-5 {{dealStatus === 2 ? 'credit-toggle' : ''}}" ng-click="loadExperienceDeals(1, 5, 2)">投资记录</div>
          <div class="col-xs-1 experience-w padding-b-5 {{dealStatus === 1 ? 'credit-toggle' : ''}}" ng-click="loadExperienceDeals(1, 5, 1)">领取记录</div>
        </div>

        <div>
          <table class="table margin-b-30 table-dashed margin-t-0 record-w2" ng-show="dealStatus === 2">
            <thead>
              <tr>
                <th>使用时间</th>
                <th>到账时间</th>
                <th>预期年化收益率</th>
                <th>金额(元)</th>
                <th>赚取收益(元)</th>
              </tr>
            </thead>

            <tbody class="yu-bg-grey0">
              <tr ng-show="datas.length <= 0">
                <td colspan="5" class="border-0">
                  <div>
                    <p class="ft-18 ft-grey margin-t-20">暂无记录</p>
                    <p><a class="btn btn-primary-orange ft-18 margin-t-10 bg-btn-red padding-l-45 padding-r-45" ui-sref="root.main">浏览项目</a></p>
                  </div>
                </td>
              </tr>
              <tr ng-repeat="deal in datas">
                <td>{{deal.usedTime | date: 'yyyy-MM-dd'}}</td>
                <td>{{deal.createTime | date: 'yyyy-MM-dd'}}</td>
                <td>{{9.6 | number:1}}%</td>
                <td>{{deal.amount | number:1}}</td>
                <td>{{deal.profit | number:2}}</td>
              </tr>
            </tbody>
          </table>

          <table class="table table-dashed margin-b-30 margin-t-0 record-w2" ng-show="dealStatus === 1">
            <thead>
              <tr>
                 <th>领取时间</th>
                <th>领取方式</th>
                <th>领取金额(元)</th>
              </tr>
            </thead>
            <tbody class="yu-bg-grey0">
              <tr ng-show="datas.length <= 0">
                <td colspan="3" class="border-0">
                  <div>
                    <p class="ft-18 ft-grey margin-t-20">暂无记录</p>
                    <p><a class="btn btn-primary-orange ft-18 margin-t-10 bg-btn-red padding-l-45 padding-r-45" ui-sref="root.main">浏览项目</a></p>
                  </div>
                </td>
              </tr>
              <tr ng-repeat="deal in datas">
                <td>{{deal.createTime | date:'yyyy-MM-dd'}}</td>
                <td>{{deal.description}}</td>
                <td>{{deal.amount | number: 2}}</td>
              </tr>
            </tbody>
          </table>
          <ul class="pager margin-r-20" ng-hide="datas.length <= 0">
            <li class="fr">
              <button class="btn btn-default btn-sm" ng-disabled="currentPage >= numberOfPages" ng-click="loadExperienceDeals(currentPage+1, pageSize, dealStatus)">下一页</button>
            </li>
            <div class="fr height-30">&nbsp;&nbsp;{{currentPage}} / {{numberOfPages }} 共 {{count}} 条&nbsp;&nbsp;</div>
            <li class="fr">
              <button class="btn btn-default btn-sm" ng-disabled="currentPage == 1" ng-click="loadExperienceDeals(currentPage - 1, pageSize, dealStatus)">上一页</button>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
