<!-- 投资产品 -->
<div ng-controller="UserOrderCtrl"  class="right-area right-assets-height investment col-md-8 col-lg-9 no-padding" >
  <div class="right-title">投资产品</div>
  <div class="padd"><span>当前账户总计投资产品： <strong>{{orderCount.all}}</strong>个。</span><span>其中还款中： <strong>{{orderCount.returning}}</strong>个，</span><span>投资中：<strong>{{orderCount.paying}}</strong>个。</span><span>已结清：<strong>{{orderCount.returned}}</strong>个。</span></div>
  <div class="padd"><span>投资总额： <strong>{{amount.amount}}</strong>元，</span><span>累计收益：<strong>{{amount.profit}}</strong>元。</span></div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <ul class="list-group">
          <li class="list-group-item projects-filter">
            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-2 pull-left text-nowrap" style="padding-left: 32px">项目状态：</div>
                  <div class="col-xs-2 text-nowrap">
                    <a ui-sref="root.userCenter.investment-query({dateInterval:dateInterval,status:'0', dateStart:dateStart,dateEnd:dateEnd})">
                      <i class="fa" ng-class="{'fa-check-square-o': status === '0', 'fa-square-o': status !== '0'}"></i>
                        全部
                    </a>
                  </div>
                  <div class="col-xs-2">
                    <a ui-sref="root.userCenter.investment-query({dateInterval:dateInterval,status:'4,5',dateStart:dateStart,dateEnd:dateEnd})">
                      <i class="fa" ng-class="{'fa-check-square-o': status === '4,5', 'fa-square-o': status !== '4,5'}"></i>
                      还款中
                    </a>
                  </div>
                  <div class="col-xs-2">
                    <a ui-sref="root.userCenter.investment-query({dateInterval:dateInterval,status:'2,3',dateStart:dateStart,dateEnd:dateEnd})">
                      <i class="fa" ng-class="{'fa-check-square-o': status === '2,3', 'fa-square-o': status !== '2,3'}"></i>
                      投资中的
                    </a>
                  </div>
                  <div class="col-xs-2">
                    <a ui-sref="root.userCenter.investment-query({dateInterval:dateInterval,status:'6',dateStart:dateStart,dateEnd:dateEnd})">
                      <i class="fa" ng-class="{'fa-check-square-o': status === '6', 'fa-square-o': status !== '6'}"></i>
                      已结清
                    </a>
                  </div>
                  <div class="col-xs-2">
                    <a ui-sref="root.userCenter.investment-query({dateInterval:dateInterval,status:'1',dateStart:dateStart,dateEnd:dateEnd})">
                      <i class="fa" ng-class="{'fa-check-square-o': status === '1', 'fa-square-o': status !== '1'}"></i>
                      未支付
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-2 text-nowrap" style="padding-left: 32px">项目期限：</div>
                  <div class="col-xs-2">
                    <a ui-sref="root.userCenter.investment-query({dateInterval:'0',status:status, dateStart:dateStart, dateEnd:dateEnd})" >
                      <i class="fa" ng-class="{ 'fa-check-square-o': dateInterval == '0', 'fa-square-o': dateInterval != '0' }"></i>
                      全部
                    </a>
                  </div>
                  <div class="col-xs-2">
                    <a ui-sref="root.userCenter.investment-query({dateInterval:'7',status:status, dateStart:dateStart, dateEnd:dateEnd})" >
                      <i class="fa" ng-class="{ 'fa-check-square-o': dateInterval === 7, 'fa-square-o': dateInterval !== '7' }"></i>
                      最近七天
                    </a>
                  </div>
                  <div class="col-xs-2">
                    <a ui-sref="root.userCenter.investment-query({dateInterval:'30',status:status, dateStart:dateStart, dateEnd:dateEnd})" >
                      <i class="fa" ng-class="{'fa-check-square-o': dateInterval == '30', 'fa-square-o': dateInterval != '30' }"></i>
                      一个月
                    </a>
                  </div>
                  <div class="col-xs-2">
                    <a ui-sref="root.userCenter.investment-query({dateInterval:'90',status:status, dateStart:dateStart, dateEnd:dateEnd})" >
                      <i class="fa" ng-class="{'fa-check-square-o': dateInterval == '90', 'fa-square-o': dateInterval != '90' }"></i>
                      三个月
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <form name="datepickerForm" class="form-inline" role="form">
                <label class="col-xs-2" style="margin-left: 5.5px; text-align:center;">固定期限：</label>
                <div class="form-group">
                  <i class="fa fa-calendar"></i>
                  <input type="text" class="form-control" ng-model="fromDate" data-max-date="" placeholder="开始时间" data-date-format="yyyy-MM-dd" data-date-type="number" bs-datepicker ng-change="fromDateChanged({{status}},{{dateInterval}});">
                  <i class="fa fa-arrows-h"></i>
                  <i class="fa fa-calendar"></i>
                  <input type="text" class="form-control" ng-model="endDate" data-min-date="{{fromDate}}" data-date-format="yyyy-MM-dd" placeholder="结束时间" data-date-type="number" bs-datepicker ng-change="untilDealDateChanged({{status}},{{dateInterval}});">
                </div>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>项目名称</th>
        <th>计息日</th>
        <th>到期日</th>
        <th>金额</th>
        <th>预计收益</th>
        <th>已得收益</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in data | startFrom:currentPage * pageSize | limitTo:pageSize">
      <td>
        <details ng-open="open"><summary><button type="button" class="btn btn-link" data-placement="bottom" title="{{item.projectName}}" data-template="views/modal/popover-investment-list-name.html" data-trigger="focus" bs-popover>{{ item.projectName }}</button></summary></details>
      </td>
        <td>{{ item.valueDate | date: 'yyyy-MM-dd' }}</td>
        <td>{{ item.settlementDate | date: 'yyyy-MM-dd' }}</td>
        <td>{{ item.orderAmount }}</td>
        <td>{{ item.profit }}</td>
        <td>
          {{ item.returnProfit }}<button data-placement="bottom" class="btn btn-link" title="{{item.projectName}}" data-template="views/modal/popover-investment-list-details.html" data-trigger="focus" bs-popover>[详情]</button></a>
          <div ng-if="item.status === '1'">
            <input type="button" class="btn btn-primary" value="继续支付">
            <input type="button" class="btn btn-default" value="取消订单">
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <ul class="pager">
    <li><button class="btn btn-default btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage = currentPage - 1">上一页</button></li>
    {{currentPage +1 }} / {{numberOfPages()}} 共 {{data.length}} 条
    <li><button class="btn btn-default btn-sm" ng-disabled="currentPage >= data.length / pageSize - 1" ng-click="currentPage = currentPage + 1">下一页</button></li>
  </ul>
</div>
