<!-- 投资产品 -->
<div class="right-area investment col-md-8 col-lg-9" >
  <div class="row">
    <div class="right-title">我的订单</div>
  </div>
  <div>
    <div class="padd" ng-hide="true">
      <span>当前账户总计投资产品： <strong>{{orderCount.all}}</strong>个。</span>
      <span>其中还款中： <strong>{{orderCount.returning}}</strong>个，</span>
      <span>投资中：<strong>{{orderCount.paying}}</strong>个。</span>
      <span>已结清：<strong>{{orderCount.returned}}</strong>个。</span>
    </div>
    <div class="padd border-end" ng-hide="true">
      <span>投资总额：<strong>{{amount.amount | number:2 }}</strong>元，</span>
      <span>累计收益：<strong>{{amount.profit | number:2 }}</strong>元。</span>
    </div>
    <div class="notPayOrder" ng-show="!notPayOrder">
      <p class="border padding-l-15 padding-t-5 padding-b-5 bg-offPink ft-red">您有订单尚未支付，请尽快完成支付操作<i class="fa fa-times pull-right ft-20 ft-grey4" ng-click="removeWarning()">&nbsp;</i></p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default no-border padding-l-15">
        <ul class="list-group">
          <li class="list-group-item projects-filter no-border">
            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-2 pull-left text-nowrap">订单类型：</div>
                  <div class="col-xs-2 text-nowrap">
                    <a ui-sref="root.userCenter.investment-query({type:'0',dateInterval:dateInterval,status:status})" class="project-noncheck" ng-class="{'project-check': type === '0', 'project-noncheck': type !== '0'}">
                        全部
                    </a>
                  </div>
                  <div class="col-xs-2">
                    <a ui-sref="root.userCenter.investment-query({type:'1',dateInterval:dateInterval,status:status})" class="project-noncheck" ng-class="{'project-check': type === '1', 'project-noncheck': type !== '1'}">
                      宏金保
                    </a>
                  </div>
                  <div class="col-xs-2">
                    <a ui-sref="root.userCenter.investment-query({type:'4',dateInterval:dateInterval,status:status})" class="project-noncheck" ng-class="{'project-check': type === '4', 'project-noncheck': type !== '4'}">
                      宏金盈
                    </a>
                  </div>
                  <div class="col-xs-2" ng-show="creditIsShowedFLAG">
                    <a ui-sref="root.userCenter.investment-query({type:'2',dateInterval:dateInterval,status:status})" class="project-noncheck" ng-class="{'project-check': type === '2', 'project-noncheck': type !== '2'}">
                      债权转让
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-2 pull-left text-nowrap">投资状态：</div>
                  <div class="col-xs-2 text-nowrap">
                    <a ui-sref="root.userCenter.investment-query({type:type,dateInterval:dateInterval,status:'0'})" class="project-noncheck" ng-class="{'project-check': status === '0', 'project-noncheck': status !== '0'}">
                        全部
                    </a>
                  </div>
                  <div class="col-xs-2">
                    <a ui-sref="root.userCenter.investment-query({type:type,dateInterval:dateInterval,status:'2,3,4,5,6'})" class="project-noncheck" ng-class="{'project-check': status === '2,3,4,5,6', 'project-noncheck': status !== '2,3,4,5,6'}">
                      已完成
                    </a>
                  </div>
                  <div class="col-xs-2">
                    <a ui-sref="root.userCenter.investment-query({type:type,dateInterval:dateInterval,status:'97,99'})" class="project-noncheck" ng-class="{'project-check': status === '97,99', 'project-noncheck': status !== '97,99'}">
                      已取消
                    </a>
                  </div>
                  <!-- 新添加 -->
                  <div class="col-xs-2">
                    <a ui-sref="root.userCenter.investment-query({type:type,dateInterval:dateInterval,status:'1'})" class="project-noncheck" ng-class="{'project-check': status === '1', 'project-noncheck': status !== '1'}">
                      未支付
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-xs-12">
                <div class="row">
                  <div class="col-xs-2 text-nowrap">下单时间：</div>
                  <div class="col-xs-2">
                    <a ui-sref="root.userCenter.investment-query({type:type,dateInterval:'0',status:status})" class="project-noncheck" ng-class="{ 'project-check': dateInterval === 0, 'project-noncheck': dateInterval !== 0 }">
                      全部
                    </a>
                  </div>
                  <div class="col-xs-2">
                    <a ui-sref="root.userCenter.investment-query({type:type,dateInterval:'7',status:status})" class="project-noncheck" ng-class="{ 'project-check': dateInterval === 7, 'project-noncheck': dateInterval !== 7 }">
                      最近七天
                    </a>
                  </div>
                  <div class="col-xs-2">
                    <a ui-sref="root.userCenter.investment-query({type:type,dateInterval:'30',status:status})" class="project-noncheck" ng-class="{'project-check': dateInterval === 30, 'project-noncheck': dateInterval !== 30 }">
                      一个月
                    </a>
                  </div>
                  <div class="col-xs-2">
                    <a ui-sref="root.userCenter.investment-query({type:type,dateInterval:'90',status:status})" class="project-noncheck" ng-class="{'project-check': dateInterval === 90, 'project-noncheck': dateInterval !== 90 }">
                      三个月
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>订单编号</th>
        <th>投资金额（元）</th>
        <th>项目名称</th>
        <th>下单时间</th>
        <th>订单状态</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in data | startFrom:currentPage * pageSize | limitTo:pageSize">
        <td>{{ item.number }}</td>
        <td>{{ item.orderAmount | number: 2 }}</td>
        <td>
          <button ng-click="showListNameInfo();" style="padding:0px;outline:none;"type="button" class="btn btn-link" data-placement="bottom" data-template="views/modal/popover-investment-list-name.html" data-trigger="focus" bs-popover><i style="color: #e94828;" class="fa fa-caret-square-o-down"></i></button>
          <a ui-sref="root.project-details({number: item.projectNumber})">{{ item.projectName | limitTo: 5}}... </a><br>
        </td>
        <td>{{ item.valueDate | date: 'yyyy-MM-dd' }}</td>
        <td>{{ item.statusText }}</td>
        <!-- <td><a ng-click="generateContractPDF(item.projectId, item.orderId, item.status);">123</a></td> -->
        <td>
          <button ng-show="item.status === 1 " type="button" title="项目放款后生成协议" class="btn btn-info btn-xs" ng-click="generateContractPDF(item.projectId, item.orderId, item.status);">合同模板</button>
          <button ng-show="item.status >= 2 && item.status <= 6" type="button" class="btn btn-info btn-xs" ng-click="generateContractPDF(item.projectId, item.orderId, item.status);">下载合同</button>
        </td>
      </tr>
    </tbody>
  </table>
  <ul class="pager">
    <li><button class="btn btn-default btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage = currentPage - 1">上一页</button></li>
    {{currentPage +1 }} / {{numberOfPages()}} 共 {{data.length}} 条
    <li><button class="btn btn-default btn-sm" ng-disabled="currentPage >= data.length / pageSize - 1" ng-click="currentPage = currentPage + 1">下一页</button></li>
  </ul>
</div>
