<!--邀请返利-->
<div class="right-area col-md-8 col-lg-9" >
	<div class="row">
		<div class="right-title">邀请返利</div>
	</div>
	<div class="row">
		<div class="row account-investment">
			<div class="col-md-6 border-r">
				<p class="account-number-message">您的邀请码</p>
				<p class="account-number">{{ voucher.inviteCode || "0"}}<span class="ft-14"></span></p>
        <input type="text" id='inviteCode' value="{{voucher.inviteCode}}" ng-show="false"/>
			</div>
			<div class="col-md-6">
				<p class=" text-center">复制链接给好友</p>
        <p><h5>https://www.hongcai.com/#!/register-mobile/{{ voucher.inviteCode || "0"}}</h5></p>
        <input type="button" class="col-md-4 col-md-offset-4 btn btn-primary" clip-copy="copyUrl" clip-click="showMessage()" value="复制链接">
      </div>
	</div>
	<div class="row">
		<div class="right-title">我的邀请</div>
	</div>
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>邀请用户</th>
				<th>注册时间</th>
				<th>邀请奖励</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in data | startFrom:currentPage * pageSize | limitTo:pageSize">
				<td>{{item.user.name}}</td>
				<td>{{item.user.createTime | date:'yyyy-MM-dd'}}</td>
				<td>{{item.gift.amount}}</td>
			</tr>
		</tbody>
	</table>
	<ul class="pager">
		<li><button class="btn btn-default btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage = currentPage - 1">上一页</button></li>
		{{currentPage +1 }} / {{numberOfPages()}} 共 {{data.length}} 条
		<li><button class="btn btn-default btn-sm" ng-disabled="currentPage >= data.length / pageSize - 1" ng-click="currentPage = currentPage + 1">下一页</button></li>
	</ul>

</div>


