<!--加息券-->
<div class="right-area col-md-8 col-lg-9">
  <div class="row">
    <div class="right-title">加息券</div>
  </div>
  <div class="row">
    <div class="col-md-10 col-md-offset-1 text-center">
      <div class="col-md-4 ">
        <div class="experience-border">
          <p class="margin-t-30 ft-18">加息券（张）</p>
          <p class="ft-30 ft-red">{{couponStatis.couponCount}}</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="experience-border" ng-if="couponStatis.couponTypes.length > 0">
          <div class="padding-t-30 ft-18" ng-repeat="couponType in couponStatis.couponTypes">
            <div class="col-md-7 text-left" style="padding:0 0 0 10px">加息券 +{{couponType.rate}}% </div>
            <div class="col-md-5" style="padding:0"><span class="rate-number">{{couponType.couponNum}}</span>张</div>
          </div>
        </div>
        <div class="experience-border" ng-if="couponStatis.couponTypes.length <= 0">
          <p class="margin-t-30 ft-18 ft-red">无加息券</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="experience-border">
          <p class="margin-t-60" ng-click="experienceRule = true" ng-init="experienceRule = false"><a href="" style="text-decoration: underline !important;">加息券使用规则</a></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="right-title">领取记录</div>
  </div>
  <div class="row">
    <table class="table table-hover experience-table">
      <thead>
        <tr style="background-color:#F2F2F2;">
          <th>面额</th>
          <th>获得时间</th>
          <th>有效期</th>
          <th>状态</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="couponStatis.coupons.length > 0" ng-repeat="coupon in couponStatis.coupons">
          <td>+{{coupon.rate}}%</td>
          <td>{{coupon.createTime | date : "yyyy-MM-dd"}}</td>
          <td>{{coupon.endTime | date : "yyyy-MM-dd"}}</td>
          <td ng-show="coupon.status === 1">未使用</td>
          <td ng-show="coupon.status === 2">已使用</td>
          <td ng-show="coupon.status === 3">过期</td>
        </tr>
        <tr ng-show="couponStatis.coupons.length <= 0">
          <td colspan="4">未获得过加息券</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div style="position:absolute;top:19.4%;left:23%;z-index:9999999;" ng-show="experienceRule" ng-click="experienceRule = false">
  <img src="/images/new-experience.jpg">
</div>
