<!--充值-->
<div class="right-area right-assets-height recharge">
	<div class="right-title word-less-title">充值</div>
	<form class="real-name">
		<div class="form-group mgn-top">
			<label>可用余额：</label>
			<p>{{ Variables || "123"}}元</p>
		</div>
		<div class="form-group">
			<label>充值金额：</label>
			<input type="text" class="verify-input"  ng-model="amount"/>&nbsp;&nbsp;元
		</div>
		<div class="form-group">
			<label>验证码：</label>
			<input type="text" class="verify-input verify-code" ng-model="captcha"/>
			<img src="{{getPicCaptcha}}" id="checkCaptcha" class="pic-verify"  ng-click="refreshCode()">
			<a class="a-verify">看不清楚？换一张</a>
		</div>
		<div class="form-group agree-area">
			<img src="images/check_01.png" class="pic-check" onclick="change_agree_pic(this);">
			<p class="p-agree ft-12">我已阅读并同意签署<a href="">《服务协议》</a></p>
		</div>
		<div class="form-group">
			<input type="button" value="确认充值" class="verify-button" ng-click="recharge(amount, captcha)"/>
		</div>
	</form>
	<div class="tip ft-12">
		<p>温馨提示</p>
		<p>1. 您的账户资金将由第三方平台托管。</p>
		<p>2. 请注意您的银行卡充值限制，以免造成不便。</p>
		<p>3. 禁止洗钱、信用卡套现、虚假交易等行为，一经发现并确认，将终止该账户的使用。</p>
		<p>4. 如果提现金额没有及时到账，请联系客服，400-062-1008</p>
		<p>5. 各大银行的网银支付限额</p>
	</div>
</div>
