<!--支付记录-->
<div ng-controller="UserDealCtrl" class="right-area right-assets-height record col-md-8 col-lg-9 no-padding" >
	<div class="right-title">支付记录</div>
	<div class="padd"><span>当前账户资产总计： <strong>{{capital.investAmount}}+{{capital.balance}}<!-- 数据绑定 --></strong>元。</span><span>其中可用资产： <strong>{{capital.balance}}<!-- 数据绑定 --></strong>元，</span><span>冻结资产：<strong>{{capital.freezeCapital}}<!-- 数据绑定 --></strong>元。</span></div>
	<div class="row">
		<div class="col-xs-12">
      <ul class="nav nav-tabs nav-justified" role="tablist">
        <li role="presentation" ui-sref="root.userCenter.record-query({dateInterval:dateInterval,type:'0',
                dateStart:dateStart,dateEnd:dateEnd})" class="active"><a href="">全部</a></li>
        <li role="presentation"><a ui-sref="root.userCenter.record-query({dateInterval:dateInterval,type:'1',
                dateStart:dateStart,dateEnd:dateEnd})" href="">充值</a></li>
        <li role="presentation"><a ui-sref="root.userCenter.record-query({dateInterval:dateInterval,type:'2',
                dateStart:dateStart,dateEnd:dateEnd})" href="">提现</a></li>
        <li role="presentation"><a ui-sref="root.userCenter.record-query({dateInterval:dateInterval,type:'3',
                dateStart:dateStart,dateEnd:dateEnd})"href="">投资</a></li>
        <li role="presentation"><a ui-sref="root.userCenter.record-query({dateInterval:dateInterval,type:'4,5',
                dateStart:dateStart,dateEnd:dateEnd})" href="">回款</a></li>
      </ul>
			<!-- <div class="filter-container sort"> -->
      <br>
      <div class="row">
        <label class="col-xs-2"><h5>时间：</h5></label>
        <div class="col-xs-8">
          <ul class="nav nav-pills">
              <li class="active mgn-l">
                  <a ui-sref="root.userCenter.record-query({dateInterval:'0',type:type,
          dateStart:dateStart,dateEnd:dateEnd})">&nbsp;全部</a>
              </li>
              <li class="">
                  <a ui-sref="root.userCenter.record-query({dateInterval:'7',type:type,
          dateStart:dateStart,dateEnd:dateEnd})">&nbsp;最近七天</a>
              </li>
              <li class="">
                  <a ui-sref="root.userCenter.record-query({dateInterval:'30',type:type,
          dateStart:dateStart,dateEnd:dateEnd})">&nbsp;一个月</a>
              </li>
              <li class="">
                  <a ui-sref="root.userCenter.record-query({dateInterval:'90',type:type,
          dateStart:dateStart,dateEnd:dateEnd})">&nbsp;三个月</a>
              </li>
          </ul>
        </div>
      </div>
      <div class="row">
        <label class="col-xs-2">固定期限：</label>
        <div class="col-xs-10">
          <form name="datepickerForm" class="form-inline" role="form">
            <label class="control-label"><small>开始</small></label>
            <div class="form-group mgn-l">
              <input type="text" class="form-control" ng-model="fromDate" data-max-date="{{untilDate}}" placeholder="From" bs-datepicker>
            </div>
            <i class="fa fa-calendar"></i>
            <!-- 隔断条 -->
            <i class="fa fa-arrows-h"></i>

            <label class="control-label"> <small>截止</small></label>
            <div class="form-group">
              <input type="text" class="form-control" ng-model="untilDate" data-min-date="{{fromDate}}" placeholder="Until" bs-datepicker>
            </div>
            <i class="fa fa-calendar"></i>
          </form>
        </div>
      </div>
      <br>
      <div class="row record-list">
      <div class="col-xs-12">
        <div class="row record-list-head">
          <span class="col-xs-2 border-r">创建时间</span>
          <span class="col-xs-2 border-r">收支类型</span>
          <span class="col-xs-2 border-r">收支描述</span>
          <span class="col-xs-2 border-r">收入</span>
          <span class="col-xs-1">支出</span>
          <span class="col-xs-2 border-r border-l">账户现金</span>
          <span class="col-xs-1 ">备注</span>
        </div>
        <div class="row record-item" ng-repeat="item in data | startFrom:currentPage * pageSize | limitTo:pageSize">
          <span class="col-xs-2">{{item.createTime}}</span>
          <span class="col-xs-2">{{item.type}}</span>
          <span class="col-xs-2">{{item.description}}</span>
          <span class="col-xs-2">{{item.getAmount}}</span>
          <span class="col-xs-1">{{item.payAmount}}</span>
          <span class="col-xs-2">{{item.balance}}</span>
          <span class="col-xs-1 ">{{item.description}}</span>
        </div>
      </div>
      </div>
      <ul class="pager">
      <li><button class="btn btn-default btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage = currentPage - 1">上一页</button></li>
      {{currentPage +1 }} / {{numberOfPages()}} 共 {{data.length}} 条
      <li><button class="btn btn-default btn-sm" ng-disabled="currentPage >= data.length / pageSize - 1" ng-click="currentPage = currentPage + 1">下一页</button></li>
      </ul>
    <div>
  <div>
</div>
