<!--安全设置-->
<div class="right-area right-assets-height">
	<div class="right-title">安全设置</div>
	<div class="safe-part">
		<p class="tips">用户名</p>
		<p class="message">{{ loginName || "游客"}}</p>
		<p class="activity hadset">{{ Variables || "已确定"}}</p>
		<div class="check-ok"></div>
	</div>
	<div class="safe-part">
		<p class="tips">登录密码</p>
		<p class="message">已设置</p>
		<p class="activity"><a href="/#/change-password">修改</a></p>
	</div>
	<div class="safe-part">
		<p class="tips">邮箱</p>
		<p class="message">{{ email || "未设置"}}</p>
		<p class="activity">{{ Variables || "设置"}}</p>
		<div></div>
	</div>
	<div class="safe-part">
		<p class="tips">手机号码</p>
		<p class="message">{{ mobile || "未设置"}}</p>
		<p class="activity">{{ Variables || "设置"}}</p>
		<div></div>
	</div>
	<div class="safe-part">
		<p class="tips">真实姓名</p>
		<p class="message">{{ realName || "未认证"}}</p>
		<p class="activity"><a href="/#/realname-authentication">{{ Variables || "认证"}}</a></p>
		<div></div>
	</div>
	<div class="safe-part">
		<p class="tips">身份证号码</p>
		<p class="message">{{ idNo || "未认证"}}</p>
		<p class="activity"><a href="/#/realname-authentication">{{ Variables || "认证"}}</a></p>
		<div></div>
	</div>
	<div class="safe-part">
		<p class="tips">第三方托管账户</p>
		<p class="message" ng-show="!haveTrusteeshipAccount">未开通</p>
		<p class="message" ng-show="haveTrusteeshipAccount">已开通</p>
		<p class="activity" ng-show="!haveTrusteeshipAccount"><a href="/#/realname-authentication">开通</a></p>
		<p class="activity hadset" ng-show="haveTrusteeshipAccount">已开通</p>
		<div class="check-ok" ng-show="haveTrusteeshipAccount"></div>
	</div>
<!--<div class="safe-part">
  <p class="tips">风险调查问卷</p>
  <p class="message">{{ Variables || "未设置"}}</p>
  <p class="activity">{{ Variables || "认证"}}</p>
</div>-->
</div>
