<!--安全设置-->
<div class="right-area right-assets-height">
	<div class="right-title">安全设置</div>
	<div class="safe-process">
		<p class="process-tips safe-pwd">登录密码</p>
		<p class="process-tips safe-phone">手机号认证</p>
		<p class="process-tips safe-mail">邮箱绑定</p>
		<p class="process-tips safe-realname">实名认证开通三方托管账户</p>
	</div>
	<div class="safe-part">
		<p class="tips">用户名</p>
		<p class="message">{{ loginName || "游客"}}</p>
		<p class="activity hadset">{{"已确定"}}</p>
		<div class="check-ok"></div>
	</div>
	<div class="safe-part">
		<p class="tips">登录密码</p>
		<p class="message">已设置</p>
		<p class="activity"><a href="javascript::" ng-click="changPwd = true">修改</a></p>
	</div>
	<div class="change-area change-pwd-height" ng-show="changPwd">
		<form class="real-name">
			<div class="safe-form-group">
				<label>原始密码：</label>
				<input type="text" class="verify-input"/>
			</div>
			<div class="safe-form-group">
				<label>新密码：</label>
				<input type="text" class="verify-input"/>
			</div>
			<div class="safe-form-group">
				<label>确认密码：</label>
				<input type="text" class="verify-input"/>
			</div>
			<input type="button" value="下一步" class="verify-button mail-button"/>
		</form>
	</div>
	<div class="safe-part">
		<p class="tips">邮箱</p>
		<p class="message">{{ email || "未设置"}}</p>
		<p class="activity" ng-show="!email"><a href="/#/bind-email">设置</a></p>
		<p class="activity" ng-show="email"><a href="/#/change-email">修改</a></p>
		<div></div>
	</div>
	<!--<div class="change-area change-mail-height">
		<form class="real-name">
			<div class="safe-form-group">
				<label>邮箱：</label>
				<input type="text" class="verify-input"/>
			</div>
			<input type="button" value="下一步" class="verify-button mail-button"/>
		</form>
	</div>-->
	<div class="safe-part">
		<p class="tips">手机号码</p>
		<p class="message">{{ mobile || "未设置"}}</p>
		<p class="activity" ng-show="!mobile"><a href="/#/bind-mobile">设置</a></p>
		<p class="activity" ng-show="mobile"><a href="/#/change-mobile">修改</a></p>
		<div></div>
	</div>
	<!--<div class="change-area change-phone-height">
		<form class="real-name">
			<div class="safe-form-group">
				<label>手机号码：</label>
				<input type="text" class="verify-input"/>
				<input type="button" value="获取短信验证码" class="get-verify-button verify-index">
			</div>
			<div class="safe-form-group">
				<label>短信验证码：</label>
				<input type="text" class="verify-input"/>
			</div>
			<input type="button" value="下一步" class="verify-button"/>
		</form>
	</div>-->
	<!--<div class="safe-part">
		<p class="tips">真实姓名</p>
		<p class="message">{{ realName || "未认证"}}</p>
		<p class="activity" ng-show="!isRealNameAuth"><a href="/#/realname-authentication">认证</a></p>
		<p class="activity hadset" ng-show="isRealNameAuth">已认证</p>
		<div class="check-ok" ng-show="isRealNameAuth"></div>
		<div></div>
	</div>
	<div class="safe-part">
		<p class="tips">身份证号码</p>
		<p class="message">{{ idNo || "未认证"}}</p>
		<p class="activity" ng-show="!isRealNameAuth"><a href="/#/realname-authentication">认证</a></p>
		<p class="activity hadset" ng-show="isRealNameAuth">已认证</p>
		<div class="check-ok" ng-show="isRealNameAuth"></div>
		<div></div>
	</div>-->
	<div class="safe-part">
		<p class="tips">第三方托管账户</p>
		<p class="message" ng-show="!haveTrusteeshipAccount">未开通</p>
		<p class="message" ng-show="haveTrusteeshipAccount">已开通</p>
		<p class="activity" ng-show="!haveTrusteeshipAccount"><a href="/#/realname-authentication">开通</a></p>
		<p class="activity hadset" ng-show="haveTrusteeshipAccount">已开通</p>
		<div class="check-ok" ng-show="haveTrusteeshipAccount"></div>
	</div>
	<!--<div class="change-area change-phone-height">
		<form class="real-name">
			<div class="safe-form-group">
				<label>真实姓名：</label>
				<input type="text" class="verify-input" ng-model="user.realName"/>
			</div>
			<div class="safe-form-group">
				<label>身份证号：</label>
				<input type="text" class="verify-input" ng-model="user.idCardNo"/>
			</div>
			<input type="button" value="提交实名认证" class="verify-button" ng-click="realNameAuth(user)"/>
		</form>
	</div>-->
</div>
