<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
<title>红包抽完了</title>
<link rel="stylesheet" href="styles/style.css" />
<script type="text/javascript" src="lib/zepto.min.js"></script>
<script type="text/javascript" src="lib/vue.min.js"></script>
  <script type="text/javascript" src="lib/jweixin-1.0.0.js"></script>
</head>
<bod id="awardEnd">
<div class="y_top3 mb20">
	<div class="peo">
		<div class="person">
			<img v-attr="src:personImgUrl" alt="">
		</div>
		<div class="con">
			<p>理财上宏财，免费发奖金，<br>奖金大小靠手气，快打开看看！</p>
		</div>
	</div>
</div>
<div class="y_ys3">
	<a href="http://weixin-activity.tunnel.mobi/intro1.html">
		<span>我也要发奖金</span>
	</a>
</div>
<div class="y_firendsay mt30">
	<h2>
		<span>看看朋友们的手气</span>
		<strong></strong>
	</h2>
	<div class="con">
    <ul>
      <li v-repeat="userList">
        <figure>
          <img v-attr="src:headimgurl" alt="">
        </figure>
        <div class="ent">
          <h5>
            {{nickname}}
            <em>{{amount}}元{{changeContent(type)}}</em>
            <span>{{changeTime(createTime)}}</span>
          </h5>
          <p>{{content}}</p>
        </div>
      </li>
    </ul>
	</div>
</div>
</body>
<script type="text/javascript" src="lib/moment.min.js"></script>
<script type="text/javascript" src="js/award-end.js"></script>
<script type="text/javascript">
var useragent = navigator.userAgent;
console.log(useragent)
if (useragent.match(/MicroMessenger/i) != 'MicroMessenger') {
  alert('已禁止本次访问：您必须使用微信内置浏览器访问本页面！');
  var opened = window.open('about:blank', '_self');
  opened.opener = null;
  opened.close();
}
</script>
</html>
