<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
<title>Document</title>
<link rel="stylesheet" href="styles/style.css" />
</head>
<body>
<!---->
<div class="y_fu">
	<i class="jt"></i>
	<p class="sm">请点击右上角,<br>分享给指定朋友或朋友圈</p>
	<a href="javascript:;" class="y_ok">知道了</a>
</div>
<!---->
<div class="y_top2">
	<div class="y_ts">
		恭喜您抢到 <span>300元</span> 红包，快分享给好友一起领取奖金！
	</div>
	<div class="y_money">
		<em>300</em>
		<span>元</span>
	</div>
</div>
<div class="y_shuo">
	奖金要分享，也要私藏<br>您分享的奖金额度变为 <em>0元</em> 时，您将获得 <em>额外奖金鼓励</em>
</div>
<div class="y_ys2">
	<a href="javascript:;">
		<span>分享给好友</span>
	</a>
</div>
<a class="y_gui">
	<span>活动规则</span>
</a>
<div class="y_firendsay mt30">
	<h2>
		<span>看看朋友们的手气</span>
		<strong></strong>
	</h2>
	<div class="con">
		<ul>
			<li>
				<figure>
					<img src="images/peo.png" alt="">
				</figure>
				<div class="ent">
					<h5>
						王小二
						<em>20元现金</em>
						<span>2015-03-31 18:58</span>
					</h5>
					<p>感谢，理财就靠你了！</p>
				</div>
			</li>
			<li>
				<figure>
					<img src="images/peo.png" alt="">
				</figure>
				<div class="ent">
					<h5>
						王小二
						<em>20元现金</em>
						<span>2015-03-31 18:58</span>
					</h5>
					<p>感谢，理财就靠你了！</p>
				</div>
			</li>
		</ul>
	</div>
</div>
</body>
</html>
