<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
<title>Document</title>
<link rel="stylesheet" href="styles/style.css" />
<script type="text/javascript" src="lib/zepto.min.js"></script>
<script type="text/javascript" src="lib/vue.min.js"></script>
</head>
<body>
<div class="y_top2">
	<div class="y_ts">
		恭喜您抢到 <span>{{amount}}元</span> 红包，快分享给好友一起领取奖金！
	</div>
	<div class="y_money">
		<em>{{amount}}</em>
		<span>元</span>
	</div>
</div>
<div class="y_shuo">
	奖金要分享，也要私藏<br>您分享的奖金额度变为 <em>0元</em> 时，您将获得 <em>额外奖金鼓励</em>
</div>
<div class="y_ys2">
	<a href="javascript:;">
		<span>分享给好友</span>
	</a>
</div>
<a class="y_gui" href="#">
	<span>活动规则</span>
</a>
<div class="y_firendsay mt30">
	<h2>
		<span>看看朋友们的手气</span>
		<strong></strong>
	</h2>
	<div class="con">
    <ul>
      <li v-repeat="userList">
        <figure>
          <img v-attr="src:headimgurl" alt="">
        </figure>
        <div class="ent">
          <h5>
            {{nickname}}
            <em>{{amount}}元现金</em>
            <span>{{changeTime(createTime)}}</span>
          </h5>
          <p>感谢，理财就靠你了！</p>
        </div>
      </li>
    </ul>
	</div>
</div>
</body>
<script type="text/javascript" src="lib/moment.min.js"></script>
<script type="text/javascript" src="js/award-success-win.js"></script>
</html>
