<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
<title>抽中现金了</title>
<link rel="stylesheet" href="styles/style.css" />
<script type="text/javascript" src="lib/zepto.min.js"></script>
<script type="text/javascript" src="lib/vue.min.js"></script>
  <script type="text/javascript" src="lib/jweixin-1.0.0.js"></script>
</head>
<body class="y_wra_bg" id="awardSuccessCash">
<div class="y_rich">
	<div class="ypeo2">
		<figure>
			<img v-attr="src:personImgUrl" alt="">
		</figure>
		<p>恭喜您成功领取 <em>{{amount}}元奖金</em>！可用于投资或取现。<em>2015年5月31日前</em> 有效。</p>
	</div>
	<div class="mon">
		<em>{{amount}}</em>
		<span>元</span>
	</div>
	<a href="http://weixin-activity.tunnel.mobi/intro2.html" class="yuse">如何使用？</a>
	<p class="zhuang">
		<i></i>奖金已放入与 <em>{{changePhoneNum(phoneNum)}}</em> 手机号码<br>相对应的宏财网账户中~<br>20分钟内到账，请到宏财网“我的账户”查看！</p>
</div>
<div class="y_firendsay ybg1">
	<h2>
		<span>看看朋友们的手气</span>
		<strong></strong>
	</h2>
	<div class="con">
		<ul>
			<li v-repeat="userList">
				<figure>
					<img v-attr="src:headimgurl" alt="">
				</figure>
				<div class="ent">
          <h5>
            {{nickname}}
            <em>{{amount}}元{{changeContent(type)}}</em>
            <span>{{changeTime(createTime)}}</span>
          </h5>
					<p>感谢，理财就靠你了！</p>
				</div>
			</li>
		</ul>
	</div>
</div>
</body>
<script type="text/javascript" src="lib/moment.min.js"></script>
<script type="text/javascript" src="js/award-success-cash.js"></script>
<script type="text/javascript">
var useragent = navigator.userAgent;
console.log(useragent)
if (useragent.match(/MicroMessenger/i) != 'MicroMessenger') {
  alert('已禁止本次访问：您必须使用微信内置浏览器访问本页面！');
  var opened = window.open('about:blank', '_self');
  opened.opener = null;
  opened.close();
}
</script>
</html>
