<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
<title>Document</title>
<link rel="stylesheet" href="styles/style.css" />
</head>
<body>
<div class="y_rich">
	<div class="ypeo2">
		<figure>
			<img src="images/peo.png" alt="">
		</figure>
		<p>恭喜您成功领取 <em>20元奖金</em>！可用于投资或取现。<em>2015年5月31日前</em> 有效。</p>
	</div>
	<div class="mon">
		<em>20</em>
		<span>元</span>
	</div>
	<a href="#" class="yuse">如何使用？</a>
	<p class="zhuang">
		<i></i>奖金已放入与 <em>188****3361</em> 手机号码<br>相对应的宏财网账户中~<br>20分钟内到账，请到宏财网“我的账户”查看！</p>
</div>
<div class="y_firendsay ybg1">
	<h2>
		<span>看看朋友们的手气</span>
		<strong></strong>
	</h2>
	<div class="con">
		<ul>
			<li>
				<figure>
					<img src="images/peo.png" alt="">
				</figure>
				<div class="ent">
					<h5>
						王小二
						<em>20元现金</em>
						<span>2015-03-31 18:58</span>
					</h5>
					<p>感谢，理财就靠你了！</p>
				</div>
			</li>
			<li>
				<figure>
					<img src="images/peo.png" alt="">
				</figure>
				<div class="ent">
					<h5>
						王小二
						<em>20元现金</em>
						<span>2015-03-31 18:58</span>
					</h5>
					<p>感谢，理财就靠你了！</p>
				</div>
			</li>
		</ul>
	</div>
</div>
</body>
</html>
