<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, minimal-ui">
<title>我也要发奖金</title>
<link rel="stylesheet" href="styles/style.css" />
</head>
<body class="y_bgfff">
<div class="yb_wra_hb">
	<div class="clearfix mb50">
		<div class="yb_st">
			<img src="images/yb_s5.jpg" alt="">
		</div>
		<div class="yb_hb_sm">
			<i>1</i>登录宏财网
		</div>
	</div>
	<div class="clearfix mb50">
		<div class="yb_st">
			<img src="images/yb_s6.jpg" alt="">
		</div>
		<div class="yb_hb_sm">
			<i>2</i>完成任意一笔投资
		</div>
	</div>
	<div class="clearfix mb50">
		<div class="yb_st">
			<img src="images/yb_s7.jpg" alt="">
		</div>
		<div class="yb_hb_sm">
			<i>3</i>有机会获得红包
		</div>
	</div>
	<div class="clearfix mb50">
		<div class="yb_st">
			<img src="images/yb_s8.jpg" alt="">
		</div>
		<div class="yb_hb_sm">
			<i>4</i>分享给好友
		</div>
	</div>
	<div class="y_ji">
		<h3>
			<span>红包</span>
			<strong></strong>
		</h3>
		<p>
			红包领取截止日期：2015年5月31日<br>
			红包不可作为投资本金使用，亦不可取现<br>
			发放红包的用户可以领取自己发放的红包<br>
			每位用户领取他人发放红包的机会为一次（待修改）
		</p>
	</div>
	<div class="y_ji">
		<h3>
			<span>奖金</span>
			<strong></strong>
		</h3>
		<p>
			奖金使用截止日期：2015年5月31日<br>
			投资：奖金可作为投资本金进行投资<br>
			领取：奖金自动匹配至领取奖金所预留的电话号码对应的宏财网账户中<br>
			奖金取现方法：在奖金有效期内完成投资总额≥领取奖金额度时，可取现
		</p>
	</div>
</div>
</body>
<script type="text/javascript">
var useragent = navigator.userAgent;
console.log(useragent)
if (useragent.match(/MicroMessenger/i) != 'MicroMessenger') {
  alert('已禁止本次访问：您必须使用微信内置浏览器访问本页面！');
  var opened = window.open('about:blank', '_self');
  opened.opener = null;
  opened.close();
}
</script>
</html>
