<!doctype html>
<html lang="zh-cn" class="bg-white">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
        <title>中红包啦</title>
        <link rel="stylesheet" type="text/css" href="weixin.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
    </head>
    <body class="bg-money">
        <div class="red-bg">
            <img src="/images/weixin-activity/money.jpg" class="top-img money-img">
            <div class="money-div">
                <img src="/images/weixin-activity/head.png" class="head left">
                <p class="money-top-p">恭喜您成功领取<span>20元奖金</span> ！可用于投资或取现。
                <br><span>2015年5月31日前</span> 有效。</p>
                <p class="red-envelope-number money-number">20<span>元</span></p>
                <button class="rule-btn money-rule">如何使用？</button>
                <p class="had-money">奖金已放入与 <span>188****3361</span> 手机号码
                <br>相对应的宏财网账户中~
                <br>20分钟内到账，请到宏财网“我的账户”查看！
                </p>
                <div class="info-area">
                    <p class="intro-title">看看朋友们的手气</p>
                    <div class="money-info">
                        <img src="/images/weixin-activity/head.png" class="left">
                        <p class="nickname left">王小二</p>
                        <p class="red-p left">50元现金</p>
                        <p class="time right">18:58</p>
                        <p class="time right">2015-03-31</p>
                        <img src="/images/weixin-activity/talk.png" class="left talk-img">
                        <p class="thanks left">感谢，理财就靠你了</p>
                    </div>
                </div>
            </div>
            
            <!--<p class="hongbao-info-p">奖金要分享，也要私藏
            <br>您分享的奖金额度变为 <span>0元</span> 时，您将获得<span>额外奖金鼓励</span>
            </p>
            <button class="share-btn"><img src="/images/weixin-activity/share_ico.png" class="share-ico">分享给好友</button>
            
            -->
        </div>
    </body>
</html>
