<!doctype html>
<html lang="zh-cn" class="bg-white">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" />
        <title>活动说明</title>
        <link rel="stylesheet" type="text/css" href="weixin.css">
    </head>
    <body class="bg-white">
        <div class="div-img">
            <img src="/images/weixin-activity/open_1.png">
            <img src="/images/weixin-activity/open_2.png">
            <img src="/images/weixin-activity/open_3.png">
            <img src="/images/weixin-activity/open_4.png">
            <div class="info-area">
                <p class="intro-title">红包</p>
                <p class="introduce-p">红包领取截止日期：2015年5月31日
                <br>红包不可作为投资本金使用，亦不可取现
                <br>发放红包的用户可以领取自己发放的红包
                <br>每位用户领取他人发放红包的机会为一次（待修改）
                </p>
            </div>
            <div class="info-area">
                <p class="intro-title">奖金</p>
                <p class="introduce-p">奖金使用截止日期：2015年5月31日
                <br>投资：奖金可作为投资本金进行投资
                <br>领取：奖金自动匹配至领取奖金所预留的电话号码对应的宏财网账户中
                <br>奖金取现方法：在奖金有效期内完成投资总额≥领取奖金额度时，可取现
                </p>
            </div>
        </div>
    </body>
</html>
