html,body{
    margin: 0;
    padding: 0;
    font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "冬青黑体", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", SimSun, "宋体", Heiti, "黑体", sans-serif;
    background-color: #f5f5f5;
    color: #5b5b5b;
    font-size: 14px;
    width: 100%;
    height: 100%;
}
h2,p{
    text-align: center;
}
.bg-white{
    background-color: white;
}
.ft-16{
    font-size: 16px;
}
.div-img{
    width: 80%;
    margin: -5% auto;
}
.div-img img{
    width: 100%;
    margin: 10% auto 5%;
}
.info-area{
    border-top: 1px solid #ebcdae;
    margin: 10% auto;
}
.introduce-p{
    text-align: left;
    line-height: 1.7em;
}
.intro-title{
    color: #e94828;
    font-weight: bold;
    width: 30%;
    background-color: white;
    margin: -5% auto 5%;
    font-size: 1.3em;
}
.top-img{
    width: 100%;
}
.bg-hongbao{
    background-color: #fff6e4;
    height: 100%;
}
.hongbao-top-p{
    color: #cc9966;
    margin: -75% auto 0;
}
span,
.red-p{
    color: #e94828;
    font-weight: bold;
}
.red-envelope-number{
    color: white;
    font-size: 3em;
    font-weight: bold;
    margin: 35% auto 0;
}
.hongbao-info-p{
    margin: 20% auto 0;
}
.share-btn{
    width: 80%;
    margin: 8% auto 0;
    height: 50px;
    background-color: #ffdd65;
    display: block;
    border-radius: 5px;
    box-shadow: 0px 4px #f3be61;
    font-size: 1.3em;
    font-weight: bold;
    color: #a74300;
    padding: 4% 20% 5% 25%;
    border: 0px solid #fff;
}
.share-ico{
    width: 17%;
    height: 115%;
    display: block;
    float: left;
}
.rule-btn{
    margin: 10% auto;
    width: 25%;
    background-color: #9f9788;
    color: white;
    border-radius: 5px;
    border: 0px solid #fff;
    display: block;
    height: 35px;
    font-weight: bold;
}
.hongbao-div{
    width: 95%;
    margin: 0 auto;
}
.bg-hongbao .intro-title,
.bg-money .intro-title{
    font-size: 1em;
    color: #cc9966;
    background-color: #fff6e4;
    width: 40%;
    margin: -3% auto 5%;
}
.money-info{
    width: 90%;
    height: 80px;
    margin: 10% auto;
}
.money-info img{
    height: 70%;
}
.money-info p{
    margin: 0;
}
.left{
    float: left;
}
.nickname,.red-p{
    width: 20%;
}
.right{
    float: right;
}
.time{
    margin-right: 1% !important;
}
.red-p{
    font-weight: normal;
}
.thanks{
    margin: -9% 0 0 18% !important;
}
.talk-img{
    width: 80%;
    height: 45% !important;
}
.red-bg,
.bg-money .intro-title{
    background-color: #f76623;
}
.money-number{
    margin: 14% auto;
    width: 40%;
}
.money-number span{
    font-size: 0.3em;
    color: white;
    font-weight: normal;
}
.money-div{
    position: absolute;
    z-index: 2;
    width: 90%;
    height: 50px;
    margin: 0 auto;
    padding: 10% 5%;
}
.head{
    width: 12%;
}
.money-img{
    position: absolute;
    z-index: 1;
}
.money-top-p{
    margin: 1% -5% 2% 14%;
    text-align: left;
    color: #cc9966;
}
.money-rule{
    background-color: #9e4312;
    color: #e78146;
    font-weight: normal;
}
button{
    font-family: Helvetica, Tahoma, Arial, "Hiragino Sans GB", "冬青黑体", "Microsoft YaHei", "微软雅黑", "WenQuanYi Micro Hei", SimSun, "宋体", Heiti, "黑体", sans-serif
}
.had-money{
    margin: 18% 0 10% 12%;
}
.had-money span{
    color: white;
}
.red-bg{
    height: 100%;
}