<div class="alert" ng-class="[type ? 'alert-' + type : null]">
  <button type="button" class="close" ng-if="dismissable" ng-click="$hide()">&times;</button>
  <div class="title">
    <strong >温馨提示：</strong>
  </div>

  <div class="content">
    <p>您的投资产品中，有未支付的订单。<br>请完成该订单的支付操作，或取消该订单，<br>再进行其他投资操作。</p>
  </div>

  <div class="bottom col-xs-10 col-xs-offset-1">
    <a class="btn btn-danger btn-block pull-left" ui-sref="root.userCenter.investment" ng-click="$hide()">完成支付</a>
    <a class="btn btn-danger btn-block pull-left margin-l" href="javascript:;" ng-click="$hide()">稍后再说</a>
  </div>

</div>
<div class="mask_layer"></div>
