<div id="enlarge" class="modal ng-scope top am-fade-and-slide-top investment-plan-agreement" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog" style="width: 1200px;">
    <div class="modal-content">
      <div class="modal-header" style="border-bottom: none;">
        <button type="button" class="close" ng-click="$hide()">×</button>
      </div>
      <div class="modal-body">
        <div class="container bg">
          <div class="agreement-area row">
            <div class="col-md-12 col-lg-12">
              <p class="text-title">宏金盈-委托投资协议</p>
              <div class="row">
                <p style="text-align:right;">合同编号：【&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;】</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;为了维护您的权益，请在签署本协议前，仔细阅读、充分理解本协议各条款（特别是加重、免除或限制协议一方责任条款），关注您在协议中的权利、义务。请您审慎阅读并选择同意或不同意本协议。您一经选择同意即视为对本协议全部条款已充分理解并完全接受。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;本协议由以下双方于【   】年【  】月【  】日在中华人民共和国（以下简称“中国”）北京签订。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;协议双方：</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;甲方（委托人）：</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;宏财网用户/会员名：</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;营业执照注册号/身份证号码：</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;乙方（受托人）：宏财泰富（北京）科技有限公司</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;企业法人营业执照注册号：</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;组织机构代码：</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;本协议中，甲方、乙方单称“一方”，合称“双方”。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;鉴于：</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;1、甲方（委托人）系符合中华人民共和国法律（以下简称“中国法律”）（仅为本协议之目的，不包括香港特别行政区、澳门特别行政区和台湾省的法律法规）规定，具有完全民事权利能力和民事行为能力，能够独立承担本协议项下权利义务的自然人、法人或其他组织。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;2、乙方（受托人）系符合中国法律规定，具有完全民事权利能力和民事行为能力，能够独立行使和承担本协议项下权利义务的自然人、法人或其他组织。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;为此，根据国家有关法律法规，甲、乙双方本着平等自愿、诚实守信、互惠互利的原则，立此协议，共同遵守。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;释义与定义</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;第一条 释义与定义</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;除非本协议另有解释或说明，本协议中的下列词语或简称具有如下含义：</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;1.1宏财网：指乙方运营管理的互联网金融信息服务网站平台（域名：www.hongcai.com，以下简称“宏财网”）。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;1.2 宏金盈：指乙方推出的债权类或固定收益类的短期资产配置计划或投资计划，甲方委托乙方以甲方名义或乙方名义，通过宏财网投资甲方认可的债权类或固定收益类产品，包括但不限于受让、购买债权或其他资产收益权等，旨在提高投资者的资金利用率和流动性，实现收益增值。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;委托投资</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;第二条  投资流程</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;2.1甲方自主选择宏金盈产品，确认已充分了解宏金盈的收益风险特征，自愿且不可撤销地委托乙方以甲方名义或乙方名义在授权范围内进行投资。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;2.2 委托投资期：甲方与乙方签署《宏金盈-委托投资协议》，按照乙方或宏财网指定流程认购加入宏金盈后即完成委托投资期。此阶段视为甲方以不可撤销地授权乙方以甲方名义或乙方名义，按照乙方或宏财网确定的规则，投资方式、投资标的，通过宏财网投资债权类或固定收益类产品，包括但不限于受让或购买债权或其他资产收益权等。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;2.3 封闭运作期：甲方成功完成委托投资程序后，乙方或宏财网将进行资金与投资标的的匹配，待匹配成功后即进入封闭运作期。在该资金封闭期间，甲方不得转让该投资计划，也不得向乙方申请赎回退出。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;2.4 结束清算期：按照当期宏金盈发布的投资期间，该投资计划期限届满后为当期投资计划的结束清算期。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;第三条 收益</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;3.1 收益计算期间</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;甲方选择宏金盈发布的不同投资期限进行投资，收益计算期间与宏金盈当期发布的期限相同。起算日以宏金盈当期发布的起算日为准，终止时间以宏金盈当期投资计划公布的期限届满日为准。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;3.2 年化收益率</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;甲方投资宏金盈，收益计算标准与宏金盈当期发布的年化收益率相同。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;3.3 收益发放</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;甲方投资的初始金融将在投资期限到达后一次性返回其账户，收益每月(期)发放。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;第四条 风险揭示</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;4.1 投资人适当性</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;甲方应根据自身的财务状况、实际需求、风险承受能力，谨慎识别、评估、选择相关产品，避免因不当参与而产生损失。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;4.2 可能的“利益冲突”风险</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;甲方投资宏金盈时，乙方既是信息交互平台，同时又接受甲方委托代为办理有关投资、交易、资产配置等事宜，可能存在因乙方内部控制疏漏所导致的利益冲突风险。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;4.3政策风险</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;国家因宏观政策、财政政策、货币政策、行业政策、地区发展、法律法规等因素引起的政策风险；</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;4.4 市场风险</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;宏观经济运行、国家政策、证券市场监管政策等的变化 ，均可能导致市场价格波动，从而可能影响收益。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;4.5 信用风险</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;当配置的资产发生资金状况的风险，或者债务人的还款意愿发生变化时，甲方的投资资金可能无法按时收回或延迟回收。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;以上风险揭示事项仅为列举性质，未能详尽列明宏金盈产品的所有风险。甲方在委托投资前，应认真做好风险评估与财务安排，确定自身有足够的风险承受能力。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;第五条 其他</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;5.1本协议采用电子文本形式制成，不提供纸质协议及账单。甲方加入宏金盈投资计划，完成委托投资程序后即视为同意翼存宝相关规则和本协议全部内容。本协议经甲方通过宏财网在线下载获得。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;5.2 本协议保存在乙方平台指定位置，甲方认可该形式的协议效力及本协议内容。甲方委托乙方保管所有与本协议有关的书面文件和电子信息，对各方均具有法律约束力。各方确认乙方保管的书面文件和电子信息作为本协议有关事项的终局证明。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;5.3 因本协议引起的任何争议，首先应当通过友好协商解决。协商不成的任何一方应向乙方所在地法院提出诉讼。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;5.4 本协议中的任何条款违反法律法规，则该条款无效，但该无效条款并不影响本协议其他条款的效力。任何对协议文本内容理解产生歧义的，以乙方在线公布的涉及宏金盈投资计划相关文件说明为准。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;5.5本协议项下无约定的事项以宏财网公布的相关规则为准。</p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;甲方声明：乙方已向甲方充分提示本协议的风险，对于本协议条款已应甲方要求进行充分解释及说明，甲方对本协议内容及相应风险已完全知悉并理解；甲方已熟悉宏金盈的所有流程，充分了解宏金盈投资计划的投资特点及风险收益特征，承诺愿意遵守宏金盈的运行规则及相关收费标准。</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer" style="">
        <div class="col-xs-offset-4 col-xs-4">
          <a class="btn btn-primary btn-block" ng-click="$hide()">知道啦</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mask_layer"></div>
