<div class="alert" ng-class="[type ? 'alert-' + type : null]">
  <button type="button" class="close" ng-if="dismissable" ng-click="$hide()">&times;</button>
  <div class="title">
    <strong >温馨提示：</strong>
  </div>
  
  <div class="content">
    <p>已转让债权份额9000元，未转让债权份额11000元，是否确认撤销？</p>
    <p>当前有用户正在认购，暂时不可撤销~</p>
    <p>债权已转让，不可撤销~</p>
  </div>

  <div class="bottom col-xs-10 col-xs-offset-1">
    <a class="btn btn-primary-orange btn-block pull-left margin-r-30 margin-l-40" href="javascript:;" ng-click="$hide()">继续转让</a>
    <a class="btn btn-primary-orange btn-block pull-left" href="javascript:;" ng-click="$hide()">确认撤销</a>
    <a class="btn btn-primary-orange btn-block pull-left margin-l" href="javascript:;" ng-click="$hide()">我知道了</a>
  </div>
  
</div>
<div class="mask_layer"></div>