<div class="modal ng-scope top am-fade-and-slide-top" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog1">
    <div class="modal-bg">
      <div class="modal-header border-0">
        <button type="button" class="close close1" ng-click="$hide()"></button>
        <p class="ft-30 ft-white head">北京网贷风险监控及资金存管系统</p>
      </div>
      <div class="modal-body">
        <div class="connect">
          <img src="/images/user-center/activate-logo.png" alt="" class="hongcai">
          <div class="text">
            宏财网携手北京网贷存管通，为您提供更安全的资金存管服务</br>
            您的账户已经升级为北京网贷资金存管账户，请点击按钮立即</br>
            进行账户迁移，尽享安全理财。</br>
          </div>
          <div class="btns clearfix">
            <button class="btn1 pull-left">了解存管通</button>
            <button class="btn2 pull-left">立即迁移</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
