<div ng-ctroller="WithdrawCtrl" style="z-index: 1000000;" id="trans-detail" class="trans-detail" ng-show="true">
    <div class="modal ng-scope top" tabindex="-1" role="dialog" style="display: block;">
      <div class="modal-dialog1">
        <div class="modal-bg0">
          <div class="title">
            <span class="tip">转让详情</span>
          </div>
          <div class="main user-right-h">
            <div class="top">
              <p class="margin-l-20 display-inb"><i class="fa fa-circle ft-orange margin-r-5" aria-hidden="true"></i>转让金额:<span class="margin-l-10">15000元</span></p><p class="margin-l-20 display-inb"><i class="fa fa-circle  ft-orange margin-r-5" aria-hidden="true"></i>转让利率:<span class="margin-l-10">13.5%</span></p>
              <p class="margin-l-20 display-inb"><i class="fa fa-circle  ft-orange margin-r-5" aria-hidden="true"></i>已转让金额:<span class="margin-l-10">5000元</span></p><p class="margin-l-20 display-inb"><i class="fa fa-circle  ft-orange margin-r-5" aria-hidden="true"></i>转让收入:<span class="margin-l-10">100.55元</span></p>
            </div>
            <div class="padding-l-45 padding-r-45">
              <hr>
            </div>
            <div class="table-list padding-l-45 padding-r-45">
              <ul>
                <li class="margin-t-15 margin-b-15">
                  <p class="ft-13 display-inb">受让人</p><p class="ft-13 display-inb">转让本金（元）</p><p class="ft-13 display-inb">转让价格（元）</p><p class="ft-13 display-inb">转让时间</p>
                </li>
                <li>
                  <p class="ft-13 display-inb">153XXXX5650</p><p class="ft-13 display-inb">15000</p><p class="ft-13 display-inb">15050</p><p class="ft-13 display-inb">2016-10-28 16:55:20</p>
                </li>
                <li>
                  <p class="ft-13 display-inb">153XXXX5650</p><p class="ft-13 display-inb">15000</p><p class="ft-13 display-inb">15050</p><p class="ft-13 display-inb">2016-10-28 16:55:20</p>
                </li>
                <li>
                  <p class="ft-13 display-inb">153XXXX5650</p><p class="ft-13 display-inb">15000</p><p class="ft-13 display-inb">15050</p><p class="ft-13 display-inb">2016-10-28 16:55:20</p>
                </li>
                <li>
                  <p class="ft-13 display-inb">153XXXX5650</p><p class="ft-13 display-inb">15000</p><p class="ft-13 display-inb">15050</p><p class="ft-13 display-inb">2016-10-28 16:55:20</p>
                </li>
                <li>
                  <p class="ft-13 display-inb">153XXXX5650</p><p class="ft-13 display-inb">15000</p><p class="ft-13 display-inb">15050</p><p class="ft-13 display-inb">2016-10-28 16:55:20</p>
                </li>
                <li>
                  <p class="ft-13 display-inb">153XXXX5650</p><p class="ft-13 display-inb">15000</p><p class="ft-13 display-inb">15050</p><p class="ft-13 display-inb">2016-10-28 16:55:20</p>
                </li>
                <li>
                  <p class="ft-13 display-inb">153XXXX5650</p><p class="ft-13 display-inb">15000</p><p class="ft-13 display-inb">15050</p><p class="ft-13 display-inb">2016-10-28 16:55:20</p>
                </li>
              </ul>
            </div>
        </div>
        
      </div>
    </div>

  </div>
</div>