<div class="alert" ng-class="[type ? 'alert-' + type : null]" ng-controller="LoginCtrl">
  <button type="button" class="close" ng-click="$hide()">&times;</button>
  <div class="title">
    <strong>用户登录</strong>
  </div>
  <div class="content">
    <div class="row">
      <form class="form-login col-xs-12" role="form" name="loginForm" ng-submit="login(user);$hide()">
        <div class="form-group col-xs-12">
          <label for="account" class="col-xs-3">账户：</label>
          <input type="text" class="col-xs-6" id="account" name="account" ng-model="user.account" required auto-fill-sync autofocus />
          <div ng-if="loginForm.account.$dirty && loginForm.account.$invalid" class="form-div col-xs-offset-3 col-xs-9">
            <div ng-if="loginForm.account.$error.required" class="row">
              <i class="fa fa-times-circle-o login-check-img"></i>
              <p class="input-tips login-input-tips">账号不能为空</p>
            </div>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label for="password" class="col-xs-3">密码：</label>
          <input type="password" class="col-xs-6" name="password" ng-model="user.password" required auto-fill-sync autofocus />
          <div ng-if="loginForm.password.$dirty && loginForm.password.$invalid" class="col-xs-9 col-xs-offset-3 form-div">
            <div ng-if="loginForm.password.$error.required" class="row">
              <i class="fa fa-times-circle-o login-check-img"></i>
              <p class="input-tips login-input-tips">密码不能为空</p>
            </div>
          </div>
          <div ng-if="isPasswordError" ng-init="isPasswordError=false" class="col-xs-9 col-xs-offset-3 form-div">
            <div class="row">
              <i class="fa fa-times-circle-o login-check-img"></i>
              <p class="input-tips login-input-tips">账号或密码错误</p>
            </div>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label class="col-xs-3"></label>
          <div class="col-xs-6">
            <div class="row">
              <input type="checkbox" class="p-checkbox" ng-model="rememberUserName" ng-init="rememberUserName = true" />
              <p class="p-remember">记住用户名</p>
              <a ng-click="$hide();" ui-sref="root.get-pwd-back" class="p-forget">忘记密码？</a>
            </div>
          </div>
          <input type="submit" class="btn-primary-orange col-xs-6 col-xs-offset-3" ng-disabled="loginForm.$invalid && !isPasswordError" value="立即登录" />
        </div>
      </form>
    </div>
  </div>
</div>
<div class="mask_layer"></div>
