<div id="investment-detail", class="popover">
  <h5>计划还款表</h5>
  <h5>已支付本息：0.00元  未支付本息：0.00元</h5>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>预计支付时间</th>
        <th>预计支付金额</th>
        <th>实际支付状态</th>
      </tr>
      <tbody>
        <tr>
          <td>{{ item.settlementDate }}</td>
          <td>{{ item.settlementDate }}</td>
          <td>{{ item.settlementDate }}</td>
        </tr>
         <tr>
          <td>{{ item.settlementDate }}</td>
          <td>{{ item.settlementDate }}</td>
          <td>{{ item.settlementDate }}</td>
        </tr>
        <tr>
          <td>{{ item.settlementDate }}</td>
          <td>{{ item.settlementDate }}</td>
          <td>{{ item.settlementDate }}</td>
        </tr>
        <tr>
          <td>{{ item.settlementDate }}</td>
          <td>{{ item.settlementDate }}</td>
          <td>{{ item.settlementDate }}</td>
        </tr>
        <tr>
          <td>{{ item.settlementDate }}</td>
          <td>{{ item.settlementDate }}</td>
          <td>{{ item.settlementDate }}</td>
        </tr>
        <tr>
          <td>{{ item.settlementDate }}</td>
          <td>{{ item.settlementDate }}</td>
          <td>{{ item.settlementDate }}</td>
        </tr>
      </tbody>
    </thead>
  </table>
</div>
