<div id="investment-detail", class="popover right-fixed">
  <div class="arrow"></div>
  <h5 class="popover-title">计划还款表</h5>
  <div class="popover-content" style="font-size: 12px;">
    <ul class="list-unstyled">
      <li>已支付本息：0.00元</li>
      <li>未支付本息：0.00元</li>
    </ul>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>预支付时间</th>
          <th>预支付金额</th>
          <th>实支付状态</th>
        </tr>
        <tbody>
          <tr>
            <td>{{ item.settlementDate }}</td>
            <td>{{ item.settlementDate }}</td>
            <td>{{ item.settlementDate }}</td>
          </tr>
           <tr>
            <td>{{ item.settlementDate }}</td>
            <td>{{ item.settlementDate }}</td>
            <td>{{ item.settlementDate }}</td>
          </tr>
          <tr>
            <td>{{ item.settlementDate }}</td>
            <td>{{ item.settlementDate }}</td>
            <td>{{ item.settlementDate }}</td>
          </tr>
          <tr>
            <td>{{ item.settlementDate }}</td>
            <td>{{ item.settlementDate }}</td>
            <td>{{ item.settlementDate }}</td>
          </tr>
          <tr>
            <td>{{ item.settlementDate }}</td>
            <td>{{ item.settlementDate }}</td>
            <td>{{ item.settlementDate }}</td>
          </tr>
          <tr>
            <td>{{ item.settlementDate }}</td>
            <td>{{ item.settlementDate }}</td>
            <td>{{ item.settlementDate }}</td>
          </tr>
        </tbody>
      </thead>
    </table>
  </div>
</div>

