<div id="calculater" class="popover">
	<div  class="result">      
       	<div class="handle"><p class="rotate">&lt;&lt</p></div>
      	<div class="slide">
      		<pre>
				<label>计算结果：</label>
				<span>出借本金&nbsp;=&nbsp;<strong>{{value === '' || value < 100 || value > 1000000 ? '0' : value}}</strong>元</span>
				<span>收获利息&nbsp;=&nbsp;<strong id="rateValue">0</strong>元</span>
				<span>回款总额&nbsp;=&nbsp;<strong id="payback" >0</strong>元</span>
			</pre>
		</div>  
	</div>

  	<div class="arrow"></div>
  	<h3 class="popover-title" ng-show="title"></h3>
  	<div class="popover-content">
	  	<form name="popoverForm" class="ng-pristine ng-valid">
	  		<pre>
	  			<span>出借金额：{{value === '' || value < 100 || value > 1000000 ? '100-100万' : value}}</span>
	  			<span>出借利率：{{rate === '' ? 0 : rate}}</span>
	  			<span>出借期限：{{selectedIcon}}</span>
	  		</pre>
			<input type="number" min="0" ng-model="value" placeholder="输入借款金额">
			<input type="number" min="0" ng-model="rate" placeholder="输入借款利率">
	    	<button type="button" class="btn btn-default" ng-model="selectedIcon" data-html="1" ng-options="icon.value as icon.label for icon in icons" placeholder="选择借款期数" bs-select><span class="caret"></span>
	    	</button>
	  		<div class="form-actions">
	  			<button type="button" class="btn btn-danger" ng-click="$hide()">关闭</button> 
	  			<button type="button" class="btn btn-primary" ng-click="popover.saved=true;">计算</button>
	  		</div>
	  	</form>
  	</div>
  	<script type="text/javascript">
		$(".handle").click(function(){
			if(!$(this).siblings(".slide").is(":visible")){
				$(this).addClass("select");
				$(this).siblings(".slide").animate({width:"show"},300);
				$('.rotate').html('&gt;&gt;');
			}
			else{
				$(this).siblings(".slide").animate({width:"hide"},300);
				$(this).removeClass("select");
				$('.rotate').html('&lt;&lt;');
			}
		})

		$('.btn-primary').click(function(){
			//$('#rateValue').text({{value}}*{{rate}});
	   	})
	</script>
  	
</div>
