<div ng-repeat="card in media" class="slide" on-finish-render="init()">
  <div ng-if="card.href">
    <a href="{{ card.href }}" target="_blank"><img ng-src="{{ card.src }}" alt="" width="100%"></a>
  </div>
  <div ng-if="!card.href">
    <img ng-src="{{ card.src }}" alt="" width="100%">
  </div>
  <div class="thumbnail">
    <a class="grouped_elements" rel="group1" href="{{contractOriginalFileList[$index].uploadFile.url}}"><img fancybox width="175" height="125" hc-preview-url="{{enterPrise.uploadFile.url}}" src="{{contract.uploadFile.url}}"></a>
    <div class="caption">
      <h5 class="file-head">{{contract.uploadFile.originalName}}</h5>
    </div>
  </div>
</div>
