<div class="col-xs-12 padding-l-0">
  <div class="panel panel-default">
    <h3 class="read-header border-b ft-16 padding-l-20">
      常见问题
    </h3>
    <div class="tab-content">
      <div class="read-img text-center margin-t-15 margin-b-15">
        <div class="read-text text-left margin-l-30 ft-14 ft-grey1 margin-t-15">
          <p class="margin-b-0 ft-13">
            <a target="_blank">什么是债权转让？</a>
          </p>
          <p class="margin-b-0 ft-13">
            <a target="_blank">债权转让的实际支付金额为什么会大于认购金额？</a>
          </p>
          <p class="margin-b-0 ft-13">
            <a target="_blank">购买债权后，已收收益为什么是负值？</a>
          </p>
          <p class="margin-b-0 ft-13">
            <a target="_blank">购买债权后可以再次转让么？</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>