<div>
	<div class="container page-container">
		<div class="row">
			<div class="col-md-3">
				<nav class="list-group">
					<a href="#!/index" class="list-group-item ">首页</a>
					<a href="#!/project-list" class="list-group-item user-list">用户列表</a>
				</nav>
			</div>
			
			<div class="col-md-9" ng-controller="ProjectListCtrl">
				<div class="span2">
					搜索: <input ng-model="query">
					排序:
					<select ng-model="orderProp">
					  <option value="id">ID</option>
					  <option value="name">NAME</option>
					</select>
			    </div>
			    <div class="table-responsive">
					<table class="table table-hover">
					  <thead>
					    <tr>
					      <th>ID</th>
					      <th>NAME</th>
					      <th>NUMBER</th>
					      <th>操作</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr ng-repeat="item in data | filter:query | orderBy:orderProp | startFrom:currentPage * pageSize | limitTo:pageSize">
							<td>{{item.id}}</td>
							<td>{{item.name}}</td>
							<td>{{item.number}}</td>
							<td>
								<a class="btn btn-default btn-sm" href="#!/project-detail/{{item.id}}">详细</a> 
							</td>
						</tr>
					  </tbody>
					</table>
				    <ul class="pager">
					  <li><button class="btn btn-default btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage = currentPage - 1">上一页</button></li>
					  {{currentPage +1 }} / {{numberOfPages()}} 共 {{data.length}} 条
					  <li><button class="btn btn-default btn-sm" ng-disabled="currentPage >= data.length / pageSize - 1" ng-click="currentPage = currentPage + 1">下一页</button></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
