<div>
	<div class="container page-container">
		<div class="row">
			<div class="col-md-12">
				<div class="container filter-container">
			        <div>
			            <label>项目状态：</label>
			            <ul class="nav nav-pills">
			            	<li class="{{status == '3,4,5,6' ? 'active' : ''}}">
			            		<a href="#!/project-list?status=3,4,5,6&minCycle={{minCycle}}&maxCycle={{maxCycle}}&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition={{sortCondition}}" >全部</a>
			            	</li>
			            	<li class="{{status == '3' ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status ? 3 : status}}&minCycle={{minCycle}}&maxCycle={{maxCycle}}&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition={{sortCondition}}" >投标中</a>
			            	</li>
			            	<li class="{{status == '4' ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status ? 4 : status}}&minCycle={{minCycle}}&maxCycle={{maxCycle}}&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition={{sortCondition}}" >投标结束</a>
			            	</li>
			            	<li class="{{status == '5' ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status ? 5 : status}}&minCycle={{minCycle}}&maxCycle={{maxCycle}}&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition={{sortCondition}}" >还款中</a>
			            	</li>
			            	<li class="{{status == '6' ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status ? 6 : status}}&minCycle={{minCycle}}&maxCycle={{maxCycle}}&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition={{sortCondition}}" >还款完成</a>
			            	</li>
			            </ul>
			        </div>
			        <div>
			            <label>项目期限：</label>
			            <ul class="nav nav-pills">
			            	<li class="{{(minCycle==0 && maxCycle==100) ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle=0&maxCycle=100&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition={{sortCondition}}" >全部</a>
			            	</li>
			            	<li class="{{(minCycle==0 && maxCycle==3) ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle={{minCycle ? 0 : minCycle}}&maxCycle={{maxCycle ? 3 : maxCycle}}&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition={{sortCondition}}" >0 - 3个月</a>
			            	</li>
			            	<li class="{{(minCycle==3 && maxCycle==6) ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle={{minCycle ? 3 : minCycle}}&maxCycle={{maxCycle ? 6 : maxCycle}}&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition={{sortCondition}}" >3 - 6个月</a>
			            	</li>
			            	<li class="{{(minCycle==6 && maxCycle==9) ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle={{minCycle ? 6 : minCycle}}&maxCycle={{maxCycle ? 9 : maxCycle}}&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition={{sortCondition}}" >6 - 9个月</a>
			            	</li>
			            	<li class="{{(minCycle==9 && maxCycle==12) ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle={{minCycle ? 9 : minCycle}}&maxCycle={{maxCycle ? 12 : maxCycle}}&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition={{sortCondition}}" >9 - 12个月</a>
			            	</li>
			            	<li class="{{(minCycle==12 && maxCycle==15) ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle={{minCycle ? 12 : minCycle}}&maxCycle={{maxCycle ? 15 : maxCycle}}&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition={{sortCondition}}" >12 - 15个月</a>
			            	</li>
			            	<li class="{{(minCycle==15 && maxCycle==100) ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle={{minCycle ? 15 : minCycle}}&maxCycle={{maxCycle ? 100 : maxCycle}}&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition={{sortCondition}}" >15个月以上</a>
			            	</li>
			            </ul>
			        </div>
			        <div>
			            <label>项目收益：</label>
			            <ul class="nav nav-pills">
			            	<li class="{{(minEarning==0 && maxEarning==20) ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle={{minCycle}}&maxCycle={{maxCycle}}&minEarning=0&maxEarning=20&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition={{sortCondition}}" >全部</a>
			            	</li>
			            	<li class="{{(minEarning==0 && maxEarning==8) ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle={{minCycle}}&maxCycle={{maxCycle}}&minEarning=0&maxEarning=8&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition={{sortCondition}}" >8%以下</a>
			            	</li>
			            	<li class="{{(minEarning==8 && maxEarning==10) ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle={{minCycle}}&maxCycle={{maxCycle}}&minEarning=8&maxEarning=10&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition={{sortCondition}}" >8 - 10%</a>
			            	</li>
			            	<li class="{{(minEarning==10 && maxEarning==12) ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle={{minCycle}}&maxCycle={{maxCycle}}&minEarning=10&maxEarning=12&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition={{sortCondition}}" >10 - 12%</a>
			            	</li>
			            	<li class="{{(minEarning==12 && maxEarning==20) ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle={{minCycle}}&maxCycle={{maxCycle}}&minEarning=12&maxEarning=20&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition={{sortCondition}}" >12%以上</a>
			            	</li>
			            </ul>
			        </div>
			        <div>
			            <label>项目规模：</label>
			            <ul class="nav nav-pills">
			            	<li class="{{(minTotalAmount==0 && maxTotalAmount==200000000) ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle={{minCycle}}&maxCycle={{maxCycle}}&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount=0&maxTotalAmount=200000000&sortCondition={{sortCondition}}" >全部</a>
			            	</li>
			            	<li class="{{(minTotalAmount==0 && maxTotalAmount==2000000) ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle={{minCycle}}&maxCycle={{maxCycle}}&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount=0&maxTotalAmount=2000000&sortCondition={{sortCondition}}" >200万以下</a>
			            	</li>
			            	<li class="{{(minTotalAmount==2000000 && maxTotalAmount==5000000) ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle={{minCycle}}&maxCycle={{maxCycle}}&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount=2000000&maxTotalAmount=5000000&sortCondition={{sortCondition}}" >200-500万</a>
			            	</li>
			            	<li class="{{(minTotalAmount==5000000 && maxTotalAmount==10000000) ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle={{minCycle}}&maxCycle={{maxCycle}}&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount=5000000&maxTotalAmount=10000000&sortCondition={{sortCondition}}" >500-1000万</a>
			            	</li>
			            	<li class="{{(minTotalAmount==10000000 && maxTotalAmount==200000000) ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle={{minCycle}}&maxCycle={{maxCycle}}&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount=10000000&maxTotalAmount=200000000&sortCondition={{sortCondition}}" >1000万以上</a>
			            	</li>
			            </ul>
			        </div>
			        <div>
			            <label>排序：</label>
			            <ul class="nav nav-pills">
			            	<li class="{{sortCondition=='release_time' ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle={{minCycle}}&maxCycle={{maxCycle}}&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition=release_time" >发布时间</a>
			            	</li>
			            	<li class="{{sortCondition=='total' ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle={{minCycle}}&maxCycle={{maxCycle}}&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition=total" >项目规模</a>
			            	</li>
			            	<li class="{{sortCondition=='annual_earnings' ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle={{minCycle}}&maxCycle={{maxCycle}}&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition=annual_earnings" >年化收益</a>
			            	</li>
			            	<li class="{{sortCondition=='repayment_date' ? 'active' : ''}}">
			            		<a href="#!/project-list?status={{status}}&minCycle={{minCycle}}&maxCycle={{maxCycle}}&minEarning={{minEarning}}&maxEarning={{maxEarning}}&minTotalAmount={{minTotalAmount}}&maxTotalAmount={{maxTotalAmount}}&sortCondition=repayment_date" >还款日期</a>
			            	</li>
			            </ul>
			        </div>
				</div><!-- /.container filter-container -->
			</div><!-- /.col-md-12 -->
			
			<div class="col-md-12" ng-controller="ProjectListCtrl">
				<div class="span2">
					搜索: <input ng-model="query">
					排序:
					<select ng-model="orderProp">
					  <option value="id">ID</option>
					  <option value="name">NAME</option>
					</select>
			    </div>
			    <div class="table-responsive">
					<table class="table table-hover">
					  <thead>
					    <tr>
					      <th>ID</th>
					      <th>NAME</th>
					      <th>NUMBER</th>
					      <th>操作</th>
					    </tr>
					  </thead>
					  <tbody>
					    <tr ng-repeat="item in data | filter: query | startFrom:currentPage * pageSize | limitTo:pageSize">
							<td>{{item.id}}</td>
							<td>{{item.name}}</td>
							<td>{{item.number}}</td>
							<td>
								<a class="btn btn-default btn-sm" href="#!/project-detail/{{item.id}}">详细</a> 
							</td>
						</tr>
					  </tbody>
					</table>
				    <ul class="pager">
					  <li><button class="btn btn-default btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage = currentPage - 1">上一页</button></li>
					  {{currentPage +1 }} / {{numberOfPages()}} 共 {{data.length}} 条
					  <li><button class="btn btn-default btn-sm" ng-disabled="currentPage >= data.length / pageSize - 1" ng-click="currentPage = currentPage + 1">下一页</button></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
