<!--about-sidebar-->
<div class="about-left-area">
	<a ui-sref="root.about-us.introduction-of-platform" class="tips-area on-it"><!-- tips-show">-->
		<div class="left-show-area left-top-radius"></div>
		<p>平台简介</p>
		<!--<div class="left-show-area"></div>-->
		<!--<p class="now">平台简介</p>-->
	</a>
	<a ui-sref="root.about-us.business-model" class="tips-area"><!-- tips-show">-->
		<div></div>
		<p>业务模式</p>
	</a>
	<a ui-sref="root.about-us.company-profile" class="tips-area"><!-- tips-show">-->
		<div></div>
		<p>公司简介</p>
	</a>
	<a ui-sref="root.about-us.web-site-announcement" class="tips-area"><!-- tips-show">-->
		<div></div>
		<p>网站公告</p>
	</a>
	<a ui-sref="root.about-us.hongcaidynamic" class="tips-area"><!-- tips-show">-->
		<div></div>
		<p>宏财动态</p>
	</a>
	<a ui-sref="root.about-us.media-reports" class="tips-area"><!-- tips-show">-->
		<div></div>
		<p>媒体报道</p>
	</a>
	<a ui-sref="root.about-us.link-us" class="tips-area"><!-- tips-show">-->
		<div></div>
		<p>联系我们</p>
	</a>
</div>