<!--about-sidebar-->
<div class="col-md-offset-1 col-lg-offset-1 col-md-2 col-lg-2 about-left-area no-padding">
	<a ui-sref="root.about-us.introduction-of-platform" class="tips-area {{flag == 1?'on-it':''}}" >
		<div class="left-top-radius"></div>
		<p>平台简介</p>
	</a>
	<a ui-sref="root.about-us.business-model" class="tips-area">
		<div></div>
		<p>业务模式</p>
	</a>
	<a ui-sref="root.about-us.company-profile" class="tips-area">
		<div></div>
		<p>公司简介</p>
	</a>
	<a ui-sref="root.about-us.web-site-announcement" class="tips-area">
		<div></div>
		<p>网站公告</p>
	</a>
	<a ui-sref="root.about-us.hongcaidynamic" class="tips-area">
		<div></div>
		<p>宏财动态</p>
	</a>
	<a ui-sref="root.about-us.media-reports" class="tips-area">
		<div></div>
		<p>媒体报道</p>
	</a>
	<a ui-sref="root.about-us.link-us" class="tips-area">
		<div class="left-bottom-radius"></div>
		<p>联系我们</p>
	</a>
</div>
<!--about-sidebar-->
<!--<aboutsidebar menus='menus'></aboutsidebar>-->