<!--业务模式变成宏财资质-->
<div class="right-area introduction-height col-md-9 col-lg-9">
	<div class="row">
		<div class="right-title">宏财资质</div>
	</div>
	<div class="row">
		<div class="introduction-area col-md-12 col-lg-12">
			宏财网的商业模式是在线上对接有投资理财需求的投资人，投资人通过宏财网平台，将资金出借给企业，获得相应的投资利益。平台上展示的企业，都是通过了宏财网全面风控体系审核，具有良好信誉，以及还款能力，有借款需求的实体经营企业。投资人的本息，由宏财网挑选合作的，具有良好资质的，多家融资性保荐机构提供相应的本息全额担保。
			<br><br>宏财网作为一家P2B投资理财平台，仅提供信息服务，不介入交易环节，是纯信息中介平台。
			<div class="img-area">
		        <a href=""><img ph-img="176x150" class="img-rounded"></a>
		        <a href=""><img ph-img="176x150" class="img-rounded"></a>
		        <a href=""><img ph-img="176x150" class="img-rounded"></a>
			</div>
		</div>
	</div>
</div>