<div class="right-area col-md-9 col-lg-9">
	<div class="row">
		<div class="right-title">宏财动态</div>
	</div>
	<div class="row">
		<div class="introduction-area col-md-12 col-lg-12" ng-repeat="item in list.list">
			<div class="dynamic-show">
				<a ui-sref="root.about-us.hongcai-trends-detail({textId: item.id})">
					<img src="{{baseFileUrl + item.image}}" width="120" height="120" class="details-img">
				</a> 
				<a class="p-title-dynamic col-md-6 col-lg-6" ui-sref="root.about-us.hongcai-trends-detail({textId: item.id})" title="{{item.title}}">{{item.title}}</a>
				<p class=" col-md-3 col-lg-3">{{item.createTime | date:'yyyy-MM-dd'}}</p>
				<a ui-sref="root.about-us.hongcai-trends-detail({textId: item.id})" class="p-dynamic-show col-md-8 col-lg-8">
					<div ta-bind ng-model="item.content" class="news-details"></div>
				</a>
			</div>
		</div>
		<ul class="pager">
		  <bgf-pagination
	            page="page"
	            per-page="perPage"
	            client-limit="clientLimit"
	            url="'hongcai/api/v1/siteText/getTextList'"
	            url-params="urlParams"
	            link-group-size="2"
	            collection="list"
	            template-url="/views/tpl/paginate-anything.html">
	        </bgf-pagination>
		</ul>
	</div>
</div>