<!-- 项目方介绍 -->
<div class="right-area col-md-9 col-lg-9 padding-b">
  <div class="row">
    <div class="right-title-about2"><p class="projecter">项目方介绍</p></div>
  </div>
  <div class="row ft-14 ft-grey555 text-center margin-t-23">
  	<p class="ft-24">鑫融基金控股份有限公司（证券代码：832379）</p>
  	<p class="ft-18">——新三板首家全牌照金融服务机构</p>
  	<p class="projecter text-left margin-auto">鑫融基金控股份有限公司注册资本16.39亿元，是新三板金控第一股和首家全牌照金融服务机构，股本总额位居全国第四，先后获得嘉实资本、光大证券、申万宏源、国信证券、中原证券、华融天泽等机构的投资。鑫融基金控是涵盖担保、融资租赁、小额贷款、股权投资、基金管理、资产管理、互联网金融、证券咨询、并购重组等多个领域多种业态的综合类金融服务机构。旗下拥有鑫融基投资担保有限公司、河南东方企业投资担保有限公司、洛阳工业园区隆昌小额贷款有限公司、卫鼎融资租赁有限公司、河南华融企业资产管理公司、正邦国际（深圳）资产管理公司、北京瑞方股权投资基金公司等近20家子公司。</p>
  </div>
</div>