<!--宏财简介-->
<div class="right-area col-md-9 col-lg-9 padding-b">
  <div class="row">
    <div class="right-title-about">宏财简介</div>
  </div>
  <div class="">
    <p><strong class="magn">平台简介：</strong></p>
    <!-- <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">宏财网是国内知名的P2B互联网金融交易平台，引入双重保障机制，为投资者提供100%本息保障，且超过银行同期活期收益利率40倍的高收益理财项目。通过宏财网，您可以将手中富余资金出借给由优质担保公司担保的盈利能力强的中小企业，并获得高额的利息回报，分享企业高速发展的红利。</p>
     -->

    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">宏财网，秉承“让高大上金融回归普通大众”的使命，将富人俱乐部中安全性高的信托、资管、基金等产品设计为适合普通大众投资的产品，让普通投资者也可以享受高富帅专享金融产品的收益。</p>

    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">信托、资管等产品是由信托公司、证券公司等专业金融机构发起的高安全性金融产品。信托业已经成为仅次于银行的国内第二大金融机构，2014年为富人们带来近万亿的投资收益。目前国内只有68家有牌照的信托公司，与上千家银行相比，信托牌照含金量更高，因此，信托行业基本上都是隐形刚性兑付，信托产品安全性极高。但因为信托起投门槛至少100万元，让信托成为富人俱乐部专属产品，众多普通投资者被排除在信托门外。</p>

    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">宏财网与金融机构合作，将传统高大上的金融产品设计为适合普通大众的灵活性强的产品，100元即可投资高大上金融产品，放心赚取富人俱乐部的投资收益。</p>

    <!-- <p><strong class="magn">平台原理：</strong></p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">宏财网致力于为个人、借款企业和担保公司搭建一个高效、安全的投融资桥梁，构筑更轻松自由、安全高收益的投融资环境，寻找个人、企业之间的安全与效率平衡点，实现投资人、借款企业和担保公司多方共赢。
      <img src="images/about-us/flow-1.png" width="100%" >
    </p> -->

    <p><strong class="magn">公司简介：</strong></p>
      <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">北京竞财投资服务有限公司是专业从事P2F业务的互联网金融公司，办公地址位于北京奥运村核心区的国家会议中心。</p>
    <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">公司致力于发展普惠金融，搭建广大普通投资者与传统金融机构互通的桥梁，并通过系列产品设计，使高大上金融回归普通大众。公司员工毕业于北京大学、中国人民大学、奥尔本大学等国内外名校，有政府机关，腾讯、新浪等互联网公司，中国银行、中信证券等金融机构工作背景。公司设有研发部、网络安全部、运营部、商务部、市场部、投资部、客服部等部门。</p>

    <p><strong class="magn">宏财网企业文化：</strong></p>
    <p><strong class="magn-1">1.品牌释义</strong></p>
      <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">宏者，普惠也；财者，金融也；宏财，推动社会建设普惠金融体系；</p>

    <p><strong class="magn-1">2.企业愿景</strong></p>
      <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">成为中国最安全的互联网金融交易中心，让客户资金合理流动创造更大财富。</p>

    <p><strong class="magn-1">3.企业使命</strong></p>
      <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">让高大上金融回归普通大众。</p>

   <!--  <p><strong class="magn-1">4.企业发展定位</strong></p>
      <p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">宏财网是大众投资者的乐园、中小企业的融资窗口、企业服务机构的合作伙伴。</p>
 -->
    <!-- <p><strong class="magn">团队介绍：</strong></p>
      <p class="aboutUs-introduction-pct">
      <img src="images/about-us/flow-2.png" width="70%"></p>
      <p><strong class="magn-2">运营支持团队</p>
      <p class="introduction-area aboutUs-introduction-area introduction-content col-md-12 col-lg-12">
      团队是由从事互联网、互联网金融、银行、投资、证券等领域多年丰富经验的人员组成。主要负责市场调研与分析、团队组建和网站日常协作，结合当下市场状况拟定具体的网络运营方案。为宏财网提供全方位、系统、高效的运营支持。从业务模式规划、产品设计、网站策划、制作维护、运营推广、客服、营销等各个环节，达成团队的高效合作。</p>

      <p class="aboutUs-introduction-pct">
      <img src="images/about-us/flow-3.png" width="70%"></p>
      <p><strong class="magn-2">项目团队</strong></p>
      <p class="introduction-area aboutUs-introduction-area introduction-content col-md-12 col-lg-12">
      团队核心成员分别来自于中国银行、太合控股集团、光大证券、宜信财富等国内著名金融机构，具有丰富的金融行业从业经验和项目经验。团队负责人包璟女士具有5年银行从业经历和15年投资管理从业经验，曾担任太合诚信投资公司副总裁、北京乾祥海泉投资管理公司首席投资运营官等。项目团队以丰富的经验、专业的知识、严谨的态度为用户挑选优质的项目。</p>

      <p class="aboutUs-introduction-pct">
      <img src="images/about-us/flow-4.png" width="70%"></p>
      <p><strong class="magn-2">风控团队</strong></p>
      <p class="introduction-area aboutUs-introduction-area introduction-content col-md-12 col-lg-12">
      团队汇聚了银行、担保、小贷、P2P、财务、法务等金融服务行业的专业精英，团队成员长期致力于对风险控制、法务合规、资产评估、财务核算、企业管理等方面的实践研究。团队负责人郝梅1990年取得全国统一律师资格，二十余年一直专业从事律师及企业法务工作，主要从事金融领域法律风险控制、公司治理、合同管理、资产重组、投融资、知识产权保护等方面的法律实务，曾担任北京恒丰美林投资管理有限公司副总裁、北京市天畅律师事务所合伙人。</p>

      <p class="aboutUs-introduction-pct">
      <img src="images/about-us/flow-5.png" width="70%"></p>
      <p><strong class="magn-2">技术团队</strong></p>
      <p class="introduction-area aboutUs-introduction-area introduction-content col-md-12 col-lg-12">
      技术团队中拥有多名资深专家，覆盖互联网金融的技术领域：互联网平台开发的专家，能够设计稳定易用的高并发、高可用性、分布式系统；领域设计和项目管理的专家，能够快速准确的实现用户需求；业务挖掘与分析的大数据专家，能够从纷杂繁复的数据中找到业务规律，支撑宏财网的风险管理。</p>

      <p class="aboutUs-introduction-pct">
      <img src="images/about-us/flow-6.png" width="70%"></p>
      <p><strong class="magn-2">网络安全与维护团队</strong></p>
      <p class="introduction-area aboutUs-introduction-area introduction-content col-md-12 col-lg-12">
      互联网金融的特点给安全运维带来了很大挑战。宏财网络安全与维护团队拥有多年大数据、高并发、分布式系统的成熟运维经验，支撑过百万并发的互联网系统，能够提供7×24可用性维护、多层次网络监控和立体安全防御体系和持续集成协同流程。</p> -->

    <p><strong class="magn">办公环境:</strong></p>
    <div class="">
      <div class="col-md-5 col-md-offset-1">
        <img src="images/about-us/flow-13.png" width="100%">
        <p class="text-center aboutUs-introduction-pc"><strong>国家会议中心</strong></p>
      </div>
      <div class="col-md-5">
        <img src="images/about-us/flow-7.png" width="100%">
        <p class="text-center aboutUs-introduction-pc"><strong>办公区</strong></p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <img src="images/about-us/flow-8.png" width="100%">
        <p class="text-center aboutUs-introduction-pc"><strong>办公区</strong></p>
      </div>
      <div class="col-md-5">
        <img src="images/about-us/flow-9.png" width="100%">
        <p class="text-center aboutUs-introduction-pc"><strong>办公区</strong></p>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <img src="images/about-us/flow-10.png" width="100%">
        <p class="text-center aboutUs-introduction-pc"><strong>会议区</strong></p>
      </div>
      <div class="col-md-5">
        <img src="images/about-us/flow-11.png" width="100%">
        <p class="text-center aboutUs-introduction-pc"><strong>员工休息区</strong></p>
      </div>
    </div>
  </div>
</div>
