<!--宏财简介-->
<div class="right-area col-md-9 col-lg-9 padding-b">
	<div class="row">
		<div class="right-title">宏财简介</div>
	</div>
	<div class="row">
		<p><strong class="magn">平台简介：</strong></p>
		<p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">宏财网是国内领先的P2B互联网金融交易专业平台，为投资者提供担保公司100%本息担保的、最高超过银行活期存款40倍的高收益理财产品。通过宏财网，您可以将手中富裕资金出借给由优质担保公司担保的盈利能力强的中小企业，并获得高收益的利息回报，分享企业高速发展的红利。
   		</p>

   		<p><strong class="magn">平台原理：</strong></p>
		<p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">宏财网致力于为个人、借款企业和担保公司搭建一个高效、安全的投融资桥梁，构筑更轻松自由、安全高收益的投融资环境，寻找个人与企业之间安全与效率的平衡点，实现投资人、借款企业和担保公司多方共赢。
   			<img src="images/flow-1.png" width="100%" >
   			<img src="images/flow-2.jpg" width="100%" >
   		</p>
   		<p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">宏财泰富（北京）科技有限公司是互爱科技有限公司投资的专业从事P2B业务的互联网金融公司，注册资本1000万元，办公地址位于北京奥运村核心区国家会议中心。
   		</p>

   		<p><strong class="magn">公司简介：</strong></p>
		<p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">互爱科技有限公司成立于2011年，致力于打造“胡莱游戏”这一游戏品牌。成立之初即获得腾讯、红杉资本、Greylock、贝塔斯曼等数千万美元的投资。公司多款产品月收入超过3000万元。目前公司员工1000多人，办公面积近2万平方米，总部位于北京，同时在广州、深圳、上海、成都和香港、台北、东京、硅谷等地设有分支机构。
   		</p>

   		<p><strong class="magn">宏财使命与定位：</strong></p>
		<p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">使命：让每个人都有平等机会分享企业创造的收益。
   		</p>
   		<p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">定位：宏财网是大众投资者的乐园、中小企业的融资窗口、企业服务机构的合作伙伴。
   		</p>
	</div>
</div>
