<!--平台简介-->
<div class="right-area col-md-9 col-lg-9">
	<div class="row">
		<div class="right-title aboutUs-right-title">宏财简介</div>
	</div>
	<div class="row">
		<p><strong class="magn">平台简介：</strong></p>
		<p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">宏财网是国内领先的P2B互联网金融交易专业平台，为投资者提供100%本息担保、最高超过银行活期存款40倍的高收益理财产品。通过宏财网，您可以将手中富裕资金出借给由优质担保公司担保的盈利能力强的中小企业，并获得高收益的利息回报，分享企业高速发展的红利。
   		</p>

   		<p><strong class="magn">平台原理：</strong></p>
		<p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">宏财网致力于为个人、借款企业和担保公司搭建一个高效、安全的投融资桥梁，构筑更轻松自由、安全高收益的投融资环境，寻找个人与企业之间安全与效率的平衡点，实现投资人、借款企业和担保公司多方共赢。
   		</p>
   		<p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">互爱互动（北京）科技有限公司成立于2011年，致力于打造“胡莱游戏”这一游戏品牌。成立之初即获得腾讯、红杉资本、Greylock、贝塔斯曼等数千万美元的投资。公司多款产品月收入超过3000万元。目前公司员工1000多人，办公面积近2万平方米，总部位于北京，同时在广州、深圳、上海、成都和香港、台北、东京、硅谷等地设有分支机构。
   		</p>

   		<p><strong class="magn">公司简介：</strong></p>
		<p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">宏财泰富（北京）科技有限公司是互爱互动（北京）科技有限公司投资的专业从事P2B业务的互联网金融公司，注册资本1000万元，办公地址位于北京奥运村核心区国家会议中心。
   		</p>

   		<p><strong class="magn">宏财使命与定位：</strong></p>
		<p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">使命：让每个人都有平等机会分享企业创造的收益。
   		</p>
   		<p class="introduction-area aboutUs-introduction-area col-md-12 col-lg-12">定位：宏财网是大众投资者的乐园、中小企业的融资窗口、企业服务机构的合作伙伴。
   		</p>
			
		<!-- <div class="introduction-area col-md-12 col-lg-12">宏财网是由互爱（北京）科技有限公司全额投资，刘刚先生于2014年9月创立的，是国内专业的P2B互联网金融交易模式的平台。致力于为个人和企业搭建一个高效、安全的融资桥梁，构筑更轻松自由的投融资环境，寻找个人与企业之间安全与效率的平衡点，推动解决利率市场化进程中投资渠道窄和实体企业融资难的问题，实现合作共赢。
		<br><br>宏财网的管理团队成员均毕业于北大、人大、中科院等知名高校，项目及风控高管来自于知名律所、投行、券商研究所等知名机构，具备丰富的从业实操经验；技术及运营团队皆由知名互联网企业从业多年的成员组成。我们的专业定会成为您安全的坚强保障。
		<br><br>近几年随着互联网深入发展，几乎每一个人都受益于其便捷和低成本。宏财网有着专业、成熟、严谨的风险控制评估机制，同互联网的便捷、透明、低成本联系起来，我们深信宏财网定会建立起国内首屈一指的理财系统和产品资源，定会成为您网上理财的最佳选择。
		   		<br><br>我们承诺：投资者的利益高于一切。宏财网杜绝一切隐性收费，支持开户免费、认证免费、充值免费、本息保障免费，为投资客户提供安全、方便、透明的专业服务。
			<p class="p-title-introduction">公司资质</p>
			<div class="img-area">
		        <img ph-img="176x150" class="img-rounded">
		        <img ph-img="176x150" class="img-rounded">
		        <img ph-img="176x150" class="img-rounded">
			</div>
		</div> -->
	</div>
</div>
