<!-- 项目方介绍 -->
<div class="right-area col-md-9 col-lg-9 introduction-height2">
  <div class="row">
    <div class="right-title-about2"><p class="projecter">项目方介绍</p></div>
  </div>
  <div class="row ft-14 ft-grey555 text-center margin-t-23">
  	<p class="ft-24">鑫融基金控股份有限公司（证券代码：832379）</p>
  	<p class="ft-18 margin-t-30 margin-b-20">——新三板首家全牌照金融服务机构</p>
  	<p class="projecter-detail text-left margin-auto">鑫融基金控股份有限公司注册资本16.39亿元，是新三板金控第一股和首家全牌照金融服务机构，股本总额位居全国第四，先后获得嘉实资本、光大证券、申万宏源、国信证券、中原证券、华融天泽等机构的投资。鑫融基金控是涵盖担保、融资租赁、小额贷款、股权投资、基金管理、资产管理、互联网金融、证券咨询、并购重组等多个领域多种业态的综合类金融服务机构。旗下拥有鑫融基投资担保有限公司、河南东方企业投资担保有限公司、洛阳工业园区隆昌小额贷款有限公司、卫鼎融资租赁有限公司、河南华融企业资产管理公司、正邦国际（深圳）资产管理公司、北京瑞方股权投资基金公司等近20家子公司。</p>
  	<p class="projecter-detail text-left margin-auto margin-t-30">鑫融基是2006年由政府出资1000万资金发起，多家地方企业共同参与成立的金融机构。担保领域，鑫融基是河南最大、全国排名前三的民营担保机构，公司在风控体系、征信调查、中小企业研究等方面有着独特的优势。十年来担保业务数百亿元，未发生一例担保违约行为。</p>
  	<p class="projecter-detail text-left margin-auto">鑫融基自始至终都以“经营的是信用，承担的是风险”为理念，将既科学又符合自身特点的风控体系视为公司的核心竞争力。鑫融基设计有一套独具特色的专业风险控制体系，能够从制度上把风险系数降到最低。</p>
  	<p class="projecter-detail text-left margin-auto">
  		（1）纵向上，从客户申请到解除担保，每一业务流程都有严格的风控人员进行现场把控；
  	</p>
  	<p class="projecter-detail text-left margin-auto">
  		（2）横向上，从项目经理到风险控制部，到项目评审委，再到决策者，每一层级都有严格的风险考核制度全程监督核查，从而搭建起了一套严格的业务风险管控架构，形成纵横制衡的业务管控流程体系。
  	</p>
  	<p class="projecter-detail text-left margin-auto">
			（3）在风控人才方面，鑫融基近40%以上的项目人员具有注册会计师、律师等专业资格证书，且具有多年的从业经历，能保证业务团队在初期的风险识别上完全的专业且富有经验。
  	</p>
  	<p class="projecter-detail text-left margin-auto margin-t-30">鑫融基与国家开发银行合作创立的“三台一会”中小企业贷款模式被国家开发银行向全国推广，为解决全国中小企业融资难问题做出了巨大贡献，也充分体现了鑫融基强大的金融创新精神和创新能力。2015年11月，河南省财政厅、河南省工业和信息化委员会、河南省人民政府金融服务办公室印发《河南省小微企业信用担保代偿补偿资金管理办法（试行）》，提出"担保代偿政府补偿"的办法，使得担保能力更上一层楼。</p>
  </div>
</div>