<!-- 平台介绍 -->
<div class="right-area col-md-9 col-lg-9 introduction-height2">
  <div class="row">
    <div class="right-title-about2"><p>平台介绍</p></div>
  </div>
  <div class="row ft-14 ft-grey555 text-center margin-t-23">
  	<p class="ft-24 margin-b-40">宏财网：国有企业战略投资平台</p>
  	<p class="projecter-detail text-left margin-auto">宏财网是一家国有企业战略投资1亿元的互联网金融平台，是国内极少数由上市金融集团提供专业安全金融资产的平台之一。公司股东洛阳中小企业资产管理公司是政府出资、专门为广大中小企业提供资产服务的专业金融机构；项目推荐方是新三板金控第一股和全国首家全牌照金融集团；项目担保方是政府出资引导、地方企业联合发起的老牌担保公司，十年来担保金额数百亿元，从未发生一例担保违约行为。</p>
  	<p class="projecter-detail text-left margin-auto margin-t-30">宏财网项目是由上市金融集团推荐、老牌担保公司担保、车辆房产等优质资产足值抵押并经过严格风控体系审核的优质金融资产。借款企业和个人都是项目推荐方十年来积累的优质客户，这些客户的信用、财务、经营等情况项目推荐方了如指掌，项目违约概率极低，加上老牌担保公司的强担保，项目安全性绝高。</p>
  	<p class="projecter-detail text-left margin-auto margin-t-30">宏财网资金实行第三方托管，不设资金池；每笔资金均为真实有效项目，平台不触碰资金。严格按照国家法律规范运营，彻底解决您的资金安全之忧。</p>
  	<p class="projecter-detail text-left margin-auto margin-t-30">宏财网总部位于北京奥林匹克公园核心区的国家会议中心，数千平米的办公环境宽敞明亮。公司设有董事会、风控委员会、战略委员会等以及研发部、运营部、市场部、商务部、项目部、风控部、客服部等部门；在洛阳、成都和广州等地设有分公司/办事处。</p>
  </div>
  <div class="row text-left margin-auto margin-t-40">
  	<div class="col-xs-3 margin-l-55"><img src="/images/about-us/platform01.png" alt=""></div>
  	<div class="col-xs-4 text-center"><img src="/images/about-us/platform02.png" alt=""></div>
  	<div class="col-xs-3 padding-l-0"><img src="/images/about-us/platform03.png" alt=""></div>
  </div>
</div>