<div class="right-area col-md-9 col-lg-9" ng-controller="MediaReportsCtrl">
	<div class="row">
		<div class="right-title">媒体报道</div>
	</div>
	<div class="row">
		<div class="introduction-area col-md-12 col-lg-12" ng-repeat="item in data | startFrom:currentPage * pageSize | limitTo:pageSize">
			<div class="dynamic-show">
				<a ui-sref="root.about-us.media-reports-detail({textId: item.id})">
					<img src="{{item.image}}" width="120" height="120" class="details-img">
				</a> 
				<a class="p-title-dynamic col-md-6 col-lg-6" ui-sref="root.about-us.media-reports-detail({textId: item.id})">{{item.title | limitTo: 13 }}...</a>
				<p class=" col-md-3 col-lg-3">{{item.createTime * 1000 | date:'yyyy-MM-dd'}}</p>
				<a ui-sref="root.about-us.media-reports-detail({textId: item.id})" class="p-dynamic-show col-md-8 col-lg-8">
					<div ta-bind ng-model="item.content" class="news-details"></div>
				</a>
			</div>
		</div>
		<ul class="pager">
		  <li><button class="btn btn-default btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage = currentPage - 1">上一页</button></li>
		  {{currentPage +1 }} / {{numberOfPages()}} 共 {{data.length}} 条
		  <li><button class="btn btn-default btn-sm" ng-disabled="currentPage >= data.length / pageSize - 1" ng-click="currentPage = currentPage + 1">下一页</button></li>
		</ul>
	</div>
</div>