<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd">

	<description>Spring数据访问层配置 </description>

	<!-- 乐跑体脂秤从库数据访问配置  start-->
<!-- 	<bean id="scaleBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="scaleReadSource" />
		<property name="configLocation" value="classpath:sqlmap-config.xml" />
	</bean>
	
	<bean id="scaleSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="scaleBean" />
	</bean>
	
	<bean id="scaleBaseDao" class="com.hoolai.lepao.framework.datasource.DefaultBaseMybatisDao">
		<property name="readSqlSessionTemplate" ref="scaleSession" />
		<property name="writeSqlSessionTemplate" ref="writeSession" />
	</bean> -->
	<!-- 乐跑体质秤从库数据访问配置  end-->

	<!-- 乐跑手环从库数据访问配置 start -->
<!-- 	<bean id="huanBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="huanReadSource" />
		<property name="configLocation" value="classpath:sqlmap-config.xml" />
	</bean>
	
	<bean id="huanSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="huanBean" />
	</bean>
	
	<bean id="huanBaseDao" class="com.hoolai.lepao.framework.datasource.DefaultBaseMybatisDao">
		注入SqlSessionTemplate实例
		<property name="readSqlSessionTemplate" ref="huanSession" />
		<property name="writeSqlSessionTemplate" ref="writeSession" />
	</bean> -->
	<!-- 乐跑手环从库数据访问配置 end-->
	
	
	<!-- p2p从库数据访问配置 start -->
	<bean id="p2pBean" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="huanReadSource" />
		<property name="configLocation" value="classpath:sqlmap-config.xml" />
	</bean>
	
	<bean id="p2pSession" class="org.mybatis.spring.SqlSessionTemplate">
		<constructor-arg index="0" ref="p2pBean" />
	</bean>
	
	<bean id="p2pBaseDao" class="com.hoolai.framework.datasource.DefaultBaseMybatisDao">
		<!--注入SqlSessionTemplate实例 -->
		<property name="readSqlSessionTemplate" ref="p2pSession" />
		<property name="writeSqlSessionTemplate" ref="writeSession" />
	</bean>
	<!-- p2p从库数据访问配置 end-->

</beans>