<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:jee="http://www.springframework.org/schema/jee"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/tx 
        http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd">


	<description>Spring数据源配置 </description>

	<!-- 开启注解配置 -->
	<tx:annotation-driven />

	<!-- 扫描service层 -->
	<context:component-scan base-package="com.test.*" />



	<!-- 事务管理器 事务只控制写入库 -->
	<bean id="transactionManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="writeSource" />
	</bean>

	<!-- 开启事务注解驱动 -->
	<tx:annotation-driven transaction-manager="transactionManager" />

	<bean id="dbcp" abstract="true">
		<property name="initialSize" value="${jdbc.dataSource.initialSize}" />
		<property name="maxIdle" value="${jdbc.dataSource.maxIdle}" />
		<property name="minIdle" value="${jdbc.dataSource.minIdle}" />
		<property name="maxActive" value="${jdbc.dataSource.maxActive}" />
		<property name="removeAbandoned" value="${jdbc.dataSource.removeAbandoned}" />
		<property name="removeAbandonedTimeout" value="${jdbc.dataSource.removeAbandonedTimeout}" />
		<property name="maxWait" value="${jdbc.dataSource.maxWait}" />
		<property name="validationQuery" value="${jdbc.dataSource.validationQuery}" />
		<property name="testOnBorrow" value="${jdbc.dataSource.testOnBorrow}" />
	</bean>

	
	<!-- 数据写入使用主库 -->
	<bean id="writeSource" parent="dbcp"
		class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
		<property name="driverClassName" value="${jdbc.driverClassName}" />
		<property name="url" value="${jdbc.url}" />
		<property name="username" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
	</bean>

	<!-- 体脂秤  从库链接 -->
	<bean id="scaleReadSource" parent="dbcp" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.region.driverClassName}" />
		<property name="url" value="${jdbc.region.url}" />
		<property name="username" value="${jdbc.region.username}" />
		<property name="password" value="${jdbc.region.password}" />
	</bean>

	<!-- 手环从库链接 -->
	<bean id="huanReadSource" parent="dbcp" class="org.apache.commons.dbcp.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName" value="${jdbc.region.driverClassName}" />
		<property name="url" value="${jdbc.region.url}" />
		<property name="username" value="${jdbc.region.username}" />
		<property name="password" value="${jdbc.region.password}" />
	</bean>

</beans>