<!-- <div>
  
  {{projectVo}}

  {{capital}}

  {{distance}}
  	<form class="real-name">
		<div class="form-group">
			<label>订单号：{{orderId}}</label>
		</div>

		<input type="button" value="确认充值" class="verify-button" ng-click="transfer(orderId)"/>
	</form>
</div> -->
<div class="full-screen invest-verify bg-offWhite">
	<div class="container border bg-white">
		<div class="row list-item border-b">
			<div class="col-md-12"><strong>&nbsp;&nbsp;项目信息确认</strong></div>
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-3">项目编号：{{projectVo.number}}<!-- 数据绑定 --></div>
					<div class="col-md-3">项目名称：{{projectVo.name}}<!-- 数据绑定 --></div>
					<div class="col-md-3">借款企业：{{projectVo.enterpriseName}}<!-- 数据绑定 --></div>
					<div class="col-md-3">担保公司：{{projectVo.guaranteeName}}<!-- 数据绑定 --></div>
				</div>
				<div class="row">
					<div class="col-md-3">年化收益率：{{projectVo.annualEarnings}}%<!-- 数据绑定 --></div>
					<div class="col-md-3">还款方式：{{projectVo.repaymentName}}<!-- 数据绑定 --></div>
					<div class="col-md-3">计息日期：{{projectVo.releaseStartTime}}<!-- 数据绑定 --></div>
					<div class="col-md-3">还款日期：{{projectVo.repaymentDate}}<!-- 数据绑定 --></div>
				</div>
			</div>
		</div>
		<div class="row list-item border-b">
			<div class="col-md-12"><strong>&nbsp;&nbsp;投资信息确认</strong></div>
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-3">投资金额：{{investAmount| number:2}}<!-- 数据绑定 -->元</div>
					<div class="col-md-3">账户余额：{{capital.balance | number:2}}元<!-- 数据绑定 --></div>
					<div class="col-md-3" ng-if="investAmount > capital.balance">还需金额：{{investAmount - capital.balance | number:2}}元<!-- 数据绑定 --></div>
				</div>
			</div>
		</div>
		<div class="row list-item border-b" ng-switch="investAmount - capital.balance < 0">
			<div class="col-md-12" ng-switch-default>	
			</div>
			<div class="col-md-12" ng-switch-when="true">
				<div class=""></div>
				<ul class="nav nav-pills">
					<li class="active"></li>同意《投资协议》以及《隐私条款》
				</ul>
			</div>
		</div>
		<div class="row list-item"  ng-switch="investAmount - capital.balance < 0">
			<div class="col-md-12" ng-switch-when="false">
				<div class="col-md-3">您的余额不足</div>
				<input type="button" value="充值" class="verify-button" ui-sref="root.userCenter.recharge"/>

				<button type="button" class="verify-button get-verify-button" ng-click="showModal()">修改投资金额</button>

			</div>
			<div class="col-md-12" ng-switch-when="true">
				<form>
					<div class="form-group mgn-top">
						<label>订单号：{{orderId}}</label>
						<br>
						您将要支付<span class="ftw-b ft-red">{{investAmount | number:2}}</span>元，核实信息无误后请确认

					</div>
					<input type="button" value="确认" class="verify-button" ng-click="transfer(orderId)"/>
					<input type="button" value="取消" class="verify-button get-verify-button" ng-click="transfer(orderId)"/>
				</form>
			</div>
		</div>
	</div>
</div>

