<!-- <div>
  
  {{projectVo}}

  {{capital}}

  {{distance}}
  	<form class="real-name">
		<div class="form-group">
			<label>订单号：{{orderId}}</label>
		</div>

		<input type="button" value="确认充值" class="verify-button" ng-click="transfer(orderId)"/>
	</form>
</div> -->
<div class="full-screen invest-verify bg-offWhite">
	<div class="container border bg-white">
		<div class="row list-item border-b">
			<div class="col-md-12"><strong>&nbsp;&nbsp;项目信息确认</strong></div>
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-3">项目编号：{{project.number}}<!-- 数据绑定 --></div>
					<div class="col-md-3">项目名称：{{project.name}}<!-- 数据绑定 --></div>
					<div class="col-md-3">借款企业：{{project.enterpriseName}}<!-- 数据绑定 --></div>
					<div class="col-md-3">保荐机构：{{project.guaranteeName}}<!-- 数据绑定 --></div>
				</div>
				<div class="row">
					<div class="col-md-3">年化收益率：{{project.annualEarnings}}%<!-- 数据绑定 --></div>
					<div class="col-md-3">还款方式：{{project.repaymentName == 1  ? '按月付息到期还本' : '按月返还等额本息'}}<!-- 数据绑定 --></div>
				</div>
			</div>
		</div>
		<div class="row list-item border-b">
			<div class="col-md-12"><strong>&nbsp;&nbsp;投资信息确认</strong></div>
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-3">投资金额：{{investAmount| number:2}}<!-- 数据绑定 -->元</div>
					<div class="col-md-3">账户余额：{{capital.balance | number:2}}元<!-- 数据绑定 --></div>
					<div class="col-md-3" ng-if="investAmount > capital.balance">还需金额：{{investAmount - capital.balance | number:2}}元<!-- 数据绑定 --></div>
				</div>
			</div>
		</div>
		<div class="row list-item border-b">
			<div class="col-md-12"><strong>&nbsp;&nbsp;宏包信息确认</strong></div>
			<div class="col-md-12">
				<div class="row">
					<div class="col-md-12">您当前的投资额度为：{{investAmount| number:2}} 元，最多可以使用{{giftCount}}个宏包</div>
					<div class="col-md-3">宏包金额：100元</div>
					<div class="col-md-6">宏包数量：
						<button type="button" class="btn btn-default" ng-model="selectedIcon" data-html="1" ng-options="icon.value as icon.label for icon in icons" placeholder="请选择使用数量" bs-select ng-init="selectedIcon = 0"><span class="caret"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="row list-item border-b" ng-switch="investAmount - capital.balance < 0">
			<div class="col-md-12" ng-switch-default>	
			</div>
			<div class="col-md-12" ng-switch-when="true">
				<div class=""></div>
				<ul class="nav nav-pills">
					<li class="invest-check"><input type="checkbox" checked="false"></li>同意《投资协议》以及《隐私条款》
				</ul>
			</div>
		</div>
		<div class="row list-item"  ng-switch="investAmount - capital.balance < 0">
			<div class="col-md-12" ng-switch-when="false">
				<div class="col-md-3">您的余额不足</div>
				<input type="button" value="充值" class="verify-button" ui-sref="root.userCenter.recharge"/>

				<button type="button" class="verify-button get-verify-button" ng-click="showModal()">修改投资金额</button>

			</div>
			<div class="col-md-12" ng-switch-when="true">
				<form>
					<div class="form-group mgn-top">
						您将要支付<span class="ftw-b ft-red">{{investAmount | number:2}}</span>元，核实信息无误后请确认
					</div>
					<input type="button" value="确认" class="red-button col-md-1 col-lg-1" ng-click="transfer(project, investAmount, selectedIcon)"/>
					<input type="button" value="取消" class="white-button col-md-1 col-lg-1" style="margin-left:10px;" />
				</form>
			</div>
		</div>
	</div>
</div>

