<div class="container-fluid invest-verify bg-offWhite">
  <div class="container border bg-white">
    <div class="row list-item border-b">
      <div class="col-xs-12"><strong>&nbsp;&nbsp;项目信息确认</strong>
      </div>
      <div class="col-xs-12">
        <div class="row">
          <div class="col-xs-4">项目编号：{{project.number}}</div>
          <div class="col-xs-4"><a href="javascript:;" title="{{project.name}}">项目名称：{{project.name}}</a>
          </div>
          <div class="col-xs-4" ng-if="categoryCode !== '04'"><a href="javascript:;" title="{{project.guaranteeName}}">担保机构：{{project.guaranteeName}}</a>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4">年化收益率：{{fundsProduct.baseRate + fundsProduct.riseRate }}%</div>
          <div class="col-xs-4">项目期限：{{project.cycle || 0}}个月</div>
          <div class="col-xs-4">还款方式：{{ '按月付息到期还本' }}</div>
        </div>
      </div>
    </div>
    <div class="row list-item border-b">
      <div class="col-xs-12"><strong>&nbsp;&nbsp;投资信息确认</strong>
      </div>
      <div class="col-md-12">
        <div class="row">
          <div class="col-xs-4">投资金额：{{investAmount| number:2}}元</div>
          <div class="col-xs-4">账户余额：{{capital.balance | number:2}}元</div>
          <div class="col-xs-4" ng-if="investAmount > capital.balance">还需金额：{{investAmount - capital.balance | number:2}}元</div>
        </div>
      </div>
    </div>
    <div class="row list-item border-b" ng-switch="investAmount - capital.balance <= 0">
      <div class="col-xs-12" ng-switch-when="true">
        <input type="checkbox" ng-checked="true" ng-model="$parent.checkInvFlag" />同意<a ui-sref="root.loan-security-agreement" class="loan-stl" target="_blank">《借款及担保协议》</a>
      </div>
    </div>
    <div class="row list-item" ng-switch="investAmount - capital.balance <= 0">
      <div class="col-md-12" ng-switch-when="false">
        <div class="form-group mgn-top">您的余额不足</div>
        <input type="button" value="充值" class="red-button col-md-1 col-lg-1" ui-sref="root.userCenter.recharge" />
        <input type="button" class="white-button" value="修改投资金额" ng-click="showModal()" style="margin-left:10px;">
      </div>
      <div class="col-md-12" ng-switch-when="true">
        <form>
          <div class="form-group mgn-top">
            您将要支付<span class="ftw-b ft-red">{{investAmount | number:2}}</span>元，核实信息无误后请确认
          </div>
          <input type="button" value="确认" class="col-md-1 col-lg-1" ng-class="{'red-button': checkInvFlag}" ng-disabled="!checkInvFlag" ng-click="transfer(project, investAmount)" />
          <input type="button" value="取消" class="white-button col-md-1 col-lg-1" style="margin-left:10px;" ng-click="backTo()" />
        </form>
      </div>
    </div>
  </div>
</div>
