<div class="container bg">
  <div class="agreement-area row">
    <div class="col-md-12 col-lg-12">
      <p class="text-title">预约项目活动规则</p>
      <br>
      <div class="row">
        <p><strong class="agree-mg">一、预约项目介绍</strong></p>
        <p class="agree-tx">1.1 预约项目是宏财网推出的个性化自动投标工具，在理财人认可的范围内，对宏财网预发标项目进行一对一预约。</p>
        <p class="agree-tx">1.2 宏财网预发标期间，理财人可根据对平台及项目的自行判断选择提前支付部分款项（不低于预约金额10%的资金且不低于100元人民币）预约投资该项目 ，在预订截止时间前完成全额支付即可自动完成投资该项目。</p>
        <p><strong class="agree-mg">二、投资对象</strong></p>
        <p class="agree-tx">预约项目真实，且与最后实际发布的项目一一对应</p>
        <p><strong class="agree-mg">三、预约原理</strong></p>
        <p><strong class="agree-mg">四、基本要素</strong></p>
        <p><strong class="agree-mg">4.1 项目额度说明</strong></p>
        <p><strong class="agree-mg">4.2 预约条件</strong></p>
        <p><strong class="agree-mg">4.3 预发布期</strong></p>
        <p><strong class="agree-mg">4.4 正式发布期</strong></p>
        <p><strong class="agree-mg">4.5 系统自动支付</strong></p>
        <p><strong class="agree-mg">4.6 追加投资</strong></p>
        <p><strong class="agree-mg">4.7 预约收益计算</strong></p>
        <p><strong class="agree-mg">4.8 名词解释</strong></p>
      </div>
    </div>
  </div>
</div>