<div style="">
  <div style="height: 565px; width: 100%;zoom:1;margin:0 auto;background: url('/images/activity/fathers-day/index_02.jpg') no-repeat center center">
  </div>
  <div style="height: 547px; width: 100%;zoom:1;margin:0 auto;background: url('/images/activity/fathers-day/index_03.jpg') no-repeat center center;">
  </div>
  <div style="height: 605px; width: 100%;zoom:1;margin:0 auto;background: url('/images/activity/fathers-day/index_04.jpg') no-repeat center center;">
  </div>
  <div style="height: 606px; width: 100%;zoom:1;margin:0 auto;background: url('/images/activity/fathers-day/index_05.jpg') no-repeat center center;">
  </div>
  <div style="height: 531px; width: 100%;zoom:1;margin:0 auto;background: url('/images/activity/fathers-day/index_06.jpg') no-repeat center center">
  </div>
</div>
<div class="father-day-footer text-center padding-t-20 margin-b-20" width="100%" style="background-color: #fff;">
    <ul class="display-inb">
      <li class="fl">
        <a class="ft-14-4d" ui-sref="root.about-us.introduction-of-platform2" href="/introduction-of-platform">宏财简介</a>
        <span style="height: 15px;display: inline-block; margin: 0 10px 1px 7px;border-right: 1px solid #4d4d4d;vertical-align: middle;"></span>
      </li>
      <li class="fl">
        <a class="ft-14-4d" ui-sref="root.about-us.hongcai-trends" href="/hongcai-trends">宏财动态</a>
        <span style="height: 15px;display: inline-block; margin: 0 10px 1px 7px;border-right: 1px solid #4d4d4d;vertical-align: middle;"></span>
      </li>
      <li class="fl">
        <a class="ft-14-4d" ui-sref="root.about-us.web-site-notice" href="/web-site-notice">网站公告</a>
        <span style="height: 15px;display: inline-block; margin: 0 10px 1px 7px;border-right: 1px solid #4d4d4d;vertical-align: middle;"></span>
      </li>
      <li class="fl">
        <a class="ft-14-4d" ui-sref="root.about-us.media-reports" href="/media-reports">媒体报道</a>
        <span style="height: 15px;display: inline-block; margin: 0 10px 1px 7px;border-right: 1px solid #4d4d4d;vertical-align: middle;"></span>
      </li>
      <li class="fl">
        <a class="ft-14-4d" ui-sref="root.about-us.company-profile" href="/company-profile">加入宏财</a>
        <span style="height: 15px;display: inline-block; margin: 0 10px 1px 7px;border-right: 1px solid #4d4d4d;vertical-align: middle;"></span>
      </li>
      <li class="fl">
        <a class="ft-14-4d" ui-sref="root.about-us.link-us" href="/link-us">联系我们</a>
      </li>
    </ul>
  </div>
