<div class="lucky-draw">
  <div class="main">
    <div class="change-area get-bg" ng-show="status === 0">
      <a class="get-lucky ab" ng-click="luckyDraw();"></a>
      <div class="right-bg ab"></div>
    </div>
    <div class="change-area hongbao-bg" ng-show="status === 1">
      <p class="p-red ab">建议立即使用，宏包可用于以下内容</p>
      <p class="p-grey ab">*使用期限：自抽取日期至三个月后</p>
      <a href="javascript:;" class="a-red-button ab"></a>
      <a href="javascript:;" class="a-red-button ab"></a>
    </div>
    <div class="change-area tuhao-bg" ng-show="status === 2">
      <p class="p-red ab">建议立即使用，宏包可用于以下内容</p>
      <p class="p-grey ab">*使用期限：自抽取日期至三个月后</p>
      <a href="javascript:;" class="a-red-button ab"></a>
      <a href="javascript:;" class="a-red-button ab"></a>
    </div>
    <div class="share-area ab">
      <p>分享给好友：</p>
      <div class="jiathis_style_32x32">
        <a class="jiathis_button_qzone"></a>
        <a class="jiathis_button_tsina"></a>
        <a class="jiathis_button_tqq"></a>
        <a class="jiathis_button_renren"></a>
      </div>
      <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1407332092939656" charset="utf-8"></script>
    </div>
    <div class="tips-area ab">
      <p>活动时间：2014.12.1—2014.12.15</p>
      <p>参与对象：宏财网注册用户</p>
      <p>每个用户每天仅能抽取一次，每日0:00后可以再次抽取</p>
      <p>获得10,000元宏包的用户推荐投入 <a href="javascript:;" class="get-rule-inline">土豪标</a>；获得100元宏包的<br>用户推荐投资 <a href="javascript:;" class="get-rule-inline">理财项目</a></p>
      <br>
      <p>宏包不可转赠他人使用，且不能与其他优惠同享</p>
      <p>万元宏包每人仅能抽中1次，百元宏包可多次抽取</p>
      <p>万元宏包将在每100人中产生1名</p>
      <p>万元宏包共30名，百元宏包不限数量</p>
      <p>宏包为虚拟体验金，不可提现，不可转账 。宏包使用规则请<br>查看“<a href="javascript:;" class="get-rule-inline">宏包使用规则</a>”</p>
      <br>
      <p>在法律允许的范围内，宏财网拥有对本活动的解释权</p>

      <a href="javascript:;" class="get-rule ab">宏包使用规则</a>
    </div>
  </div>
</div>
