<!-- 市场 新年邀请落地页 -->
<div class="newYearInvite">
  <img src="/images/activity/newYearIvt-bg01.png" alt="" width="100%">
  <img src="/images/activity/newYearIvt-bg02.png" alt="" width="100%">
  <img src="/images/activity/newYearIvt-bg03.png" alt="" width="100%">
  <img src="/images/activity/newYearIvt-bg04.png" alt="" width="100%">
  <img src="/images/activity/newYearIvt-bg05.png" alt="" width="100%">
  <img src="/images/activity/newYearIvt-bg06.png" alt="" width="100%">
  <img src="/images/activity/newYearIvt-bg07.png" alt="" width="100%">
  <img src="/images/activity/newYearIvt-bg08.png" alt="" width="100%">
  <img src="/images/activity/newYearIvt-bg09.png" alt="" width="100%">
  <img src="/images/activity/newYearIvt-bg10.png" alt="" width="100%">
  <img src="/images/activity/newYearIvt-bg11.png" alt="" width="100%">
  <img src="/images/activity/newYearIvt-bg12.png" alt="" width="100%">
  <img src="/images/activity/newYearIvt-bg13.png" alt="" width="100%">
  <img src="/images/activity/newYearIvt-bg14.png" alt="" width="100%">
  <img src="/images/activity/newYearIvt-bg15.png" alt="" width="100%">
  <img src="/images/activity/newYearIvt-bg16.png" alt="" width="100%">
  <img src="/images/activity/newYearIvt-bg17.png" alt="" width="100%">
  <img src="/images/activity/newYearIvt-bg18.png" alt="" width="100%">
  <img src="/images/activity/newYearIvt-bg19.png" alt="" width="100%">
  <img src="/images/activity/newYearIvt-bg20.png" alt="" width="100%">
</div>
