<!--新手引导页面-->
<nav id="major-bar" class="navbar navbar-default navbar-static-top border-b-none" role="navigation">
	<div class="container padding-l-0 margin-b-10">
	  <ul class="nav navbar-nav">
	    <a class="navbar-brand logo-img-2 hidden-xs" href="/" style="margin-top:20px;">&nbsp;</a>
	  </ul>
	  <ul class="nav navbar-nav navbar-right">
      <p class="ft-18 ft-grey1">
        <img src="/images/phone01.png" alt="">
        <span class="margin-t--10">&nbsp;&nbsp;客服热线：400-990-7626</span>
      </p>
    </ul>
	</div>
</nav>
<div id="novice-guide" class="">
	<div class="container container-flue">
		<div class="row margin-auto row1">
			<img src="/images/activity/novice-guide/top-img.png" alt="">
		</div>
		<div class="row text-center row2">
			<div class="col-xs-12">
				<img src="/images/activity/novice-guide/top-img02.png" alt="">
			</div>
			<div class="col-xs-12 row2-text">
				理财专家小红疑问解答
			</div>
		</div>
		
	</div>
	<div class="container-fluid bg-white">
		<div class="row text-center row3 margin-auto">
			<div class="row row3-text">
				<div class="col-xs-2 text-center2">
					<img src="/images/activity/novice-guide/xiaoke.png" alt="">
					<p>提问人<br>小柯</p>
				</div>
				<div class="col-xs-8">
					<div class="col-xs-1 margin-l--15 margin-t-25">
						<img src="/images/activity/novice-guide/left-arrow.png" alt="">
					</div>
					<div class="col-xs-10 text-left margin-l-10">
						<h3>问题一：什么是宏财网？</h3>
						<ul type="circle" class="margin-l-20">
							<li>宏财网是国有企业战略投资的互联网金融平台。</li>
							<li>股东是政府投资的专门从事中小企业资产管理的国有企业。</li>
							<li>宏财网为您提供优质资产，帮您钱生钱！</li>
						</ul>
					</div>
					<div class="col-xs-1 margin-t-105 margin-l--20">
						<img src="/images/activity/novice-guide/right-arrow.png" alt="">
					</div>
				</div>
				<div class="col-xs-1 text-center2 padding-0 margin-l--7">
					<img src="/images/activity/novice-guide/xiaohong.png" alt="">
					<p>宏财网<br>小红</p>
				</div>
			</div>
			<div class="row row3-text margin-t-40">
				<div class="col-xs-2 text-center2">
					<img src="/images/activity/novice-guide/xiaoke.png" alt="">
					<p>提问人<br>小柯</p>
				</div>
				<div class="col-xs-9">
					<div class="col-xs-1 margin-l--15 margin-t-25">
						<img src="/images/activity/novice-guide/left-arrow.png" alt="">
					</div>
					<div class="col-xs-10 text-left padding-0 margin-l-15">
						<h3>问题二：宏财网安全吗？</h3>
						<ul type="circle" class="margin-l-20">
							<li>您所看到的宏财网项目由新三板首家全牌照民间金融服务集团推荐。</li>
							<li>同时由政府投资的具有十年安全担保经验的老牌担保公司进行全额本息担保。</li>
							<li>项目为汽车房产等优质资产足值抵押。</li>
						</ul>
					</div>
					<div class="col-xs-1 margin-t-105 margin-l--105">
						<img src="/images/activity/novice-guide/right-arrow.png" alt="">
					</div>
				</div>
				<div class="col-xs-1 text-center2 padding-0 margin-l--94">
					<img src="/images/activity/novice-guide/xiaohong.png" alt="">
					<p>宏财网<br>小红</p>
				</div>
			</div>
			<div class="row row3-text margin-t-40">
				<div class="col-xs-2 text-center2">
					<img src="/images/activity/novice-guide/xiaoke.png" alt="">
					<p>提问人<br>小柯</p>
				</div>
				<div class="col-xs-9">
					<div class="col-xs-1 margin-l--15 margin-t-25">
						<img src="/images/activity/novice-guide/left-arrow.png" alt="">
					</div>
					<div class="col-xs-10 text-left padding-0 margin-l-15">
						<h3>问题三：宏财网收益高吗？</h3>
						<ul type="circle" class="margin-l-20">
							<li>在宏财网您投资3个月以下的项目，您可获得其他平台1年期以上项目的收益。</li>
							<li>通俗的说就是您存在银行的活期资金，享受定期存款的利息收益。</li>
							<li>积极参加宏财网的活动，您还会免费获得加息券、现金等奖励。</li>
						</ul>
					</div>
					<div class="col-xs-1 margin-t-105 margin-l--105">
						<img src="/images/activity/novice-guide/right-arrow.png" alt="">
					</div>
				</div>
				<div class="col-xs-1 text-center2 padding-0 margin-l--94">
					<img src="/images/activity/novice-guide/xiaohong.png" alt="">
					<p>宏财网<br>小红</p>
				</div>
			</div>
			<div class="row row3-text margin-t-40">
				<div class="col-xs-2 text-center2">
					<img src="/images/activity/novice-guide/xiaoke.png" alt="">
					<p>提问人<br>小柯</p>
				</div>
				<div class="col-xs-9">
					<div class="col-xs-1 margin-l--15 margin-t-25">
						<img src="/images/activity/novice-guide/left-arrow.png" alt="">
					</div>
					<div class="col-xs-10 text-left padding-0 margin-l-15">
						<h3>问题四：如何投资宏财网？</h3>
						<div class="row">
							<div class="col-xs-3">
							<img src="/images/activity/novice-guide/step01.png" alt="">
							<p>第一步<br>免费注册</p>
							</div>
							<div class="col-xs-3">
								<img src="/images/activity/novice-guide/step02.png" alt="">
								<p>第二步<br>开通第三方资金托管账户</p>
							</div>
							<div class="col-xs-3">
								<img src="/images/activity/novice-guide/step03.png" alt="">
								<p>第三步<br>充值投资</p>
							</div>
							<div class="col-xs-3">
								<img src="/images/activity/novice-guide/step04.png" alt="">
								<p>第四步<br>坐享收益</p>
							</div>
						</div>
					</div>
					<div class="col-xs-1 margin-t-105 margin-l--105">
						<img src="/images/activity/novice-guide/right-arrow.png" alt="">
					</div>
				</div>
				<div class="col-xs-1 text-center2 padding-0 margin-l--94">
					<img src="/images/activity/novice-guide/xiaohong.png" alt="">
					<p>宏财网<br>小红</p>
				</div>
			</div>
		</div>
	</div>
</div>