 <div class="container bg">
    <div class="agreement-area row introduction-height">
      <div class="col-xs-12 col-xs-12">
        <div class="row">
          <div class="success-page col-xs-8 col-xs-8 col-xs-offst-2 col-xs-offset-2">
            <div class="col-xs-2 col-xs-2 col-xs-offset-1 col-xs-offset-1">
              <img src="images/app-success.png">
            </div>
            <div class="success-re col-xs-9 col-xs-9">
              <div class="col-xs-12 col-xs-12">
                <p><strong>您已成功投资项目</strong>
                </p>
                <div class="border-b list-l col-xs-12 col-xs-12"></div>
              </div>
              <div class="col-xs-12 col-xs-12 list-l">
                <p class="success-p">恭喜您，成功投资项目！</p>
                <p class="success-p">您可以继续浏览项目，投资多多，收益多多！</p>
              </div>
              <div class="col-lg-12 col-md-12">
                <botton class="col-xs-5 btn btn-danger btn-lg ft-white btn-top" >浏览项目</botton>
                <botton class="col-xs-5 col-xs-offset-1 btn btn-yellow btn-lg ft-white btn-top" >个人中心</botton>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>