 <div class="container bg">
    <div class="agreement-area row">
        <div class="row">
          <div >
            <div class="appsuccess-center">
              <img src="images/app-success.png">
            </div>
            <div class="success-font appimg-top">
              <div >
                <div class="appsuccess-center"><strong>您已成功投资项目！</strong>
                </div>
                <div class="border-b app-top col-xs-12 col-xs-12"></div>
              </div>
              <div class="appimg-top">
                <p class="app-font">恭喜您，成功投资项目</p>
                <p class="app-font">您可以继续浏览项目，投资多多，收益多多！</p>
              </div>
              <div class="appimg-top appbtn-left">
                <botton class="col-xs-5 btn btn-danger btn-lg ft-white appbtn-top" onclick="function()" >浏览项目</botton>
                <botton class="col-xs-5 col-xs-offset-1 btn btn-yellow btn-lg ft-white appbtn-top" onclick="function()" >个人中心</botton>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
