 <div class="container bg notop">
    <div class="nobottom agreement-area row">
        <div class="row">
          <div >
            <div class="appsuccess-center apptop">
              <img src="file:///android_asset/success.png">
            </div>
            <div class="success-font appimg-top">
              <div >
                <div class="appsuccess-center"><strong>您已成功充值！</strong>
                </div>
                <div class="border-b app-top col-xs-12 col-xs-12"></div>
              </div>
              <div class="appimg-top">
                <p class="app-font fontheight">恭喜您，成功充值</p>
                <p class="app-font">赶快去投资吧！</p>
              </div>
              <div class="appimg-top appbtn-left">
                <botton class="col-xs-5 btn btn-danger btn-lg ft-white appbtn-top hasbottom" onclick="window.local.closeActivity()">继续投资</botton>
                <botton class="col-xs-5 col-xs-offset-1 btn btn-yellow btn-lg ft-white appbtn-top hasbottom" onclick="window.local.toAsset()" >个人中心</botton>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
