<div class="bg notop" ng-controller='AppViewCtrl'>
  <div class="nobottom agreement-area row">
    <div class="row">
      <div>
        <div class="appsuccess-center apptop">
          <img src="file:///android_asset/success.png">
        </div>
        <div class="success-font appimg-top">
          <div>
            <div class="appsuccess-center"><strong>您已成功开通易宝！</strong>
            </div>
            <div class="border-b app-top col-xs-12 col-xs-12"></div>
          </div>
          <div class="appimg-top">
            <p class="app-font fontheight">恭喜您，成功开通易宝资金托管账户</p>
            <p class="app-font">可以开始投资啦！</p>
          </div>
          <div class="appimg-top appbtn-left" ng-show="mobileIOS">
            <botton class="col-xs-5 btn btn-danger btn-lg ft-white appbtn-top hasbottom" ng-click="goInvest();">浏览项目</botton>
            <botton class="col-xs-5 col-xs-offset-1 btn btn-yellow btn-lg ft-white appbtn-top hasbottom" ng-click="goPersonal();">个人中心</botton>
          </div>
          <div class="appimg-top appbtn-left" ng-hide="mobileIOS">
            <botton class="col-xs-5 btn btn-danger btn-lg ft-white appbtn-top hasbottom" onclick="window.local.toProjectList()">浏览项目</botton>
            <botton class="col-xs-5 col-xs-offset-1 btn btn-yellow btn-lg ft-white appbtn-top hasbottom" onclick="window.local.toAsset()">个人中心</botton>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
