 <div class="container bg">
    <div class="agreement-area row">
        <div class="row">
          <div >
            <div class="appsuccess-center">
              <img src="images/app-success.png">
            </div>
            <div class="success-font appimg-top">
              <div >
                <div class="appsuccess-center"><strong>提交成功</strong>
                </div>
                <div class="border-b app-top col-xs-12 col-xs-12"></div>
              </div>
              <div class="appimg-top">
                <p class="app-font">恭喜您，绑卡申请已成功提交！</p>
                <p class="app-font">银行卡审核需要1个工作日，请您耐心等待</p>
              </div>
              <div class="appimg-top appbtn-left">
                <botton class="col-xs-5 btn btn-danger btn-lg ft-white appbtn-top" onclick="window.local.toProjectList()" >浏览项目</botton>
                <botton class="col-xs-5 col-xs-offset-1 btn btn-yellow btn-lg ft-white appbtn-top" onclick="window.local.toAsset()" >个人中心</botton>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>