<!-- .row -->
<div class="row">
  <div class="col-xs-12">
    <!-- <ul class="list-inline"> -->
    <div class="row">
      <div class="col-xs-1 text-nowrap margin-r-20">剩余期限：</div>
      <div class="col-xs-1 text-nowrap">
        <a ui-sref="root.credit-list-query({status: status, minCycle: 0, maxCycle: 100, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType })" class="project-noncheck" ng-class="{'project-check': minCycle==0 && maxCycle==100, 'project-noncheck': !(minCycle==0 && maxCycle==100)}">
                        全部
                      </a>
      </div>
      <div class="col-xs-2">
        <a ui-sref="root.credit-list-query({status: status, minCycle: 0, maxCycle: 2, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType })" class="project-noncheck" ng-class="{'project-check': minCycle==0 && maxCycle==2, 'project-noncheck': !(minCycle==0 && maxCycle==2)}">
                        30天
                      </a>
      </div>
      <div class="col-xs-2">
        <a ui-sref="root.credit-list-query({status: status, minCycle: 3, maxCycle: 6, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType })" class="project-noncheck" ng-class="{'project-check': minCycle==3 && maxCycle==6, 'project-noncheck': !(minCycle==3 && maxCycle==6)}">
                        31-90天
                      </a>
      </div>
      <div class="col-xs-2">
        <a ui-sref="root.credit-list-query({status: status, minCycle: 6, maxCycle: 12, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType })" class="project-noncheck" ng-class="{'project-check': minCycle==6 && maxCycle==12, 'project-noncheck': !(minCycle==6 && maxCycle==12)}">
                        91-180天
                      </a>
      </div>
      <div class="col-xs-2">
        <a ui-sref="root.credit-list-query({status: status, minCycle: 12, maxCycle: 100, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType })" class="project-noncheck" ng-class="{'project-check': minCycle==12 && maxCycle==100, 'project-noncheck': !(minCycle==12 && maxCycle==100)}">
                        180天以上
                      </a>
      </div>
      <div class="col-xs-2">

      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-1 text-nowrap margin-r-20">预期收益：</div>
      <div class="col-xs-1 text-nowrap">
        <a ui-sref="root.credit-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: 0, maxEarning: 100, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType})" class="project-noncheck" ng-class="{'project-check': minEarning==0 && maxEarning==100, 'project-noncheck': !(minEarning==0 && maxEarning==100)}">
                        全部
                      </a>
      </div>
      <div class="col-xs-2">
        <a ui-sref="root.credit-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: 8, maxEarning: 10, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType})" class="project-noncheck" ng-class="{'project-check': minEarning==8 && maxEarning==10, 'project-noncheck': !(minEarning==8 && maxEarning==10)}">
                        8%
                      </a>
      </div>
      <div class="col-xs-2">
        <a ui-sref="root.credit-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: 10, maxEarning: 12, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType})" class="project-noncheck" ng-class="{'project-check': minEarning==10 && maxEarning==12, 'project-noncheck': !(minEarning==10 && maxEarning==12)}">
                        8 - 12%
                      </a>
      </div>
      <div class="col-xs-2">
        <a ui-sref="root.credit-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: 10, maxEarning: 12, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType})" class="project-noncheck" ng-class="{'project-check': minEarning==10 && maxEarning==12, 'project-noncheck': !(minEarning==10 && maxEarning==12)}">
                        12 - 15%
                      </a>
      </div>
      <div class="col-xs-2">
        <a ui-sref="root.credit-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: 12, maxEarning: 100, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType})" class="project-noncheck" ng-class="{'project-check': minEarning==12 && maxEarning==100, 'project-noncheck': !(minEarning==12 && maxEarning==100)}">
                        15%以上
                      </a>
      </div>
      <div class="col-xs-2">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="row">
      <div class="col-xs-1 text-nowrap margin-r-20">可投金额：</div>
      <div class="col-xs-1 text-nowrap">
        <a ui-sref="root.credit-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: 0, maxTotalAmount: 200000000, sortCondition:sortCondition, sortType: sortType})" class="project-noncheck" ng-class="{'project-check': minTotalAmount==0 && maxTotalAmount==200000000, 'project-noncheck': !(minTotalAmount==0 && maxTotalAmount==200000000)}">
                        全部
                      </a>
      </div>
      <div class="col-xs-2">
        <a ui-sref="root.credit-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: 0, maxTotalAmount: 2000000, sortCondition:sortCondition, sortType: sortType})" class="project-noncheck" ng-class="{'project-check': minTotalAmount==0 && maxTotalAmount==2000000, 'project-noncheck': !(minTotalAmount==0 && maxTotalAmount==2000000)}">
                        10000元以下
                      </a>
      </div>
      <div class="col-xs-2">
        <a ui-sref="root.credit-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: 2000000, maxTotalAmount: 5000000, sortCondition:sortCondition, sortType: sortType})" class="project-noncheck" ng-class="{'project-check': minTotalAmount==2000000 && maxTotalAmount==5000000, 'project-noncheck': !(minTotalAmount==2000000 && maxTotalAmount==5000000)}">
                        1 - 10万元
                      </a>
      </div>
      <div class="col-xs-2">
        <a ui-sref="root.credit-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: 5000000, maxTotalAmount: 10000000, sortCondition:sortCondition, sortType: sortType})" class="project-noncheck" ng-class="{'project-check': minTotalAmount==5000000 && maxTotalAmount==10000000, 'project-noncheck': !(minTotalAmount==5000000 && maxTotalAmount==10000000)}">
                        10万以上
                      </a>
      </div><!-- 
      <div class="col-xs-2">
        <a ui-sref="root.credit-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: 10000000, maxTotalAmount: 200000000, sortCondition:sortCondition, sortType: sortType})" class="project-noncheck" ng-class="{'project-check': minTotalAmount==10000000 && maxTotalAmount==200000000, 'project-noncheck': !(minTotalAmount==10000000 && maxTotalAmount==200000000)}">
                        1000万以上
                      </a>
      </div> -->
    </div>
  </div>
</div>
