<div class="institution-list">
  <div class="logo-border text-center">
    <div class=""><img src="/images/logo-list.png"></div>
  </div>
  <div class="content-right">
    <div class="list-head">
      <div class="bold-title">{{ item.name | limitTo :15}}</div>
      <div class="title-right-tips"><i class="fa fa-exclamation-circle margin-r-5"></i>到期还本付息</div>
      <div ng-show="item.status === 6" class="status-blue">预发布</div>
      <div ng-show="item.status === 7" class="status-orange">融资中</div>
      <div ng-show="item.status === 8" class="status-orange">融资成功</div>
      <div ng-show="item.status === 9" class="status-green">还款中</div>
      <div ng-show="item.status === 10" class="status-grey">还款完成</div>
      <div ng-show="item.status === 11" class="status-blue">预约中</div>
    </div>
    <div class="list-detail">
      <div class="col-md-2 text-center split-right-line">
        <p class="small-black"><i class="fa fa-bar-chart ft-18"></i>&nbsp;年化收益</p>
        <p><span class="mid-orange">{{item.annualEarnings | number : 2}}</span><span class="small-orange">%</span></p>
      </div>
      <div class="col-md-2 text-center split-right-line">
        <p class="small-black"><i class="fa fa-clock-o ft-18"></i>&nbsp;投资期限</p>
        <p><span class="mid-black">{{item.projectDays}}</span><span class="small-deepblack">天</span></p>
      </div>
      <div class="col-md-2 text-center split-right-line">
        <p class="small-black"><i class="fa fa-jpy ft-18"></i>&nbsp;投资金额</p>
        <p><span class="mid-black">{{item.total/10000}}</span><span class="small-deepblack">万元</span></p>
      </div>
    </div>
  </div>
</div>
