<div class="row text-left border" style="padding:10px;" ng-show="fundsProject.status === 1">
  <i class="fa fa-jpy fa-lg ft-grey3 i-rightmargin"></i>可投金额：<strong class="ft-24 ft-red">{{ fundsProjectInvestNum | noFractionCurrency:"":0 || 0 }}</strong>元<span ng-show="fundsProject.status !== 1" style="float:right"><strong class="ft-24">{{investorCount}}</strong>人已投</span>
</div>
<div class="row text-left border" style="padding:10px;" ng-show="fundsProject.status !== 1">
  <i class="fa fa-jpy fa-lg ft-grey3 i-rightmargin"></i>成功投资：<strong class="ft-24 ft-red">{{ (fundsProject.soldStock + fundsProject.occupancyStock) * fundsProject.increaseAmount | noFractionCurrency:"":0 || 0 }}</strong>元<span ng-show="fundsProject.status !== 1" style="float:right"><strong class="ft-24">{{investorCount}}</strong>人已投</span>
</div>

<div class="row panel panel-default padding-l-15 padding-r-15">
  <!-- 项目融资中 -->
  <div class="row" ng-show="fundsProject.status === 1" ng-switch="invPlanFlag">
    <!-- 未登录用户 -->
    <div class="row" ng-switch-when=0>
      <div class="col-xs-12 margin-t-15">
        <form class="from-group" ng-submit="toInvest(fundsProject);" name="invPlanForm">
          <!--           <div class="col-xs-12" ng-show="!invPlanForm.invPlanAmount.$dirty">
            <p class=" text-center text text-danger" style="font-size:15px; padding-top:4px;height:30px; margin-bottom:0px;background-color:#FEDED8;">请输入投资金额</p>
          </div> -->
          <div class="col-xs-12" ng-show="invPlanForm.invPlanAmount.$error.number">
            <p class=" text-center text text-danger" style="font-size:15px; padding-top:4px;height:30px; margin-bottom:0px;background-color:#FEDED8;">输入金额格式不对，只能输入数字</p>
          </div>
          <div class="col-xs-12" ng-show="invPlanForm.invPlanAmount.$dirty && checkLargeUserCanAmount(fundsProject)">
            <p class="text-center text text-danger" style="font-size:15px; padding-top:4px; height:30px; margin-bottom:0px;background-color:#FEDED8;">余额不足，请充值</p>
          </div>
          <div class="col-xs-12" ng-show="invPlanForm.invPlanAmount.$error.max || invPlanForm.invPlanAmount.$error.min">
            <p class=" text-center text text-danger" style="font-size:15px; padding-top:4px;height:30px; margin-bottom:0px;background-color:#FEDED8;">请输入一个介于{{ fundsProject.minInvest }}-{{ fundsProjectInvestNum }}之间的值</p>
          </div>
          <div class="col-xs-12" ng-show="invPlanFlag >= 1 && invPlanForm.invPlanAmount.$dirty && checkStepAmount(fundsProject)">
            <p class=" text-center text text-danger" style="font-size:15px; padding-top:4px;height:30px; margin-bottom:0px;background-color:#FEDED8;">输入值必须是100的整数倍</p>
          </div>
          <div class="col-xs-12">
            <input type="number" class="form-control" name="invPlanAmount" min="{{ fundsProject.minInvest }}" max="{{fundsProjectInvestNum}}" step="{{fundsProject.increaseAmount}}" ng-model="fundsProject.invPlanAmount" placeholder="请输入投资金额" ng-focus required>
          </div>
          <div class="col-xs-12" ng-show="checkLargeUserCanAmount(fundsProject)">
            <button class="btn btn-danger btn-lg btn-block margin-t-15 margin-b-5">
              <i class="fa fa-jpy fa-lg project-leftmargin"></i>充值
            </button>
          </div>
          <div class="col-xs-12" ng-hide="checkLargeUserCanAmount(fundsProject)">
            <button class="btn btn-danger btn-lg btn-block margin-t-15 margin-b-5">
              <i class="fa fa-shopping-cart fa-lg project-leftmargin"></i>立即投资
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- 普通用户 -->
    <div class="row" ng-switch-when=1>
      <div class="col-xs-12 margin-t-30 rechanege" style="padding-left: 30px; padding-right: 30px;">
        <span>账户余额：<small class="ft-24 ft-red">{{ userCapital.balance | currency:"":2 || 0}}</small>元</span>
        <a class="ft-red pull-right" ng-click="toRecharge();">充值</a>
      </div>
      <div class="col-xs-12 margin-t-15">
        <form class="from-group" ng-submit="toInvest(fundsProject);" name="invPlanForm">
          <!--           <div class="col-xs-12" ng-show="!invPlanForm.invPlanAmount.$dirty">
            <p class=" text-center text text-danger" style="font-size:15px; padding-top:4px;height:30px; margin-bottom:0px;background-color:#FEDED8;">请输入投资金额</p>
          </div> -->
          <div class="col-xs-12" ng-show="invPlanForm.invPlanAmount.$error.number">
            <p class=" text-center text text-danger" style="font-size:15px; padding-top:4px;height:30px; margin-bottom:0px;background-color:#FEDED8;">输入金额格式不对，只能输入数字</p>
          </div>
          <div class="col-xs-12" ng-show="invPlanForm.invPlanAmount.$dirty && checkLargeUserCanAmount(fundsProject)">
            <p class="text-center text text-danger" style="font-size:15px; padding-top:4px; height:30px; margin-bottom:0px;background-color:#FEDED8;">余额不足，请充值</p>
          </div>
          <div class="col-xs-12" ng-show="invPlanForm.invPlanAmount.$error.max || invPlanForm.invPlanAmount.$error.min">
            <p class=" text-center text text-danger" style="font-size:15px; padding-top:4px;height:30px; margin-bottom:0px;background-color:#FEDED8;">请输入一个介于{{ fundsProject.minInvest }}-{{ fundsProjectInvestNum }}之间的值</p>
          </div>
          <div class="col-xs-12" ng-show="invPlanFlag >= 1 && invPlanForm.invPlanAmount.$dirty && checkStepAmount(fundsProject)">
            <p class=" text-center text text-danger" style="font-size:15px; padding-top:4px;height:30px; margin-bottom:0px;background-color:#FEDED8;">输入值必须是100的整数倍</p>
          </div>
          <div class="col-xs-12">
            <input type="number" class="form-control" name="invPlanAmount" min="{{ fundsProject.minInvest }}" max="{{fundsProjectInvestNum}}" step="{{fundsProject.increaseAmount}}" ng-model="fundsProject.invPlanAmount" placeholder="请输入投资金额" ng-focus required>
          </div>
          <div class="col-xs-12" ng-show="checkLargeUserCanAmount(fundsProject)">
            <button class="btn btn-danger btn-lg btn-block margin-t-15 margin-b-5">
              <i class="fa fa-jpy fa-lg project-leftmargin"></i>充值
            </button>
          </div>
          <div class="col-xs-12" ng-hide="checkLargeUserCanAmount(fundsProject)">
            <button class="btn btn-danger btn-lg btn-block margin-t-15 margin-b-5">
              <i class="fa fa-shopping-cart fa-lg project-leftmargin"></i>立即投资
            </button>
          </div>
        </form>
      </div>
    </div>
    <!-- 实名用户 -->
    <div class="row" ng-switch-when=2>
      <div class="col-xs-12 margin-t-30 rechanege" style="padding-left: 30px; padding-right: 30px;">
        <span>账户余额：<small class="ft-24 ft-red">{{ userCapital.balance | currency:"":2 || 0}}</small>元</span>
        <a class="ft-red pull-right" ng-click="toRecharge();">充值</a>
      </div>
      <div class="col-xs-12 margin-t-15">
        <form class="from-group" ng-submit="toInvest(fundsProject);" name="invPlanForm">
          <!--           <div class="col-xs-12" ng-show="!invPlanForm.invPlanAmount.$dirty">
            <p class=" text-center text text-danger" style="font-size:15px; padding-top:4px;height:30px; margin-bottom:0px;background-color:#FEDED8;">请输入投资金额</p>
          </div> -->
          <div class="col-xs-12" ng-show="invPlanForm.invPlanAmount.$error.number">
            <p class=" text-center text text-danger" style="font-size:15px; padding-top:4px;height:30px; margin-bottom:0px;background-color:#FEDED8;">输入金额格式不对，只能输入数字</p>
          </div>
          <div class="col-xs-12" ng-show="invPlanForm.invPlanAmount.$dirty && checkLargeUserCanAmount(fundsProject)">
            <p class="text-center text text-danger" style="font-size:15px; padding-top:4px; height:30px; margin-bottom:0px;background-color:#FEDED8;">余额不足，请充值</p>
          </div>
          <div class="col-xs-12" ng-show="invPlanForm.invPlanAmount.$error.max || invPlanForm.invPlanAmount.$error.min">
            <p class=" text-center text text-danger" style="font-size:15px; padding-top:4px;height:30px; margin-bottom:0px;background-color:#FEDED8;">请输入一个介于{{ fundsProject.minInvest }}-{{ fundsProjectInvestNum }}之间的值</p>
          </div>
          <div class="col-xs-12" ng-show="invPlanFlag >= 1 && invPlanForm.invPlanAmount.$dirty && checkStepAmount(fundsProject)">
            <p class=" text-center text text-danger" style="font-size:15px; padding-top:4px;height:30px; margin-bottom:0px;background-color:#FEDED8;">输入值必须是100的整数倍</p>
          </div>
          <div class="col-xs-12">
            <input type="number" class="form-control" name="invPlanAmount" min="{{ fundsProject.minInvest }}" max="{{fundsProjectInvestNum}}" step="{{fundsProject.increaseAmount}}" ng-model="fundsProject.invPlanAmount" placeholder="请输入投资金额" ng-focus required>
          </div>
          <div class="col-xs-12" ng-show="checkLargeUserCanAmount(fundsProject)">
            <button class="btn btn-danger btn-lg btn-block margin-t-15 margin-b-5">
              <i class="fa fa-jpy fa-lg project-leftmargin"></i>充值
            </button>
          </div>
          <div class="col-xs-12" ng-hide="checkLargeUserCanAmount(fundsProject)">
            <button class="btn btn-danger btn-lg btn-block margin-t-15 margin-b-5">
              <i class="fa fa-shopping-cart fa-lg project-leftmargin"></i>立即投资
            </button>
          </div>
          <div class="col-xs-12" style="text-align: center">
            <p>
              <input class="rule-check text-left" type="checkbox" ng-model="fundsProject.isRepeatFlag" ng-click="checkAutoTransfer(fundsProject);">自动续投
              <span style="float:right;">{{ investorCount }}</span>人已投
            </p>
          </div>
        </form>
      </div>
    </div>
    <!-- 开启自动投资用户 -->
    <div class="row" ng-switch-when=3>
      <div class="col-xs-12 margin-t-30 rechanege" style="padding-left: 30px; padding-right: 30px;">
        <span>账户余额：<small class="ft-24 ft-red">{{ userCapital.balance | currency:"":2 || 0}}</small>元</span>
        <a class="ft-red pull-right" ng-click="toRecharge();">充值</a>
      </div>
      <div class="col-xs-12 margin-t-15">
        <form class="from-group" ng-submit="toInvest(fundsProject);" name="invPlanForm">
          <!--           <div class="col-xs-12" ng-show="!invPlanForm.invPlanAmount.$dirty">
            <p class=" text-center text text-danger" style="font-size:15px; padding-top:4px;height:30px; margin-bottom:0px;background-color:#FEDED8;">请输入投资金额</p>
          </div> -->
          <div class="col-xs-12" ng-show="invPlanForm.invPlanAmount.$error.number">
            <p class=" text-center text text-danger" style="font-size:15px; padding-top:4px;height:30px; margin-bottom:0px;background-color:#FEDED8;">输入金额格式不对，只能输入数字</p>
          </div>
          <div class="col-xs-12" ng-show="invPlanForm.invPlanAmount.$dirty && checkLargeUserCanAmount(fundsProject)">
            <p class="text-center text text-danger" style="font-size:15px; padding-top:4px; height:30px; margin-bottom:0px;background-color:#FEDED8;">余额不足，请充值</p>
          </div>
          <div class="col-xs-12" ng-show="invPlanForm.invPlanAmount.$error.max || invPlanForm.invPlanAmount.$error.min">
            <p class=" text-center text text-danger" style="font-size:15px; padding-top:4px;height:30px; margin-bottom:0px;background-color:#FEDED8;">请输入一个介于{{ fundsProject.minInvest }}-{{ fundsProjectInvestNum }}之间的值</p>
          </div>
          <div class="col-xs-12" ng-show="invPlanFlag >= 1 && invPlanForm.invPlanAmount.$dirty && checkStepAmount(fundsProject)">
            <p class=" text-center text text-danger" style="font-size:15px; padding-top:4px;height:30px; margin-bottom:0px;background-color:#FEDED8;">输入值必须是100的整数倍</p>
          </div>
          <div class="col-xs-12">
            <input type="number" class="form-control" name="invPlanAmount" min="{{ fundsProject.minInvest }}" max="{{fundsProjectInvestNum}}" step="{{fundsProject.increaseAmount}}" ng-model="fundsProject.invPlanAmount" placeholder="请输入投资金额" ng-focus required>
          </div>
          <div class="col-xs-12" ng-show="checkLargeUserCanAmount(fundsProject)">
            <button class="btn btn-danger btn-lg btn-block margin-t-15 margin-b-5">
              <i class="fa fa-jpy fa-lg project-leftmargin"></i>充值
            </button>
          </div>
          <div class="col-xs-12" ng-hide="checkLargeUserCanAmount(fundsProject)">
            <button class="btn btn-danger btn-lg btn-block margin-t-15 margin-b-5">
              <i class="fa fa-shopping-cart fa-lg project-leftmargin"></i>立即投资
            </button>
          </div>
          <div class="col-xs-12">
            <p>
              <input class="rule-check text-left" type="checkbox" ng-model="fundsProject.isRepeatFlag" ng-click="checkAutoTransfer(fundsProject);">自动续投
              <span style="float:right;"><strong>{{ investorCount }}</strong>人已投</span>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- 融资结束，还款中，还款完成 -->
  <div class="row" ng-show="fundsProject.status !== 1" style="padding:40px;">
    <p class="text-center">
      <img src="images/project/invplan_status_2.png" alt="" ng-show="fundsProject.status === 2">
      <img src="images/project/invplan_status_3.png" alt="" ng-show="fundsProject.status === 3">
      <img src="images/project/invplan_status_4.png" alt="" ng-show="fundsProject.status === 4">
      <img src="images/project/invplan_status_5.png" alt="" ng-show="fundsProject.status === 5">
    </p>
  </div>
</div>

