<div class="row margin-l-0 border-b text-center padding-b-30">
  <div class="col-xs-4 border-r">
    <p class="text-center display-i-b">项目规模</p>
    <p class="margin-t-10"><strong class="ft-30">{{ fundsProject.total }}</strong>元</p>
  </div>
  <div class="col-xs-5 text-center border-r" style="position:relative;">
    <p class="text-center display-i-b">年化收益率</p>
    <p class="margin-t-10"><strong class="ft-30">{{fundsProjectTest.baseRate | number:1 || 0}}% - {{fundsProjectTest.maxRate | number:1 || 0}}%</strong></p>
  </div>
  <div class="col-xs-3 text-center">
    <p class="text-center display-i-b">封闭期限</p>
    <p class="margin-t-10"><strong class="ft-30">{{ fundsProjectTest.sealingDays || 0}}</strong>日</p>
  </div>
</div>
<div class="row text-left margin-l-0 padding-l-15 margin-t-30 margin-b-30">
  <div class="col-xs-4 text-center">
    <img src="/images/investmentplan/join.png" alt="">
    <p class="margin-t-15">加入条件：</p>
    <p>100元起投，100元递增</p>
  </div>
  <div class="col-xs-4 text-center">
    <img src="/images/investmentplan/esc.png" alt="">
    <p class="margin-t-15">退出日期：</p>
    <p>{{fundsProject.repaymentDate | date: 'yyyy年MM月dd日'}}</p>
  </div>
  <div class="col-xs-4 text-center">
    <img src="/images/investmentplan/baozhang.png" alt="">
    <p class="margin-t-15">保障方式：</p>
    <p>{{"100%本金+利息保障"}}</p>
  </div>
</div>