<div class="col-xs-12">
  <div class="row project-info" ng-init="toggle.activeTab=0;">
    <div class="col-xs-12 padding-l-0 border-b-grey">
      <ul class="nav nav-pills nav-justified" style="width: 45%;">
        <li ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs"><a ng-click="toggle.switchTab($index)">{{tab.title}}</a>
        </li>
      </ul>
    </div>
    <div class="tab-content">
      <div class="tab-pane" ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs">
        <section ng-if="tab.title==='计划简介'">
          <div class="container-fluid">
            <div class="row border-b-white">
              <div class="col-xs-2 bg-grey2 tab-left text-right">
                名称
              </div>
              <div class="col-xs-10 bg-grey3 tab-right">
                {{fundsProduct.name}}{{fundsProject.name}}
                <!-- 数据绑定 -->
              </div>
            </div>
            <div class="row border-b-white">
              <div class="col-xs-2 bg-grey2 tab-left text-right" style="line-height:60px;">
                <span>计划介绍</span>
              </div>
              <div class="col-xs-10 bg-grey3 tab-right">
                宏金盈是宏财网推出的针对宏财网内部债权进行自动投资及定时自动转让的理财计划，多种期限可选，满足出借人不同的流动性需要。出借人出借的本金将在投资期限到达后一次性返回其账户，利息收益每月(期)发放，并由系统实现自动化的分散投资，更好的满足了出借人的需求。
              </div>
            </div>
            <div class="row border-b-white">
              <div class="col-xs-2 bg-grey2 tab-left text-right">
                投标范围
              </div>
              <div class="col-xs-10 bg-grey3 tab-right">
                宏金保、宏财网内部债权转让、宏财优选债权。
              </div>
            </div>
            <div class="row border-b-white">
              <div class="col-xs-2 bg-grey2 tab-left text-right">
                锁定期
              </div>
              <div class="col-xs-10 bg-grey3 tab-right">
                7日
              </div>
            </div>
            <div class="row border-b-white">
              <div class="col-xs-2 bg-grey2 tab-left text-right">
                退出日期
              </div>
              <div class="col-xs-10 bg-grey3 tab-right">
                {{ releaseEndTime }}
              </div>
            </div>
            <div class="row border-b-white">
              <div class="col-xs-2 bg-grey2 tab-left text-right">
                加入条件
              </div>
              <div class="col-xs-10 bg-grey3 tab-right">
                加入金额为100元，且为100元的整数倍
              </div>
            </div>
            <div class="row border-b-white">
              <div class="col-xs-2 bg-grey2 tab-left text-right">
                加入上限
              </div>
              <div class="col-xs-10 bg-grey3 tab-right">
                {{fundsProject.total}}元
              </div>
            </div>
            <div class="row border-b-white">
              <div class="col-xs-2 bg-grey2 tab-left text-right">
                保障方式
              </div>
              <div class="col-xs-10 bg-grey3 tab-right">
                100%本金+利息保障
              </div>
            </div>
            <div class="row border-b-white">
              <div class="col-xs-2 bg-grey2 tab-left text-right">
                到期退出方式
              </div>
              <div class="col-xs-10 bg-grey3 tab-right">
                按周期自动续投
              </div>
            </div>
            <div class="row border-b-white">
              <div class="col-xs-2 bg-grey2 tab-left text-right">
                赎回方式
              </div>
              <div class="col-xs-10 bg-grey3 tab-right">
                在周期内提前1个工作日取消自动续投，计划结束后自动赎回
              </div>
            </div>
            <div class="row border-b-white">
              <div class="col-xs-2 bg-grey2 tab-left text-right">
                服务协议
              </div>
              <div class="col-xs-10 bg-grey3 tab-right">
                <a class="ft-red" ng-click="showAgreement();">宏金盈计划协议范本</a>
              </div>
            </div>
          </div>
        </section>
        <section ng-if="tab.title==='投资记录'">
          <div ng-show="isLogged">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th>序号</th>
                  <th>投标金额</th>
                  <th>投资人</th>
                  <th>成交时间</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="order in data | startFrom:currentPage * pageSize | limitTo:pageSize">
                  <td>{{order.id}}</td>
                  <td>{{order.userName}}</td>
                  <td>{{order.orderAmount| number : 0}}元</td>
                  <td>{{order.createTime | date: "yy-MM-dd"}}</td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row" ng-if="!isLogged" style="text-align:center;">
            <h4 style="">请<a ng-click="toLogin()" class="ft-red">登录</a>后查看信息</h4>
          </div>
        </section>
        <section ng-if="tab.title==='常见问题'">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xs-12">
                <h4 class="page-header"><i class="fa fa-square hc-text-red"></i> 合同协议</h4>
              </div>
              <div class="col-xs-6 col-sm-4 file-padding" ng-repeat="contract in contractThumbnailFileList">
                <div class="thumbnail">
                  <a class="grouped_elements" rel="group1" href="javascript:;" ng-click="openFancybox()">
                    <img width="175" height="125" ng-src="{{baseFileUrl + contract.uploadFile.url}}">
                  </a>
                  <div class="caption">
                    <h5 class="file-head">{{contract.uploadFile.originalName.split('.')[0]}}</h5>
                  </div>
                  <div class="wrapper" fancybox style="display: none;">
                    <div class="future_fancybox_content">
                      <img src="{{baseFileUrl + contractOriginalFileList[$index].uploadFile.url}}" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12">
                <h4 class="page-header"><i class="fa fa-square hc-text-red"></i> 企业相关照片</h4>
              </div>
              <div class="row">
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 file-padding" ng-repeat="enterPrise in enterpriseThumbnailFileList">
                  <div class="thumbnail">
                    <a class="grouped_elements" rel="group1" href="javascript:;" ng-click="openFancybox()">
                      <img width="175" height="125" ng-src="{{baseFileUrl + enterPrise.uploadFile.url}}">
                    </a>
                    <div class="caption">
                      <h5 class="file-head">{{enterPrise.uploadFile.originalName.split('.')[0]}}</h5>
                    </div>
                    <div class="wrapper" fancybox style="display: none;">
                      <div class="future_fancybox_content">
                        <img src="{{baseFileUrl + enterpriseOriginalFileList[$index].uploadFile.url}}" />
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </section>
        <section ng-if="tab.title==='项目历程'">
          <div class="container-fluid">
            <div class="row project-bg-area">
              <div class="col-xs-8 col-xs-offset-2">
                <div class="row">
                  <div class="col-xs-6">
                    <div class="row plan-info">
                      <div class="col-xs-12 ft-right ft-14">
                        <div class="row info-row">
                          <span class="col-xs-9">发布时间</span>
                          <span class="col-xs-9 ft-20">2015年3月12日</span>
                          <span class="col-xs-1">
                            <img src="/images/investmentplan/releaseTime.png">
                          </span>
                        </div>
                        <div class="row info-row">
                          <span class="col-xs-9">预计规模</span>
                          <span class="col-xs-9 ft-20">10,000元</span>
                          <span class="col-xs-1">
                            <img src="/images/investmentplan/projecteSize.png">
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="row plan-info" style="margin-top:90px;">
                      <div class="col-xs-12 ft-14 ft-right">
                        <div class="row info-row">
                          <span class="col-xs-9">发布时间</span>
                          <span class="col-xs-9 ft-20">2015年3月12日</span>
                          <span class="col-xs-1">
                            <img src="/images/investmentplan/releaseTime.png">
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-6">
                    <div class="row">
                      <div class="col-xs-1">
                        <div class="row">
                          <img src="/images/investmentplan/plan_mid.png">
                        </div>
                      </div>
                      <div class="col-xs-11 ft-14 plan-info" style="margin-top:58px;">
                        <div class="row info-row">
                          <span class="col-xs-9">发布时间</span>
                          <span class="col-xs-9 ft-20">2015年3月12日</span>
                          <span class="col-xs-1">
                            <img src="/images/investmentplan/releaseTime.png">
                          </span>
                        </div>
                        <div class="row info-row">
                          <span class="col-xs-9">预计规模</span>
                          <span class="col-xs-9 ft-20">10,000元</span>
                          <span class="col-xs-1">
                            <img src="/images/investmentplan/projecteSize.png">
                          </span>
                        </div>
                      </div>
                      <div class="col-xs-11 ft-14 plan-info" style="margin-top:89px;">
                        <div class="row info-row">
                          <span class="col-xs-1">
                            <img src="/images/investmentplan/releaseTime.png">
                          </span>
                          <span class="col-xs-9">发布时间</span>
                          <span class="col-xs-9 ft-20">2015年3月12日</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--<div class="col-xs-12">
                <h4 class="page-header"><i class="fa fa-square hc-text-red"></i> 项目历程</h4>
                <ul class="timeline">
                  <li>
                    <div class="timeline-badge primary"><i class="fa fa-rocket"></i>
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4 class="timeline-title">项目上线</h4>
                      </div>
                      <div class="timeline-body">
                        <p>上线时间：{{fundsProject.publishTime}}</p>
                      </div>
                    </div>
                  </li>
                  <li class="timeline-inverted">
                    <div class="timeline-badge info"><i class="fa fa-users"></i>
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4 class="timeline-title">项目募集</h4>
                      </div>
                      <div class="timeline-body">
                        <p>开始时间：{{fundsProject.releaseStartTime | date: "yy-MM-dd"}}</p>
                        <p>结束时间：{{fundsProject.releaseEndTime | date: "yy-MM-dd"}}</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="timeline-badge warning"><i class="fa fa-tree"></i>
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4 class="timeline-title">项目放款</h4>
                      </div>
                      <div class="timeline-body">
                        <p>已还：{{projectInfo.projectBackTotal - (remainPrincipal + remainInterest) | number:2 }}（{{billCount}}期）</p>
                      </div>
                    </div>
                  </li>
                  <li class="timeline-inverted">
                    <div class="timeline-badge success"><i class="fa fa-list-ol"></i>
                    </div>
                    <div class="timeline-panel">
                      <div class="timeline-heading">
                        <h4 class="timeline-title">项目还款</h4>
                      </div>
                      <div class="timeline-body">
                        <p>待还款：{{remainPrincipal + remainInterest | number:2 }}（{{project.cycle - billCount}}期）</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>-->
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</div>
