<img class="type-flag" src="/images/test-icon.png" ng-show="item.isStamp === 1">
<div ng-if="!isLogged">
  <div class="row" ng-hide="item.id === 674">
    <div class="hidden-md col-lg-2">
      <img ng-src={{baseFileUrl}}{{item.image}} class="img-rounded" width="160" height="165">
    </div>
    <div class="col-xs-7 col-lg-7">
      <div class="row">
        <div class="col-xs-12">
          <h3><a ui-sref="root.project-details({number: item.number})" title="{{item.name}}">{{item.name}}</a><img class="newbie_flag" src="images/project/newbie_flag.png" ng-show="item.categoryCode === '04'"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-hide="item.categoryCode === '04' || item.categoryCode === '05' || item.categoryCode === '06' || item.categoryCode === '07'"><a ui-sref="root.project-sponsorInstitution({guaranteeId: item.guaranteeId})" target="_blank">担保机构：{{item.guaranteeName}}</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 text-nowrap">还款方式：{{item.repaymentName}}</div>
        <div class="col-xs-12 col-sm-6">100%本息担保</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">项目规模：<strong class="ft-18">{{item.total | menoyFormat}}</strong>元</div>
        <div class="col-xs-12 col-sm-6" ng-show="item.status != 11">可投金额：<strong class="ft-18">{{item.currentStock * item.increaseAmount || 0 | number : 0}}</strong>元</div>
        <div class="col-xs-12 col-sm-6" ng-show="item.status == 11">可预约额：<strong class="ft-18">{{item.reserveAmount}}</strong>元</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">年化收益：<strong class="ft-red ft-24">{{item.annualEarnings | number : 2}}%</strong>
        </div>
        <div class="col-xs-12 col-sm-6">项目期限：<strong class="ft-24">{{item.cycle}}</strong>个月</div>
      </div>
    </div>
    <div class="col-xs-5 col-lg-3">
      <div class="row">
        <div class="col-xs-12" ng-show="item.status === 6|| item.status === 11">
          <p class="text-left countdown-word">{{ _timeDown[$index] }}</p>
        </div>
        <div class="col-xs-12" ng-show="item.status !== 6 && item.status !== 11">
          <h6>&nbsp;</h6>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" ng-if="item.status != '11'">项目状态：{{ item.statusText }}</div>
        <div class="col-xs-12" ng-if="item.status == '11' && item.reserveAmount != 0">项目状态：{{ item.statusText }}</div>
        <div class="col-xs-12" ng-if="item.status == '11' && item.reserveAmount == 0">项目状态：预约已满</div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-nowrap" ng-show="item.status !== 11"><span class="pull-left">投资进度：</span>
          <div class="progress">
            <div class="progress-bar progress-bar-info hc-bg-red" role="progressbar" aria-valuenow="{{item.progress || 0}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.progress||0 }}%">{{item.progress||0 | number : 2}}%</div>
          </div>
        </div>
        <div class="col-xs-12 text-nowrap" ng-show="item.status == 11"><span class="pull-left">
                      预约截止：</span>{{ item.reserveEndTime | amDateFormat: 'YYYY/MM/DD HH:mm:ss'}}
        </div>
        <div class="col-xs-12 text-nowrap" ng-show="item.status == 11">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-show="item.progress < 100">
          <a class="btn btn-danger btn-lg btn-block" ui-sref="root.project-details({number: item.number})" ng-show="item.status != '6' && item.status != '11'"><i class="fa fa-shopping-cart"></i> 立即投资</a>
          <a class="btn btn-danger btn-lg btn-block" ui-sref="root.project-details({number: item.number})" ng-show="item.status == '6'"><i class="fa fa-shopping-cart"></i> 了解详情</a>
          <a class="btn btn-danger btn-lg btn-block" ui-sref="root.project-details({number: item.number})" ng-show="item.status == '11'&& item.reserveAmount == 0"><i class="fa fa-shopping-cart"></i> 了解详情</a>
          <a class="btn btn-danger btn-lg btn-block" ui-sref="root.project-details({number: item.number})" ng-show="item.status == '11'&& item.reserveAmount != 0"><i class="fa fa-shopping-cart"></i> 立即预约</a>
        </div>
        <div class="col-xs-12" ng-show="item.progress >= 100">
          <a class="btn list-btn-default btn-lg btn-block" ui-sref="root.project-details({number: item.number})"><i class="fa fa-shopping-cart"></i> 了解详情</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div ng-if="isLogged">
  <div class="row" ng-hide="item.id === 674 && loginName !== 'mikasa'">
    <div class="hidden-md col-lg-2">
      <img ng-src={{baseFileUrl}}{{item.image}} class="img-rounded" width="160" height="165">
    </div>
    <div class="col-xs-7 col-lg-7">
      <div class="row">
        <div class="col-xs-12">
          <h3><a ui-sref="root.project-details({number: item.number})" title="{{item.name}}">{{item.name}}</a><img class="newbie_flag" src="images/project/newbie_flag.png" ng-show="item.categoryCode === '04'"></h3>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-hide="item.categoryCode === '04' || item.categoryCode === '05' || item.categoryCode === '06' || item.categoryCode === '07'"><a ui-sref="root.project-sponsorInstitution({guaranteeId: item.guaranteeId})" target="_blank">担保机构：{{item.guaranteeName}}</a>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6 text-nowrap">还款方式：{{item.repaymentName}}</div>
        <div class="col-xs-12 col-sm-6">100%本息担保</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">项目规模：<strong class="ft-18">{{item.total | menoyFormat}}</strong>元</div>
        <div class="col-xs-12 col-sm-6" ng-show="item.status != 11">可投金额：<strong class="ft-18">{{item.currentStock * item.increaseAmount || 0 | number : 0}}</strong>元</div>
        <div class="col-xs-12 col-sm-6" ng-show="item.status == 11">可预约额：<strong class="ft-18">{{item.reserveAmount}}</strong>元</div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-sm-6">年化收益：<strong class="ft-red ft-24">{{item.annualEarnings | number : 2}}%</strong>
        </div>
        <div class="col-xs-12 col-sm-6">项目期限：<strong class="ft-24">{{item.cycle}}</strong>个月</div>
      </div>
    </div>
    <div class="col-xs-5 col-lg-3">
      <div class="row">
        <div class="col-xs-12" ng-show="item.status === 6|| item.status === 11">
          <p class="text-left countdown-word">{{ _timeDown[$index] }}</p>
        </div>
        <div class="col-xs-12" ng-show="item.status !== 6 && item.status !== 11">
          <h6>&nbsp;</h6>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12" ng-if="item.status != '11'">项目状态：{{ item.statusText }}</div>
        <div class="col-xs-12" ng-if="item.status == '11' && item.reserveAmount != 0">项目状态：{{ item.statusText }}</div>
        <div class="col-xs-12" ng-if="item.status == '11' && item.reserveAmount == 0">项目状态：预约已满</div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-nowrap" ng-show="item.status !== 11"><span class="pull-left">投资进度：</span>
          <div class="progress">
            <div class="progress-bar progress-bar-info hc-bg-red" role="progressbar" aria-valuenow="{{item.progress || 0}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.progress||0 }}%">{{item.progress||0 | number : 2}}%</div>
          </div>
        </div>
        <div class="col-xs-12 text-nowrap" ng-show="item.status == 11"><span class="pull-left">
                      预约截止：</span>{{ item.reserveEndTime | amDateFormat: 'YYYY/MM/DD HH:mm:ss'}}
        </div>
        <div class="col-xs-12 text-nowrap" ng-show="item.status == 11">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" ng-show="item.progress < 100">
          <a class="btn btn-danger btn-lg btn-block" ui-sref="root.project-details({number: item.number})" ng-show="item.status != '6' && item.status != '11'"><i class="fa fa-shopping-cart"></i> 立即投资</a>
          <a class="btn btn-danger btn-lg btn-block" ui-sref="root.project-details({number: item.number})" ng-show="item.status == '6'"><i class="fa fa-shopping-cart"></i> 了解详情</a>
          <a class="btn btn-danger btn-lg btn-block" ui-sref="root.project-details({number: item.number})" ng-show="item.status == '11'&& item.reserveAmount == 0"><i class="fa fa-shopping-cart"></i> 了解详情</a>
          <a class="btn btn-danger btn-lg btn-block" ui-sref="root.project-details({number: item.number})" ng-show="item.status == '11'&& item.reserveAmount != 0"><i class="fa fa-shopping-cart"></i> 立即预约</a>
        </div>
        <div class="col-xs-12" ng-show="item.progress >= 100">
          <a class="btn list-btn-default btn-lg btn-block" ui-sref="root.project-details({number: item.number})"><i class="fa fa-shopping-cart"></i> 了解详情</a>
        </div>
      </div>
    </div>
  </div>
</div>
