<div class="col-xs-12">
  <div class="panel panel-default">
    <h3 class="read-header border-b ft-16 padding-l-20">
      相关阅读
    </h3>
    <div class="tab-content">
      <div class="read-img margin-l-15 margin-t-15 margin-b-30">
        <img src="images/project/reading01.png" alt="">
        <div class="read-text ft-14 ft-grey1 margin-t-15">
          <p class="margin-b-0">美诺贝尔奖获得者称 中国</p>
          <p class="margin-b-0">央行超预期降准释放资金约1.2</p>
        </div>
      </div>
    </div>
  </div>
</div>
