<div id="project-detail" class="container">
  <div class="row">
      <div class="col-xs-12 col-md-8">
        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="hidden-xs hidden-md col-lg-5">
                    <img src="/images/main_hongbao_red.png" alt="" style="width:100%;">
                  </div>
                  <div class="col-lg-7">
                    <div class="row">
                      <div class="col-xs-12">
                        <h1 class="project-name">{{ project.name || '项目名称'}}</h1>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12 col-sm-4 border-r">
                        <h3 class="text-center text-nowrap hc-text-red"><small>10%+</small><strong>90%</strong></h3>
                        <h4 class="text-center text-nowrap">年化收益</h4>
                      </div>
                      <div class="col-xs-12 col-sm-4 border-r">
                        <h3 class="text-center text-nowrap">无上限</h3>
                        <h4 class="text-center text-nowrap">项目规模</h4>
                      </div>
                      <div class="col-xs-12 col-sm-4">
                        <h3 class="text-center text-nowrap">3天</h3>
                        <h4 class="text-center text-nowrap">项目期限</h4>
                      </div>
                    </div>
                    <hr style="margin-top: 9px;margin-bottom: 9px;">
                    <div class="row">
                      <div class="col-xs-12">
                        <h5>还款方式：到期一次性返还利息</h5>
                      </div>
                      <div class="col-xs-12">
                        <h5>截止日期：{{ project.releaseEndTime || 0 | amDateFormat: 'YYYY年MM月DD日'}}</h5>
                      </div>
                      <div class="col-xs-12">
                        <h5>业务类型：促销活动</h5>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="hidden-xs col-sm-12">&nbsp;</div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default project-info" ng-init="activeTab=0;">
              <ul class="nav nav-pills nav-justified">
                <li ng-class="{active: activeTab===$index}" ng-repeat="tab in tabs"><a ng-click="switchTab($index)">{{tab.title}}</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane" ng-class="{active: activeTab===$index}" ng-repeat="tab in tabs">
                  <section ng-if="tab.title==='活动简介'">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-xs-12">
                          <h4 class="page-header"><i class="fa fa-square hc-text-red"></i> 活动简介</h4>
                        </div>
                        <div class="col-xs-12">
                          <p>宏财网发起的宏包投资活动，活动时间为2014年12月1日——2015年1月31日，每日0点发布宏运当头标并截止昨日标的投资。</p>
                        </div>
                        <div class="col-xs-12">
                          <h4 class="page-header"><i class="fa fa-square hc-text-red"></i> 收益说明</h4>
                        </div>
                        <div class="col-xs-12">
                          <p>投资总额不限，年化收益10%+活动利率90%，投资期限为3日。</p>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section ng-if="tab.title==='活动规则'">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-xs-12">
                          <h4 class="page-header"><i class="fa fa-square hc-text-red"></i> 活动规则</h4>
                        </div>
                        <div class="col-xs-12">
                          <ul>
                            <li>本标的只能使用宏包投资，不得使用现金；</li>
                            <li>每位投资人投资宏包总数不得超过10张（土豪标不计算入内）;</li>
                            <li>宏包为虚拟体验金，不可提现，不可转账；</li>
                            <li>通过宏包投资所得收益为人民币，可取现或再投资；</li>
                            <li>宏包使用规则请查看“宏包使用规则”；</li>
                            <li>在法律允许的范围内，宏财网拥有对本活动的解释权。</li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </section>
                  <section ng-if="tab.title==='活动历程'">
                    <div class="container-fluid">
                    <div class="container-fluid">
                      <div class="row">
                        <div class="col-xs-12">
                          <h4 class="page-header"><i class="fa fa-square hc-text-red"></i> 项目历程</h4>
                          <ul class="timeline">
                            <li>
                              <div class="timeline-badge primary"><i class="fa fa-rocket"></i></div>
                              <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h4 class="timeline-title">活动上线</h4>
                                </div>
                                <div class="timeline-body">
                                  <p>上线时间：{{project.publishTime}}</p>
                                </div>
                              </div>
                            </li>
                            <li class="timeline-inverted">
                              <div class="timeline-badge info"><i class="fa fa-users"></i></div>
                              <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h4 class="timeline-title">活动募集开始</h4>
                                </div>
                                <div class="timeline-body">
                                  <p>开始时间：{{project.releaseStartTime}}</p>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="timeline-badge warning"><i class="fa fa-tree"></i></div>
                              <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h4 class="timeline-title">活动募集结束</h4>
                                </div>
                                <div class="timeline-body">
                                  <p>结束时间：{{project.releaseEndTime}}</p>
                                </div>
                              </div>
                            </li>
                            <li class="timeline-inverted">
                              <div class="timeline-badge success"><i class="fa fa-list-ol"></i></div>
                              <div class="timeline-panel">
                                <div class="timeline-heading">
                                  <h4 class="timeline-title">项目还款</h4>
                                </div>
                                <div class="timeline-body">
                                  <p>待还款</p>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="row">
          <div class="col-xs-12">
            <div class="form-horizontal">
              <div class="panel panel-default status">
                <div class="panel-heading ft-16 padding-tAb">
                  <strong>投资状态</strong>
                </div>
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12">
                      <strong>投资类型：宏包</strong>
                    </div>
                    <div class="col-xs-12" ng-if="isLogged">
                      <strong>可投宏包金额：{{canInvestAmount || '0'}}元</strong>
                    </div>
                  </div>
                  <br>
                  <div class="col-xs-12 padding-0" ng-if="!isLogged">
                    <div class="row padding-t-0" ng-if="project.status == 6">
                      <div class="col-xs-12 padding-l-0">开放投资倒计时：</div>
                      <div class="col-xs-12 project-timer">
                        <timer end-time="statDate" finish-callback="finished()"><span>{{days}} 天,</span> <span>{{hours}} 小时,</span><span>{{minutes}} 分,</span> <span>{{seconds}} 秒</span></timer>
                      </div>
                    </div>

                    <a ui-sref="root.login({isRedirect: true})" class="btn btn-danger btn-lg btn-block">请先登录</a>

                  </div>

                  <div class="col-xs-12 padding-0" ng-if="isLogged && project.status  >= 8 && project.status <= 10">
                    <input type='button'  value="已过期" class="btn btn-danger btn-lg btn-block" disabled="disabled"/>
                  </div>

                  <div class="row padding-t-0" ng-if="isLogged && project.status === 7">
                    <div class="col-xs-12" ng-if="securityStatus.realNameAuthStatus + securityStatus.mobileStatus + securityStatus.emailStatus < 3">
                      <a ui-sref="root.userCenter.security-settings" class="btn btn-danger btn-lg btn-block">请完善资料</a>
                    </div>
                    <div class="col-xs-12" ng-if="securityStatus.realNameAuthStatus + securityStatus.mobileStatus + securityStatus.emailStatus == 3">
                      <form ng-submit="isAvailableInvest(project);" >
                        <input type="number" min="0" max="{{canInvestAmount}}" step="100" name="project.amount" ng-model="project.amount" class="form-control margin-b-0" placeholder="投资金额（元）" required>
                        <input type="hidden" name="project.id" ng-model="project.id" value="{{project.id}}">
                        <button class="btn btn-danger btn-lg btn-block" >立即投资</button>
                      </form>
                    </div>
                  </div>
                  <div class="row padding-t-0" ng-if="isLogged && project.status == 6">
                    <div class="col-xs-12">开放投资倒计时：</div>
                    <div class="col-xs-12 project-timer">
                      <timer end-time="statDate" finish-callback="finished()"><span>{{days}} 天,</span> <span>{{hours}} 小时,</span><span>{{minutes}} 分,</span> <span>{{seconds}} 秒</span></timer>
                    </div>
                  </div>
                  <div class="col-xs-12" ng-if="isLogged && project.status == 6">
                    <a href="javascript:;" class="btn btn-default btn-lg btn-block">即将开始</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default" ng-init="activeTab_right=0;">
              <ul class="nav nav-pills nav-justified border-b">
                <li ng-class="{active: activeTab_right===$index}" ng-repeat="tab_right in tabs_right"><a ng-click="switchTab_right($index)">{{tab_right.title}}</a></li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane" ng-class="{active: activeTab_right===$index}" ng-repeat="tab_right in tabs_right">
                  <section ng-if="tab_right.title==='投资记录'">
                    <div class="panel-body">
                      <table class="table table-hover">
                        <thead>
                          <tr>
                            <th>成交时间</th>
                            <th>投资人</th>
                            <th>投标金额</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="order in orderList | startFrom:currentPage * pageSize | limitTo:pageSize">
                            <td>{{order.createTime | date: "yy-MM-dd"}}</td>
                            <td>{{order.userName}}</td>
                            <td>{{order.orderAmount| number : 0}}元</td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                    <ul class="list-group">
                      <li class="list-group-item">
                        <div class="row">
                          <div class="col-sx-12 text-center">
                            <button class="btn  btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage = currentPage - 1" disabled="disabled">上一页</button>
                            {{currentPage + 1 }} / {{numberOfPages()}} 共 {{data.length}} 条
                            <button class="btn  btn-sm" ng-disabled="currentPage >= data.length / pageSize - 1" ng-click="currentPage = currentPage + 1" disabled="disabled">下一页</button>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </section>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
