<div id="project-detail" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="row" ng-include src='"views/project/credit/_description.html"'></div>
      <div class="row">
        <div class="hidden-xs col-sm-12">&nbsp;</div>
      </div>
      <!-- 项目详情模块 -->
      <div class="row" ng-include src='"views/project/_detail.html"'></div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="row" ng-include src='"views/project/credit/_investment.html"'></div>
      <!-- 项目附加信息模块 -->
      <div class="row" ng-include src='"views/project/_additional.html"'>
      </div>
    </div>
  </div>
</div>
