
<!-- 零存宝详情页 -->
<div id="investmentplan-detail" class="container margin-t-30 margin-b-30">
  <div class="row bg-white margin-b-30 border">
    <div class="col-xs-12 padding-l-30 padding-r-30 set-position" style="background:#eee;padding-top:15px;padding-bottom:15px;">
      <b class="ft-18">{{ fundsProduct.name }}</b>&nbsp;&nbsp;{{ fundsProject.name }}</span>
      <span>当日计息，<span class="ft-orange">100%</span>本息保障</span>
    </div>
    <!-- <div class="col-xs-12 bg-grey cut-off-rule padding-l-0 margin-t-15">
      <div class="bg-red" style="width:25%;height:5px;"></div>
    </div> -->
    <div class="col-xs-12 padding-l-45 padding-r-60">
      <div class="row">
        <!-- 项目描述模块 -->
        <div class="col-xs-8" ng-include src='"views/project/_current_deposit_description.html"' style="border-right:1px #eee solid;padding-right:60px;padding-top:30px;"></div>
        <!-- 投资模块 -->
        <div class="col-xs-4 pull-right" ng-include src='"views/project/_current_deposit_investment.html"'></div>
      </div>
    </div>
    <!-- <div class="col-xs-12 margin-t-30 margin-b-30 padding-l-30 padding-r-30">
      <img src="images/investmentplan/process.jpg" width="100%">
    </div> -->   
  </div>
   <!-- 项目详情模块 -->
  <div class="col-xs-12 margin-t-15 margin-b-30" style="padding:0;margin-left:-15px;width:1170px;" ng-include src='"views/project/_current_deposit_detail.html"'></div>
</div>
