<div id="investmentplan-list" class="container padding-t-30" style="margin-bottom: -60px;">
  <div class="row">
    <div class="col-xs-12">
      <div class="row panel panel-default padding-b-30 margin-b-30">
        <div class="col-xs-12 border-b margin-b-30">
          <div class="row">
            <div class="col-xs-3 text-center border-r padding-t-30 padding-b-30">累计募集
              <br><strong class="ft-20">{{ totalAmount || 0 }}</strong>万元</div>
            <div class="col-xs-3 text-center border-r padding-t-30 padding-b-30">投资人数
              <br><strong class="ft-20">{{ totalInvestCount || 0 }}</strong>人次</div>
            <div class="col-xs-3 text-center border-r padding-t-30 padding-b-30">自动投标
              <br><strong class="ft-20">{{ totalRepeatInvestCount || 0 }}</strong>次</div>
            <div class="col-xs-3 text-center padding-t-30 padding-b-30">累计收益
              <br><strong class="ft-20">{{ totalProfit | number:2 || 0 }}</strong>元</div>
          </div>
        </div>
        <div class="col-xs-12 padding-b-30" ng-init="toggle.activeTab=0;">
          <div class="row margin-b-30">
            <div class="col-xs-6 col-xs-offset-3">
              <ul class="nav nav-pills nav-justified text-center">
                <li ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs"><a ng-click="toggle.switchTab($index)"><strong class="ft-24 ft-grey4">{{tab.title}}</strong></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="row tab-content padding-l-30 padding-r-30">
            <div class="tab-pane border-t-grey" ng-class="{active: toggle.activeTab===$index}" ng-repeat="tab in tabs">
              <section ng-if="tab.title==='七日盈'">
                <table class="container-fluid" width="100%">
                  <thead class="bg-offWhite text-center">
                    <tr>
                      <th width="20%">计划名称</th>
                      <th width="20%">募集金额（元）</th>
                      <th width="15%">参加人次</th>
                      <th width="15%">累计收益（元）</th>
                      <th width="15%">状态</th>
                    </tr>
                  </thead>
                  <tr ng-repeat="item in list.list">
                    <td><a ui-sref="root.investmentplan-details({number: item.fundsProject.number})" style="text-decoration:underline !important;">{{ item.fundsProject.name }}</a>
                    </td>
                    <td>{{ item.fundsProject.total }}</td>
                    <td>{{ item.creditCount }}</td>
                    <td>{{ item.fundsProject.projectBackProfit || 0 }}</td>
                    <td>{{ list.data.fundsProjectStatusMap[item.fundsProject.status] }}</td>
                  </tr>
                </table>
              </section>
              <section ng-if="tab.title==='月月盈'">
                <table class="container-fluid" width="100%">
                  <thead class="bg-offWhite text-center">
                    <tr>
                      <th width="20%">计划名称</th>
                      <th width="20%">募集金额（元）</th>
                      <th width="15%">参加人次</th>
                      <th width="15%">累计收益（元）</th>
                      <th width="15%">状态</th>
                    </tr>
                  </thead>
                  <tr ng-repeat="item in list.list">
                    <td><a ui-sref="root.investmentplan-details({number: item.fundsProject.number})" style="text-decoration:underline !important;">{{ item.fundsProject.name }}</a>
                    </td>
                    <td>{{ item.fundsProject.total }}</td>
                    <td>{{ item.creditCount }}</td>
                    <td>{{ item.fundsProject.projectBackProfit || 0}}</td>
                    <td>{{ list.data.fundsProjectStatusMap[item.fundsProject.status] }}</td>
                  </tr>
                </table>
              </section>
              <section ng-if="tab.title==='季度盈'">
                <table class="container-fluid" width="100%">
                  <thead class="bg-offWhite text-center">
                    <tr>
                      <th width="20%">计划名称</th>
                      <th width="20%">募集金额（元）</th>
                      <th width="15%">参加人次</th>
                      <th width="15%">累计收益（元）</th>
                      <th width="15%">状态</th>
                    </tr>
                  </thead>
                  <tr ng-repeat="item in list.list">
                    <td><a ui-sref="root.investmentplan-details({number: item.fundsProject.number})" style="text-decoration:underline !important;">{{ item.fundsProject.name }}</a></td>
                    <td>{{ item.fundsProject.total }}</td>
                    <td>{{ item.creditCount }}</td>
                    <td>{{ item.fundsProject.projectBackProfit || 0}}</td>
                    <td>{{ list.data.fundsProjectStatusMap[item.fundsProject.status]}}</td>
                  </tr>
                </table>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row" style="text-align:center;">
  <nav>
    <ul class="pagination">
      <bgf-pagination page="page" per-page="perPage" client-limit="clientLimit" url="'hongcai/api/v1/siteFunds/getFundsProjectListByProductType'" url-params="urlParams" link-group-size="2" collection="list" template-url="/views/tpl/paginate-anything.html">
      </bgf-pagination>
    </ul>
  </nav>
</div>
