<div id="project-detail" class="container" style="padding:20px 0;">
  <div class="row">
    <div class="col-md-12 padding-t-10 padding-b-20 margin-l-20">
      首页  &gt; 宏金保 &gt; 宏金保详情页
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <!-- 项目描述模块 -->
        <div class="row col-xs-8" ng-include src='"views/project/_description.html"'>
        </div>
        <!-- 项目投资模块 -->
        <div class="row col-xs-4" ng-include src='"views/project/_investment.html"'>
            <!-- <div class="hidden-xs col-sm-12">&nbsp;</div> -->
        </div>
    </div>
    <div class="col-xs-12">
      <!-- 项目详情模块 -->
      <div class="row col-md-8" ng-include src='"views/project/_detail.html"'>
      </div>
      <!-- 项目附加信息模块 -->
      <div class="row col-md-4" ng-include src='"views/project/_additional.html"'>
      </div>
      <!-- 预约收益率 -->
      
      <!-- <div class="row" ng-include src='"views/project/_interest_rate.html"' ng-show="project.status === 6 || project.status === 11">
    </div> -->

    <!-- 相关阅读 -->
    <div class="row col-md-4" ng-include src='"views/project/_reading.html"'>
    </div>
  </div>
  </div>
</div>
