<div id="project-list" class="container" style="padding-top: 30px;">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <ul class="list-group">
          <!-- 项目列表查询 -->
          <li class="list-group-item projects-filter" ng-include src='"views/project/_list_search.html"'>
          </li>
          <!-- 项目列表过滤 -->
          <li class="list-group-item" style="padding-top:0;padding-bottom:7px;" ng-include src='"views/project/_list_filter.html"'>
          </li>
          <!-- 项目列表展示详情 -->
          <li class="list-group-item" ng-repeat="item in data | startFrom:currentPage * pageSize | limitTo:pageSize" ng-include src='"views/project/_list_detail.html"'>
          </li>
          <!-- 分页，因为是假分页，分拆无法正常使用！如何破？ -->
          <li class="list-group-item" project-pagination>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
