<!-- <div ng-view="" class="ng-scope"> -->
	<div ng-controller="ProjectDetailsCtrl" class="bg-offWhite project-details">
		<div class="container page-container">
			<div class="row">
		      	<div class="col-lg-8">
		        	<div class="row mgn-top bg-white recommend">
		          		<div class="col-lg-5 recommend-img"></div>
		          		<div class="col-lg-7 recommend-details">
		            		<div class="row recommend-details-top">
		              			<div class="col-lg-12"><span class="project-name">{{ project.name }}</span></div>
		            		</div>
		            	<div class="row recommend-details-main">
		              		<div class="col-lg-4 border-r"><span class="ft-24 ft-red">{{project.annualEarnings}}%</span><br><span class="ft-18">年化收益</span></div>
		              		<div class="col-lg-4 border-r"><span class="ft-24">{{project.total/10000}}万</span><br><span class="ft-18">项目规模</span></div>
		              		<div class="col-lg-4"><span class="ft-24">{{project.cycle}}个月</span><br><span class="ft-18">项目期限</span></div>
		            	</div>
		            	<div class="row mgn-top">
		              		<div class="col-lg-12">
		              			发布日期：<span>{{ project.releaseTime | amDateFormat: 'YYYY年M月d日'}}</span><br>
		              			<hr>
		              			担保机构：<span><a ui-sref="root.project-sponsorInstitution">{{project.guaranteeName}}</a></span><br>
		              			还款方式：<span>{{repayment_type.repaymentType}}</span>
		              		</div>
		            	</div>
		          		</div>
		        	</div>
		        	<!-- star tabs -->
		        	<div class="row mgn-top border bg-white project-info-tab">
		          		<div class="project-tit">
		            		<span class="nav navbar-nav">
		                  		<a href="/project-info">项目信息</a>
		                  		<a href="/project-info">企业信息</a>
		                  		<a href="/project-info">风控信息</a>
		                  		<a href="/project-info">相关文件</a>
		                  		<a href="/project-info">项目里程</a>
		                	</span>
		          		</div>

		          		<!-- start 项目信息 -->
		          		<div class="project-info" style="display:none;">
		          			<div class="info-item">
		          				<div class="info-item-tips">
		          					<div class="info-item-icon"></div>项目信息<!-- 绑定数据 -->
		          				</div>
		          				
		          				<p>{{projectInfo.description}}</p>
		          			</div>
		          			<div class="info-item">
		          				<div class="info-item-tips">
		          					<div class="info-item-icon"></div>资金用途<!-- 绑定数据 -->
		          				</div>
		          				<p>{{projectInfo.financing_purpose}}</p>
		          			</div>
		          			<div class="info-item">
		          				<div class="info-item-tips">
		          					<div class="info-item-icon"></div>还款来源<!-- 绑定数据 -->
		          				</div>
		          				<p>{{projectInfo.repayment_source}}</p>
		          			</div>
		          			<div class="info-item project-evaluation border-none">
		          				<div class="info-item-tips">
		          					<div class="info-item-icon"></div>项目评估<!-- 绑定数据 -->
		          				</div>
		          				<p>{{projectInfo.risk_management_info}}</p>
		          			</div>
		          		</div>
		          		<!-- end 项目信息 -->
		          		<!-- start 企业信息 -->
		          		<div class="project-info">
		          			<div class="info-item">
		          				<div class="info-item-tips">
		          					<div class="info-item-icon"></div>企业信息<!-- 绑定数据 -->
		          				</div>
		          				<p>{{enterprise.background}}</p>
		          			</div>
		          			<div class="info-item">
		          				<div class="info-item-tips">
		          					<div class="info-item-icon"></div>营业范围<!-- 绑定数据 -->
		          				</div>
		          				<p>{{enterprise.businessScope}}</p>
		          			</div>
		          			<div class="info-item border-none">
		          				<div class="info-item-tips">
		          					<div class="info-item-icon"></div>经营状况<!-- 绑定数据 -->
		          				</div>
		          				<p>{{enterprise.businessState}}</p>
		          			</div>
		          		</div>
		          		<!-- end 企业信息 -->
		          		<!-- start 风控信息 -->
		          		<div class="project-info" style="display:none;">
		          			<div class="info-item">
		          				<div class="info-item-tips">
		          					<div class="info-item-icon"></div>担保方<!-- 绑定数据 -->
		          				</div>
		          				<p>{{projectInfo.guarantee_suggestion}}</p>
		          			</div>
		          			<div class="info-item border-none">
		          				<div class="info-item-tips">
		          					<div class="info-item-icon"></div>项目风险防控方案<!-- 绑定数据 -->
		          				</div>
		          				<p>{{projectInfo.risk_management_info}}<!-- 绑定数据 --></p>
		          			</div>
		          		</div>
		          		<!-- end 风控信息 -->
		          		<!-- start 相关文件 -->
		          		<div class="project-info" style="display:none;">
		          			<div class="info-item">
		          				<div class="info-item-tips">
		          					<div class="info-item-icon"></div>合同协议<!-- 绑定数据 -->
		          				</div>
		          				<div class="files-item"><img src="#" width="170" height="125"/><!-- 绑定数据 --><br><span>合作协议<!-- 绑定数据 --></span></div>
		          				<div class="files-item"><img src="#" width="170" height="125"/><!-- 绑定数据 --><br><span>合作协议<!-- 绑定数据 --></span></div>
		          				<div class="files-item"><img src="#" width="170" height="125"/><!-- 绑定数据 --><br><span>合作协议<!-- 绑定数据 --></span></div>

		          			</div>
		          			<div class="info-item border-none">
		          				<div class="info-item-tips">
		          					<div class="info-item-icon"></div>企业相关照片<!-- 绑定数据 -->
		          				</div>
		          				<div class="files-item"><img src="#" width="170" height="125"/><!-- 绑定数据 --><br><span>企业执照<!-- 绑定数据 --></span></div>
		          				<div class="files-item"><img src="#" width="170" height="125"/><!-- 绑定数据 --><br><span>办公场景<!-- 绑定数据 --></span></div>
		          				<div class="files-item"><img src="#" width="170" height="125"/><!-- 绑定数据 --><br><span>办公场景<!-- 绑定数据 --></span></div>
		          			</div>
		          		</div>
		          		<!-- end 相关文件 -->
		          		<!-- start 项目里程 -->
		          		<div class="project-info project-milestone" style="display:none;">
		          			<div class="info-item launched already">
		          				<div class="info-item-tips">
		          					<div class="progress-icon"></div>项目上线<br>
		          					<div class="row ft-14">
		          						<span class="padd">上线时间：2014-09-16<!-- 绑定数据 --></span><span>|</span>
		          						<span>操作人：kimjdfhdig<!-- 绑定数据 --></span>
		          					</div>
		          				</div>


		          			</div>
		          			<div class="info-item raise">
		          				<div class="info-item-tips">
		          					<div class="progress-icon"></div>项目募集
		          					<div class="row ft-14">
		          						<span class="padd">开始时间：2014-09-16<!-- 绑定数据 --></span>
		          						<br>
		          						<span class="padd">结束时间：2014-09-16<!-- 绑定数据 --></span>
		          					</div>
		          				</div>

		          			</div>
		          			<div class="info-item loan">
		          				<div class="info-item-tips">
		          					<div class="progress-icon"></div>项目放款<!-- 绑定数据 -->
		          					<div class="row ft-14">
		          						<span class="padd">上线时间：2014-09-16<!-- 绑定数据 --></span><span>|</span>
		          						<span>操作人：kimjdfhdig<!-- 绑定数据 --></span>
		          					</div>
		          				</div>
		          			</div>
		          			<div class="info-item repayment">
		          				<div class="info-item-tips">
		          					<div class="progress-icon"></div>项目还款<!-- 绑定数据 -->
		          					<div class="row ft-14">
		          						<span class="padd">已还：0.00（0期）<!-- 绑定数据 --></span><span>|</span>
		          						<span>待还款：169,162.71（4期）<!-- 绑定数据 --></span>
		          					</div>
		          				</div>

		          			</div>
		          		</div>
		          		<!-- end 项目里程 -->

		        	</div>

		        	<!-- end tabs -->
		      	</div>
		      	<div class="col-lg-4">
		        	<div class="row mgn-top recommend-support-details">
		        		<form class="form-horizontal form-login"  ng-submit="isAvailableInvest(project);">
			          		<div class="col-lg-12 recommend bg-white">
			            		<div class="row"><div class="col-lg-12 news-tit ftw-b">投资金额<br><hr></div></div>
			            		<div class="row">
			              			<div class="col-lg-12 padd">可投金额：<span>{{project.total - project.minInvest * project.countInvest}}</span>元</div>
			            		</div>
			            		<div class="row">
			              			<div class="col-lg-12">
			              				<span class="progress-tit">投资进度：</span>
			              				<div class="progress-bar">
			              					<span class="progress bg-red" style="width:{{project.progress}}%"><!-- 数据绑定 --></span>
			              				</div>
			              				<span class="progress-percent">{{project.progress}}%</span>
			              			</div>
			            		</div>
			            		<div class="row"  ng-switch="isAvailable" >
			              			<div class="col-lg-12" ng-switch-when="1">	
			              			</div>
			              			<div class="col-lg-12" ng-switch-when="2">
			              			</div>
			              			<div class="col-lg-12" ng-switch-default>
			              				<input type='number' name="project.amount" ng-model="project.amount"/>&nbsp;&nbsp;元
			              				<input type="hidden" name="project.id" ng-model="project.id" value="{{project.id}}">

			              			</div>
			            		</div>
			            		<div class="row" ng-switch="isAvailable">
			            			<div class="col-lg-12" ng-switch-when="1">
			              				<a ui-sref="root.login" class="go">请先登录</a>
			              			</div>
			              			<div class="col-lg-12" ng-switch-when="2">
			              				<a ui-sref="root.userCenter.security-settings" class="go">请完善资料</a>
			              			</div>
				            		<div class="col-lg-12" ng-switch-default>
				            			<input type="submit" class="go" value="立即投资">
		                				<a href="sdsd.?amount = "></a>
		              				</div>
	              				</div>
			          		</div>
		          		</form>
		        	</div>
		        	<div class="row mgn-left-0 invest-record">
		          		<div class="col-lg-12 mgn-top news bg-white">
		            		<div class="row news-tit">
		              			<div class="col-lg-6 ftw-b">投资记录</div>
		            		</div>
		            		<div class="row invest-record-col">
		              			<div class="col-lg-4">成交时间<!-- 数据绑定 --></div>
		              			<div class="col-lg-4">投资人<!-- 数据绑定 --></div>
		              			<div class="col-lg-4">投标金额<!-- 数据绑定 --></div>
		            		</div>
		            		<div class="row invest-record-item">
		              			<div class="col-lg-4">2014-09-24<!-- 数据绑定 --><br>20.01.36<!-- 数据绑定 --></div>
		              			<div class="col-lg-4">你看认rgrg<!-- 数据绑定 --></div>
		              			<div class="col-lg-4">40,898.84<!-- 数据绑定 --></div>
		            		</div>
		            		<div class="row invest-record-item">
		              			<div class="col-lg-4">2014-09-24<!-- 数据绑定 --><br>20.01.36<!-- 数据绑定 --></div>
		              			<div class="col-lg-4">你看认rgrg<!-- 数据绑定 --></div>
		              			<div class="col-lg-4">40,898.84<!-- 数据绑定 --></div>
		            		</div>
		            		<div class="row invest-record-item">
		              			<div class="col-lg-4">2014-09-24<!-- 数据绑定 --><br>20.01.36<!-- 数据绑定 --></div>
		              			<div class="col-lg-4">你看认rgrg<!-- 数据绑定 --></div>
		              			<div class="col-lg-4">40,898.84<!-- 数据绑定 --></div>
		            		</div>
		            		<div class="invest-record-pagination"><a href="#">&lt;</a>|<a href="#">&gt;</a></div>

		          		</div>
		        	</div>
              <div class="row">

                <div bs-tabs>
                  <div title="aaa" ng-bind="tab.content"></div>
                  <div title="bbb" ng-bind="tab.content"></div>
                  <div title="ccc" ng-bind="tab.content"></div>
                </div>

              </div>

		      	</div>
		    </div>


		</div>
	</div>
<!-- </div> -->
