<div id="project-list" class="container" style="padding-top: 30px;">
	<div class="row">
		<div class="col-xs-12">
			<div class="panel panel-default">
				<!-- <div class="panel-body">
					//
				</div> --> <!-- .panel-body -->

				<ul class="list-group">
					<li class="list-group-item projects-filter">
            <div class="row">
              <div class="col-xs-12">
                <!-- <ul class="list-inline"> -->
                  <div class="row">
                    <div class="col-xs-1 pull-left text-nowrap">项目状态：</div>
                    <div class="col-xs-1 text-nowrap">
                      <a ui-sref="root.project-list-query({status:'6,7,8,9,10', minCycle: minCycle, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType })">
                        <i class="fa" ng-class="{'fa-check-square-o': status === '6,7,8,9,10', 'fa-square-o': status !== '6,7,8,9,10'}"></i>
                        全部
                      </a>
                    </div>
                    <div class="col-xs-2">
                      <a ui-sref="root.project-list-query({status:'7', minCycle: minCycle, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType })">
                        <i class="fa" ng-class="{'fa-check-square-o': status === '7', 'fa-square-o': status !== '7'}"></i>
                        投标中
                      </a>
                    </div>
                    <div class="col-xs-2">
                      <a ui-sref="root.project-list-query({status:'8', minCycle: minCycle, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType })">
                        <i class="fa" ng-class="{'fa-check-square-o': status === '8', 'fa-square-o': status !== '8'}"></i>
                        投标结束
                      </a>
                    </div>
                    <div class="col-xs-2">
                      <a ui-sref="root.project-list-query({status:'9', minCycle: minCycle, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType })">
                        <i class="fa" ng-class="{'fa-check-square-o': status === '9', 'fa-square-o': status !== '9'}"></i>
                        还款中
                      </a>
                    </div>
                    <div class="col-xs-2">
                      <a ui-sref="root.project-list-query({status:'10', minCycle: minCycle, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType })">
                        <i class="fa" ng-class="{'fa-check-square-o': status === '10', 'fa-square-o': status !== '10'}"></i>
                        还款完成
                      </a>
                    </div>
                  </div>
                <!-- </ul> -->
              </div>
            </div> <!-- .row -->
            <div class="row">
              <div class="col-xs-12">
                <!-- <ul class="list-inline"> -->
                  <div class="row">
                    <div class="col-xs-1 text-nowrap">项目期限：</div>
                    <div class="col-xs-1 text-nowrap">
                      <a ui-sref="root.project-list-query({status: status, minCycle: 0, maxCycle: 100, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType })" >
                        <i class="fa" ng-class="{'fa-check-square-o': minCycle==0 && maxCycle==100, 'fa-square-o': !(minCycle==0 && maxCycle==100)}"></i>
                        全部
                      </a>
                    </div>
                    <div class="col-xs-2">
                      <a ui-sref="root.project-list-query({status: status, minCycle: 3, maxCycle: 6, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType })" >
                        <i class="fa" ng-class="{'fa-check-square-o': minCycle==3 && maxCycle==6, 'fa-square-o': !(minCycle==3 && maxCycle==6)}"></i>
                        3 - 6个月
                      </a>
                    </div>
                    <div class="col-xs-2">
                      <a ui-sref="root.project-list-query({status: status, minCycle: 6, maxCycle: 12, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType })" >
                        <i class="fa" ng-class="{'fa-check-square-o': minCycle==6 && maxCycle==12, 'fa-square-o': !(minCycle==6 && maxCycle==12)}"></i>
                        6 - 12个月
                      </a>
                    </div>
                    <div class="col-xs-2">
                      <a ui-sref="root.project-list-query({status: status, minCycle: 12, maxCycle: 100, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType })" >
                        <i class="fa" ng-class="{'fa-check-square-o': minCycle==12 && maxCycle==100, 'fa-square-o': !(minCycle==12 && maxCycle==100)}"></i>
                        12个月以上
                      </a>
                    </div>
                    <div class="col-xs-2">

                    </div>
                  </div>
                <!-- </ul> -->
              </div>
            </div> <!-- .row -->
           <div class="row">
              <div class="col-xs-12">
                <!-- <ul class="list-inline"> -->
                  <div class="row">
                    <div class="col-xs-1 text-nowrap">项目收益：</div>
                    <div class="col-xs-1 text-nowrap">
                      <a ui-sref="root.project-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: 0, maxEarning: 100, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType})" >
                        <i class="fa" ng-class="{'fa-check-square-o': minEarning==0 && maxEarning==100, 'fa-square-o': !(minEarning==0 && maxEarning==100)}"></i>
                        全部
                      </a>
                    </div>
                    <div class="col-xs-2">
                      <a ui-sref="root.project-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: 8, maxEarning: 10, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType})" >
                        <i class="fa" ng-class="{'fa-check-square-o': minEarning==8 && maxEarning==10, 'fa-square-o': !(minEarning==8 && maxEarning==10)}"></i>
                        8 - 10%
                      </a>
                    </div>
                    <div class="col-xs-2">
                      <a ui-sref="root.project-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: 10, maxEarning: 12, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType})" >
                        <i class="fa" ng-class="{'fa-check-square-o': minEarning==10 && maxEarning==12, 'fa-square-o': !(minEarning==10 && maxEarning==12)}"></i>
                        10 - 12%
                      </a>
                    </div>
                    <div class="col-xs-2">
                      <a ui-sref="root.project-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: 12, maxEarning: 100, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:sortCondition, sortType: sortType})" >
                        <i class="fa" ng-class="{'fa-check-square-o': minEarning==12 && maxEarning==100, 'fa-square-o': !(minEarning==12 && maxEarning==100)}"></i>
                        12%以上
                      </a>
                    </div>
                    <div class="col-xs-2">
                    </div>
                  </div>
                <!-- </ul> -->
              </div>
            </div> <!-- .row -->
           <div class="row">
              <div class="col-xs-12">
                <!-- <ul class="list-inline"> -->
                  <div class="row">
                    <div class="col-xs-1 text-nowrap">项目规模：</div>
                    <div class="col-xs-1 text-nowrap">
                      <a ui-sref="root.project-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: 0, maxTotalAmount: 200000000, sortCondition:sortCondition, sortType: sortType})" >
                        <i class="fa" ng-class="{'fa-check-square-o': minTotalAmount==0 && maxTotalAmount==200000000, 'fa-square-o': !(minTotalAmount==0 && maxTotalAmount==200000000)}"></i>
                        全部
                      </a>
                    </div>
                    <div class="col-xs-2">
                      <a ui-sref="root.project-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: 0, maxTotalAmount: 2000000, sortCondition:sortCondition, sortType: sortType})" >
                        <i class="fa" ng-class="{'fa-check-square-o': minTotalAmount==0 && maxTotalAmount==2000000, 'fa-square-o': !(minTotalAmount==0 && maxTotalAmount==2000000)}"></i>
                        200万以下
                      </a>
                    </div>
                    <div class="col-xs-2">
                      <a ui-sref="root.project-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: 2000000, maxTotalAmount: 5000000, sortCondition:sortCondition, sortType: sortType})" >
                        <i class="fa" ng-class="{'fa-check-square-o': minTotalAmount==2000000 && maxTotalAmount==5000000, 'fa-square-o': !(minTotalAmount==2000000 && maxTotalAmount==5000000)}"></i>
                        200 - 500万
                      </a>
                    </div>
                    <div class="col-xs-2">
                      <a ui-sref="root.project-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: 5000000, maxTotalAmount: 10000000, sortCondition:sortCondition, sortType: sortType})" >
                        <i class="fa" ng-class="{'fa-check-square-o': minTotalAmount==5000000 && maxTotalAmount==10000000, 'fa-square-o': !(minTotalAmount==5000000 && maxTotalAmount==10000000)}"></i>
                        500 - 1000万
                      </a>
                    </div>
                    <div class="col-xs-2">
                      <a ui-sref="root.project-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: 10000000, maxTotalAmount: 200000000, sortCondition:sortCondition, sortType: sortType})" >
                        <i class="fa" ng-class="{'fa-check-square-o': minTotalAmount==10000000 && maxTotalAmount==200000000, 'fa-square-o': !(minTotalAmount==10000000 && maxTotalAmount==200000000)}"></i>
                        1000万以上
                      </a>
                    </div>
                  </div>
                <!-- </ul> -->
              </div>
            </div> <!-- .row -->
					</li>
          <li class="list-group-item">
            <div class="row">
              <div class="col-xs-12">
                <!-- <ul class="list-inline"> -->
                  <div class="row">
                    <div class="col-xs-1 text-nowrap" style="padding: 0px; padding-top: 7px;">排　　序：</div>
                    <div class="col-xs-11 text-nowrap">
                      <div class="btn-group">
                        <a role="button" class="btn btn-default"  ui-sref="root.project-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:'release_start_time', sortType: sortType})" ng-click="toggleSort()">发布时间 <i style="color: #e94828;" class="fa" ng-class="{'fa-angle-up': (sortCondition ==='release_start_time' && sortType === true) , 'fa-angle-down': (sortCondition === 'release_start_time' && sortType === false) }"></i></a>

                        <a type="button" class="btn btn-default" ui-sref="root.project-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:'total', sortType: sortType})" ng-click="toggleSort()">项目规模 <i style="color: #e94828;" class="fa" ng-class="{'fa-angle-up': (sortCondition ==='total' && sortType === true), 'fa-angle-down': (sortCondition === 'total' && sortType === false)}"></i></a>

                        <a type="button" class="btn btn-default" ui-sref="root.project-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:'annual_earnings', sortType: sortType})" ng-click="toggleSort()">年化收益 <i style="color: #e94828;" class="fa" ng-class="{'fa-angle-up': (sortCondition === 'annual_earnings' && sortType === true), 'fa-angle-down': (sortCondition === 'annual_earnings' && sortType === false)}"></i></a>

                        <a type="button" class="btn btn-default" ui-sref="root.project-list-query({status: status, minCycle: minCycle, maxCycle: maxCycle, minEarning: minEarning, maxEarning: maxEarning, minTotalAmount: minTotalAmount, maxTotalAmount: maxTotalAmount, sortCondition:'repayment_date', sortType: sortType})" ng-click="toggleSort()">还款日期 <i style="color: #e94828;" class="fa" ng-class="{'fa-angle-up': (sortCondition ==='repayment_date' && sortType === true) , 'fa-angle-down': (sortCondition === 'repayment_date' && sortType === false)}"></i></a>
                      </div>
                  </div>
              </div>
            </div>
          </li>
					<li class="list-group-item" ng-repeat="item in data | startFrom:currentPage * pageSize | limitTo:pageSize">
						<div class="row">
							<div class="hidden-md col-lg-2">
								<img ng-src={{baseFileUrl}}{{item.image}} class="img-rounded" width="160" height="165">
							</div>
							<div class="col-xs-7 col-lg-7">
								<div class="row">
									<div class="col-xs-12"><h3><a ui-sref="root.project-details({projectId: item.id})" title="{{item.name}}">{{item.name}}</a></h3></div>
								</div>
								<div class="row">
									<div class="col-xs-12"><a ui-sref="root.project-sponsorInstitution({guaranteeId: item.guaranteeId})" target="_blank">保荐机构：{{item.guaranteeName}}</a></div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6 text-nowrap">还款方式：{{item.repaymentName}}</div>
									<div class="col-xs-12 col-sm-6">100%本息担保</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">项目规模：<strong class="ft-18">{{item.total | menoyFormat}}</strong>元</div>
									<div class="col-xs-12 col-sm-6">可投金额：<strong class="ft-18">{{item.currentStock * item.increaseAmount || 0 | number : 0}}</strong>元</div>
								</div>
								<div class="row">
									<div class="col-xs-12 col-sm-6">年化收益：<strong class="ft-red ft-24">{{item.annualEarnings | number : 2}}%</strong></div>
									<div class="col-xs-12 col-sm-6">项目期限：<strong class="ft-24">{{item.cycle}}</strong>个月</div>
								</div>
							</div>
							<div class="col-xs-5 col-lg-3">
								<div class="row">
									<div class="col-xs-12"><h6>&nbsp;</h6></div>
								</div>
								<div class="row">
									<div class="col-xs-12">项目状态：{{ item.statusText }}</div>
								</div>
								<div class="row">
									<div class="col-xs-12 text-nowrap"><span class="pull-left">投资进度：</span>
										<div class="progress">
											<div class="progress-bar progress-bar-info hc-bg-red" role="progressbar" aria-valuenow="{{item.progress || 0}}" aria-valuemin="0" aria-valuemax="100" style="width: {{item.progress||0 }}%">{{item.progress||0 | number : 2}}%</div>
										</div>
									</div>
								</div>
								<div class="row">
									<div class="col-xs-12" ng-show="item.progress < 100">
										<a class="btn btn-danger btn-lg btn-block" ui-sref="root.project-details({projectId: item.id})" ng-show="item.status != '6'"><i class="fa fa-shopping-cart"></i> 立即投资</a>
                    <a class="btn btn-danger btn-lg btn-block" ui-sref="root.project-details({projectId: item.id})" ng-show="item.status == '6'"><i class="fa fa-shopping-cart"></i> 了解详情</a>
									</div>
                  <div class="col-xs-12" ng-show="item.progress >= 100">
                    <a class="btn list-btn-default btn-lg btn-block" ui-sref="root.project-details({projectId: item.id})"><i class="fa fa-shopping-cart"></i> 了解详情</a>
                  </div>
								</div>
							</div>
						</div>
					</li>
					<li class="list-group-item">
						<div class="row">
							<div class="col-sx-12 text-center">
								<button class="btn btn-default btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage = currentPage - 1" disabled="disabled">上一页</button>
								{{currentPage + 1 }} / {{numberOfPages()}} 共 {{data.length}} 条
								<button class="btn btn-default btn-sm" ng-disabled="currentPage >= data.length / pageSize - 1" ng-click="currentPage = currentPage + 1" disabled="disabled">下一页</button>
							</div>
						</div>
					</li>
				</ul> <!-- ul.list-group -->
				<!-- <ul class="list-group pager">
					li
				</ul> --> <!-- ul.list-group-pager -->
			</div> <!-- .panel -->
		</div> <!-- .col-xs-12 -->
	</div> <!-- .row -->
</div>
