<div id="project-detail" class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="row">
                <div class="hidden-xs hidden-md col-lg-5">
                  <img ng-src="{{baseFileUrl + project.image}}" alt="" width="230" height="225" class="img-rounded">
                </div>
                <div class="col-lg-7">
                  <div class="row">
                    <div class="col-xs-12 under-margin">
                      <h1 class="project-name">{{ project.name || '项目名称'}}</h1>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12 col-sm-4 border-r under-margin">
                      <h3 class="text-center text-nowrap hc-text-red">{{project.annualEarnings || 0 | number : 2}}%</h3>
                      <p class="text-center text-nowrap gray-font">年化收益</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 border-r under-margin">
                      <h3 class="text-center text-nowrap">{{project.total/10000 || 0}}万</h3>
                      <p class="text-center text-nowrap gray-font">项目规模</p>
                    </div>
                    <div class="col-xs-12 col-sm-4 under-margin">
                      <h3 class="text-center text-nowrap">{{project.cycle || 0}}个月</h3>
                      <p class="text-center text-nowrap gray-font">项目期限</p>
                    </div>
                  </div>
                  <!--  <div class="row">
                      <div class="col-xs-12 under-margin">
                        发布日期：{{ project.publishTime || 0 | amDateFormat: 'YYYY年MM月DD日'}}
                      </div>
                    </div> -->
                  <hr style="margin-top: 3px;margin-bottom: 12px;">
                  <div class="row">
                    <div class="col-xs-12 under-margin1" ng-hide="categoryCode === '04' || categoryCode === '05'"><i class="fa fa-circle hc-text-red right-margin"></i>
                      <strong>担保机构：<a ui-sref="root.project-sponsorInstitution({guaranteeId: project.guaranteeId})" target="_blank">{{project.guaranteeName}}</a></strong>
                    </div>
                    <div class="col-xs-12 under-margin1" ng-show="categoryCode === '04'"><i class="fa fa-circle hc-text-red right-margin"></i>
                      <strong>项目类型：新手体验标</strong>
                    </div>
                    <div class="col-xs-12 under-margin1" ng-show="categoryCode === '06'"><i class="fa fa-circle hc-text-red right-margin"></i>
                      <strong>项目类型：羊年迎新标</strong>
                    </div>
                    <div class="col-xs-12 under-margin1"><i class="fa fa-circle hc-text-red right-margin"></i>
                      <strong>还款方式：{{project.repaymentName}}</strong>
                    </div>
                    <div class="col-xs-12" ng-class="{'under-margin1': project.status === 9 || project.status === 10}"><i class="fa fa-circle hc-text-red right-margin"></i>
                      <strong>发布日期：{{ project.publishTime || 0 | amDateFormat: 'YYYY年MM月DD日'}}</strong>
                    </div>
                    <div ng-if="project.progress >= 100 && project.status === 9 || project.status === 10">
                      <div class="col-xs-12"><i class="fa fa-circle hc-text-red right-margin"></i>
                        <strong>还款日期：{{ repaymentDate || 0 | amDateFormat: 'YYYY年MM月DD日'}}</strong>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="hidden-xs col-sm-12">&nbsp;</div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default project-info" ng-init="activeTab=0;">
            <ul class="nav nav-pills nav-justified">
              <li ng-class="{active: activeTab===$index}" ng-repeat="tab in tabs"><a ng-click="switchTab($index)">{{tab.title}}</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" ng-class="{active: activeTab===$index}" ng-repeat="tab in tabs">
                <section ng-if="tab.title==='项目信息'">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-xs-12">
                        <h4 class="page-header"><i class="fa fa-square hc-text-red"></i> 项目简介</h4>
                      </div>
                      <div class="col-xs-12">
                        <p>{{projectInfo.description}}</p>
                      </div>
                      <div class="col-xs-12">
                        <h4 class="page-header"><i class="fa fa-square hc-text-red"></i> 资金用途</h4>
                      </div>
                      <div class="col-xs-12">
                        <p>{{projectInfo.financingPurpose}}</p>
                      </div>
                      <div class="col-xs-12">
                        <h4 class="page-header"><i class="fa fa-square hc-text-red"></i> 还款来源</h4>
                      </div>
                      <div class="col-xs-12">
                        <p>{{projectInfo.repaymentSource}}</p>
                      </div>
                      <div class="col-xs-12">
                        <h4 class="page-header"><i class="fa fa-square hc-text-red"></i> 项目评级
                            <span ng-if="projectRank.symbol !== ''" ng-class="{'a3' : projectRank.symbol==='AAA','a2' : projectRank.symbol==='AA','a1' : projectRank.symbol==='A','b3' : projectRank.symbol==='BBB','b2' : projectRank.symbol==='BB','b1' : projectRank.symbol==='B','c' : projectRank.symbol==='C'}" class="project-rate">&nbsp;</span>
                          </h4>
                      </div>
                      <div class="col-xs-12">
                        <p>{{projectRank.description}}</p>
                      </div>
                    </div>
                  </div>
                </section>
                <section ng-if="tab.title==='企业信息'">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-xs-12">
                        <h4 class="page-header"><i class="fa fa-square hc-text-red"></i> 企业背景</h4>
                      </div>
                      <div class="col-xs-12">
                        <p>{{enterprise.background}}</p>
                      </div>
                      <div class="col-xs-12">
                        <h4 class="page-header"><i class="fa fa-square hc-text-red"></i> 营业范围</h4>
                      </div>
                      <div class="col-xs-12">
                        <p>{{enterprise.businessScope}}</p>
                      </div>
                      <div class="col-xs-12">
                        <h4 class="page-header"><i class="fa fa-square hc-text-red"></i> 经营状况</h4>
                      </div>
                      <div class="col-xs-12">
                        <p>{{enterprise.businessState}}</p>
                      </div>
                    </div>
                  </div>
                </section>
                <section ng-if="tab.title==='风控信息'">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-xs-12">
                        <h4 class="page-header"><i class="fa fa-square hc-text-red"></i>担保机构</h4>
                      </div>
                      <div class="col-xs-12">
                        <p>{{projectInfo.guaranteeSuggestion}}</p>
                      </div>
                      <div class="col-xs-12">
                        <h4 class="page-header"><i class="fa fa-square hc-text-red"></i>风控措施</h4>
                      </div>
                      <div class="col-xs-12">
                        <p>{{projectInfo.riskManagementInfo}}</p>
                      </div>
                    </div>
                  </div>
                </section>
                <section ng-if="tab.title==='相关文件'">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-xs-12">
                        <h4 class="page-header"><i class="fa fa-square hc-text-red"></i> 合同协议</h4>
                      </div>
                      <div class="col-xs-6 col-sm-4 file-padding" ng-repeat="contract in contractThumbnailFileList">
                        <!-- <div class="thumbnail">
                            <a class="grouped_elements" rel="group1" href="{{contractOriginalFileList[$index].uploadFile.url}}"><img fancybox width="175" height="125" hc-preview-url="{{enterPrise.uploadFile.url}}" ng-src="{{contract.uploadFile.url}}"></a>
                            <div class="caption">
                              <h5 class="file-head">{{contract.uploadFile.originalName}}</h5>
                            </div>
                          </div> -->

                        <div class="thumbnail">
                          <a class="grouped_elements" rel="group1" href="javascript:;" ng-click="openFancybox()">
                            <img width="175" height="125" ng-src="{{baseFileUrl + contract.uploadFile.url}}">
                          </a>
                          <div class="caption">
                            <h5 class="file-head">{{contract.uploadFile.originalName.split('.')[0]}}</h5>
                          </div>
                          <div class="wrapper" fancybox style="display: none;">
                            <div class="future_fancybox_content">
                              <img src="{{baseFileUrl + contractOriginalFileList[$index].uploadFile.url}}" />
                            </div>
                          </div>
                        </div>

                      </div>
                    </div>
                    <div class="row">
                      <div class="col-xs-12">
                        <h4 class="page-header"><i class="fa fa-square hc-text-red"></i> 企业相关照片</h4>
                      </div>
                      <div class="row">
                        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 file-padding" ng-repeat="enterPrise in enterpriseThumbnailFileList">
                          <div class="thumbnail">
                            <a class="grouped_elements" rel="group1" href="javascript:;" ng-click="openFancybox()">
                              <img width="175" height="125" ng-src="{{baseFileUrl + enterPrise.uploadFile.url}}">
                            </a>
                            <div class="caption">
                              <h5 class="file-head">{{enterPrise.uploadFile.originalName.split('.')[0]}}</h5>
                            </div>
                            <div class="wrapper" fancybox style="display: none;">
                              <div class="future_fancybox_content">
                                <img src="{{baseFileUrl + enterpriseOriginalFileList[$index].uploadFile.url}}" />
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </section>
                <section ng-if="tab.title==='项目历程'">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-xs-12">
                        <h4 class="page-header"><i class="fa fa-square hc-text-red"></i> 项目历程</h4>
                        <ul class="timeline">
                          <li>
                            <div class="timeline-badge primary"><i class="fa fa-rocket"></i>
                            </div>
                            <div class="timeline-panel">
                              <div class="timeline-heading">
                                <h4 class="timeline-title">项目上线</h4>
                              </div>
                              <div class="timeline-body">
                                <p>上线时间：{{project.publishTime}}</p>
                              </div>
                            </div>
                          </li>
                          <li class="timeline-inverted">
                            <div class="timeline-badge info"><i class="fa fa-users"></i>
                            </div>
                            <div class="timeline-panel">
                              <div class="timeline-heading">
                                <h4 class="timeline-title">项目募集</h4>
                              </div>
                              <div class="timeline-body">
                                <p>开始时间：{{project.releaseStartTime}}</p>
                                <p>结束时间：{{project.releaseEndTime}}</p>
                              </div>
                            </div>
                          </li>
                          <li>
                            <div class="timeline-badge warning"><i class="fa fa-tree"></i>
                            </div>
                            <div class="timeline-panel">
                              <div class="timeline-heading">
                                <h4 class="timeline-title">项目放款</h4>
                              </div>
                              <div class="timeline-body">
                                <p>已还：{{projectInfo.projectBackTotal - (remainPrincipal + remainInterest) | number:2 }}（{{billCount}}期）</p>
                              </div>
                            </div>
                          </li>
                          <li class="timeline-inverted">
                            <div class="timeline-badge success"><i class="fa fa-list-ol"></i>
                            </div>
                            <div class="timeline-panel">
                              <div class="timeline-heading">
                                <h4 class="timeline-title">项目还款</h4>
                              </div>
                              <div class="timeline-body">
                                <p>待还款：{{remainPrincipal + remainInterest | number:2 }}（{{project.cycle - billCount}}期）</p>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-4">
      <div class="row">
        <div class="col-xs-12">
          <div class="form-horizontal">
            <div class="panel panel-default status">
              <div class="panel-heading ft-16 padding-tAb">
                <strong>投资状态</strong>
                <img src="images/zengliang_03.png" class="project-bianju pull-right">
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12 negative-margin" ng-show="project.status !== 6 && project.status !== 11">
                    <span class="pull-left ft-16">投资进度：</span>
                    <div class="progress">
                      <div class="progress-bar progress-bar-info hc-bg-red" role="progressbar" aria-valuenow="{{project.progress || 0}}" aria-valuemin="0" aria-valuemax="100" style="width: {{project.progress||0 }}%">{{project.progress || 0 | number : 2}}%</div>
                    </div>
                  </div>
                  <div class="col-xs-12 negative-margin">
                    <span class="investment-fontsize">{{totalType}}：</span>
                    <span class="investment-fontred" ng-if="project.status !== 11">{{projectInvestNum | moreMillion:7}}</span>
                    <span class="investment-fontred" ng-if="project.status === 11">{{project.reserveAmount | moreMillion:7}}</span>
                    <span class="investment-fontblack">元</span>
                  </div>
                  <div class="col-xs-12 positive-margin" ng-show="project.status === 11">
                    <span class="ft-16">预约截止日：</span><span>{{ project.reserveEndTime | amDateFormat: 'YYYY/MM/DD HH:mm:ss'}}</span>
                  </div>
                </div>
                <!-- 未登录状态 可用余额展示-->
                <div class="col-xs-12 padding-0 positive-margin" ng-if="!isLogged">
                  <span class="ft-16">可用余额：</span><span class="investment-fontgray">(登录后查看)</span>
                </div>

                <!-- 倒计时展示 -->
                <div class="col-xs-12 padding-0" ng-show="statSecond > 1 && project.status === 6 || project.status === 11">
                  <div class="row padding-t-0">
                    <div class="col-xs-12 project-timer countdown-background" style="margin-top:10px;">
                      <p class="countdown-fontsize">{{ statDay }}{{ statTime }}</p>
                    </div>
                  </div>
                  <!-- <div class="positive-margin1"><a ui-sref="root.login({isRedirect: true})" class="btn btn-danger btn-lg btn-block"><i class="fa fa-user project-leftmargin"></i>请先登录</a>
                  </div>
                  <div class="positive-margin1 positive-leftmargin"><i class="fa fa-info-circle fa-lg fa-gray i-rightmargin"></i><span class="spangray">请先登录，再进行预约</span>
                  </div> -->
                </div>

                <!-- 未登录状态 输入框及提示语展示 -->
                <div class="col-xs-12 padding-0" ng-show="!isLogged">
                  <div class="positive-margin1">
                    <input ng-show="project.status !== 11" type="number" placeholder="请输入投资金额" disabled='disabled' class="form-control margin-b-20">
                    <input ng-show="project.status === 11" type="number" placeholder="请输入预约总额" disabled='disabled' class="form-control margin-b-20">
                  </div>
                  <div class="positive-margin1"><a ng-click="toLogin()" class="btn btn-danger btn-lg btn-block"><i class="fa fa-user project-leftmargin"></i>请先登录</a>
                  </div>
                  <div class="positive-margin1 text-center">
                    <i class="fa fa-info-circle fa-lg fa-gray i-rightmargin"></i>
                    <span class="spangray" ng-show="project.status !== 11">请先登录，再进行投资</span>
                    <span class="spangray" ng-show="project.status === 11">请先登录，再进行预约投资</span>
                  </div>
                </div>

                <!-- 已登陆预发布状态 -->
                <!-- <div class="row padding-t-0" ng-if="isLogged && statSecond > 1 && project.status === 6 ">
                  <div class="col-xs-12 positive-bottommargin"><span class="ft-16">可用余额：</span><span class="investment-fontred">{{userCapital.balance | number:2}}</span><span class="ft-24">元</span>
                  </div>
                  <div class="col-xs-12 project-timer countdown-background">
                    <p class="countdown-fontsize">{{ statDay }}{{ statTime }}</p>
                  </div>


                <!-- 登录已满标状态 -->
                <div class="col-xs-12 padding-0" ng-if="isLogged && project.progress >= 100">
                  <div class="positive-bottommargin"><span class="investment-fontsize">可用余额：</span><span class="investment-fontred">{{userCapital.balance | moreMillion:5 }}</span><span class="investment-fontblack">元</span>
                  <a class="ft-red" ui-sref="root.userCenter.recharge">充值</a>
                  </div>
                  <div ng-if="project.status === 8">
                    <button class="btn btn-danger btn-lg btn-block positive-bottommargin" disabled="disabled"><i class="fa fa-check-circle fa-lg project-leftmargin"></i>融资成功</button>
                    <div class="positive-margin1 text-center"><i class="fa fa-info-circle fa-lg fa-gray i-rightmargin"></i><span class="spangray">项目已融资成功，等待放款</span>
                    </div>
                  </div>
                  <div ng-if="project.status === 10">
                    <button class="btn btn-danger btn-lg btn-block positive-bottommargin" disabled="disabled"><i class="fa fa-jpy fa-lg project-leftmargin"></i>还款完成</button>
                    <div class="positive-margin1 text-center"><i class="fa fa-info-circle fa-lg fa-gray i-rightmargin"></i><span class="spangray">企业已完成项目还款</span>
                    </div>
                  </div>
                  <div ng-if="project.status === 9">
                    <button class="btn btn-danger btn-lg btn-block positive-bottommargin" disabled="disabled"><i class="fa fa-jpy fa-lg project-leftmargin"></i>还款中</button>
                    <div class="positive-margin1 text-center"><i class="fa fa-info-circle fa-lg fa-gray i-rightmargin"></i><span class="spangray">企业按照计划，正常还款中</span>
                    </div>
                  </div>
                  <div ng-if="project.currentStock === 0 && project.status === 7">
                    <button class="btn btn-danger btn-lg btn-block positive-bottommargin" disabled="disabled"><i class="fa fa-shopping-cart fa-lg project-leftmargin"></i>融资中</button>
                    <div class="positive-margin1 project-center"><i class="fa fa-info-circle fa-lg fa-gray i-rightmargin"></i><span class="spangray">仍有用户尚未完成支付,您还有投资机会~~~</span>
                    </div>
                  </div>
                </div>
                <!-- 登录，完善资料 -->
                <!-- <div class="row padding-t-0" ng-if="isLogged && project.progress < 100 && project.status != 6"> -->
                <div class="row padding-t-0" ng-if="isLogged && project.progress < 100">

                  <div class="col-xs-12" ng-if="securityStatus.realNameAuthStatus + securityStatus.mobileStatus + securityStatus.emailStatus < 3">
                    <div class="positive-bottommargin"><span class="investment-fontsize">可用余额：</span><span class="investment-fontred">{{userCapital.balance| moreMillion:5}}</span><span class="investment-fontblack">元</span>
                    <a class="ft-red" ui-sref="root.userCenter.recharge">充值</a>
                    </div>
                    <div class="positive-margin1">
                      <input ng-show="project.status !== 6 && project.status !== 11" type="number" placeholder="请输入投资金额" disabled='disabled' class="form-control margin-b-20">
                      <input ng-show="project.status === 11" type="number" placeholder="请输入预约总额" disabled='disabled' class="form-control margin-b-20">
                    </div>
                    <button class="btn btn-danger btn-lg btn-block positive-bottommargin" ng-click="Alertdata()" ng-show="project.status !== 6"><i class="fa fa-shopping-cart fa-lg project-leftmargin"></i>立即投资</button>
                    <div class="positive-margin1 text-center" ng-show="project.status !== 6">
                      <i class="fa fa-info-circle fa-lg fa-gray i-rightmargin"></i>
                      <span class="spangray" ng-show="project.status !== 11">请先<a class="ft-red" ui-sref="root.userCenter.security-settings">完善资料</a>，再进行投资</span>
                      <span class="spangray" ng-show="project.status === 11">请先<a class="ft-red" ui-sref="root.userCenter.security-settings">完善资料</a>，再进行预约投资</span>
                    </div>
                  </div>
                  <!-- 资料完善已登录 -->
                  <div class="col-xs-12" ng-if="securityStatus.realNameAuthStatus + securityStatus.mobileStatus + securityStatus.emailStatus === 3 && project.status !== 6 && project.status !== 11">
                    <div ng-switch on="isAvailable">
                      <div class="col-xs-12 positive-bottommargin pull-n">
                        <span class="investment-fontsize nagtive-leftmargin">可用余额：</span><span class="investment-fontred">{{userCapital.balance | moreMillion:5}}</span><span class="investment-fontblack">元</span>
                        <a class="ft-red" ui-sref="root.userCenter.recharge">充值</a>
                      </div>
                      <div class="col-xs-12" ng-switch-when="1">
                        <!-- 有未完成的订单时展示 -->
                        <button class="btn btn-lg btn-danger btn-block positive-margin1" data-animation="am-fade-and-slide-top" data-template="views/modal/alert-unfinishedOrder.html" data-placement="top" data-container="body" data-duration="1000" bs-alert="alert">立即投资</button>
                      </div>
                      <form ng-submit="toInvest(project);" name="investForm" ng-switch-default ng-show="categoryCode !== '06'">
                        <input type="number" min="{{project.minInvest}}" max="{{userCanInvestNum}}" step="{{project.increaseAmount}}" name="project.amount" ng-model="project.amount" class="form-control margin-b-20" placeholder="投资金额（元）" required ng-switch-default>
                        <input type="hidden" name="project.id" ng-model="project.id" value="{{project.id}}">
                        <p class="ft-red margin-b-5" style="margin-top: -12px;">邀请人手机号(选填):</p>
                        <input placeholder="请输入邀请人手机号" name="inviteMobile" ng-model="project.inviteMobile" class="form-control" ng-pattern="/^((13[0-9])|(15[^4,\D])|(18[0-9])|(17[0678])|(14[0-9]))\d{8}$/" style="margin-bottom: 10px;" ng-switch-default ng-focus>
                        <p ng-if="investForm.inviteMobile.$dirty && investForm.inviteMobile.$invalid && !investForm.inviteMobile.$focused && investForm.inviteMobile.$error.pattern" class="ft-red margin-b-5">手机号码格式不正确</p>
                        <button class="btn btn-danger btn-lg btn-block" ng-switch-default><i class="fa fa-shopping-cart project-leftmargin"></i>立即投资</button>
                      </form>
                      <!-- <form ng-submit="toInvest(project);" ng-switch-default ng-show="project.status === 6">
                        <input type="number" min="{{project.minInvest}}" max="{{userCanInvestNum}}" step="{{project.increaseAmount}}" name="project.reserveAmount" ng-model="project.reserveAmount" class="form-control margin-b-20" placeholder="请输入预约总额（元）" required ng-switch-default>
                        <input type="hidden" name="project.id" ng-model="project.id" value="{{project.id}}">
                        <button class="btn btn-danger btn-lg btn-block" ng-switch-default><i class="fa fa-shopping-cart project-leftmargin"></i>立即预约</button>
                      </form> -->
                      <div class="positive-margin1 text-center">
                        <i class="fa fa-info-circle fa-lg fa-gray i-rightmargin"></i>
                        <span class="spangray">优质项目，抓紧时间投资吧~~</span>
                        <!-- <span ng-if="project.status === 6" class="spangray">优质项目，抓紧时间预约吧~~</span> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-xs-12" ng-if="securityStatus.realNameAuthStatus + securityStatus.mobileStatus + securityStatus.emailStatus === 3 && project.status === 11">
                    <div>
                      <div class="col-xs-12 positive-bottommargin pull-n">
                        <span class="investment-fontsize nagtive-leftmargin">可用余额：</span><span class="investment-fontred">{{userCapital.balance | moreMillion:5}}</span><span class="investment-fontblack">元</span>
                        <a class="ft-red" ui-sref="root.userCenter.recharge">充值</a>
                      </div>
                      <div class="col-xs-12 positive-bottommargin pull-n">
                        <span class="ft-16 nagtive-leftmargin">预付金额为：</span><span>{{project.toReserveAmount/10 || 0 | number:2}}</span>元
                      </div>
                      <!-- <form ng-submit="toInvest(project);" ng-switch-default ng-show="project.status !== 6">
                        <input type="number" min="{{project.minInvest}}" max="{{userCanInvestNum}}" step="{{project.increaseAmount}}" name="project.amount" ng-model="project.amount" class="form-control margin-b-20" placeholder="投资金额（元）" required ng-switch-default>
                        <input type="hidden" name="project.id" ng-model="project.id" value="{{project.id}}">
                        <button class="btn btn-danger btn-lg btn-block" ng-switch-default><i class="fa fa-shopping-cart project-leftmargin"></i>立即投资</button>
                      </form> -->
                      <!-- <form ng-submit="toInvest(project);"> -->
                      <form ng-submit="getProfit(project);" name="reserveForm" ng-show="categoryCode !== '06'">
                        <!-- <input type="number" min="{{project.minInvest}}" max="{{userCanInvestNum}}" step="{{project.increaseAmount}}" name="project.toReserveAmount" ng-model="project.toReserveAmount" class="form-control margin-b-20" placeholder="请输入预约总额（元）" required> -->
                        <input type="number" min="{{project.minInvest}}" max="{{userCanInvestNum}}" step="{{project.increaseAmount}}" name="project.toReserveAmount" ng-model="project.toReserveAmount" class="form-control margin-b-20" placeholder="请输入预约总额（元）" required disabled="disabled" ng-if="userCanInvestNum === 0">

                        <input type="number" min="{{project.minInvest}}" step="{{project.increaseAmount}}" name="project.toReserveAmount" ng-model="project.toReserveAmount" class="form-control margin-b-20" placeholder="请输入预约总额（元）" required ng-if="userCanInvestNum !== 0">
                        <input type="hidden" name="project.id" ng-model="project.id" value="{{project.id}}">
                        <p class="ft-red" style="margin-top: -12px; margin-bottom: 5px;">邀请人手机号(选填):</p>
                        <input placeholder="请输入邀请人手机号" name="inviteMobile" ng-model="project.inviteMobile" class="form-control" ng-pattern="/^((13[0-9])|(15[^4,\D])|(18[0-9])|(17[0678])|(14[0-9]))\d{8}$/" style="margin-bottom: 10px;" ng-focus>
                        <p ng-if="reserveForm.inviteMobile.$dirty && reserveForm.inviteMobile.$invalid && !reserveForm.inviteMobile.$focused && reserveForm.inviteMobile.$error.pattern" class="ft-red margin-b-5">手机号码格式不正确</p>
                        <button class="btn btn-danger btn-lg btn-block" ng-if="userCanInvestNum !== 0"><i class="fa fa-shopping-cart project-leftmargin"></i>立即预约</button>
                        <button class="btn btn-danger btn-lg btn-block" ng-if="userCapital.balance === 0" disabled="disabled"><i class="fa fa-shopping-cart project-leftmargin"></i>立即预约</button>
                        <button class="btn btn-danger btn-lg btn-block" ng-if="project.reserveAmount === 0" disabled="disabled"><i class="fa fa-shopping-cart project-leftmargin"></i>预约已满</button>
                      </form>
                      <div class="positive-margin1 text-center">
                        <span><input class="rule-check" type="checkbox" ng-model="chk" ng-click="check(chk)">我已阅读并同意<a ui-sref="root.appointment-project-activityrule" class="ft-red" target="_blank">《项目预约规则》</a></span>
                      </div>
                      <div class="positive-margin1 text-center">
                        <i class="fa fa-info-circle fa-lg fa-gray i-rightmargin"></i>
                        <span class="spangray" ng-if="userCapital.balance !== 0">优质项目，抓紧时间预约吧~~</span>
                        <span class="spangray" ng-if="userCapital.balance === 0 && project.reserveAmount !== 0">您的余额不足，请先<a class="ft-red" ui-sref="root.userCenter.recharge">充值</a>~~</span>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="row padding-t-0" ng-if="isLogged && statSecond > 1 && project.status === 6 ">
                  <div class="col-xs-12 positive-bottommargin"><span class="ft-16">可用余额：</span><span class="investment-fontred">{{userCapital.balance | number:2}}</span><span class="ft-24">元</span>
                  </div>
                  <div class="col-xs-12 project-timer countdown-background">
                    <p class="countdown-fontsize">{{ statDay }}{{ statTime }}</p>
                  </div>
                </div> -->
                <div ng-if="isLogged && project.status === 6">
                  <button class="btn btn-danger btn-lg btn-block " disabled="disabled"><i class="fa fa-clock-o fa-lg project-leftmargin"></i>预发布</button>
                  <div class="positive-margin1 text-center"><i class="fa fa-info-circle fa-lg fa-gray i-rightmargin"></i><span class="spangray">优质项目，敬请期待</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12">
          <div class="panel panel-default" ng-init="activeTabRight=0;" ng-show="project.status !== 6 && project.status !== 11">
            <ul class="nav nav-pills nav-justified border-b">
              <li ng-class="{active: activeTabRight===$index}" ng-repeat="tab_right in tabsRight"><a ng-click="switchTabRight($index)">{{tab_right.title}}</a>
              </li>

            </ul>
            <div class="tab-content">
              <div class="tab-pane" ng-class="{active: activeTabRight===$index}" ng-repeat="tab_right in tabsRight">
                <section ng-if="tab_right.title==='投资记录'">
                  <div ng-if="isLogged" class="panel-body">
                    <table class="table table-hover ft-12">
                      <thead>
                        <tr>
                          <th>成交时间</th>
                          <th>投资人</th>
                          <th>投标金额</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="ft-12" ng-repeat="order in orderList | startFrom:currentPage * pageSize | limitTo:pageSize">
                          <td>{{order.createTime | date: "yy-MM-dd"}}</td>
                          <td>{{order.userName}}</td>
                          <td>{{order.orderAmount| number : 0}}元</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <ul ng-show="isLogged" class="list-group">
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-sx-12 text-center">
                          <button class="btn btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage = currentPage - 1" disabled="disabled">上一页</button>
                          {{currentPage + 1 }} / {{numberOfPages()}} 共 {{data.length}} 条
                          <button class="btn btn-sm" ng-disabled="currentPage >= data.length / pageSize - 1" ng-click="currentPage = currentPage + 1" disabled="disabled">下一页</button>
                        </div>
                      </div>
                    </li>
                  </ul>
                </section>
                <section ng-if="tab_right.title==='还款计划'">
                  <div ng-if="isLogged" class="panel-body">
                    <table class="table table-hover ft-12">
                      <thead>
                        <tr>
                          <th>预期还款时间</th>
                          <th>类型</th>
                          <th>还款金额</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="ft-12" ng-repeat="preRepayment in preRepaymentList">
                          <td>{{preRepayment.repaymentTime | date: "yy-MM-dd"}}</td>
                          <td ng-show="preRepayment.type==1">利息</td>
                          <td ng-show="preRepayment.type==2">本金</td>
                          <td ng-show="preRepayment.type==3">本金+利息</td>
                          <td>{{preRepayment.repaymentAmount| number:2}}元</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </section>
                <div ng-if="!isLogged" class="panel-body text-alg-c margin-t-15 margin-b-15">
                  请<a ng-click="toLogin()" class="ft-red">登录</a>后查看信息
                </div>
              </div>
            </div>

          </div>
          <div class="panel panel-default" ng-init="activeTabRightReserve=0;" ng-show="project.status === 6 || project.status === 11">
            <ul class="nav nav-pills nav-justified border-b">
              <li ng-class="{active: activeTabRightReserve===$index}" ng-repeat="tab_rightReserve in tabsRightReserve"><a ng-click="switchTabRightReserve($index)">{{tab_rightReserve.title}}</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" ng-class="{active: activeTabRightReserve===$index}" ng-repeat="tab_rightReserve in tabsRightReserve">
                <section ng-if="tab_rightReserve.title==='当前预约'">
                  <div ng-if="isLogged" class="panel-body">
                    <span>您<span ng-if="singleReserveCounts !==0">是第<strong class="ft-red">{{reserveData.ranking}}</strong>位投资者，</span>当前预约金额如下：</span>
                    <p class="margin-t-15"><i class="fa fa-asterisk fa-gray"></i>&nbsp;预付金额：{{reserveData.userReserveOrder.totalFreezeAmount}}元</p>
                    <p><i class="fa fa-asterisk fa-gray"></i>&nbsp;预约总额：{{reserveData.userReserveOrder.totalReserveAmount}}元</p>
                    <p><i class="fa fa-asterisk fa-gray"></i>&nbsp;预约期收益：{{reserveData.userReserveOrder.totalReturnProfit}}元</p>
                  </div>
                </section>
                <section ng-if="tab_rightReserve.title==='我的预约记录'">
                  <div ng-if="isLogged" class="panel-body text-alg-c">
                    <i class="fa fa-asterisk fa-gray"></i>
                    <span>您共有<strong class="ft-red">{{singleReserveCounts || 0}}</strong>次预约</span>
                    <table class="table table-hover ft-12" ng-show="singleReserveCounts">
                      <thead>
                        <tr>
                          <th width="25%" class="margin-t-30 text-left" style="padding-left: 0;">预约时间</th>
                          <th width="48%" class="text-center" style="padding-left: 0;">预付金额/预约总额</th>
                          <th width="32%" class="text-right" style="padding-right: 0;">预约状态</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr ng-repeat="item in reserveData.reserveOrders | startFrom:currentPage * pageSize | limitTo:pageSize">
                          <td style="padding-left: 0;text-align: left;">{{item.createTime | amDateFormat: 'YYYY/MM/DD hh:mm:ss'}}</td>
                          <td>{{item.freezeAmount}}/{{item.reserveAmount}}</td>
                          <td style="padding-right: 0;text-align: right;">{{item.statusTxt}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <!-- <ul class="list-group" ng-show="singleReserveCounts">
                    <li class="list-group-item">
                      <div class="row">
                        <div class="col-sx-12 text-center">
                          <button class="btn btn-sm" ng-disabled="currentPage == 0" ng-click="currentPage = currentPage - 1" disabled="disabled">上一页</button>
                          {{currentPage + 1 }} / {{numberOfPages()}} 共 {{singleReserveCounts}} 条
                          <button class="btn btn-sm" ng-disabled="currentPage >= data.length / pageSize - 1" ng-click="currentPage = currentPage + 1" disabled="disabled">下一页</button>
                        </div>
                      </div>
                    </li>
                  </ul> -->
                </section>
                <div ng-if="!isLogged" class="panel-body text-alg-c margin-t-15 margin-b-15">
                  请<a ng-click="toLogin()" class="ft-red">登录</a>后查看信息
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- 预约某宝宝收益率 -->

      <div class="row" ng-show="project.status === 6 || project.status === 11">
        <div class="col-xs-12">
          <div class="panel panel-default" ng-init="activeTabRight=0;">
              <div class="panel-heading ft-16 padding-tAb">
                <strong>预约期收益率</strong>
              </div>
            <div class="tab-content">
              <section>
                <div class="panel-body">
                  <div class="lilv">
                    <p class="table-stl1"><i class="fa fa-minus moubao"></i> <i class="table-stl2">宏财收益率(%)</i></p>
                    <p class="table-stl1"><i class="fa fa-minus hongcai"></i> <i class="table-stl2">某宝收益率(%)</i></p>
                  </div>
                  <cjs-line dataset="lineProjectData" options="lineProjectOptions" height="250" width="240"></cjs-line>
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
