<div id="project-list" class="container" style="padding-top: 20px;">
  <div class="row" style="">
    <div class="col-xs-4 padding-l-0 btn-group btn-group-sm" role="group" aria-label="..." style="float:left">
      <div class="row margin-l-0">
        <button class="btn btn-default col-xs-4 border-b-none" ng-class="{'active': showFlag === 1}" style="color: black;" ng-click="getProjectList();">宏金保</button>
        <button class="btn btn-default col-xs-4 border-b-none" ng-class="{'active': showFlag === 2}" style="color: black;" ng-click="getProfitList();">宏金盈</button>
        <button class="btn btn-default col-xs-4 border-b-none" ng-class="{'active': showFlag === 3}" style="color: black;" ng-click="getCreditList();">债权转让</button>
      </div>
    </div>
  </div>

  <div class="row bg-offWhite">
    <!-- 项目条件过滤 宏金保 + 债券转让 -->
    <div class="panel panel-default" ng-show="showFlag !== 2">
      <div class="list-group">
        <!-- 项目列表查询 -->
        <div class="row list-group-item projects-filter" ng-include src='"views/project/_list_search.html"' style="margin-left: 20px;"></div>
        <!-- 项目列表过滤 -->
        <div class="row list-group-item" ng-include src='"views/project/_list_filter.html"' style="margin-left: 20px;"></div>
      </div>
    </div>
    <!-- 项目列表展示详情 宏金保 + 债券转让 -->
    <div class="row" ng-include src='"views/project/_list_detail.html"' ng-show="showFlag !== 2"></div>

    <!-- 展示宏金盈 -->
    <div class="row" ng-include src='"views/project/_list_profit.html"' ng-show="showFlag === 2"></div>
    <!-- 分页 -->
    <div project-pagination></div>
  </div>
</div>

