<!-- 银行存管 -->
<div class="right-area bank-disclosure col-md-9 col-lg-9">
  <div class="row">
    <div class="right-title-about2"><p>银行存管</p></div>
  </div>
  <div class="row ft-14 ft-grey555 text-center margin-t-23">
    <div class="display-inbl contract cursor-pointer" ng-if="true">
      <div href="javascript:;" ng-click="openFancybox()"><img src="../images/disclosure/contract1.png" alt="" class="display-bl" width="100%"></div>
      <div class="hide contract" fancybox><img src="https://www.hongcai.com/uploads/png/original/2017-10-19/image/9bcbea8d83f04b289b6b9c2cf8c3af9a-original.png" alt="" class="display-bl" width="100%"></div>
    </div>
    <div class="display-inbl contract cursor-pointer" ng-if="true">
      <div ng-click="openFancybox()"><img src="../images/disclosure/contract2.png"  class="display-bl" width="100%"></div>
      <div class="hide contract" fancybox><img src="https://www.hongcai.com/uploads/png/original/2017-10-19/image/e8b1d7c10f354901a532a91c4fd7439a-original.png"  class="display-bl" width="100%"></div>
    </div>
  </div>
  <p class="ft-grey666 text-center margin-t-50 margin-b-50">宏财网已正式接入银行资金存管系统</p>
</div>