<!-- 经营信息 -->
<div class="right-area business-infor col-md-9 col-lg-9">
  <div class="row">
    <div class="right-title-about2"><p>经营信息</p></div>
  </div>
  <div class="row ft-14 ft-grey555 text-center">
    <div class="jy-header">
      <img src="../../images/disclosure/jy-banner.png" width="93%" class="margin-auto" alt="">
    </div>
    <div class="business-data clearfix">
      <div class="col-xs-4">
        <p>{{cumulative.numOfTransactions || 0}}次</p>
        <p>累计交易笔数</p>
      </div>
      <div class="col-xs-4">
        <p>{{cumulative.investingTotalLoanAmount || 0}}元</p>
        <p>借贷余额</p>
      </div>
      <div class="col-xs-4">
        <p>{{cumulative.investingNumOfTransactions || 0}}笔</p>
        <p>待还笔数</p>
      </div>
    </div>
    <div class="business-data-details clearfix">
      <div class="detail">
        <div class="col-xs-2 data">
          <span>累计注册会员数</span>
        </div>
        <div class="col-xs-7">
          <p></p>
        </div>
        <div class="col-xs-3 data">
          <span>{{cumulative.userCount || 0}}人</span>
        </div>
      </div>
      <div class="detail">
        <div class="col-xs-2 data">
          <span>累计借款人数</span>
        </div>
        <div class="col-xs-7 data">
          <p></p>
        </div>
        <div class="col-xs-3 data">
          <span>{{cumulative.numOfBorrows || 0}}人</span>
        </div>
      </div>
      <div class="detail">
        <div class="col-xs-2 data">
          <span>累计出借人数</span>
        </div>
        <div class="col-xs-7 data">
          <p></p>
        </div>
        <div class="col-xs-3 data">
          <span>{{cumulative.numOfLends || 0}}人</span>
        </div>
      </div>
      <div class="detail">
        <div class="col-xs-2 data">
          <span>当前借款人数</span>
        </div>
        <div class="col-xs-7 data">
          <p></p>
        </div>
        <div class="col-xs-3 data">
          <span>{{cumulative.currentNumOfBorrows || 0}}人</span>
        </div>
      </div>
      <div class="detail">
        <div class="col-xs-2 data">
          <span>当前出借人数</span>
        </div>
        <div class="col-xs-7 data">
          <p></p>
        </div>
        <div class="col-xs-3 data">
          <span>{{cumulative.currentNumOfLends || 0}}人</span>
        </div>
      </div>
    </div>
    <div class="business-data2 clearfix">
      <div class="col-xs-3">
        <div class="col-xs-6">
          <p>逾期金额</p>
          <p>0元</p>
        </div>
        <div class="col-xs-6">
          <p>逾期笔数</p>
          <p>0笔</p>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="col-xs-6">
          <p>代偿金额</p>
          <p>0元</p>
        </div>
        <div class="col-xs-6">
          <p>代偿笔数</p>
          <p>0笔</p>
        </div>
      </div>
      <div class="col-xs-3">
        <div class="col-xs-6">
          <p>逾期90天以上的笔数</p>
          <p>0元</p>
        </div>
        <div class="col-xs-6">
          <p>逾期90天以上的笔数</p>
          <p>0笔</p>
        </div>
      </div>
      <div class="col-xs-3">
        <p>上月前十大借款人待还金额占比</p>
        <p>{{cumulative.sumTenTopLoanBalance/cumulative.lastMonthTotalLoanAmount*100 || 0 | number: 2}}%</p>
      </div>
      <div class="col-xs-3">
        <p>上月最大单一借款人待还金额占比</p>
        <p>{{cumulative.topLoanBalance/cumulative.lastMonthTotalLoanAmount*100 || 0 | number: 2}}%</p>
      </div>
      <div class="col-xs-3">
        <p>关联关系借款余额</p>
        <p>0元</p>
      </div>
    </div>
    <div class="statement">
      <div class="item">
        <p class="ft-16 ft-grey666 text-center">平台向借款人收取服务费的标准</p>
        <p class="ft-16 text-center">按借款类型、期限、风险等级执行不通费率标准。<br>平台服务费=借款金额*1.5%-4%*借款期限/365。</p>
      </div>
      <div class="item item2">
        平台重大风险信息<span>无</span>
      </div>
      <p class="ft-14 ft-grey666 margin-t-50 margin-b-50">数据统计：截至{{updateDate}}</p>
    </div>
  </div>
</div>
