<!-- 经营信息 -->
<div class="right-area business-infor col-md-9 col-lg-9">
  <div class="row">
    <div class="right-title-about2"><p>经营信息</p></div>
  </div>
  <div class="row ft-14 ft-grey555 text-center">
    <div class="jy-header">
      <p>累计交易总额</p>
      <p>{{cumulative.totalTransactionAmount || 0}}元</p>
      <p>累计交易{{cumulative.totalTransactionCount || 0}}笔</p>
    </div>
    <div class="management-info">
      <table class="info">
        <div>
          <tr ng-repeat="info in managementInfo">
            <td>{{info.name}}</td> 
            <td>{{info.content}}</td>
          </tr>
        </div>
      </table>
      <p class="ft-14 ft-grey666 margin-t-50 margin-b-50">数据统计：截至{{updateDate}}</p>
    </div>
  </div>
</div>
