<!-- 平台介绍 -->
<div class="right-area disclosure-information col-md-9 col-lg-9">
  <div class="row">
    <div class="right-title-about2"><p>平台介绍</p></div>
  </div>
  <div class="row ft-14 ft-grey555 text-center margin-t-23">
    <div class="wrapper cursor-pointer">
      <img src="../images/disclosure/record.png" alt="" class="display-bl" height="100%" ng-click="openFancybox()">
    </div>
    <div fancybox class="hide">
      <img src="https://www.hongcai.com/uploads/png/original/2017-10-19/image/262d332a885e48849a59e9a4b73a9984-original.png" alt="" >
    </div>
  </div>
  <p class="ft-grey666 text-center margin-t-50 margin-b-50">公安机关网站备案号：京ICP备15025477号-1</p>
</div>
