<!-- 平台介绍 -->
<div class="right-area col-md-9 col-lg-9">
  <div class="row">
    <div class="right-title-about2"><p>平台介绍</p></div>
  </div>
  <div class="row ft-14 ft-grey555 text-center margin-t-23">
  	<p class="ft-24 margin-b-40">国有企业战略投资平台-宏财网</p>
  	<p class="projecter-detail text-left margin-auto line-h-30 margin-t-10">宏财网是国内领先的专注于中小微企业贷款需求的P2B互联网金融信息服务平台，2016年获得国有企业A轮战略投资1亿元，是国内极少数由上市金融集团提供专业安全金融资产的平台之一。自2014年成立以来，宏财网始终秉承“安全、透明、稳健、高效”的经营理念，不断为融投双方提供便利的互联网金融服务。</p>
    <p class="projecter-detail text-left margin-auto line-h-30 margin-t-10">宏财网创始人、董事长刘刚博士，曾在国务院国资委下属中国企业联合会负责企业管理创新工作，其主导的国内企业管理研究报告多次获中央领导重要批示认可。刘刚同时还身兼首都企业改革研究会常务理事、首都经贸大学金融学MBA导师、芜湖市镜湖区政府特聘创业导师等职，多年来专注企业管理与金融创新领域。</p>
    <p class="projecter-detail text-left margin-auto line-h-30 margin-t-10">2015年，宏财网被人民网列为全国“中小企业服务体系创新典型案例”，并加入中国中小企业协会。2016年，宏财网获得国有企业洛阳中小企业资产管理有限公司A轮1亿元战略投资，升级为国资系背景平台。同时宏财网还与新三板金控第一股-鑫融基金控股份有限公司建立战略合作伙伴关系。同年荣获“中国互联网放心网站”、“2016年度中国互联网金融行业优秀示范企业”等称号。</p>
    <p class="projecter-detail text-left margin-auto line-h-30 margin-t-10">在风控方面，宏财网坚持立体审查原则，在资产甄选、资产评估、风险评定、贷后管理、合规作业等每一个环节进行严格审核，避免风险事件的发生。截至目前，宏财网历史坏账率始终保持着零记录，用户资金安全得到完备保障。</p>
    <p class="projecter-detail text-left margin-auto line-h-30 margin-t-10">在资产方面，宏财网凭借股东广泛的金融资源，及项目方十多年积累的优质资源，打造了一个相对封闭的金融生态圈，资产方信息透明、知根知底，安全性极高。目前宏财网以55天和180天的汽车金融和小微产业金融和项目为主，年均回报率在业在运营方面，宏财网始终坚持合规经营，主动拥抱监管，全面接受政府及社会公众的监督，并履行相应的信息披露义务。宏财网已经接入海口联合农商银行存管系统，实现了用户资金与网贷平台资金的全面隔离，用户每笔资金操作都经由海口联合农商银行存管系统验证执行，交易数据同时报备北京市金融局和北京网贷行业协会，确保用户资金安全。</p>
    <p class="projecter-detail text-left margin-auto line-h-30 margin-t-10">在安全方面，宏财网已经采用SSL256位数据传输加密信息保护技术、WAF防火墙系统保障技术及两地三中心的容灾备份方案，7×24小时全天侯保障用户数据安全。目前宏财网正积极建设符合《国家信息系统安全等级保护制度》三级要求的新一代安全系统。</p>
    <p class="projecter-detail text-left margin-auto line-h-30 margin-t-10">当前，宏财网已经进入快速发展的新阶段，接下来，平台将秉承“掌控优质资产、坚守用户体验、积极拥抱监管”的发展观，向更合规、更安全、更智能的互联网金融平台迈进，连结借款企业/个人与大众投资者，提供稳健、便捷、人性化的普惠金融服务。</p>
  </div>
</div>
