<!-- 风险管理 -->
<div class="right-area disclosure-risk col-md-9 col-lg-9">
  <div class="row">
    <div class="right-title-about2"><p>风险管理</p></div>
  </div>
  <div class="row ft-14 ft-grey555 text-center margin-t-23">
    <div class="risk-1 margin-b-50">
      <img src="../images/disclosure/fxgl-title1.png" alt="" width="20%" class="display-bl">
      <div class="risk-1-img">
        <span>风控总监</span><span>风控委员会</span><span>总部风控</span><span>项目管理部</span><span>贷后管理部</span>
      </div>
    </div>
    <img src="../images/about/parting-line.png" alt="" class="display-bl" width="100%">
    <div class="risk-2 padding-t-30">
      <img src="../images/disclosure/fxgl-title2.png" alt="" width="20%" class="display-bl">
      <div class="content-wrapper">
        <div class="top position-re">
          <div class="top1">合作方项目推荐<span class="position-icon"></span>
          </div>
          <div class="top2">项目受理<span class="position-icon"></span>
          </div>
          <div class="top3">项目初审<span class="position-icon"></span><span class="verticle"></span>
            <div class="item">
              1.借款人资料收集／审核</br>
              2.初步沟通项目方案
            </div>
          </div>
          <div class="top4">专人实地调查<span class="position-icon"></span><span class="verticle"></span>
            <div class="item">
              1.实地走访、资料核实</br>
              2.资信审查  </br>
              3.抵押资产估值／检测</br>
              4.办理资产抵押登记<br>
              5.制定抵押资产处置办法
            </div>
          </div>
          <div class="top5">信息反馈<span class="position-icon"></span>
          </div>
          <div class="top6">信息复审<span class="position-icon"></span>
          </div>
          <div class="top7">合同落实<span class="position-icon"></span><span class="verticle"></span>
            <div class="item">
              1.校验初审阶段的信息与实际提交上传的是否一致</br>
              2.对信披内容做脱敏处理，二次审核完成后录入系统
            </div>
          </div>
          <div class="top8">资料校验<span class="position-icon"></span>
          </div>
          <div class="top9">排期发标<span class="position-icon"></span>
          </div>
          <div class="top10">贷后管理<span class="position-icon"></span><span class="verticle"></span>
            <div class="item">
              1.定期回访，对项目作出评估，直至还款完成</br>
              2.若项目逾期，做好应对措施，并对项目进行处理
            </div>
          </div>
        </div>
        <div class="middle position-re">
          <div class="line"></div>
        </div>
      </div>
    </div>
    <img src="../images/about/parting-line.png" alt="" class="display-bl" width="100%">
    <div class="risk-3">
      <img src="../images/disclosure/fxgl-title3.png" alt="" width="22%" class="display-bl">
      <div class="list1">
        <p>电话回访</p>
        1.每10天进行一次电话回访<br>
          2.企业控制人的情况<br>
          3.生产经营情况调查
      </div>
      <div class="list2">
        <p>现场调查</p>
        1.每月到现场了解实际控制人情况<br>2.存货、订单及在手合同情况<br>3.生产经营情况是否有异常信号<br>4.押物价值是否有变化，是否涉诉
      </div>
      <div class="list3">
        <p>财务审计</p>
        1.贷款资金流向，是否使用合规<br>2.资产负债表主要科目的核查与审计<br>3.损益表主要科目的核查与审计<br>4.从财务情况和现金流判断还款能力
      </div>
      <div class="list4">
        <p>回款催收</p>
        1.还款日前5个工作天短信提醒，还款日前3个工作天电话提醒<br>
        2.还款日当天电话提醒，告知违约责任<br>
        3.对逾期的借款人，每日电话催收<br>
        4.逾期10天以上，现场催收，告知法律后果<br>
        5.向人民法院提起诉讼
      </div>
    </div>
  </div>
</div>
