<div class="bg bg-offWhite get-pwd"  ng-controller = "GetPwdCtrl">
<div class="get-pwd-area">
	<div class="get-tips-area">
		<div class="get-tips-pic"></div>
		<p class="p-get-pwd-tips {{areaFlag == 1 ? 'bg-get-pwd-tips' : ''}}">输入账号</p>
		<p class="p-get-pwd-tips {{areaFlag == 2 ? 'bg-get-pwd-tips' : ''}}">验证身份</p>
		<p class="p-get-pwd-tips {{areaFlag == 3 ? 'bg-get-pwd-tips' : ''}}">修改密码</p>
		<p class="p-get-pwd-tips last-tips {{areaFlag == 4 ? 'bg-get-pwd-tips' : ''}}">完成</p>
	</div>
	<!--输入帐号-->
	<div class="get-pwd-input-area" ng-show="areaFlag == 1">
		<form class="real-name" name="getPwdUserForm">
			<div class="safe-form-group get-pwd-form-group">
				<label>用户名：</label>
				<input type="text" 
						class="verify-input" 
						id="account" 
						name="account" 
						ng-model="getPwd.account"
						find-account="account" required ng-focus>
				<div ng-show="getPwdUserForm.account.$dirty && getPwdUserForm.account.$invalid && !getPwdUserForm.account.$focused && getPwdUserForm.account.$error.unique" class="user-tips-area get-pwd-tips-area">
					<img ng-src="images/check_no.png" class="user-check-img">
					<p class="input-tips user-input-tips">该账号不存在</p>
				</div>
			</div>
			<div class="safe-form-group get-pwd-form-group">
				<label>验证码：</label>
				<input type="text" class="verify-input phone-input-width" 
					id="captcha" 
					name="captcha" 
					ng-model="user.captcha" 
					ensure-captcha="captcha" 
					required ng-focus />
				<img src="{{getPicCaptcha}}" class="pic-verify pwd-verify-pic" id="checkCaptcha" ng-click="refreshCode()">
				<div class="refresh-pic" ng-click="refreshCode()"></div>
				<div class="user-tips-area get-pwd-verify-area" ng-show="getPwdUserForm.captcha.$dirty && getPwdUserForm.captcha.$invalid && !getPwdUserForm.captcha.$focused && getPwdUserForm.captcha.$error.check">
					<img ng-src="images/check_no.png" class="user-check-img">
					<p class="input-tips user-input-tips">验证码错误</p>
				</div>
			</div>
			<input type="button" value="下一步" class="verify-button mail-button get-pwd-button" ng-disabled="getPwdUserForm.$invalid" ng-click="verifyAccount()"/>
		</form>
	</div>
	<!--手机验证身份-->
	<div class="get-pwd-input-area" ng-show="areaFlag == 21" >
		已发送验证码到{{phoneNum||"133*****569"}}，请在下面输入您收到的验证码
		<div class="safe-form-group select-form-group">
					<label>输入验证码：</label>
					<input type="text" class="verify-input" required/>
					<div>
						<div  class="user-tips-area get-pwd-tips-area get-verify-tips">
							<img ng-src="images/check_no.png" class="user-check-img">
							<p class="input-tips user-input-tips">yeyeyey</p>
						</div>
					</div>
				</div>
				<input type="button" value="下一步" class="verify-button get-pwd-button" ng-disabled="phoneForm.$invalid"/>
	</div>
	<!--邮箱验证身份-->
	<div class="get-pwd-input-area" ng-show="areaFlag == 22" >
		邮件已经发送到{{emailAddr||"739*****@qq.com"}}，请到邮箱查看邮件！
	</div>
	<!--验证身份-->
	<div class="get-pwd-input-area" ng-show="areaFlag == 2" >
		<div class="select-area">
			<div class="safe-form-group select-form-group">
				<label>请选择找回方式：</label>
                <select 
                    ng-init="CategoryVal = 0"
                    ng-model="CategoryVal" 
                    ng-options="CategoryVal.CategoryId as CategoryVal.Name for CategoryVal in Category">
                    <option value="0">手机找回</option>
                    <option value="1">邮箱找回</option>
                </select>
			</div>
			<div class="safe-form-group select-form-group" ng-if="isDisplay === true">
				<label>绑定手机：</label>
				<span>{{usermessage.mobile}}</span>
			</div>
			<div class="safe-form-group select-form-group" ng-if="isDisplay !== true">
				<label>绑定邮箱：</label>
				<span>{{usermessage.email}}</span>
			</div>
		</div>
		<div ng-if="isDisplay === true" class="get-phone-area">
            <form class="real-name" name="getPhoneForm">
				<div class="safe-form-group select-form-group">
					<label>重新输入该手机号码：</label>
					<input type="text" class="verify-input phone-input-width" 
						id="phone" 
						name="phone" 
						ng-model="getPwd.phone"
						check-phone="phone" required/>
						<input type="button" class="{{getPhoneForm.mobile.$invalid ? 'get-verify-button verify-index get-verify-index grey' : 'get-verify-button verify-index get-verify-index'}}" value="获取验证码" onclick="countDown(this,60);" ng-click="sendMobileCaptcha();" ng-disabled="getPhoneForm.mobile.$invalid">
					<div>
						<div  class="user-tips-area get-pwd-tips-area get-verify-tips">
							<img ng-src="images/check_no.png" class="user-check-img phone-verify-check-img">
							<p ng-if="" class="input-tips user-input-tips phone-verify-tips-index">手机号码不匹配</p>
						</div>
					</div>
				</div>
				<div class="safe-form-group select-form-group">
					<label>输入验证码：</label>
					<input type="text" class="verify-input" required/>
					<div>
						<div  class="user-tips-area get-pwd-tips-area get-verify-tips">
							<img ng-src="images/check_no.png" class="user-check-img">
							<p class="input-tips user-input-tips">yeyeyey</p>
						</div>
					</div>
				</div>
				<input type="button" value="下一步" class="verify-button get-pwd-button" ng-disabled="phoneForm.$invalid"/>
			</form>
        </div>
       	<div ng-if="isDisplay !== true" class="get-phone-area">
            <form class="real-name" name="emailForm">
				<div class="safe-form-group select-form-group">
					<label>重新输入该邮箱：</label>
					<input type="text" class="verify-input"
						id="email" 
						name="email" 
						ng-model="getPwd.email"
						check-phone="email" required/>
					<div>
						<div class="user-tips-area get-pwd-tips-area get-verify-tips">
							<img ng-src="images/check_no.png" class="user-check-img">
							<p class="input-tips user-input-tips">yeyeyey</p>
						</div>
					</div>
				</div>
				<input type="button" value="下一步" class="verify-button mail-button get-pwd-button" ng-disabled="emailForm.$invalid"/>
			</form>
        </div>
	</div>
	<!--修改密码-->
	<div class="get-pwd-input-area" ng-show="areaFlag == 3">
		<form class="real-name" name="newPwdForm">
			<div class="safe-form-group">
				<label>输入新密码：</label>
				<input type="password" class="verify-input" id="password" name="password" ng-model="user.password" required/>
				<!--<div>
					<div class="user-tips-area get-pwd-tips-area">
						<img ng-src="images/check_no.png" class="user-check-img">
						<p class="input-tips user-input-tips">yeyeyey</p>
					</div>
				</div>-->
			</div>
			<div class="safe-form-group">
				<label>确认新密码：</label>
				<input type="password" class="verify-input" name="repeatPassword" id="repeatPassword" ng-model="user.repeatPassword" password-match="password" required/>
				<div class="user-tips-area get-pwd-tips-area" ng-show="newPwdForm.$error && newPwdForm.repeatPassword.$error.passwordmatch && !newPwdForm.password.$focused">
					<img ng-src="images/check_no.png" class="user-check-img">
					<p class="input-tips user-input-tips">密码输入不一致</p>
				</div>
			</div>
			<input type="button" value="下一步" class="verify-button mail-button get-pwd-button" ng-disabled="newPwdForm.$invalid" ng-click="setPhoneNewPwd()"/>
		</form>
	</div>
	<!--完成-->
	<div class="get-pwd-input-area"  ng-show="areaFlag == 4">
		<p class="get-pwd-success">密码找回成功！</p>
		<p class="get-pwd-success-tips"><span>{{seconds}}</span>秒后进入<span>登录页</span>，请使用新密码进行登录</p>
	</div>
</div>
</div>