<div class="container bg">
  <div class="agreement-area row introduction-height">
    <div class="col-md-12 col-lg-12">
      <div class="row">
        <div class="success-page col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
          <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1"><img src="images/success-re_03.png"/></div>
          <p class="success-tips col-lg-9 col-md-9 success-re">恭喜您成功激活邮箱!</p>
          <div class="col-lg-8 col-md-8 border-b list-g"></div>
          <p  class="col-lg-offset-3 col-md-offset-3 col-lg-9 col-md-9 success-revi">完成手机号码认证，即可获得100元宏包</p>
          <p  class="col-lg-offset-3 col-md-offset-3 col-lg-9 col-md-9 success-revi">快去安全设置完成资料，在宏财赚取更多收益吧~</p>
          <p>
            <botton type="botton" class="btn btn-danger btn-lg active btn-t" ui-sref="root.main" style="margin-left:155px;">逛逛首页</botton>
            <botton type="botton" class="btn btn-warning btn-lg active btn-t" ui-sref="root.userCenter.security-settings" style="margin-left:65px;">安全设置</botton>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
