<!--login-->
<div class="register-bgimg new-hg">
  <div class="col-md-5 col-md-offset-6 bg-main-right">
    <div class="col-xs-6 text-center btn-register" ui-sref="root.login">登录</div>
    <div class="col-xs-6 text-center btn-register2" ui-sref="root.register">注册</div>
    <div class="row">
      <form class="form-login col-md-12 col-lg-12" role="form" name="loginForm" ng-submit="login(user)">
        <div class="form-group2 col-md-12 col-lg-12">
          <div class="col-md-3 col-lg-3">
            <label for="account">手机号码</label>
          </div>
          <div class="col-md-8 col-lg-8">
            <input type="text" placeholder="请输入手机号" id="account" name="account" ng-model="user.account" required auto-fill-sync autofocus />
          </div>
        </div>
        <div ng-if="loginForm.account.$dirty && loginForm.account.$invalid" class="margin-t-10 col-lg-9 col-md-9 col-md-offset-3 col-lg-offset-3">
          <div ng-if="loginForm.account.$error.required" class="row">
            <i class="fa fa-times-circle-o login-check-img"></i>
            <p class="input-tips login-input-tips">账号不能为空</p>
          </div>
        </div>
        <div class="form-group2 col-md-12 col-lg-12 margin-t-20">
          <div class="col-md-3 col-lg-3">
            <label for="account">密码</label>
          </div>
          <div class="col-md-8 col-lg-8">
            <input type="password" placeholder="请输入密码" name="password" ng-model="user.password" required auto-fill-sync autofocus />
          </div>
        </div>
        <div ng-if="loginForm.password.$dirty && loginForm.password.$invalid" class="col-lg-9 col-md-9 col-md-offset-3 col-lg-offset-3 form-div">
          <div ng-if="loginForm.password.$error.required" class="row">
            <i class="fa fa-times-circle-o login-check-img"></i>
            <p class="input-tips login-input-tips">密码不能为空</p>
          </div>
        </div>
        <div ng-if="isPasswordError" ng-init="isPasswordError=false" class="col-lg-9 col-md-9 col-md-offset-3 col-lg-offset-3 form-div">
          <div class="row">
            <i class="fa fa-times-circle-o login-check-img"></i>
            <p class="input-tips login-input-tips">账号或密码错误</p>
          </div>
        </div>
        <div class="form-group2 col-md-12 col-lg-12 margin-t-20">
          <div class="col-md-3 col-lg-3">
            <label for="account">验证码</label>
          </div>
          <div class="col-md-8 col-lg-8">
            <input type="text" placeholder="请输入图片验证码" id="imgCaptcha" name="imgCaptcha" ng-model="user.imgCaptcha" required auto-fill-sync autofocus />
          </div>
        </div>
        <div class="form-group3 col-md-12 col-lg-12 margin-t-20">
          <div class="col-md-3 col-lg-3">
            <label for="account">短信验证</label>
          </div>
          <div class="col-md-8 col-lg-8">
            <input type="text" placeholder="请输入短信验证码" id="captcha" name="captcha" ng-model="user.captcha" required auto-fill-sync autofocus />
            <button>获取验证码</button>
          </div>
        </div>
        <div class="form-group2 col-md-12 col-lg-12 margin-t-20">
          <div class="col-md-3 col-lg-3">
            <label for="account">邀请码</label>
          </div>
          <div class="col-md-8 col-lg-8">
            <input type="text" placeholder="请输入邀请码（选填）" id="inviteCode" name="inviteCode" ng-model="user.inviteCode" required auto-fill-sync autofocus />
          </div>
        </div>
        <div class="form-group col-md-12 col-lg-12">
          <label class="col-md-3 col-lg-3"></label>
          <div class="col-md-8 col-lg-8">
            <div class="row">
              <input type="checkbox" class="p-checkbox" ng-model="rememberUserName" ng-init="rememberUserName = true" />
              <p class="p-remember">同意《注册协议》</p>
            </div>
          </div>
          <br>
          <button class="col-md-8 col-lg-8 margin-t-10 col-md-offset-3 btn btn-primary-orange" type="submit" ng-disabled="loginForm.$invalid && !isPasswordError">
            立即注册
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="container-fluid bg-white-l footer-down margin-t-40">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 icons">
        <p class="text-center" style="color:#666666;">&copy; 2014-2015 宏财 All rights reserved &nbsp;&nbsp; 北京竞财投资服务有限公司 &nbsp;&nbsp; 京ICP备15025477号-1</p>
      </div>
      <div class="row col-xs-3 col-xs-offset-4">
        <table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications.">
          <tr>
            <td width="135" align="center" valign="top">
              <script type="text/javascript" src="https://seal.websecurity.norton.com/getseal?host_name=www.hongcai.com&amp;size=L&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=zh_cn"></script>
              <a href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.hongcai.com&lang=zh_cn" target="_blank" style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;" rel="nofollow"><img src="images/main/footer-icons.png">
              </a>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
