<div class="bg-offWhite regist-height bg" ng-contrlller="RegisterCtrl">
	<toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>
	<div class="registe-area bg-login-regist-width">
		<div class="way-regist form-area">
			<a class="red-regist a-regist a-phone-regist" ui-sref="root.registerMobile">手机注册</a>
			<a class="grey-regist a-regist a-mail-regist" ui-sref="root.registerMail">邮箱注册</a>
			<form class="form-regist" name="registerForm" ng-submit="submitRegisterMail(user);" >
				<div class="login-regist-form-group">
					<label for="mobile" class="big-tips">手机号：</label>
					<input type="text" 
						class="input-message" 
						id="mobile" 
						name="mobile" 
						ng-model="user.mobile" 
						ng-pattern="/^((13[0-9])|(15[^4,\D])|(18[0-9])|(17[0678]))\d{8}$/" 
						ensure-unique-mobile="mobile" 
						required ng-focus> 
					<div ng-show="registerForm.mobile.$dirty && registerForm.mobile.$invalid && !registerForm.mobile.$focused">
						<div ng-show="registerForm.mobile.$error.unique">
							<img ng-src="images/check_no.png" class="check-img regist-check-img">
							<p class="input-tips regist-input-tips">手机号码已被占用</p>
						</div>
						<div ng-show="registerForm.mobile.$error.pattern">
							<img ng-src="images/check_no.png" class="check-img regist-check-img">
							<p class="input-tips regist-input-tips">手机号码格式不正确</p>
						</div>
					</div>
				</div>
				<div class="login-regist-form-group">
					<label for="phoneVerify" class="big-tips">验证码：</label>
					<input type="text" 
						class="input-message input-verify-width" 
						id="phoneVerify"
						name="phoneVerify"
						ng-model="phoneVerify"
						required ng-focus>
					<input type="button" class="white-button" value="获取验证码" id="getVerify" onclick="time(this);">
					<div ng-show="registerForm.phoneVerify.$dirty && registerForm.phoneVerify.$invalid && registerForm.phoneVerify.$error.check && !registerForm.phoneVerify.$focused">
						<img ng-src="images/check_no.png" class="verify-pictips">
						<p class="input-tips regist-input-tips verify-input-tips">验证码错误!</p>
					</div>
				</div>
				<div class="login-regist-form-group">
					<label for="userName" class="big-tips">用户名：</label> 
					<input type="text" 
						class="input-message" 
						id="name" 
						name="name" 
						ng-model="user.name" 
						ng-minlength="2" 
						ng-maxlength="15" 
						ng-pattern="/^[\u4e00-\u9fa5 | a-z | A-Z][\u4e00-\u9fa5 | a-z | A-Z | _ | 0-9 | \- ]{1,}$/" 
						ensure-unique-name="name" 
						required ng-focus>
					<div ng-show="registerForm.name.$dirty && registerForm.name.$invalid && !registerForm.name.$focused">
						<div ng-show="registerForm.name.$error.unique">
							<img ng-src="images/check_no.png" class="check-img regist-check-img">
							<p class="input-tips regist-input-tips">用户名已被占用</p>
						</div>
						<div ng-show="registerForm.name.$error.minlength">
							<img ng-src="images/check_no.png" class="check-img regist-check-img">
							<p class="input-tips regist-input-tips">不能小于3个字符</p>
						</div>
						<div ng-show="registerForm.name.$error.maxlength">
							<img ng-src="images/check_no.png" class="check-img regist-check-img">
							<p class="input-tips regist-input-tips">不能大于15个字符</p>
						</div>
						<div ng-show="registerForm.name.$error.pattern">
							<img ng-src="images/check_no.png" class="check-img regist-check-img">
							<p class="input-tips regist-input-tips">以字母或中文开头</p>
						</div>
					</div>
				</div>
				<div class="login-regist-form-group">
					<label for="password" class="big-tips">密码：</label>
					<input type="password" class="input-message" id="password" name="password" ng-model="user.password" required ng-focus>
				</div>
				<div class="login-regist-form-group">
					<label for="repeatPassword" class="big-tips">确认密码：</label>
					<input type="password" class="input-message" name="repeatPassword" id="repeatPassword" ng-model="user.repeatPassword" password-match="password" required>
					<div ng-show="registerForm.$error && registerForm.repeatPassword.$error.passwordmatch && !registerForm.password.$focused">
						<img ng-src="images/check_no.png" class="check-img regist-check-img">
						<p class="input-tips regist-input-tips">密码不一致</p>
					</div>
				</div>
				<div class="login-regist-form-group agree-area">
					<label class="big-tips"></label>
					<img ng-src={{checkImage||"images/check_01.png"}} class="pic-check">
					<p class="p-agree">同意<a href="">《注册协议》</a>和<a href="">《隐私协议》</a></p>
					<input type="button" class="red-button" ng-disabled="registerForm.$invalid" value="立即注册">
				</div>
			</form>
		</div>
		<div class="right-show">
			<p class="p-right-show">已有宏财帐号？<a ui-sref="root.login">立即登录</a></p>
		</div>
	</div>
</div>