<div class="container bg">
  <div class="agreement-area row introduction-height">
    <div class="col-md-12 col-lg-12">
      <p class="text-title"> 邮件激活</p>
      <div class="row">
        <div class="success-page col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
          <div class="smile-bg col-lg-offset-1 col-md-offset-1"></div>
          <p class="success-tips col-lg-8 col-md-8">注册邮件发送成功~<br>请到邮箱中点击连接激活您的账号~</p>
          <!--<div class="col-lg-8 col-md-8 button-div">
            <input type="botton" 
              value="去邮箱查看" 
              class="red-button col-lg-3 col-md-4 col-md-offset-3 col-lg-offset-0" />
            <a ui-sref="root.main">
              <input type="botton" 
                value="&nbsp;&nbsp;返回首页" 
                class="white-button col-lg-3 col-md-4 col-lg-offset-1 col-md-offset-1" />
            </a>
          </div>-->
          <p class="col-lg-offset-3 col-md-offset-1 col-lg-8 col-md-10">如果长时间没有收到邮件，请点击<a href="">重新发送激活邮件</a></p>
        </div>
      </div>
    </div>
  </div>
</div>