<div class="container bg">
  <div class="agreement-area row introduction-height">
    <div class="col-md-12 col-lg-12">
      <div class="row">
        <div class="success-page col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
          <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1"><img src="images/success-re_03.png"/></div>
          <p class="success-tips col-lg-9 col-md-9 success-re">恭喜您成功注册宏财网!</p>
          <div class="col-lg-8 col-md-8 border-b list-g"></div>
          <p class="col-lg-offset-3 col-md-offset-3 col-lg-9 col-md-9 success-revi">成功绑定邀请人：完美投资！</p>
          <p  class="col-lg-offset-3 col-md-offset-3 col-lg-9 col-md-9 success-revi">完成手机号码认证，即可获得100元宏包</p>
          <p  class="col-lg-offset-3 col-md-offset-3 col-lg-9 col-md-9 success-revi">快去安全设置完成资料，在宏财赚取更多收益吧~</p>
          <a role="button" class="btn btn-danger btn-lg col-lg-offset-3 col-md-offset-3" ui-sref="root.main" style="margin-left: 160px">逛逛首页</a>
          <a role="button" class="btn btn-warning btn-lg col-lg-offset-2 col-md-offset-2" ui-sref="root.userCenter.security-settings">安全设置</a>
          <p class="col-lg-offset-3 col-md-offset-3 col-lg-9 col-md-9">*如果长时间没有收到邮件，请点击<a href="javascript::" style="color:red">重新发送激活邮件</a></p>
        </div>
      </div>
    </div>
  </div>
</div>