<!DOCTYPE HTML>
<html class="no-js" lang="zh-cn">
  <head>
      <meta charset="utf-8">
      <title>宏财网 hongcai.com - 要理财，上宏财!</title>
      <base href="/">
      <meta name="fragment" content="!">
      <meta name="keywords" content="P2P, P2B, P2P网贷, P2B投资, P2P投资, 互联网金融, 宏财网, 投资理财, 高收益低风险, 安全理财"/>
      <meta name="description" content="宏财网，高效、透明、增值、创新的互联网金融平台。严格的风控体系，100%本息担保，第三方资金托管，为用户提供全方位的安全理财服务。
  ">
      <meta name="renderer" content="webkit">    
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
      <link rel="stylesheet" type="text/css" href="banner.css">
    <!--<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
      <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />-->
    <!-- endbower -->
    <!-- endbuild -->
      <!--<link rel="stylesheet" href="styles/jquery.fullPage.css">-->

    <!-- build:css(.tmp) styles/main.css -->
      <!-- <link rel="stylesheet" href="styles/main_leo.css"> -->
  <!-- endbuild -->
      <!--<link rel="stylesheet" href="styles/newbie_guide.css">-->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
   <!-- <script src="bower_components/jquery/dist/jquery.js"></script>-->
    <!-- endbower -->
    <!-- endbuild -->       
      <!--<script src="scripts/util/jquery-ui.min.js"></script>
      <script src="scripts/util/jquery.fullPage.js"></script>-->

  </head>
  <body>
    <div class="banner-bg">
      <img src="/images/banner-nine.png">
      <div></div>
    </div>
<div class="container">
  <div class="row nine-bg">
    <div class="col-sm-12 col-xs-12">
      <div class="row">
        <div class="col-sm-8 col-xs-8 col-sm-offset-2 col-xs-offset-2 nine-tips"></div>
      </div>
    </div>
  </div>
</div>-->
  </body>
</html>