<style>
.footer-a {
  padding-left: 24px;
  font-size: 15px;
  line-height: 30px;
}
.footer-contact-online > img {
  float: left;
  height: 26px;
  margin-right: 15px;
}
</style>
<div id="footer">
  <div class="container-fluid bg-grey-x footer-up">
    <div class="container">
      <div class="row text-center">
        <div class="col-xs-12 col-sm-6" style="padding-top: 25px;">
          <div class="row">
            <div class="col-xs-3 border-r-4">
              <div class="row">
                <i class="fa fa-users outside-circle ft-white ft-16"></i>
              </div>
            </div>
            <div class="col-xs-3 text-left">
              <div class="row footer-a" style="font-size: 18px;"><span class="ft-black">关于我们</span>
              </div>
              <div class="row footer-a"><a ui-sref="root.about-us.introduction-of-platform" rel="nofollow">宏财简介</a>
              </div>
              <div class="row footer-a"><a ui-sref="root.about-us.media-reports" rel="nofollow">媒体报道</a>
              </div>
              <div class="row footer-a"><a ui-sref="root.about-us.link-us" rel="nofollow">联系我们</a>
              </div>
            </div>
            <div class="col-xs-3 border-r-4">
              <div class="row">
                <i class="fa fa-question-circle outside-circle ft-white ft-16"></i>
              </div>
            </div>
            <div class="col-xs-3 text-left">
              <div class="row footer-a" style="font-size: 18px;"><span class="ft-black">帮助中心</span>
              </div>
              <div class="row footer-a"><a ui-sref="root.help-center.investors" rel="nofollow">投资介绍</a>
              </div>
              <div class="row footer-a"><a ui-sref="root.help-center.account-management" rel="nofollow">账户管理</a>
              </div>
              <div class="row footer-a"><a ui-sref="root.help-center.safety-certification" rel="nofollow">安全认证</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6" style="color: #666666;">
          <div class="row">
            <div class="col-xs-4">
              <div class="row">
                <div style="width:144px;margin-left:30px;">
                  <p style="margin:0;"><span class="ft-black">扫一扫关注微信号</span></p>
                  <div class="row download-hint margin-t-2">
                    <div style="width:144px;height:144px;margin: 0 auto;">
                      <img class="margin-b-2 pull-right" src="images/erweima.jpg" width="144" height="144" class="margin-l-15">
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-xs-8">
              <div class="row margin-b-5" style="font-size: 18px;">
                <div class="col-xs-10 col-xs-offset-1 text-left">
                  <p>客服热线</p>
                  <p style="font-size: 25px;">400-990-7626</p>
                  <p>(客服工作时间：9:00-18:00)</p>
                  <p>在线客服</p>
                  <div class="footer-contact-online">
                    <a href="tencent://message/?uin=2880787006&Site=qq&Menu=yes" target="_self" title="在线客服"><img src="images/contact-001.png" width="26px" alt=""></a>
                    <a target="_blank" href="http://weibo.com/u/5611368371" title="微博"><img src="images/contact-002.png" width="33px" alt=""></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-white-l footer-down">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 icons">
          <p class="text-center" style="color:#666666;">&copy; 2014-2015 宏财 All rights reserved &nbsp;&nbsp; 北京竞财投资服务有限公司 &nbsp;&nbsp; 京ICP备15025477号-1</p>
        </div>
        <div class="row col-xs-3 col-xs-offset-4">
          <table width="135" border="0" cellpadding="2" cellspacing="0" title="Click to Verify - This site chose Symantec SSL for secure e-commerce and confidential communications.">
            <tr>
              <td width="135" align="center" valign="top">
                <script type="text/javascript" src="https://seal.websecurity.norton.com/getseal?host_name=www.hongcai.com&amp;size=L&amp;use_flash=NO&amp;use_transparent=NO&amp;lang=zh_cn"></script>
                <a href="https://trustsealinfo.verisign.com/splash?form_file=fdf/splash.fdf&dn=www.hongcai.com&lang=zh_cn" target="_blank" style="color:#000000; text-decoration:none; font:bold 7px verdana,sans-serif; letter-spacing:.5px; text-align:center; margin:0px; padding:0px;"><img src="images/main/footer-icons.png">
                </a>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end footer -->
