<div class="container bg">
  <div class="agreement-area row introduction-height">
    <div class="col-md-12 col-lg-12">
      <p class="text-title">友情链接</p>
      <div class="friends-ship">
        <a href="http://www.chouqu.com">筹趣网</a>
        <a href="http://www.xiazhu.com">下注网</a>
        <a href="http://www.lepao.com">乐跑官网</a>
        <a href="http://www.chouqu.com">筹趣网</a>
        <a href="http://www.chouqu.com">筹趣网</a>
        <a href="http://www.chouqu.com">筹趣网</a>
        <a href="http://www.chouqu.com">筹趣网</a>
        <a href="http://www.chouqu.com">筹趣网</a>
      </div>
    </div>
  </div>
</div>
