<div class="bg bg-offWhite get-pwd"  ng-controller = "GetPwdCtrl">
<div class="get-pwd-area">
	<div class="get-tips-area">
		<div class="get-tips-pic"></div>
		<p class="p-get-pwd-tips bg-get-pwd-tips">输入账号</p>
		<p class="p-get-pwd-tips">验证身份</p>
		<p class="p-get-pwd-tips">修改密码</p>
		<p class="p-get-pwd-tips last-tips">完成</p>
	</div>
	<!--输入帐号-->
	<!--<div class="get-pwd-input-area">
		<form class="real-name">
			<div class="safe-form-group get-pwd-form-group">
				<label>用户名：</label>
				<input type="text" class="verify-input" required/>
				<div class="user-tips-area get-pwd-tips-area">
					<img ng-src="images/check_no.png" class="user-check-img">
					<p class="input-tips user-input-tips">yeyeyey</p>
				</div>
			</div>
			<div class="safe-form-group get-pwd-form-group">
				<label>验证码：</label>
				<input type="text" class="verify-input phone-input-width" required/>
				<img src="images/verify_pic.png" class="pic-verify pwd-verify-pic">
				<div class="refresh-pic"></div>
				<div  class="user-tips-area get-pwd-verify-area">
					<img ng-src="images/check_no.png" class="user-check-img">
					<p class="input-tips user-input-tips">yeyeyey</p>
				</div>
			</div>
			<input type="button" value="下一步" class="verify-button mail-button get-pwd-button"/>
		</form>
	</div>-->
	<!--验证身份-->
	<!--<div class="get-pwd-input-area">
		<div class="select-area">
			<div class="safe-form-group">
				<label>请选择找回方式：</label>
				<button type="button" class="btn btn-default" ng-model="selectedIcon" data-html="1" ng-options="icon.value as icon.label for icon in icons" bs-select>
			</div>
			<div class="safe-form-group">
				<label>{{v||"绑定手机"}}：</label>
			</div>
		</div>
		<div class="get-phone-area">
			<form class="real-name">
				<div class="safe-form-group">
					<label>重新输入该手机号码：</label>
					<input type="text" class="verify-input phone-input-width"required/>
					<input type="button" value="获取验证码" class="get-verify-button verify-index">
					<div  class="user-tips-area safe-tips-area">
						<img ng-src="images/check_no.png" class="user-check-img phone-verify-check-img">
						<p class="input-tips user-input-tips phone-verify-tips-index">yeyeyey</p>
					</div>
				</div>
				<div class="safe-form-group">
					<label>输入验证码：</label>
					<input type="text" class="verify-input"required/>
					<div  class="user-tips-area safe-tips-area">
						<img ng-src="images/check_no.png" class="user-check-img">
						<p class="input-tips user-input-tips">yeyeyey</p>
					</div>
				</div>
				<input type="button" value="下一步" class="verify-button"/>
			</form>
		</div>
		<div class="get-mail-area">
			<form class="real-name">
				<div class="safe-form-group">
					<label>邮箱：</label>
					<input type="text" class="verify-input"/>
					<div  class="user-tips-area safe-tips-area">
						<img ng-src="images/check_no.png" class="user-check-img">
						<p class="input-tips user-input-tips">yeyeyey</p>
					</div>
				</div>
				<input type="button" value="下一步" class="verify-button mail-button"/>
			</form>
		</div>
	</div>-->
	<!--修改密码-->
	<!--<div class="get-pwd-input-area">
		<form class="real-name">
			<div class="safe-form-group">
				<label>输入新密码：</label>
				<input type="password" class="verify-input"required/>
				<div class="user-tips-area get-pwd-tips-area">
					<img ng-src="images/check_no.png" class="user-check-img">
					<p class="input-tips user-input-tips">yeyeyey</p>
				</div>
			</div>
			<div class="safe-form-group">
				<label>确认新密码：</label>
				<input type="password" class="verify-input"required/>
				<div class="user-tips-area get-pwd-tips-area">
					<img ng-src="images/check_no.png" class="user-check-img">
					<p class="input-tips user-input-tips">yeyeyey</p>
				</div>
			</div>
			<input type="button" value="下一步" class="verify-button mail-button get-pwd-button"/>
		</form>
	</div>-->
	<!--完成-->
	<div class="get-pwd-input-area">
		<p class="get-pwd-success">密码找回成功！</p>
		<p class="get-pwd-success-tips"><span>{{ v ||"5"}}</span>秒后进入<span>登录页</span>，请使用新密码进行登录</p>
	</div>
</div>
</div>