    <!-- start header -->
    <div id="header">
      <div class="full-screen top-bar">
        <div class="container">
          <ul class="nav navbar-nav">
              <li>您好，欢迎来到宏财！</li>
            <li class="tel-img"></li>
            <li>400-400-400-400</li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <a href="/">新手引导</a>
            <p ng-if="loginResult.ret == 1">欢迎</p>
            <a ui-sref="root.login">{{loginName||"登录"}}</a>
            <a ui-sref="root.phoneRegist">{{logout||"注册"}}</a>
            <a href="/">帮助中心</a>
            </ul>
        </div>
      </div>
      <div class="full-screen bg-offWhite">
        <div class="container logo">
          <ul class="nav navbar-nav">
              <li class="logo-img-1"></li>
            <li class="logo-img-2"></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
            <a class="active" href="/">首页</a>
            <a href="/">投资产品</a>
            <a href="/">业务模式</a>
            <a href="/">安全保障</a>
            <a href="/">关于我们</a>
            <a href="/">投资论坛</a>
            </ul>
        </div>
      </div>
    </div>
    <!-- end header -->
