<!--login-->
<div class="bg bg-offWhite" ng-controller="LoginCtrl">
	<div class="bg-login-height bg-login-regist-width">
		<div class="login-area form-area">
			<p class="login-title">登录宏财</p>
			<form class="form-horizontal form-login" role="form" ng-submit="login(user)">
				<toaster-container toaster-options="{'time-out': 3000, 'close-button':true}"></toaster-container>

				<div class="login-regist-form-group">
					<label for="account" class="big-tips">账户：</label>
					<input type="text" class="input-message" name="user.account" ng-model="user.account">
					<div ng-show="user.account.length == 0">
						<img src="images/check_no.png" class="check-img login-check-img" >
						<p class="input-tips login-input-tips">{{account_wrong_tips||"账号不能为空"}}</p>
					</div>
				</div>

				<div class="login-regist-form-group">
					<label for="password" class="big-tips">密码：</label>
					<input type="password" class="input-message" name="user.password" ng-model="user.password">
					<div ng-show="user.password.length == 0">
						<img src="images/check_no.png" class="check-img login-check-img" >
						<p class="input-tips login-input-tips">{{pwd_wrong_tips||"密码不能为空"}}</p>
					</div>
				</div>
				
				<div class="login-regist-form-group remember-height">
					<label for="password" class="big-tips"></label>
					<img src="images/check_01.png" class="pic-check" onclick="change_agree_pic(this);">
					<p class="p-remember">记住用户名</p>
					<a href="/" class="p-forget">忘记密码？</a>
				</div>

				<div class="login-regist-form-group">
					<input type="submit" class="red-button" value="立即登录">
				</div>
			</form>
		</div>
		<div class="right-show login-right">
			<p class="p-right-show p-login-right">还没有宏财帐号？<a ui-sref="root.registerMobile">立即注册</a></p>
		</div>
	</div>
</div>
