<!-- <div class="login-background">
  <div class="login-area">
    <p class="login-title">登录宏财</p>
    <form action="" class="form-login">
      <div class="input-area">
        <p class="big-tips">帐户：</p>
        <input type="text" class="input-message" ng-model="account">
      </div>
      <div>
        <i class="fa fa-times-circle-o"></i>
        <p class="input-tips red">
          {{ pwd_wrong_tips || "密码不能为空"}}
        </p>
      </div>
    </form>
  </div>
</div> -->
<!--<link rel="stylesheet" href="styles/loginAndRegiste.css">
<div class="back-ground">
<div class="login-background">
  <div class="login-area">

    <p class="login-title">登录宏财</p>
    <form class="form-horizontal form-login" role="form">
      <div class="form-group">
        <label for="account" class="big-tips">账户：</label>
          <input type="text" class="input-message" name="account" ng-model="account">
          <div ng-if="account.length == 0">
            <img src="images/check_no.png" class="check-img" >
            <p class="input-tips red">{{account_wrong_tips||"账号不能为空"}}</p>
          </div>
      </div>

      <div class="form-group">
        <label for="password" class="big-tips">密码：</label>
          <input type="password" class="input-message" name="password" ng-model="password">
        <div ng-if="password.length == 0">
            <img src="images/check_no.png" class="check-img" >
            <p class="input-tips red">{{pwd_wrong_tips||"密码不能为空"}}</p>
          </div>
      </div>
      <!--<div class="form-group">
        <label for="verify" class="col-sm-4 control-label">验证码：</label>
        <div class="col-sm-3">
          <input type="text" class="form-control" name="verify" placeholder="" ng-model="verify">
        </div>
        <div class="col-sm-3">
          <img src="http://192.168.80.44:8080/hongcai/images/verify_pic.png" alt="">
        </div>
      </div>-->

      <!--<div class="form-group">
          <input type="submit" class="registe-button" value="立即登录">
      </div>
    </form>
  </div>
  <div class="right-show login-right">
      <p class="p-right-show p-login-right">还没有宏财帐号？<a href="http://localhost:9000/#/phone_registe">立即注册</a></p>
 </div>
</div>
</div>-->
<!--手机注册-->
<link rel="stylesheet" href="styles/loginAndRegiste.css">
<div class="back-ground registe-height" ng-model="phoneRegiste">
    <div class="registe-area">
      <div class="way-registe">
        <a class="red-registe a-registe a-phone-registe" href="http://localhost:9000/#/phone_registe">手机注册</a>
        <a class="grey-registe a-registe a-mail-registe" href="http://localhost:9000/#/mail_registe">邮箱注册</a>
        <form class="form-registe">
        <div class="form-group">
          <label for="phoneNumber" class="big-tips">手机号：</label>
          <input type="text" class="input-message" ng-model="phoneNumber">
          <div ng-if="phoneNumber.length == 0">
            <img src="images/check_no.png" class="check-img" ng-model="phoneImage">
            <p class="input-tips red">{{phoneTips||"手机号码不能为空"}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="phoneVerify" class="big-tips">验证码：</label>
          <input type="text" class="input-message phone-verify-width" ng-model="phoneVerify">
          <input type="button" class="get-verify-button" value="获取验证码"> 
          <img src="images/check_no.png" class="phone-verify-pictips" ng-if="phoneVerify.length == 0">
          <p class="input-tips red" ng-if="phoneVerify.length == 0">{{verifyTips||"验证码不能为空"}}</p>
        </div>
        <div class="form-group">
          <label for="userName" class="big-tips">用户名：</label> 
          <input type="text" class="input-message" ng-model="userName">
          <div ng-if="userName.length == 0">
            <img src="images/check_no.png" class="check-img">
            <p class="input-tips red">{{accountTips||"用户名不能为空"}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="pwd" class="big-tips">密码：</label>
          <input type="text" class="input-message" ng-model="pwd">
          <div ng-if="pwd.length == 0">
            <img src="images/check_no.png" class="check-img">
            <p class="input-tips red">{{pwdTips||"密码不能为空"}}</p>
          </div>
        </div>
        <div class="form-group">
          <label for="surePwd" class="big-tips">确认密码：</label>
          <input type="text" class="input-message" ng-model="surePwd">
          <div ng-if="surePwd.length == 0">
            <img src="images/check_no.png" class="check-img">
            <p class="input-tips red">{{surepwdTips||"请再次输入密码确认"}}</p>
          </div>
        </div>
        <div class="form-group agree-area">
          <img src="images/check_01.png" class="pic-check" onclick="change_agree_pic(this);">
          <p class="p-agree">同意<a href="">《注册协议》</a>和<a href="">《隐私协议》</a></p>
          <input type="button" class="registe-button" value="立即注册">
        </div>
        </form>
      </div>
      <div class="right-show">
        <p class="p-right-show">已有宏财帐号？<a href="http://localhost:9000/#/login">立即登录</a></p>
      </div>
    </div>
  </div>