<!-- 自身特色 -->
<div class="container">
  <div class="row" ng-include src='"views/main/_self_feature.html"'>
  </div>

  <div class="row bg-offWhite main">
    <!-- 土豪标抽奖页入口 -->
    <div class="row" ng-include src='"views/main/_tuhao_lucky_draw.html"' ng-show="tuhaoIsShowedFlAG">
    </div>
    <!-- 新手标、红包标模块 -->
    <div class="row" ng-include src='"views/main/_hongbao_list_no_newbie.html"' ng-if="activityList" ng-hide="newbieIsShowedFLAG">
    </div>
    <div class="row" ng-include src='"views/main/_newbie_hongbao.html"' ng-show="newbieIsShowedFLAG">
    </div>

    <!-- 预约广告位 -->
    <div class="row margin-t-30" ng-show="reservationIsShowedFlAG">
      <div class="col-xs-12">
        <div class="row">
          <a ui-sref="root.appointment-project" target="_blank">
            <img src="images/reservation.png" alt="预约项目" width="100%" style="margin-bottom:15px;">
          </a>
        </div>
      </div>
    </div>
    <br>
    <!-- 推荐项目主框体 -->
    <div class="row">
      <div class="col-xs-12 col-sm-8">
        <!-- 热卖推荐模块 -->
        <div class="row panel panel-danger special-recommend" ng-include src='"views/main/_special_recommend.html"'>
        </div>
        <!-- 推荐项目列表 -->
        <div class="row recommend" ng-include src='"views/main/_recommend_list.html"'>
        </div>
        <!-- 债权转让模块 -->
        <div class="row recommend" ng-include src='"views/main/_credit_assignment.html"' ng-show="creditIsShowedFLAG">
        </div>
      </div>
      <!-- 右侧竖栏 网站信息展示-->
      <div class="col-xs-12 col-sm-4 main-right" ng-include src='"views/main/_hongcai_info.html"'>
      </div>
    </div>
  </div>
</div>
<!-- 合作伙伴 -->
<div class="container-fluid index-cooperation" ng-include src='"views/main/_cooperation_agency.html"'>
</div>
