<!-- <div class="section section1">
	<div class="bg"><img src="images/newbie/section1.jpg" alt=""></div>
	<div class="bg11"></div>
	<div class="bg12"></div>
	<div class="bg13"></div>
	<div class="mail">
		<a class="mail-163" href="http://www.17sucai.com/">163邮箱</a>
		<a class="mail-126" href="http://www.17sucai.com/">126邮箱</a>
		<a class="mail-yeah" href="http://www.17sucai.com/">yeah邮箱</a>
	</div>
	<div class="hgroup">
		<h1><a href="http://www.17sucai.com/">网易邮箱6.0</a></h1>
		<h2>改变，不止所见。</h2>
	</div>
	<p class="p11">网易邮箱6.0版&mdash;&mdash;2014年最具创意气质的重量级新邮箱，重生光华，为之瞩目。唯美<br>的视觉设计和视觉化交互，无可替代的独创动态情景皮肤，多项国内创意产品专利技术，<br>成就无与伦比的出众品味，无可比拟的美妙体验。</p>
</div> -->

<div class="section section2">
	<div class="bg"><img src="images/newbie/section2.jpg" alt=""></div>
	<div class="bg21"></div>
	<div class="bg22"></div>
	<div class="bg23"></div>
	<!-- <strong>[ 视觉·简 ]</strong> -->
	<h3>财富之路从这里开始</h3>
	<p class="p1">宏财网是一家专业的互联网金融平台，我们致力于为各位投资人提供安全、有担保、高收益的互联网理财服务并解决中小企业融资难的问题。通过宏财网的推荐，您可以将手中的富余自资金，出借给有小额贷款金融机构担保的、信用良好的中小企业，并获得可观的利息回报。</p>
</div>

<div class="section section3">
	<div class="bg"><img src="images/newbie/section3.jpg" alt=""></div>
	<div class="bg31"></div>
	<div class="bg32"></div>
	<div class="bg33"></div>
	<!-- <strong>[ 视觉化交互设计 ]</strong> -->
	<h3>信息撮合，简单高效</h3>
	<!-- <p class="p3">邮箱 6.0 版采用了全新的视觉化交互设计，通过对界面的整体风格设计、重要信息的视觉化处理以及元素本身的视觉传达优化，来实现产品流程设计和交互行为塑造。从视觉的角度出发，让用户无需多想，直接通过感官与产品进行交互。</p> -->
</div>

<div class="section section4">
	<div class="bg"><img src="images/newbie/section4.jpg" alt=""></div>
	<div class="bg41"></div>
	<div class="bg42"></div>
	<div class="bg43"></div>
	<!-- <strong>[ 动态情景皮肤 ]</strong> -->
	<h3>安全稳健，助力升值</h3>
	<!-- <p class="p1">国内首创动态情景皮肤，可以随着早晚时光，季节主题的变幻而自动切换，实现了在邮箱里也能感受天气和心情的变化，带来完全不同的页面体验并且呈现最佳视觉感受，还特别针对原有邮箱皮肤的对比度和色彩进行了微调，减少视觉疲劳感。</p> -->
</div>

<div class="section section5">
	<div class="bg"><img src="images/newbie/section5.jpg" alt=""></div>
	<!-- <strong>[ 功能·创 ]</strong> -->
	<h3>轻松一点，坐享收益</h3>
	<div class="bg51">
		
	</div>
	<div class="bg52">
		
	</div>
	<div class="bg53">
		
	</div>
	<div class="bg54">
		
	</div>
</div>

<script>
$(function(){
	/*if($.browser.msie && $.browser.version < 10){
		$('body').addClass('ltie10');
	}*/
	$.fn.fullpage({
		verticalCentered: false,
		anchors: ['page1', 'page2', 'page3', 'page4'],
		navigation: true,
		navigationTooltips: ['了解宏财', '了解P2B', '选择宏财', '立即投资']
	});
});
</script>