<!--新手引导页面-->
<div id="novice-guide">
	<!-- banner -->
	<section class="newbie-banner">
		<div class="newbie-banner-header">
			<img src="/images/novice-guide/banner-header.png" class="display-bl margin-auto" >
		</div>
	</section>
	<!-- 宏财简介 -->
	<section class="hongcai-introduce">
		<div class="content">
			<div class="content-title clearfix">
				<i class="fl"></i><p class="fl">宏财简介</p><p class="fr ft-36 ft-grey7 ft-Arial">SYNOPSIS</p>
			</div>
			<div class="introduce-words">
			
			</div>
		</div>
	</section>				
	<!-- 股东背景 -->
	<section class="shareholder-background">
		<div class="content">
			<div class="content-title clearfix">
				<i class="fl"></i><p class="fl">股东背景</p><p class="fr ft-36 ft-grey7 ft-Arial">SHAREHOLDER BACKGROUND</p>
			</div>
			<div class="shareholder-content clearfix">
				<div class="circle-left fl">
					<p class="circle1">孟津县政府</p>
					<p class="circle2">洛阳市<br>建设</p>
					<p class="circle3">河南<br>和信证券</p>
					<p class="circle4">洛阳城市发展<br>投资集团</p>
					<p class="circle5">涧西区<br>政府</p>
					<p class="circle6">吉利区<br>政府</p>
					<div class="circle-center1">宏财网股东洛阳</div>
					<div class="circle-center2">中小企业资产管理公司</div>
				</div>
				<div class="txt-right fr">
					宏财网股东方洛阳中小企业资产管理有限公司由河南鑫融基金控股份有限公司、洛阳市新区建设投资有限责任公司、洛阳市建设投资有限公司、洛阳城市发展投资集团有限公司、涧西区政府、吉利区政府、孟津县政府、河南和信证券投资顾问有限公司等投资机构联合成立，注册资本1.72亿元，其中国资占比52.32%。公司旨在帮助有市场前景的企业引入充沛的资金，助推企业通过资本市场实施跨越式发展。
				</div>
			</div>
		</div>
	</section>				
