<!--新手引导页面-->
<div id="novice-guide">
	<!-- banner -->
	<section class="newbie-banner">
		<div class="newbie-banner-header">
			<img src="/images/novice-guide/banner-header.png" class="display-bl margin-auto" >
		</div>
	</section>
	<!-- 宏财简介 -->
	<section class="hongcai-introduce">
		<div class="content">
			<div class="content-title clearfix">
				<i class="fl"></i><p class="fl">宏财简介</p><p class="fr ft-36 ft-grey7 ft-Arial">SYNOPSIS</p>
			</div>
			<div class="introduce-words">
				<img src="/images/novice-guide/hongcai-logo.png" class="margin-t-35 margin-l-60" id="Darea">
				<div id = "intr-text">
					<!-- 宏财网（hongcai.com）2014年上线运营，2016年获得国有金融机构1亿元A轮融资，凭借股东广泛的金融资源、博士团队的专业能力和严谨的风控管理,为广大投资者筛选优质的投资项目。 -->
				</div>
			</div>
		</div>
	</section>				
<!-- 宏财简介 -->
	<section class="hongcai-introduce">
		<div class="content">
			<div class="content-title clearfix">
				<i class="fl"></i><p class="fl">宏财简介</p><p class="fr ft-36 ft-grey7 ft-Arial">SYNOPSIS</p>
			</div>
			<div class="introduce-words">
				<img src="/images/novice-guide/hongcai-logo.png" class="margin-t-35 margin-l-60" id="Darea">
				<div id = "intr-text">
					<!-- 宏财网（hongcai.com）2014年上线运营，2016年获得国有金融机构1亿元A轮融资，凭借股东广泛的金融资源、博士团队的专业能力和严谨的风控管理,为广大投资者筛选优质的投资项目。 -->
				</div>
			</div>
		</div>
	</section>	
	<!-- 宏财简介 -->
	<section class="hongcai-introduce">
		<div class="content">
			<div class="content-title clearfix">
				<i class="fl"></i><p class="fl">宏财简介</p><p class="fr ft-36 ft-grey7 ft-Arial">SYNOPSIS</p>
			</div>
			<div class="introduce-words">
				<img src="/images/novice-guide/hongcai-logo.png" class="margin-t-35 margin-l-60" id="Darea">
				<div id = "intr-text">
					<!-- 宏财网（hongcai.com）2014年上线运营，2016年获得国有金融机构1亿元A轮融资，凭借股东广泛的金融资源、博士团队的专业能力和严谨的风控管理,为广大投资者筛选优质的投资项目。 -->
				</div>
			</div>
		</div>
	</section>	
	<!-- 宏财简介 -->
	<section class="hongcai-introduce">
		<div class="content">
			<div class="content-title clearfix">
				<i class="fl"></i><p class="fl">宏财简介</p><p class="fr ft-36 ft-grey7 ft-Arial">SYNOPSIS</p>
			</div>
			<div class="introduce-words">
				<img src="/images/novice-guide/hongcai-logo.png" class="margin-t-35 margin-l-60" id="Darea">
				<div id = "intr-text">
					<!-- 宏财网（hongcai.com）2014年上线运营，2016年获得国有金融机构1亿元A轮融资，凭借股东广泛的金融资源、博士团队的专业能力和严谨的风控管理,为广大投资者筛选优质的投资项目。 -->
				</div>
			</div>
		</div>
	</section>	