<div ng-view="" class="ng-scope">
	<div ng-controller="ProjectDetailsCtrl" class="ng-scope bg-offWhite project-details">
		<div class="container page-container">
			<div class="row">
		      	<div class="col-lg-8">
		        	<div class="row mgn-top bg-white recommend">
		          		<div class="col-lg-5 recommend-img"></div>
		          		<div class="col-lg-7 recommend-details">
		            		<div class="row recommend-details-top">
		              			<div class="col-lg-12"><span class="project-name">光大理财产品（9月）<!-- 数据绑定 --></span></div>
		            		</div>
		            	<div class="row recommend-details-main">
		              		<div class="col-lg-4 border-r"><span class="ft-24 ft-red">12%<!-- 数据绑定 --></span><br><span class="ft-18">年化收益</span></div>
		              		<div class="col-lg-4 border-r"><span class="ft-24">1000万<!-- 数据绑定 --></span><br><span class="ft-18">项目规模</span></div>
		              		<div class="col-lg-4"><span class="ft-24">12月<!-- 数据绑定 --></span><br><span class="ft-18">项目期限</span></div>
		            	</div>
		            	<div class="row mgn-top">
		              		<div class="col-lg-12">
		              			发布日期：<span>2014-09-17<!-- 数据绑定 --></span><br>
		              			<hr>
		              			担保机构：<span>北京平安信托担保有限公司<!-- 数据绑定 --></span><br>
		              			还款方式：<span>按月付息<!-- 数据绑定 --></span>
		              		</div>
		            	</div>
		          		</div>
		        	</div>
		        	<div class="row mgn-top border bg-white project-list">
		          		<div class="row border-b project-tit">
		            		<ul class="nav navbar-nav">
		                  		<li></li>
		                  		<li>推荐产品</li>
		                	</ul>
		          		</div>
		          	<!-- ngRepeat: project in projectList -->
		        	</div>
		      	</div>
		      	<div class="col-lg-4">
		        	<div class="row mgn-top recommend-support-details">
		          		<div class="col-lg-12 recommend bg-white">
		            		<div class="row"><div class="col-lg-12 support-text">统计数据</div></div>
		            		<div class="row">
		              			<div class="col-lg-3 support-img-1"></div>
		              			<div class="col-lg-9">总投资额<br><span class="ft-24">258,582,254.53<!-- 数据绑定 --></span>元</div>
		            		</div>
		            		<div class="row">
		              			<div class="col-lg-3 support-img-2"></div>
		              			<div class="col-lg-9">用户受益<br><span class="ft-24">582,254.53<!-- 数据绑定 --></span>元</div>
		            		</div>
		            		<div class="row">
		              			<div class="col-lg-3 support-img-3"></div>
		              			<div class="col-lg-9">参与投资<br><span class="ft-24">282,254<!-- 数据绑定 --></span>人</div>
		            		</div>
		          		</div>
		        	</div>
		        	<div class="row mgn-left-0">
		          		<div class="col-lg-12 mgn-top news bg-white">
		            		<div class="row news-tit">
		              			<div class="col-lg-6 ftw-b">媒体报道</div>
		              			<div class="col-lg-6"><a class="check-more" href="/">更多&gt;</a></div>
		            		</div>
		            		<div class="row">
		              			<div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
		              			<div class="col-lg-3">09-11<!-- 数据绑定 --></div>
		            		</div>
		            		<div class="row">
		              			<div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
		              			<div class="col-lg-3">09-11<!-- 数据绑定 --></div>
		            		</div>
		            		<div class="row">
		              			<div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
		              			<div class="col-lg-3">09-11<!-- 数据绑定 --></div>
		            		</div>
		            		<div class="row">
		              			<div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
		              			<div class="col-lg-3">09-11<!-- 数据绑定 --></div>
		            		</div>
		          		</div>
		        	</div>
			        <div class="row mgn-left-0">
			          	<div class="col-lg-12 mgn-top news bg-white">
			            	<div class="row news-tit">
			              		<div class="col-lg-6 ftw-b">网站公告</div>
			              		<div class="col-lg-6"><a class="check-more" href="/">更多&gt;</a></div>
			            	</div>
				            <div class="row">
				              	<div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
				              	<div class="col-lg-3">09-11<!-- 数据绑定 --></div>
				            </div>
				            <div class="row">
				              	<div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
				              	<div class="col-lg-3">09-11<!-- 数据绑定 --></div>
				            </div>
				            <div class="row">
				              	<div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
				              	<div class="col-lg-3">09-11<!-- 数据绑定 --></div>
				            </div>
				            <div class="row">
				              	<div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
				              	<div class="col-lg-3">09-11<!-- 数据绑定 --></div>
				            </div>
			          	</div>
			        </div>
			        <div class="row mgn-left-0">
			          	<div class="col-lg-12 mgn-top news bg-white">
			            	<div class="row news-tit">
			              		<div class="col-lg-6 ftw-b">新手引导</div>
			            	</div>
				            <div class="row flow">
				              	<div class="col-lg-2 flow-register"></div>
				              	<div class="col-lg-2 flow-arrow"></div>
				              	<div class="col-lg-3 flow-login"></div>
				              	<div class="col-lg-2 flow-arrow"></div>
				              	<div class="col-lg-3 flow-invest"></div>
				            </div>
			          	</div>
			        </div>
			        <div class="row mgn-left-0">
			          <div class="col-lg-12 mgn-top news bg-white">
			            <div class="row news-tit">
			              <div class="col-lg-6 ftw-b">常见问题</div>
			              <div class="col-lg-6"><a class="check-more" href="/">更多&gt;</a></div>
			            </div>
			            <div class="row">
			              <div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
			              <div class="col-lg-3">09-11<!-- 数据绑定 --></div>
			            </div>
			            <div class="row">
			              <div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
			              <div class="col-lg-3">09-11<!-- 数据绑定 --></div>
			            </div>
			            <div class="row">
			              <div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
			              <div class="col-lg-3">09-11<!-- 数据绑定 --></div>
			            </div>
			            <div class="row">
			              <div class="col-lg-9">你看认购和认购人快过<!-- 数据绑定 --></div>
			              <div class="col-lg-3">09-11<!-- 数据绑定 --></div>
			            </div>
			          </div>
			        </div>
			        <div class="row mgn-left-0">
			          	<div class="col-lg-12 mgn-top news news-list bg-white">
			            	<div class="row news-tit">
			              		<div class="col-lg-6 ftw-b">宏财动态</div>
			              		<div class="col-lg-6"><a class="check-more" href="/">更多&gt;</a></div>
			            	</div>
			            	<div class="row news-item">
			              		<div class="col-lg-6"><img src="images/news-img.png" width="132" height="90"><!-- 数据绑定 --></div>
			              		<div class="col-lg-6">就光荣机构人就光荣交互稿金融机构认购款<!-- 数据绑定 --></div>
			            	</div>
			            	<div class="row news-item">
			              		<div class="col-lg-6"><img src="images/news-img.png" width="132" height="90"><!-- 数据绑定 --></div>
			              		<div class="col-lg-6">就光荣机构人就光荣交互稿金融机构认购款<!-- 数据绑定 --></div>
			            	</div>
			            	<div class="row news-item">
			              		<div class="col-lg-6"><img src="images/news-img.png" width="132" height="90"><!-- 数据绑定 --></div>
			              		<div class="col-lg-6">就光荣机构人就光荣交互稿金融机构认购款<!-- 数据绑定 --></div>
			            	</div>
			            	<div class="row news-item">
			              		<div class="col-lg-6"><img src="images/news-img.png" width="132" height="90"><!-- 数据绑定 --></div>
			              		<div class="col-lg-6">就光荣机构人就光荣交互稿金融机构认购款<!-- 数据绑定 --></div>
			            	</div>

			          	</div>
			        </div>
		      	</div>
		    </div>
			
			
		</div>
	</div>
</div>