<div ng-controller="SafeCtrl" class="project-list-all bg-offWhite ng-scope">
	<div class="container page-container safe bg-white">
		<div class="row">
			<img src="images/safe-top.png" width="980" height="255">
		</div>
		<div class="row safe-content">
			<ul class="nav navbar-nav">
				<li class="border-r">业务保障</li>
				<li class="border-r">技术保障</li>
				<li class="border-r">资金保障</li>
				<li class="border-r">隐私保障</li>
				<li>推荐机构</li>
			</ul>
			<div class="row content-list">
				<div class="col-md-12 list-item service">
					<div class="row">
						<div class="col-md-5"></div>
						<div class="col-md-7">
							<p class="ft-16 ftw-b">业务保障</p>
							<ul class="tit2">
								<li>担保方案</li>
							</ul>
							<p>
								1、通过与优质的担保公司合作，由担保公司为投资人的每一笔投资提供全额的本息连带责任担保
								<br>
						  		2、合作的担保公司都经由向相关具有管理及监督权的政府机构和金融单位咨询或直接推荐而获得，确保其在出现风险事项时可以及时、足额对投资人进行代偿
						  		<br>
						  		3、针对不同项目、不同投资人设计个性化的担保方案。
							</p>
							<ul class="tit2">
								<li>资信审核</li>
							</ul>
							<p>
								专业风控团队，通过数据分析及多层信息筛查对融资项目进行深度充分调查，以确保项目及融资需求真实、合法，经济可行，从源头把控风险。
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12 list-item technique">
					<div class="row">
						<div class="col-md-7">
							<p class="ft-16 ftw-b">技术保障</p>
							<ul class="tit2">
								<li>网站安全防护</li>
							</ul>
							<p>
								1、金融级专业硬件防火墙，控制网站的访问安全
								<br>
  								2、病毒预防与扫描系统，实时进行病毒检测与扫描
  								<br>
  								3、专业网络安全团队与安全检测工具，主动进行漏洞扫描与安全检测
  								<br>
  								4、网站入侵防护工具，拦截黑客攻击，加强防御入侵能力，加固边界安全
							</p>
							<ul class="tit2">
								<li>数据安全防护</li>
							</ul>
							<p>
								1、后台数据库的安全防护工具，扼杀核心数据可能存在的“越权使用”、“权限滥用”、“权限盗用”等问题
								<br>
 								2、使用主流的、成熟的数据传输方案：通过世界级安全机构认证以及颁发的数字证书、加密数据传输机制等多种方案结合的方式，共同为数据传输过程中的安全保驾护航
 								<br>
  								3、完备、成熟的多级、异地数据容灾备份方案：本地，通过硬件冗余实现数据在多设备中的备份，避免单一设备损坏可能导致的数据丢失；异地，在全国多个城市设立数据中心，保证所有数据在不同城市至少拥有两份或两份以上的备份，避免自然灾害等不可抗力对某一数据中心的造成的数据丢失
							</p>
						</div>
						<div class="col-md-5"></div>
					</div>
				</div>
				<div class="col-md-12 list-item capital">
					<div class="row">
						<div class="col-md-5"></div>
						<div class="col-md-7">
							<p class="ft-16 ftw-b">资金保障</p>
							<ul class="tit2">
								<li>多层保证金制度</li>
							</ul>
							<p>
								1、依据对相关各方的审查与评估结果要求合作担保机构、融资企业等缴纳一定比例、金额的保证金，以便在融资人未能及时履行债务的情形下及时启动代偿
								<br>
   								2、上述保证金由第三方进行账户监管并接受权威机构审计，实现资金安全的同时为投资人提供有效还款保障
							</p>
							<ul class="tit2">
								<li>资金安全</li>
							</ul>
							<p>
								和优质的第三方支付和银行合作，通过账户托管及代收代付等服务管理，为投资人的资金提供安全保障。
							</p>
						</div>
					</div>
				</div>
				<div class="col-md-12 list-item privacy">
					<div class="row">
						<div class="col-md-7">
							<p class="ft-16 ftw-b">隐私安全</p>
							<p>
								宏财网上所有的隐私信息都经过MD5技术等加密处理，防止任何人包括公司员工获取用户信息或未经授权地不正当使用。宏财网在任何情况下都绝不会出售、出租或以任何其他形式泄漏您的信息或用于其他商业行为。所有客户的信息按照《宏财网投资咨询服务协议》中的规定被严格保护。
							</p>
						</div>
						<div class="col-md-5"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>