<div class="bg-offWhite margin-t-15 ft-grey5 ng-scope">
  <div class="container page-container safe bg-white">
    <div class="row">
      <div id="safe-step-1"></div>
      <!-- 锚点定位-第一重 -->
      <img src="images/safe/safe_title2.jpg" width="100%" height="343">
    </div>
    <div class="row safe-content">
      <!-- <ul class="nav navbar-nav sticky border-b" sticky>
          <div class="col-xs-12 padding-lr-30">
            <li><a href="/safe/#safe-step-1" ng-click="addActive($event)" class="{{hsh=='safe-step-1'||hsh==''?'active':''}}"><div class="step-1"></div><small>担保机构</small></a></li>
            <li><a href="/safe/#safe-step-2" ng-click="addActive($event)" class="{{hsh=='safe-step-2'?'active':''}}"><div class="step-2"></div><small>国有再保</small></a></li>
            <li><a href="/safe/#safe-step-3" ng-click="addActive($event)" class="{{hsh=='safe-step-3'?'active':''}}"><div class="step-3"></div><small>项目审查</small></a></li>
            <li><a href="/safe/#safe-step-4" ng-click="addActive($event)" class="{{hsh=='safe-step-4'?'active':''}}"><div class="step-4"></div><small>风控流程</small></a></li>
            <li><a href="/safe/#safe-step-5" ng-click="addActive($event)" class="{{hsh=='safe-step-5'?'active':''}}"><div class="step-5"></div><small>三方托管</small></a></li>
            <li><a href="/safe/#safe-step-6" ng-click="addActive($event)" class="{{hsh=='safe-step-6'?'active':''}}"><div class="step-6"></div><small>交易系统</small></a></li>
            <li><a href="/safe/#safe-step-7" ng-click="addActive($event)" class="{{hsh=='safe-step-7'?'active':''}}"><div class="step-7"></div><small>贷后管理</small></a></li>
            <li><a href="/safe/#safe-step-8" ng-click="addActive($event)" class="{{hsh=='safe-step-8'?'active':''}}"><div class="step-8"></div><small>风险保障</small></a></li>
            <li><a href="/safe/#safe-step-9" ng-click="addActive($event)" class="{{hsh=='safe-step-9'?'active':''}}"><div class="step-9"></div><small>律师团队</small></a></li>
          </div>
        </ul> -->
      <div class="row content-list">
        <!-- 第一重 -->
        <!-- <div class="border-b"></div> -->
        <div class="col-md-12 list-item border-b">
          <!-- <div class="col-md-12 list-item border-b" id="safe-step-1"> -->
          <div class="row">
            <div class="col-xs-5 text-center"><img src="images/safe/safe_content_11.jpg" style="margin-top: 50px;" alt="优质担保机构担保"></div>
            <div class="col-md-5">
              <p class="ft-24 ftw-b ft-blue-safe margin-t-60">一、安全的模式，丰富的产品</p>
              <p class="ft-16 ft-grey-safe margin-t-30">专注于P2F模式的互联网金融机构，和正规银行、证券、保险、基金、担保等多个多类金融机构合作，通过分散用户的投资到多个机构的多个产品中去，达到降低风险的目的。
              </p>
            </div>
          </div>
        </div>
        <!-- 第二重 -->
        <div class="col-md-12 list-item border-b" style="height:auto !important;">
          <!-- <div class="col-md-12 list-item border-b" id="safe-step-2"> -->
          <div class="row">
            <div class="col-md-5 col-md-offset-1">
              <p class="ft-24 ftw-b ft-blue-safe margin-t-60">二、严格的甄选，优质的机构</p>
              <p class="ft-16 ft-grey-safe margin-t-30">宏财网通过层层条件，筛选出大型的金融机构建立合作关系。合作金融机构具有完善、专业的风控措施，能够保证资100%的安全和收益的稳定。
              </p>
            </div>
            <div class="col-md-5 text-center"><img src="images/safe/safe_content_12.jpg" alt="国有再担保机构形成双保险"></div>
          </div>
        </div>
        <!-- 第三重 -->
        <div class="col-md-12 list-item border-b">
          <!-- <div class="col-md-12 list-item border-b" id="safe-step-3"> -->
          <div class="row">
            <div class="col-md-5 text-center"><img src="images/safe/safe_content_13.jpg" style="margin-top:20px;" alt="严格的项目审查"></div>
            <div class="col-md-5">
              <p class="ft-24 ftw-b ft-blue-safe margin-t-60">三、完善的体系，专业的团队</p>
              <p class="ft-16 ft-grey-safe margin-t-30">
                宏财网独有的六层风控体系，包括严格甄选合作机构、全方面的项目审查、安全的交易系统、严谨的贷后管理、风险保证金制度、专业的律师团队，层层剥离投资者投资时所面临的风险，帮投资人解决后顾之忧。宏财网拥有自己专业且严格的风控团队，同时还有汇聚清华北大教授和财政部精英的专家顾问团队保驾护航。
              </p>
            </div>
          </div>
        </div>
        <!-- 第四重 -->
        <div class="col-md-12 list-item border-b">
          <!-- <div class="col-md-12 list-item border-b" id="safe-step-4"> -->
          <div class="row">
            <div class="col-md-5 col-md-offset-1">
              <p class="ft-24 ftw-b ft-blue-safe margin-t-60">四、第三方托管，不设虚假标</p>
              <p class="ft-16 ft-grey-safe margin-t-30">宏财网联合知名支付平台“易宝支付”打造了一套完善的资金支付与托管账户体系，一人一户且每笔资金的流动都可追查记录。同时宏财网坚决不设虚假标，每一笔投资都有对应的真实债权，不设资金池，保障投资人的权益。
              </p>
            </div>
            <div class="col-md-5 text-center"><img src="images/safe/safe_content_14.jpg" style="margin-top:25px;" alt="完善的风控流程"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
