<div class="project-list-all bg-offWhite ng-scope">
	<div class="container page-container safe bg-white">
		<div class="row">
      <div id="safe-step-1"></div><!-- 锚点定位-第一重 -->
			<img src="images/safe/safe_title.png" width="100%" height="255">
		</div>

		<div class="row safe-content">
        <ul class="nav navbar-nav sticky border-b" sticky>
          <div class="col-xs-12 padding-lr-30">
            <li><a href="/safe/#safe-step-1" ng-click="addActive($event)" class="{{hsh=='safe-step-1'||hsh==''?'active':''}}"><div class="step-1"></div><small>保荐机构</small></a></li>
            <li><a href="/safe/#safe-step-2" ng-click="addActive($event)" class="{{hsh=='safe-step-2'?'active':''}}"><div class="step-2"></div><small>国有再保</small></a></li>
            <li><a href="/safe/#safe-step-3" ng-click="addActive($event)" class="{{hsh=='safe-step-3'?'active':''}}"><div class="step-3"></div><small>项目审查</small></a></li>
            <li><a href="/safe/#safe-step-4" ng-click="addActive($event)" class="{{hsh=='safe-step-4'?'active':''}}"><div class="step-4"></div><small>风控流程</small></a></li>
            <li><a href="/safe/#safe-step-5" ng-click="addActive($event)" class="{{hsh=='safe-step-5'?'active':''}}"><div class="step-5"></div><small>三方托管</small></a></li>
            <li><a href="/safe/#safe-step-6" ng-click="addActive($event)" class="{{hsh=='safe-step-6'?'active':''}}"><div class="step-6"></div><small>交易系统</small></a></li>
            <li><a href="/safe/#safe-step-7" ng-click="addActive($event)" class="{{hsh=='safe-step-7'?'active':''}}"><div class="step-7"></div><small>贷后管理</small></a></li>
            <li><a href="/safe/#safe-step-8" ng-click="addActive($event)" class="{{hsh=='safe-step-8'?'active':''}}"><div class="step-8"></div><small>风险保障</small></a></li>
            <li><a href="/safe/#safe-step-9" ng-click="addActive($event)" class="{{hsh=='safe-step-9'?'active':''}}"><div class="step-9"></div><small>律师团队</small></a></li>
          </div>
        </ul>
			<div class="row content-list">
        <!-- 第一重 -->
        <!-- <div class="border-b"></div> -->
        <div class="col-md-12 list-item border-b">
				<!-- <div class="col-md-12 list-item border-b" id="safe-step-1"> -->
					<div class="row">
						<div class="col-xs-5"><img src="images/safe/safe_content_1.png" style="margin-top: 50px; width: 100%;" alt="优质保荐机构担保"></div>
						<div class="col-md-7">
							<p class="ft-16 ftw-b">第一重 优质保荐机构的选择</p>
							<ul class="tit2">
								<li>宏财严选合作的担保机构</li>
							</ul>
              <p>
                <ol>
                  <div id="safe-step-2"></div><!-- 锚点定位-第二重 -->
                  <li>信用评级A级以上；</li>
                  <li>政府重点扶持；</li>
                  <li>近两年荣获中国担保业“百强”优先；</li>
                  <li>地方排名前五优先；</li>
                  <li>再担保体系内担保机构优先。</li>
                </ol>
              </p>
							<ul class="tit2">
								<li>宏财对入选的拟合作担保机构开展尽职调查</li>
							</ul>
							<p>
                <ol>
                  <li>公司背景资质核查；</li>
                  <li>公司近三年财务状况；</li>
                  <li>公司担保业务分类；</li>
                  <li>公司违约率；</li>
                  <li>违约处理情况；</li>
                  <li>公司所在区域口碑。</li>
                </ol>
							</p>
							<ul class="tit2">
								<li>与符合要求的担保机构签署战略合作协议（协议部分内容将在网上公布）</li>
							</ul>
							<p>
							</p>
						</div>
					</div>
				</div>

        <!-- 第二重 -->
        <div class="col-md-12 list-item border-b">
				<!-- <div class="col-md-12 list-item border-b" id="safe-step-2"> -->
					<div class="row">
						<div class="col-md-7">
							<p class="ft-16 ftw-b">第二重 国有再担保机构形成双保险</p>
							<ul class="tit2">
								<li>什么是再担保？</li>
							</ul>
              <div id="safe-step-3"></div><!-- 锚点定位-第三重 -->
							<p>
                是指为担保人设立的担保。当担保人不能独立承担担保责任时，再担保人将按合同约定比例向债权人继续剩余的清偿，以保障债权的实现。
                再担保是担保的一种特殊形式，其设定必须符合以下条件：
                <ol>
                  <li>以主担保存在为前提。再担保的设定必须以主债权之上已设定担保为前提；</li>
                  <li>再担保人必须是主担保人之外的人；</li>
                  <li>再担保的设立需要当事人明确约定。</li>
                </ol>
                    宏财网选择国有再担保机构对其再担保体系内的项目进行再担保，使得投资人的资金得到双重保障，保证在极端情况下发生的代偿顺利实施。
							</p>
						</div>
						<div class="col-md-5"><img src="images/safe/safe_content_2.png" alt="国有再担保机构形成双保险"></div>
					</div>
				</div>
        <!-- 第三重 -->
        <div class="col-md-12 list-item border-b">
				<!-- <div class="col-md-12 list-item border-b" id="safe-step-3"> -->
					<div class="row">
						<div class="col-md-5"><img src="images/safe/safe_content_3.png"  style="margin-top:20px; width:100%;" alt="严格的项目审查"></div>
						<div class="col-md-7">
							<p class="ft-16 ftw-b">第三重  严格的项目审查</p>
							<ul class="tit2">
								<li>多层保证金制度</li>
							</ul>
              <div id="safe-step-4"></div><!-- 锚点定位-第四重 -->
							<p>
								宏财网对每一个上线发标的融资企业进行严格的四步审核：
                <ol>
                  <li>与宏财网签约的优质担保企业向宏财网项目池保荐融资企业，并承诺对保荐企业承担本息全额担保的连带责任；</li>
                  <li>宏财网项目审核部会依据宏财网自己制定的企业融资要求对融资企业的基本资料、行业趋势、财务指标、企业信誉、企业风险压力测试等进行分析，并进行打分；</li>
                  <li>通过审核部初审后，项目审核部与宏财网风控部奔赴融资企业进行实地尽调，项目部与风控部根据尽调情况各自撰写尽调报告，尽调报告提交项目管理部审核；</li>
                  <li>经项目管理部审核通过后，提交宏财投资决策委员会投票是否上线发标 ，投资决策委员会会全票通过后，项目最终上线发布。</li>
                </ol>
							</p>
						</div>
					</div>
				</div>
        <!-- 第四重 -->
        <div class="col-md-12 list-item border-b">
				<!-- <div class="col-md-12 list-item border-b" id="safe-step-4"> -->
					<div class="row">
						<div class="col-md-7">
              <div id="safe-step-5"></div><!-- 锚点定位-第五重 -->
							<p class="ft-16 ftw-b">第四重  完善的风控流程  </p>
							<p>
                <ol>
                  <li>平台风控管理团队具备强大的金融背景和多年的风控经验
                P2P归根结底是金融服务，金融从业背景直接决定平台风控的专业性与严谨性。
                宏财管理团队来自国内知名P2P公司、国有银行信贷管理部、大型金融集团。</li>


                  <li>运营理念和运营模式既决定平台的内容与范围，又决定平台的稳定性。
                宏财模式：线上寻找投资人，线下寻找借款人，对借款人的借款资格有严格的门槛，对符合要求的借款人实地尽调，并将尽调报告摘要与投资人分享，对借款金额与企业实际盈利能力进行压力测试，同时引入第三方机构担保（融资性担保机）及实物抵押和再担保。</li>
                  <li>完善的风控流程
                宏财为投资人的资金安全设计了九重保障，36层风控监测天网，步步为营，保证资金安全。</li>
                </ol>
							</p>
						</div>
						<div class="col-md-5"><img src="images/safe/safe_content_4.png" style="margin-top:25px; width:100%" alt="完善的风控流程"></div>
					</div>
        </div>
        <!-- 第五重 -->

        <div class="col-md-12 list-item border-b">
        <!-- <div class="col-md-12 list-item border-b" id="safe-step-5"> -->
          <div class="row">
            <div id="safe-step-6"></div><!-- 锚点定位-第六重 -->
            <div class="col-md-5"><img src="images/safe/safe_content_5.png" style="margin-top:20px; width:100%;" alt="第三方支付托管"></div>
            <div class="col-md-7">
              <p class="ft-16 ftw-b">第五重  第三方支付托管  </p>

              <p>
                宏财网定位信息中介平台提供方，坚决不设“资金池”，投资人的资金都委托资信优良的第三方支付机构托管，所有资金与宏财平台分离，第三方支付承担资金的保管与监督。
                第三方支付托管的好处：
                <ol>
                  <li>保障投资人资金安全，资金由独立的第三方托管；</li>
                  <li>每笔资金由第三方监管，有效防范假标空标的虚假操作；</li>
                  <li>相对平台而言，第三方托管是规避非法集资和资金池的一种有效措施；</li>
                  <li>使用方便。对支付者而言，他所面对的是友好的界面，不必考虑背后复杂的技术操作过程；</li>
                  <li>支付担保业务可以在很大程度上保障付款人的利益。</li>
                </ol>
              </p>
            </div>

          </div>
				</div>
        <!-- 第六重 -->
        <div class="col-md-12 list-item border-b">
        <!-- <div class="col-md-12 list-item border-b" id="safe-step-6"> -->
          <div class="row">
            <div class="col-md-7">
              <p class="ft-16 ftw-b">第六重  安全的交易系统  </p>
              <p>宏财网IT团队来自金融机构及为金融机构提供IT服务的公司，在数据、信息、网络安全方面有着丰富的专业经验，让投资人及融资客户享受银行级别的安全保障。主要表现在以下几个维度：</p>
              <ul class="tit2">
                <li>维度一：网站安全防护</li>
              </ul>
              <p>
                <ol>
                  <li>银行级专业硬件防火墙，控制网站的访问安全；</li>
                  <li>病毒预防与扫描系统，实时进行病毒检测与扫描；</li>
                  <li>专业网络安全团队与安全检测工具，主动进行漏洞扫描与安全检测；</li>

                  <div id="safe-step-7"></div><!-- 锚点定位-第七重 -->

                  <li>网站入侵防护工具，拦截黑客攻击，加强防御入侵能力，加固边界安全。</li>
                </ol>
              </p>

                <ul class="tit2">
                  <li>维度二：数据安全防护</li>
                </ul>
                <p>
                  <ol>
                    <li>后台数据库的安全防护工具，扼杀核心数据可能存在的“越权使用”、“权限滥用”、“权限盗用”等问题；</li>
                    <li>使用主流的、成熟的数据传输方案：通过世界级安全机构认证以及颁发的数字证书、加密数据传输机制等多种方案结合的方式，共同为数据传输过程中的安全保驾护航；</li>
                    <li>完备、成熟的多级、异地数据容灾备份方案：本地，通过硬件冗余实现数据在多设备中的备份，避免单一设备损坏可能导致的数据丢失；异地，在全国多个城市设立数据中心，保证所有数据在不同城市至少拥有两份或两份以上的备份，避免自然灾害等不可抗力对某一数据中心的造成的数据丢失。</li>
                  </ol>
                </p>
            </div>
            <div class="col-md-5"><img src="images/safe/safe_content_6.png" style="margin-top: 40px; width:105%;" alt="安全的交易系统"></div>
          </div>
        </div>

        <!-- 第七重 -->
        <div class="col-md-12 list-item border-b">
        <!-- <div class="col-md-12 list-item border-b" id="safe-step-7"> -->
          <div class="row">
            <div class="col-md-5"><img src="images/safe/safe_content_7.png" style="margin-top:5px; width:105%;" alt="严谨的贷后管理"></div>
            <div class="col-md-7">
              <p class="ft-16 ftw-b">第七重  严谨的贷后管理  </p>
              <div id="safe-step-8"></div><!-- 锚点定位-第八重 -->
              <p>
                宏财对上线发标的项目采取动态追踪式贷后管理，宏财项目管理部会根据不同的融资标的、融资周期、融资企业所属行业等进行分类，并分配给贷后管理专员进行跟踪管理并撰写贷后管理报告报送担保企业和宏财风控部。
                宏财网的贷后管理分为前、中、后三期。前期贷后管理专员与融资企业电话、邮件等方式联系确认贷款用途及要求其提供用款相关证明材料；中期贷后管理专员要通过各种票据、银行对账单等核查用款是否与融资申请的资金用途相符，追踪融资企业生产经营是否正常，关注可能对融资企业生产经营产生影响各种大事件，必要时贷后管理专员要实地考察管理；后期贷后管理专员要重点关注企业的现金流情况，与担保公司共同及时提醒融资企业还款日期、金额等。
                宏财贷后管理团队对借款人经营与财务状况进行跟踪并定期监督，完整保存贷后企业资产运作情况等信息，必要时可向投资人公布。
              </p>
            </div>
          </div>
        </div>
          <!-- 第八重 -->
          <div class="col-md-12 list-item border-b">
          <!-- <div class="col-md-12 list-item border-b" id="safe-step-8"> -->
            <div class="row">
              <div class="col-md-7">
                <p class="ft-16 ftw-b">第八重  风险保障金制度 </p>
                <p>
                  <ol>
                    <div id="safe-step-9"></div><!-- 锚点定位-第九重 -->
                    <li>为确保投资人的收益，切实降低投资风险，宏财设立风险保障金机制。宏财联合签订协议的合作机构按项目融资金额一定比例提取“风险备用金”，“风险备用金”存入宏财在银行设立风险保障金账户，与平台自有资金分离，风险准备金实行专款专用的专户管理。</li>
                    <li>当发生担保公司因为特殊情况无法及时代偿时，宏财会及时启动风险保障金偿付机制，冲减极端情况下发生代偿不利而带来的风险，用于偿付投资人的可能产生的投资损失，将投资人的损失降到最低。</li>
                  </ol>
                </p>
              </div>
              <div class="col-md-5"><img src="images/safe/safe_content_8.png" style="margin-top:-15px; width:95%" alt="风险保障金制度"></div>
            </div>
          </div>

          <!-- 第九重 -->
          <div class="col-md-12 list-item">
          <!-- <div class="col-md-12 list-item" id="safe-step-9"> -->
            <div class="row">
              <div class="col-md-5"><img src="images/safe/safe_content_9.png" alt=""></div>
              <div class="col-md-7">
                <p class="ft-16 ftw-b">第九重  专业的律师团队</p>
                <p>
                  <ol>
                    <li>宏财网跟优秀的律师事务所合作，律所负责审核和复议我们所有主营业务合同，并制定出严格充分保护投资人利益的合同条款。</li>
                    <li>律所负责监督审核宏财网对融资项目的尽职调查工作，确保调查工作的合规性、合法性、合理性；同时对宏财网内部组织结构，各部门权限以及工作的合规也要进行合规审查，在其监督和统筹下，促使宏财网平台的建设经营更加规范合理。</li>
                    <li>优秀律所具有的超强追偿能力，一旦发生违约风险，间接保证了投资人资金的安全。 </li>
                  </ol>
                </p>
              </div>
            </div>
          </div>

			</div>
		</div>
	</div>
</div>
