<!-- 送现金活动页 -->
<div class="send-money">
	<div class="col-md-12 send-money-header">
		<img src="/images/activity/send-money1.jpg" alt="" width="100%">
	</div>
	<div class="send-money-connent over-auto" style="display: table;">
		<img style="display: table-cell;" align="center" src="/images/activity/send-money2.png" width="58%">
		<div class="ft-30 send-money-text ftw-b ft-white">
			活动奖励
		</div>		
	</div>
	<div class="send-money-tab">
		<!-- <img src="/images/activity/send-money-tab.png" alt="" width="100%" class="margin-l-60"> -->
		<table border='1' cellspacing="0" height="72px">
			<thead>
				<tr>
					<th>赠送现金</th>
					<th>单笔投资</th>
					<th>项目期限</th>
					<th>推荐项目</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="col0-ft-red">10元</td>
					<td width="210px">&ge;200元</td>
					<td>&ge;90天</td>
					<td>分期宝</td>
				</tr> 
				<tr>
					<td class="col0-ft-red">10元</td>
					<td>&ge;1000元</td>
					<td>&ge;30天</td>
					<td>月月盈</td>
				</tr> 
				<tr>
					<td class="col0-ft-red">30元</td>
					<td>&ge;5000元</td>
					<td>&ge;90天</td>
					<td>分期宝</td>
				</tr> 
				<tr>
					<td class="col0-ft-red">66元</td>
					<td>&ge;10000元</td>
					<td>&ge;90天</td>
					<td>分期宝</td>
				</tr>
				<tr>
					<td class="col0-ft-red">206元</td>
					<td>&ge;30000元</td>
					<td>&ge;90天</td>
					<td>分期宝</td>
				</tr>
				<tr>
					<td class="col0-ft-red">886元</td>
					<td>&ge;100000元</td>
					<td>&ge;90天</td>
					<td>分期宝</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="invite-connent1 col-md-12 padding-t-40 padding-b-40">
		<div class="col-md-6 col-md-offset-3">
			<div class="col-xs-5 col-md-offset-1" ui-sref="root.login">
				<img src="/images/activity/send-money-btn1.png" alt="" width="100%">
			</div>
			<div class="col-xs-5 margin-l-30" ui-sref="root.register">
				<img src="/images/activity/send-money-btn2.png" alt="" width="100%">
			</div>
		</div>
	</div>
	<div class="invite-connent2 col-md-12">
		<div class="col-xs-7 col-xs-offset-3 padding-l-30">
			<div class="col-xs-5 margin-l--90 yu-tab-hr"></div>
			<div class="col-xs-3 margin-l-10">
				<p class="ft-26 ft-white">活动细则 <i class="fa fa-angle-double-down"></i></p>
			</div>
			<div class="col-xs-4 margin-l--10 yu-tab-hr"></div>
		</div>
	</div>
	<div class="send-money-rules margin-b-20">
		<p>活动时间：2016年5月1日— —2016年8月1日。</p>
		<p>活动规则：</p>
		<div class="row padd">
			<div class="col-md-1"><span>&nbsp;	&nbsp;1、</span></div>
			<div class="col-md-10 margin-l-10"><p>新用户注册即送1280元现金，老用户(已注册用户)登录即送1280元现金。</p>
			</div>
		</div>
		<div class="row padd">
			<div class="col-md-1"><span>&nbsp;	&nbsp;2、</span></div>
			<div class="col-md-10 margin-l-10"><p>每档额度赠送的现金，投资后立即充值到账,可随时提现或投资。</p>
			</div>
		</div>
		<div class="row padd">
			<div class="col-md-1"><span>&nbsp;	&nbsp;3、</span></div>
			<div class="col-md-10 margin-l-10"><p>每档投资对应的现金，只限活动期间首次投资该档时赠送。可选不同额度投资，分别获取对应现金。</p>
			</div>
		</div>
		<div class="row padd">
			<div class="col-md-1"><span>&nbsp;	&nbsp;4、</span></div>
			<div class="col-md-10 margin-l-10"><p>每档投资对应的现金，只限活动期间内单笔投资达到对应额度时赠送。</p>
			</div>
		</div>
		<div class="row padd">
			<div class="col-md-1"><span>&nbsp;	&nbsp;5、</span></div>
			<div class="col-md-10 margin-l-10"><p>活动最终解释权归宏财网所有。</p>
			</div>
		</div>
		<div class="row padd margin-b-80">
			<div class="col-md-1"><span>&nbsp;	&nbsp;6、</span></div>
			<div class="col-md-10 margin-l-10"><p>联系电话：400-990-7627。</p>
			</div>
		</div>
		<!--
		<p>&nbsp;	&nbsp;1、新用户注册即送1280元现金,老用户(已注册用户)登录即送1280元现金。</p>
		<p>&nbsp;	&nbsp;2、每档额度赠送的现金,投资后立即充值到账,可随时提现或投资。</p>
		<p>&nbsp;	&nbsp;3、每档投资对应的现金,只限活动期间首次投资该档时赠送。可选不同额度投资,分别获取对应现金。</p>
		<p>&nbsp;	&nbsp;4、每档投资对应的现金,只限活动期间内单笔投资达到对应额度时赠送。</p>
		<p>&nbsp;	&nbsp;5、活动最终解释权归宏财网所有。</p>
		<p>&nbsp;	&nbsp;6、联系电话：400-990-7627。</p><br><br>-->
	</div>
	<div class="send-money-bg">
		<img src="/images/activity/send-money3.png" alt="" width="100%">
	</div>
</div>