<!-- 送现金活动页 -->
<div class="send-money">
	<div class="col-md-12 send-money-header">
		<img src="/images/activity/top.jpg" alt="" width="100%">
	</div>
	<div class="col-md-12" style="overflow:auto;">
		<div class="send-money-connent">
      <img class=""src="../images/activity/invest.png" alt="">
			<!-- <div class="ft-30 send-money-text ftw-b ft-white">
				活动奖励
			</div> -->
      <img class=""src="../images/activity/luck-list.png" alt="">
		</div>
		<div class="send-money-tab">
			<table class="table1"  cellspacing="0" height="64px">
				<thead>
					<tr>
						<th>赠送现金</th>
						<th class="border-right1">单笔投资</th>
						<th>项目期限</th>
						<!-- <th>推荐项目</th> -->
					</tr>
				</thead>
				<tbody>
					<tr>
						<td class="col0-ft-red" width="188px">10元</td>
						<td class="border-left1" width="188px">&ge; 200元</td>
						<td width="188px">&ge; 1个月</td>
						<!-- <td>宏金宝</td> -->
					</tr>
					<tr>
						<td class="col0-ft-red">10元</td>
						<td class="border-left1">&ge; 2000元</td>
						<td>&ge; 1个月</td>
						<!-- <td>月月盈</td> -->
					</tr>
					<tr>
						<td class="col0-ft-red">30元</td>
						<td class="border-left1">&ge; 5000元</td>
						<td>&ge; 1个月</td>
						<!-- <td>宏金宝</td> -->
					</tr>
					<tr>
						<td class="col0-ft-red">66元</td>
						<td class="border-left1">&ge; 10000元</td>
						<td>&ge; 1个月</td>
						<!-- <td>宏金宝</td> -->
					</tr>
					<tr>
						<td class="col0-ft-red">206元</td>
						<td class="border-left1">&ge; 30000元</td>
						<td>&ge; 1个月</td>
						<!-- <td>宏金宝</td> -->
					</tr>
					<tr>
						<td class="col0-ft-red">886元</td>
						<td class="border-left1">&ge; 100000元</td>
						<td>&ge; 1个月</td>
						<!-- <td>宏金宝</td> -->
					</tr>
				</tbody>
			</table>
      <table class="table2" cellspacing="0" height="64px">
        <thead>
          <tr>
            <th>账户名</th>
            <th>获得现金</th>
            <!-- <th>项目期限</th> -->
            <!-- <th>推荐项目</th> -->
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="border-right0">181****2851</td>
            <td class="col0-ft-red1">￥30</td>
            <!-- <td>&ge; 90天</td> -->
            <!-- <td>宏金宝</td> -->
          </tr>
          <tr>
            <td class="border-right0" width="188px">177****2374</td>
            <td width="188px" class="col0-ft-red1">￥5</td>
            <!-- <td>&ge; 30天</td> -->
            <!-- <td>月月盈</td> -->
          </tr>
          <tr>
            <td>187****3747</td>
            <td class="col0-ft-red1">￥88</td>
            <!-- <td>&ge; 90天</td> -->
            <!-- <td>宏金宝</td> -->
          </tr>
          <tr>
            <td>187****4689</td>
            <td class="col0-ft-red1">￥55</td>
            <!-- <td>&ge; 90天</td> -->
            <!-- <td>宏金宝</td> -->
          </tr>
          <tr>
            <td>187****4659</td>
            <td class="col0-ft-red1">￥10</td>
            <!-- <td>&ge; 90天</td> -->
            <!-- <td>宏金宝</td> -->
          </tr>
          <tr>
            <td>187****4659</td>
            <td class="col0-ft-red1">￥20</td>
            <!-- <td>&ge; 90天</td> -->
            <!-- <td>宏金宝</td> -->
          </tr>
        </tbody>
      </table>
		</div>
	</div>
	<div class="send-money-bg">
		<div class="invite-connent1 col-md-12 padding-t-40 padding-b-40">
			<div class="col-md-6 ">
				<div class="col-xs-5 col-md-offset-10 pointer" ui-sref="root.main">
					<img src="/images/activity/send-money-invest.png" alt="" width="100%">
				</div>
<!-- 				<div class="col-xs-5 margin-l-30 pointer" ui-sref="root.register">
					<img src="/images/activity/send-money-btn2.png" alt="" width="100%">
				</div> -->
			</div>

		</div>
     <div class="invite-connent2 col-md-12">
      <div class="col-xs-7 col-xs-offset-3 padding-l-30">
        <div class="col-xs-5 margin-l--90 yu-tab-hr"></div>
        <div class="col-xs-3 margin-l-10">
          <p class="ft-26 ft-white text-center">活动细则 <i class="fa fa-angle-double-down"></i></p>
        </div>
        <div class="col-xs-4 margin-l--10 yu-tab-hr"></div>
      </div>
    </div>
    <div class="send-money-rules">
      <p>活动时间：2016年6月6日— —2016年6月12日。</p>
      <p>活动规则：</p>
      <div class="row padd">
        <div class="col-md-1"><span>&nbsp;  &nbsp;1、</span></div>
        <div class="col-md-10 margin-l-10"><p>投资即送现金。每档投资与赠送现金一一对应，最高可获得369元现金。</p></div>
      </div>
      <div class="row padd">
        <div class="col-md-1"><span>&nbsp;  &nbsp;2、</span></div>
        <div class="col-md-10 margin-l-10"><p>每档额度赠送的现金，投资后立即充值到账,可随时提现或投资。</p></div>
      </div>
      <div class="row padd">
        <div class="col-md-1"><span>&nbsp;  &nbsp;3、</span></div>
        <div class="col-md-10 margin-l-10"><p>每档投资对应的现金，只限活动期间首次投资该档时赠送。可选不同额度投资，分别获取对应现金。</p></div>
      </div>
      <div class="row padd">
        <div class="col-md-1"><span>&nbsp;  &nbsp;4、</span></div>
        <div class="col-md-10 margin-l-10"><p>每档投资对应的现金，只限活动期间内单笔投资达到对应额度时赠送。</p></div>
      </div>
      <div class="row padd">
        <div class="col-md-1"><span>&nbsp;  &nbsp;5、</span></div>
        <div class="col-md-10 margin-l-10"><p>投资返现活动每天有1000个返现名额。限额超出后，投资将不再返现。</p></div>
      </div>
      <div class="row padd">
        <div class="col-md-1"><span>&nbsp;  &nbsp;6、</span></div>
        <div class="col-md-10 margin-l-10"><p>每个账号每天只返现1次。连续投资时，只对第一次满足返现条件的投资进行返现。</p></div>
      </div>
      <div class="row padd">
        <div class="col-md-1"><span>&nbsp;  &nbsp;7、</span></div>
        <div class="col-md-10 margin-l-10"><p>活动最终解释权归宏财网所有。</p></div>
      </div>
      <div class="row padd">
        <div class="col-md-1"><span>&nbsp;  &nbsp;8、</span></div>
        <div class="col-md-10 margin-l-10"><p>联系电话：400-990-7626。</p></div>
      </div>
      <!--
      <p>&nbsp; &nbsp;1、新用户注册即送1280元现金,老用户(已注册用户)登录即送1280元现金。</p>
      <p>&nbsp; &nbsp;2、每档额度赠送的现金,投资后立即充值到账,可随时提现或投资。</p>
      <p>&nbsp; &nbsp;3、每档投资对应的现金,只限活动期间首次投资该档时赠送。可选不同额度投资,分别获取对应现金。</p>
      <p>&nbsp; &nbsp;4、每档投资对应的现金,只限活动期间内单笔投资达到对应额度时赠送。</p>
      <p>&nbsp; &nbsp;5、活动最终解释权归宏财网所有。</p>
      <p>&nbsp; &nbsp;6、联系电话：400-990-7627。</p><br><br>-->
    </div>
		<div class="invite-connent2 col-md-12">
			<div class="col-xs-7 col-xs-offset-3 padding-l-30">
				<div class="col-xs-5 margin-l--90 yu-tab-hr"></div>
				<div class="col-xs-3 margin-l-10">
					<p class="ft-26 ft-white text-center">关于我们 <i class="fa fa-angle-double-down"></i></p>
				</div>
				<div class="col-xs-4 margin-l--10 yu-tab-hr"></div>
			</div>
		</div>
		<div class="send-money-aboutus">
    <ul class="margin-b-80">
        <li class="bg-white fl mar-r">
          <img class="fl" src="../images/activity/introduction.png" alt="">
          <div class="col-8"><p>宏财介绍</p>
          宏财网是一家国有企业战略投资的互联网金融平<br>台,2016年A轮融资达1亿元。是国内极少数由上<br>
          市金融集团提供专业安全金融资产的平台之一。
          </div>
        </li>
        <li class=" bg-white fl">
          <img  class="fl" src="../images/activity/safe.png" alt="">
          <div class="col-8"><p>资金安全</p>
          宏财网联合知名支付平台“易宝支付”打造了一<br>套完整的资金支付托管账户体系，一人一户且<br>
          每笔资金的流动都可追查记录。
          </div>
        </li>
        <li class=" bg-white fl mar-r mar-t">
          <img  class="fl" src="../images/activity/origin.png" alt="">
          <div class="col-8">
            <p>项目来源</p>
          项目由鑫融基金控集团推荐，是新三板“金控”<br>
          第一股和首家金牌照民间金融服务商，股本规模<br>全国第四。
          </div>
        </li>
        <li class=" bg-white fl mar-t">
          <div class="fl"><img  src="../images/activity/ensure.png" alt=""></div>
          <div class="col-8">
            <p>本息保障</p>
          项目由政府参与出资、全国排名前三的民营担保机构<br>提供本息担保。如果项目方违约，担保公司先行垫付<br>
          投资者本息，十年来未出现一起担保违约事件。
          </div>
        </li>
    </ul>
		</div>

	</div>
</div>
