<div id="service" class="container-fluid">
	<div class="bottom_tools">
		<!-- <div class="calculator"></div> -->

		<button type="button" class="btn btn-lg calculator" data-placement="left" data-template="views/modal/popover-calculator.html" data-animation="am-flip-x" bs-popover></button>
		
		<div class="qr_tool"></div>
		<a id="feedback" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2981432700&site=qq&menu=yes" title="在线客服"></a>
		<a id="scrollUp" href="javascript:;" title="飞回顶部"></a>
		<img class="qr_img" src="images/qr_img.png">
	</div>
</div>