<div id="service" class="container-fluid">
	<div class="bottom_tools">
		<!-- <div class="calculator"></div> -->

		<button type="button" class="btn btn-lg calculator" data-placement="left" data-template="views/modal/popover-calculator.html" data-animation="am-flip-x" bs-popover ng-click="changeArrow()"></button>
		
		<div class="qr_tool"></div>
		<!-- <a id="feedback" target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2981432700&site=qq&menu=yes" title="在线客服"></a> -->
		<a id="feedback" href="javascript:;" title="在线客服"></a>
		<a id="weiBo" target="_blank" href="http://weibo.com/u/5321725208" title="微博"></a>
		<a id="scrollUp" href="javascript:;" title="飞回顶部"></a>
		<ul class="qqBox">
			<li>
				<a target="_self" href="tencent://message/?uin=2355272787&Site=qq&Menu=yes">
					<img border="0" src="http://wpa.qq.com/pa?p=1:2355272787:4" alt="客服一" width="23" height="16"/>&nbsp;客服一
				</a>
			</li>
			<li>
				<a target="_self" href="tencent://message/?uin=2880787006&Site=qq&Menu=yes">
					<img border="0" src="http://wpa.qq.com/pa?p=1:2880787006:4" alt="客服二" width="23" height="16"/>&nbsp;客服二
				</a>
			</li>
			<li>
				<a target="_self" href="tencent://message/?uin=2981432700&Site=qq&Menu=yes">
					<img border="0" src="http://wpa.qq.com/pa?p=1:2981432700:4" alt="客服三" width="23" height="16"/>&nbsp;客服三
				</a>
			</li>
			</ul>
		<img class="qr_img" src="images/qr_img.png" width="173" height='173'>
	</div>
</div>