<!-- start banner-轮播 -->
<div class="container-fluid" ng-controller="MainCtrl">
	<div class="row">
		<div class="col-lg-12 hidden-xs" style="position: relative;">
      <div>
        <slick settings="slickConfig" control="slickHandle" media="media"></slick>
        <a class="left carousel-control" role="button" ng-click="slickHandle.slickPrev()">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" role="button" ng-click="slickHandle.slickNext()">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>


				<!-- Indicators
<!-- 				<ol class="carousel-indicators">
					<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
					<li data-target="#carousel-example-generic" data-slide-to="1"></li>
					<li data-target="#carousel-example-generic" data-slide-to="2"></li>
				</ol> -->
				<!-- Wrapper for slides -->
<!-- 				<div class="carousel-inner">
					<div class="item active">
							<img src="images/banner-1.png" alt="...">
					</div>
					<div class="item item-2">
							<img src="images/banner-2.png" alt="...">
					</div>
					<div class="item item-3">
							<img src="images/banner-3.png" alt="...">
					</div>
				</div>
 -->				<!-- Controls -->
<!-- 				<a class="left carousel-control" role="button" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
				</a>
				<a class="right carousel-control" role="button" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
				</a>
 -->			</div>
			<div ng-if="isLogged === true" class="fixedBox logged row hidden-xs hidden-sm">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-12 ft-18">
			                <p><span>欢迎回来，<a ui-sref="root.userCenter.account-overview">{{loginName}}</a></span></p>
			                <p><span class="ft-14">账户可用余额</span></p>
			                <p class="ft-14"><span class="ft-16">{{userCapital.balance || 0 | number : 0}}<!-- 数据绑定 --></span>元<a class="pull-right" ui-sref="root.userCenter.recharge">充值</a></p>
			            </div>
			            <a class="col-lg-11 col-md-11 btn btn-danger btn-lg" ui-sref="root.userCenter.account-overview">我的账户</a>
					</div>
				</div>
			</div>
			<div ng-if="isLogged !== true" class="fixedBox unLogged row hidden-xs hidden-sm">
				<div class="col-lg-12">
					<div class="row">
						<div class="col-lg-12 ft-18">
							宏财网历史年化收益率
							<p class="ft-16">最高
								<span class="ft-red ft-24">14.24%<!-- 数据绑定 --></span>
							</p>
							<p class="ft-16">
								<span class="ft-red">40<!-- 数据绑定 --></span>倍活期存款收益<span class="ft-red">3<!-- 数据绑定 --></span>倍货币基金收益
							</p>
						</div>
						<a class="col-lg-11 col-md-11 btn btn-danger btn-lg" ui-sref="root.registerMobile">立即注册</a>
						<div class="pull-right">已有账号？<a ui-sref="root.login">立即登录</a></div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!-- end banner-轮播 -->
