    <!-- start banner-轮播 -->
    <div class="banner">
        <div id='outer'>
          <div id='inner'>
            <div><img src="images/banner-1.png" width="1920" height="434" />第一张</div>
            <div><img src="images/banner-1.png" width="1920" height="434" />第二张</div>
            <div><img src="images/banner-1.png" width="1920" height="434" />第三张</div>
            <div><img src="images/banner-1.png" width="1920" height="434" />第四张</div>
            <div><img src="images/banner-1.png" width="1920" height="434" />第五张</div>
          </div>
        </div>
      <ol id="btn"><li></li><li></li><li></li><li></li><li></li></ol>
    </div>
  <!-- end banner-轮播 -->
