<!-- start banner-轮播 -->
<div class="container-fluid" style="z-index:1">
  <div class="row">
    <div class="col-lg-12 hidden-xs" style="position: relative;overflow:hidden;">
      <div class="row">
        <slick settings="slickConfig" control="slickHandle" media="media" src="views/modal/slick_slider.html" style="margin-bottom:0;overflow:hidden;margin-left:-16%;height:350px;width: 1920px;margin: 0 auto;" target="_blank"></slick>
        <a class="left carousel-control dis-none" style="height: 94%;" role="button" ng-click="slickHandle.slickPrev()">
          <i class="fa fa-chevron-left"></i>
        </a>
        <a class="right carousel-control dis-none" style="height: 94%;" role="button" ng-click="slickHandle.slickNext()">
          <i class="fa fa-chevron-right"></i>
        </a>
        <div ng-if="isLogged === true" class="fixedBox logged row hidden-xs hidden-sm">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-12 ft-18">
                <p class="ft-black margin-b-30"><span>欢迎回来，<a ui-sref="root.userCenter.account-overview" class="ft-red">{{loginName}}</a></span></p>
                <p class="margin-b-30"><span class="ft-14 ft-black">账户可用余额</span></p>
                <p class="ft-14 ft-black margin-b-30"><span class="ft-16">{{account.balance || 0 | number : 2}}</span>元<a class="pull-right ft-red" ui-sref="root.userCenter.recharge">充值</a></p>
              </div>
              <a class="col-lg-11 col-md-11 btn btn-yellow ft-white btn-lg ft-black" ui-sref="root.userCenter.account-overview">我的账户</a>
            </div>
          </div>
        </div>
        <div ng-if="isLogged !== true" class="fixedBox unLogged row hidden-xs hidden-sm">
          <div class="col-lg-12">
            <div class="row">
              <!-- <div class="col-lg-12 ft-18">
								宏财网年化收益率
								<p class="ft-16">最高
									<span class="ft-red ft-24">14.5%</span>
								</p>
								<p class="ft-16">
									<span class="ft-red">40</span>倍活期存款收益<span class="ft-red">3</span>倍货币基金收益
								</p>
							</div>
							<a class="col-lg-11 col-md-11 btn btn-yellow btn-lg ft-white" ui-sref="root.registerMobile">立即注册</a>
							<div class="pull-right">已有账号？<a ui-sref="root.login" class="ft-red">立即登录</a></div> -->
              <div class="col-lg-12 ft-16 ft-black2 text-center">
                最高年化收益率
                <p class="ft-40">
                  <span class="ft-red8 ft-80">14.5%</span>
                </p>
                <!-- <p class="ft-16 ft-black">
									累计成交<span class="ft-20">{{indexStatic.staticAmount/10000 | number:0}}</span>万元
									{{indexStatic.staticUser/10000 + 0.1| number:1}}万人
								</p> -->
                <!-- <p class="ft-16 ft-black">
                  <span class="ft-20">30</span>万人的理财选择
                </p> -->
                <p class="ft-16 ft-black2">
                  注册即送体验金
                </p>
              </div>
              <a class="col-lg-11 col-md-11 btn btn-yellow-new2 btn-lg ft-white border-radius" ui-sref="root.register">立即注册</a>
              <div class="pull-right ft-red8 ft-14 margin-t-7 margin-b-20">已有账号？<a ui-sref="root.login" class="ft-red8 ft-14">立即登录</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end banner-轮播 -->
