<div ng-switch="page">
  <div class="container bg" ng-switch-default>
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
            <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1">
              <img src="images/register-success.png">
            </div>
            <div class="success-re col-lg-9 col-md-9">
              <div class="col-lg-12 col-md-12">
                <p><strong>恭喜您操作成功！</strong>
                </p>
              </div>
              <br>
              <br>
              <div class="col-lg-12 col-md-12">
                <a class="col-md-5 btn btn-danger btn-lg ft-white btn-top" ui-sref="root.main">逛逛首页</a>
                <a class="col-md-5 col-md-offset-1 btn btn-yellow btn-lg ft-white btn-top" ui-sref="root.userCenter.security-settings">安全设置</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container bg" ng-switch-when="1">
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
            <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1">
              <img src="images/register-success.png">
            </div>
            <div class="success-re col-lg-9 col-md-9">
              <div class="col-lg-12 col-md-12">
                <p><strong>恭喜您成功开通第三方资金托管账户！</strong>
                </p>
                <div class="border-b list-l col-lg-12 col-md-12"></div>
              </div>
              <div class="col-lg-12 col-md-12 list-l">
                <p class="success-p">您的资料已完善成功</p>
                <p class="success-p">充值投资，在宏财赚取更多收益吧！</p>
              </div>
              <div class="col-lg-12 col-md-12">
                <a class="col-md-5 btn btn-danger btn-lg ft-white btn-top" ui-sref="root.userCenter.recharge">现在充值</a>
                <a class="col-md-5 col-md-offset-1 btn btn-yellow btn-lg ft-white btn-top" ui-sref="root.guaranteepro-list-query-no()">浏览项目</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container bg" ng-switch-when="2">
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
            <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1">
              <img src="images/register-success.png">
            </div>
            <div class="success-re col-lg-9 col-md-9">
              <div class="col-lg-12 col-md-12">
                <p><strong>恭喜您投资成功！</strong>
                </p>
                <div class="border-b list-l col-lg-12 col-md-12"></div>
              </div>
              <div class="col-lg-12 col-md-12 list-l" ng-if="rightType === 1 || rightType === 2">
                <p class="success-p">您已投资成功</p>
                <p class="success-p">继续投资，通过宏财网赚取更多收益吧！</p>
              </div>
              <div class="col-lg-12 col-md-12 list-l" ng-if="rightType === 3">
                <p class="success-p">本项目当日计息，今日收获利息为{{oneDayProfit}}元！</p>
                <p class="success-p" ng-if="isRepeat === 1 ">您已选择续投，下期年化收益为{{nextRate}}%！</p>
                <p class="success-p" ng-if="isRepeat === 2 ">您未选择续投，<a ui-sref="root.userCenter.credit">【开启续投】</a>下期年化收益增至{{nextRate}}%！</p>
              </div>
              <div class="col-lg-12 col-md-12">
                <a class="col-md-5 btn btn-danger btn-lg ft-white btn-top" href="/">回到首页</a>
                <a class="col-md-5 col-md-offset-1 btn btn-yellow btn-lg ft-white btn-top" ui-sref="root.userCenter.credit">查看债权</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container bg" ng-switch-when="3">
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
            <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1">
              <img src="images/register-success.png">
            </div>
            <div class="success-re col-lg-9 col-md-9">
              <div class="col-lg-12 col-md-12">
                <p><strong>恭喜您成功注册宏财！</strong>
                </p>
                <div class="border-b list-l col-lg-12 col-md-12"></div>
              </div>
              <div class="col-lg-12 col-md-12 list-l">
                <p class="success-p">完善资料，即可在宏财网进行投资，赚取收益。</p>
                <!-- <p class="success-p">想要查看获得的宏包，<a ui-sref="root.userCenter.gift-overview" style="color:#e94828;">请点击这里</a>
                </p> -->
              </div>
              <div class="col-lg-12 col-md-12">
                <a class="col-md-5 btn btn-danger btn-lg ft-white btn-top" ui-sref="root.userCenter.security-settings">完善资料</a>
                <a class="col-md-5 col-md-offset-1 btn btn-yellow btn-lg ft-white btn-top" ui-sref="root.main">逛逛首页</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="display: block;" class="mask_layer am-fade" ng-show="getMoney === 1">
    <div class="alert am-fade get-money-bg">
      <i class="fa fa-times-circle ft-30 ft-white" style="float:right;cursor:pointer;" ng-click="getMoney = 0;"></i>
      <img src="{{imgUrl}}" class="Qr-code">
      <img src="{{moneyUrl}}" class="money-num">
    </div>
  </div>
  <div class="container bg" ng-switch-when="4">

    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
            <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1">
              <img src="images/register-success.png">
            </div>
            <div class="success-re col-lg-9 col-md-9">
              <div class="col-lg-12 col-md-12">
                <p><strong>恭喜您充值成功！</strong>
                </p>
                <div class="border-b list-l col-lg-12 col-md-12"></div>
              </div>
              <div class="col-lg-12 col-md-12 list-l">
                <p class="success-p">
                  已成功充入您的账户</p>
                <p class="success-p">心动不如行动，快去投资吧！</p>
              </div>
              <div class="col-lg-12 col-md-12">
                <a class="col-md-5 btn btn-danger btn-lg ft-white btn-top" ui-sref="root.guaranteepro-list-query-no()">浏览项目</a>
                <a class="col-md-5 col-md-offset-1 btn btn-yellow btn-lg ft-white btn-top" ui-sref="root.userCenter.assets-overview">查看余额</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container bg" ng-switch-when="5">
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
            <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1">
              <img src="images/register-success.png">
            </div>
            <div class="success-re col-lg-9 col-md-9">
              <div class="col-lg-12 col-md-12">
                <p><strong>您的绑卡申请已成功提交！</strong>
                </p>
                <div class="border-b list-l col-lg-12 col-md-12"></div>
              </div>
              <div class="col-lg-12 col-md-12 list-l">
                <p class="success-p">绑卡申请，需一定时间进行审核，请您耐心等待</p>
                <p class="success-p">在此期间，您可以浏览项目，获得更多理财信息</p>
              </div>
              <div class="col-lg-12 col-md-12">
                <a class="col-md-5 btn btn-danger btn-lg ft-white btn-top" ui-sref="root.main">逛逛首页</a>
                <a class="col-md-5 col-md-offset-1 btn btn-yellow btn-lg ft-white btn-top" ui-sref="root.guaranteepro-list-query-no()">浏览项目</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container bg" ng-switch-when="6">
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
            <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1">
              <img src="images/register-success.png">
            </div>
            <div class="success-re col-lg-9 col-md-9">
              <div class="col-lg-12 col-md-12">
                <p><strong>恭喜您提现成功！</strong>
                </p>
                <div class="border-b list-l col-lg-12 col-md-12"></div>
              </div>
              <div class="col-lg-12 col-md-12 list-l">
                <p class="success-p">您的提现申请，平台已收到</p>
                <p class="success-p">处理提现操作，需要一定时间，详见下方温馨提示</p>
              </div>
              <div class="col-lg-12 col-md-12">
                <a class="col-md-5 btn btn-danger btn-lg ft-white btn-top" ui-sref="root.main">逛逛首页</a>
                <a class="col-md-5 col-md-offset-1 btn btn-yellow btn-lg ft-white btn-top" ui-sref="root.guaranteepro-list-query-no()">浏览项目</a>
              </div>
            </div>
            <div class="col-lg-11 col-lg-offset-1" style="margin-top:20px;">
              <p class="success-p">温馨提示：</p>
              <p class="success-t">1. 由于宏财网平台不接触投资人资金，投资人资金完全通过第三方支付（易宝支付）来完成资金划拨。由于银行与易宝支付之间的划拨需要(T+1)日，所以当天充值金额（未投资），需要次日才能提现；</p>
              <p class="success-t">2. 三方支付平台收到用户提现申请即对提现进行转账操作，由于不同银行处理速度不同，提现资金将会当天或下个工作日到账（如遇双休日或法定节假日顺延）；</p>
              <p class="success-t">3. 如果用户迟迟未收到提现资金，可能为银行卡信息填写有误，银行做正在退票操作，预计会在7个工作日内完成退票，请用户耐心等候。用户还可以联系客服（400-990-7626），寻求帮助。</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container bg" ng-switch-when="7">
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
            <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1">
              <img src="images/register-success.png">
            </div>
            <div class="success-re col-lg-9 col-md-9">
              <div class="col-lg-12 col-md-12">
                <p><strong>您的银行卡已经成功解绑！</strong>
                </p>
                <div class="border-b list-l col-lg-12 col-md-12"></div>
              </div>
              <div class="col-lg-12 col-md-12 list-l">
                <p class="success-p">您现在尚未绑定银行卡，因此无法提现</p>
                <p class="success-p">请您尽快完成绑卡操作</p>
              </div>
              <div class="col-lg-12 col-md-12">
                <a class="col-md-5 btn btn-danger btn-lg ft-white btn-top" ui-sref="root.userCenter.bankcard-management">银行卡管理</a>
                <a class="col-md-5 col-md-offset-1 btn btn-yellow btn-lg ft-white btn-top" ui-sref="root.main">逛逛首页</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container bg" ng-switch-when="8">
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
            <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1">
              <img src="images/register-success.png">
            </div>
            <div class="success-re col-lg-9 col-md-9">
              <div class="col-lg-12 col-md-12">
                <p><strong>您现在可以顺利预约宏金保项目，或者投资宏金盈项目了。</strong>
                </p>
                <!-- <div class="border-b list-l col-lg-12 col-md-12"></div> -->
              </div>
              <!-- <div class="col-lg-12 col-md-12 list-l">
                <p class="success-p">请您浏览项目并进行预约。</p>
              </div> -->
              <div class="col-lg-12 col-md-12">
                <a class="col-md-5 btn btn-danger btn-lg ft-white btn-top" ui-sref="root.main">回到首页</a>
                <a class="col-md-5 col-md-offset-1 btn btn-yellow btn-lg ft-white btn-top" ui-sref="root.userCenter.reservation">个人中心</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--   <div class="container bg" ng-switch-when="9">
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
            <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1">
              <img src="images/register-success.png">
            </div>
            <div class="success-re col-lg-9 col-md-9">
              <div class="col-lg-12 col-md-12">
                <p><strong>恭喜您，你太帅了！！！XXXXX！</strong>
                </p>
                <div class="border-b list-l col-lg-12 col-md-12"></div>
              </div>
              <div class="col-lg-12 col-md-12 list-l">
                <p class="success-p">这里应该有内容的</p>
              </div>
              <div class="col-lg-12 col-md-12">
                <a class="col-md-5 btn btn-danger btn-lg ft-white btn-top" ui-sref="root.project-list-query({status: [6,7,8,9,10,11,12], minCycle: 0, maxCycle: 100, minEarning: 0, maxEarning: 100, minTotalAmount: 0, maxTotalAmount: 200000000, sortCondition:'release_start_time', sortType: false})">{{ 'button1内容' }}</a>
                <a class="col-md-5 col-md-offset-1 btn btn-yellow btn-lg ft-white btn-top" ui-sref="root.userCenter.reservation">{{ 'button2内容' }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> -->

  <div class="container bg" ng-switch-when="10">
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
            <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1">
              <img src="images/register-success.png">
            </div>
            <div class="success-re col-lg-9 col-md-9">
              <div class="col-lg-12 col-md-12">
                <p><strong>恭喜您，宏金盈！！！！</strong>
                </p>
                <div class="border-b list-l col-lg-12 col-md-12"></div>
              </div>
              <div class="col-lg-12 col-md-12 list-l">
                <p class="success-p">请您浏览项目并进行预约。</p>
              </div>
              <div class="col-lg-12 col-md-12">
                <a class="col-md-5 btn btn-danger btn-lg ft-white btn-top" ui-sref="root.guaranteepro-list-query-no()">预约项目</a>
                <a class="col-md-5 col-md-offset-1 btn btn-yellow btn-lg ft-white btn-top" ui-sref="root.userCenter.reservation">个人中心</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

