<div ng-switch="page">
  <div class="container bg" ng-switch-default>
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <p class="text-title">注册易宝成功</p>
        <!--<p class="text-title">{{message}}</p>-->
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-3 col-md-offset-2">
            <div class="smile-bg col-lg-offset-1 col-md-offset-1"></div>
            <p class="success-tips col-lg-8 col-md-8">恭喜您注册成功~<br>{{counter}}秒后进入新手引导~</p>
            <p class="p-invitation col-lg-10 col-md-10">您已获得<strong>{{100||x}}</strong>元宏包，成功绑定邀请人：{{x||"完美投资"}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container bg" ng-switch-when="1">
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <p class="text-title">注册易宝成功</p>
        <!--<p class="text-title">{{message}}</p>-->
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-3 col-md-offset-2">
            <div class="smile-bg col-lg-offset-1 col-md-offset-1"></div>
            <p class="success-tips col-lg-8 col-md-8">恭喜您注册易宝成功~<br>{{counter}}秒后进入个人中心~</p>          
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container bg" ng-switch-when="2">
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <p class="text-title">投资成功</p>
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-3 col-md-offset-2">
            <div class="smile-bg col-lg-offset-1 col-md-offset-1"></div>
            <p class="success-tips col-lg-8 col-md-8">恭喜您投资成功~<br>{{counter}}秒后进入个人中心~</p>
            <div class="col-lg-9 col-md-9 col-lg-offset-2 col-md-offset-2" style="margin-top:20px;">
              <p class="success">您可以进入<a ui-sref="root.userCenter.account-overview" style="color:#e94828;">个人中心</a>浏览投资项目情况</p>
              <p class="success">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;也可以继续<a ui-sref="root.project-list-query({status: '6,7,8,9', minCycle: 0, maxCycle: 100, minEarning: 0, maxEarning: 100, minTotalAmount: 0, maxTotalAmount: 200000000, sortCondition:'release_start_time', sortType: false })" style="color:#e94828;">浏览项目</a>进行投资</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container bg" ng-switch-when="3">
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <p class="text-title">手机注册成功</p>
        <!--<p class="text-title">{{message}}</p>-->
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-3 col-md-offset-2">
            <div class="smile-bg col-lg-offset-1 col-md-offset-1"></div>
            <p class="success-tips col-lg-8 col-md-8">恭喜您注册成功~<br>{{counter}}秒后进入新手引导~</p>          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>