<div ng-switch="page" ng-controller="SuningSuccessCtrl">
  <div class="container bg">
    <div class="agreement-area row introduction-height">
      <div class="col-md-12 col-lg-12">
        <div class="row">
          <div class="success-page col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
            <div class="success-re col-lg-9 col-md-9">
              <div class="col-lg-12 col-md-12">
                <p> <img src="images/register-success.png">
                </p>
                <p><strong>{{sMessage}}</strong></p>
                <div class="border-b list-l col-lg-12 col-md-12"></div>
              </div>
              <div class="col-lg-12 col-md-12">
                <img src="images/wx_suning.jpg" alt="" width="200px" height="200px">
              </div>
              <div class="col-lg-12 col-md-12">
                  <p>扫一扫，即可参与苏宁"818全民发烧节"</p>
                  <p class="font-red-suning">18亿巨额优惠，等你来拿!</p>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>

