
<div class="sys-update">
  <img src="/images/sys.png" alt="" style="">
  <!-- <p>2016年1月11日17时——1月11日18时</p> -->
  <p>亲爱的宏财网用户：</p>
  <div style="margin-left: 33%;">
    <span style="margin-right: 20%;margin-bottom: 12px;">为了给您提供更加优质、高效的服务，宏财网团队对网站系统进行优化升级。</span>
    <!-- <span></span> -->
    <span style="margin-right: 20%;"></span>
  </div>
</div>

<style type="text/css">
  body{
    font-family: "微软雅黑";
  }
  .sys-update {
   margin-top: 100px;

  }
  img{
    margin: 50px auto;
    display: block;
  }
  p{
    margin-left:29%;
    font-size: 30px;
    color:grey;
  }
  span {
    display: block;
    margin: 0 auto;
    font-size: 22px;
    color: grey;
    text-align: left;
    line-height: 36px;
    /*border-bottom: 1px solid grey;*/
  }
</style>

